[2020-05-20 09:44] gowthamboddapati opened #3305 "Have a variable map specifying image_version's to use for each OS to select"
**Describe the request**
This is an add on request for the following [github issue](https://github.com/Azure/aks-engine/issues/3304) . The image_version for each image sku might be different. So the packer need to take a variable map that specifies image_versions that need to be selected for each supported image_sku.

**Explain why AKS Engine needs it**
The VHD packager will be generic enough to t

[2020-05-20 09:55] gowthamboddapati opened #3306 "Update vhd/packer/configure-windows-vhd.ps1 to perform OS specific tasks"
**Describe the request**
This feature is an addon request for the following [aks-engine feature request](https://github.com/Azure/aks-engine/issues/3304). currently configure-windows-vhd.ps1 script pulls container images related to image_sku 2019-Datacenter-Core-smalldisk. But if packer supports building VHD's for different windows OS images, the configure-windows-vhd.ps1 should be updated to spec

[2020-05-20 13:18] andyzhangx commented on #461
provides a simpler way to run CIS benchmark on AKS:
[code]

Only one failure now on AKS 1.17.0:
[code]

[2020-05-20 15:10] JerryJoyce opened #3307 "Allow GPU agent pools to be deployed without GPU software"
**Describe the request**
Currently when nodes with GPUs are provisioned, drivers and other GPU related components are installed.  This is a request to allow deployment without this provisioning.

**Explain why AKS Engine needs it**
Nvidia has a new GPU management operator.  One of the prerequisites for using it is that nodes must not be pre-configured with NVIDIA components.

[NVIDIA GPU operator]

[2020-05-20 22:45] jackfrancis opened #3315 "azurefile + Windows doesn't work w/ containerd"
Our E2E tests tell us:

[code]

The PVC is scheduled fine (which makes sense, as there's no CRI story there):

[code]

[2020-05-20 23:35] AlexEyler commented on #761
@jackfrancis is the default distro for master nodes still 16.04 LTS? [These docs](https://github.com/Azure/aks-engine/blob/master/docs/topics/clusterdefinitions.md#masterprofile) point to this issue as the reason why the default distro is 16.04 LTS.

[2020-05-20 23:46] jackfrancis commented on #761
Thanks for reporting @AlexEyler!

That's a mistake, corrected here: https://github.com/Azure/aks-engine/pull/3317

The default was recently changed to 18.04-LTS.

[2020-05-21 00:04] CecileRobertMichon commented on #3274
@jackfrancis we could also look into leveraging https://github.com/NVIDIA/gpu-operator (it doesn't support containerd though https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/426#issuecomment-626953781)

[2020-05-21 02:19] sozercan commented on #3274
since aks relies on having drivers pre-installed on the nodes, aks gpu support will break unless docs can be updated and/or have gpu-operator installed as an aks add-on

[2020-05-21 09:11] feiskyer commented on #3229
Another known issue is https://github.com/kubernetes/kubernetes/issues/89336, which has been fixed in v1.15.11. @vavane-ms Is it same with your issue?

[2020-05-21 17:45] vavane-ms commented on #3229
Thank you! Let me check if upgrade helps.

[2020-05-21 18:45] #1851 closed

[2020-05-21 19:36] jackfrancis opened #3318 "Move Windows E2E images to westus2"
The Windows custom images we use to test this functionality reside in westus, where there is currently no capacity. Let's move those to westus2, where we are able to build new clusters successfully.

[2020-05-21 22:55] jackfrancis opened #3321 "What is labels.yaml in the root?"
It looks like there's an obsolete labels.yaml source in the root that is currently unused. Let's confirm and just remove it.

[2020-05-21 23:15] #3318 closed

[2020-05-21 23:22] jackfrancis commented on #3279
Is there any aks-engine work to do here?

[2020-05-21 23:24] jackfrancis commented on #3278
@xuto2 @bowang-666 @feiskyer do we want to make any changes to the CSE logic in response to this user feedback?

[2020-05-21 23:27] jackfrancis commented on #3255
Hi @hajina is this a azure-policy-specific question? You can ensure a daemonset is scheduled on a master node using the nodeSelector interface.

cc @sozercan @ritazh

[2020-05-21 23:42] ganga1980 commented on #245
to answer your question, yes, we would one non-master linux node to get the metrics of windows nodes and containers.

[2020-05-21 23:48] jackfrancis commented on #245
Thanks @ganga1980, I'm going to close this issue as the undesired behavior described is (unfortunately) by design.

[2020-05-21 23:48] #245 closed

[2020-05-22 07:27] andyzhangx commented on #1422
Here is the solution to use LSv2 NVME disk as a local persistent volume:
https://github.com/Azure/kubernetes-volume-drivers/tree/master/local

[2020-05-22 16:41] jackfrancis opened #3324 "v1.19.0-beta.0 master node never came online"
In this E2E test, a single master never reported ready, failing E2E tests:

https://msazure.visualstudio.com/One/_build/results?buildId=31334062&view=logs&j=71ef0db1-6916-5cda-25f3-19ec46a4388a&t=b9bc4c27-e3cd-5a4e-f6a3-ffebd8a8e7b3

[2020-05-22 18:44] jackfrancis opened #3326 "NodeAffinity pod scheduling errors"
Seeing these errors in E2E tests:

[code]

Why is a deployment with 1 replica rendering like the above?

Seeing this event in one of the pods:

[code]

Ref: https://dev.azure.com/aks-engine/AKS-Engine/_build/results?buildId=5085&view=logs&jobId=1814970b-a4b0-5ca5-aa6e-0747ee0a4d6f&j=1814970b-a4b0-5ca5-aa6e-0747ee0a4d6f&t=d135dd08-d552-5029-07fa-a5c3be6d0a06

[2020-05-22 18:46] jackfrancis commented on #3326
cc @aramase @feiskyer @ritazh

I haven't observed this since we brought in 1.18.3 and 1.19.0-beta.0, so perhaps it's the result of a recent introduction upstream?

Couldn't find any k/k issues that seemed to match the above symptoms...

[2020-05-22 19:24] jackfrancis opened #3329 "Update cluster-proportional-autoscaler to 1.8.0"
After the coredns 1.6.9 PR merges:

https://github.com/Azure/aks-engine/pull/3328

Let's update the cluster-proportional-autoscaler image to 1.8.0. See:

https://github.com/kubernetes-sigs/cluster-proportional-autoscaler/releases/tag/1.8.0

[2020-05-23 00:40] #2913 closed

[2020-05-25 01:31] AbelHu commented on #3279
@jackfrancis we need to keep to use `mirror.azk8s.cn` for Mooncake.

[2020-05-25 12:26] axel-grossmann-sap commented on #2111
Please re-open the issue. We're facing the same problem (config map settings not applied) and need to limit the verbose calico logs.
Thank you!

[2020-05-26 15:57] jackfrancis commented on #3279
Looks like that's already in place:

https://github.com/Azure/aks-engine/blob/master/pkg/api/azenvtypes.go#L284

So I don't think there's anything to do in aks-engine code, we just need to make sure the new CNI versions are being populated at the .cn mirror?

[2020-05-26 21:27] jackfrancis opened #3342 "`make coverage` breaks w/ vendor/ directory"
https://github.com/Azure/aks-engine/pull/3341 was merged to bypass the vendor directory in response to errors:

[code]

Let's figure this out so we aren't pulling imported packages down every time we run tests in CI.

[2020-05-27 13:47] tejeshwari opened #3346 "How to Rotate the KubectlClientServiceprincipal in cluster if expired"
Hello

We have a KubectlClientServicePrincipal  that expires soon and it is being used in kubernetes cluster. Everything will be fine If we rebuild the cluster. But how do we rotate the Client ID on existing cluster without rebuilding. We are aware of  updating the API server ID in etc/kubernetes/Azure.json. But, could not see the KubectlClientServicePrincipal ID in Azure.json.

{
    "cloud":"ABC

[2020-05-27 18:58] m3ssana commented on #3346
Hello. I am working with @tejeshwari on this project. What we are looking for is where we can replace what we have set in apimodel.json as "clientAppID" within an existing cluster. It is not appearing within the azure.json where we know we can replace the "serverAppID" value

[2020-05-27 19:28] #3342 closed

[2020-05-27 19:29] jackfrancis commented on #3326
Another one: https://msazure.visualstudio.com/One/_build/results?buildId=31458078&view=logs&j=1814970b-a4b0-5ca5-aa6e-0747ee0a4d6f&t=d135dd08-d552-5029-07fa-a5c3be6d0a06

[2020-05-27 19:30] jackfrancis commented on #3326
And another one: https://dev.azure.com/aks-engine/AKS-Engine/_build/results?buildId=5120&view=logs&jobId=71ef0db1-6916-5cda-25f3-19ec46a4388a&j=71ef0db1-6916-5cda-25f3-19ec46a4388a&t=b9bc4c27-e3cd-5a4e-f6a3-ffebd8a8e7b3

[2020-05-27 19:56] jackfrancis commented on #3326
@tamilmani1989 FYI: we suspect that these E2E errors are caused by a delay in assigning an IP address to the pod. These flakes come from Azure CNI-enabled clusters. Is there something in the 1.1.2 release of Azure CNI that would introduce inconsistencies in returning a pod IP address?

[2020-05-27 19:58] vavane-ms commented on #3229
Upgrade to 1.16 didn't help. Do you have other suggestions?

[2020-05-27 20:03] tamilmani1989 commented on #3326
@jackfrancis We didnt change anything specific to IP address assignment in CNI for long. can you send me azure-vnet logs? let me check if there any delay in IP assignment.

[2020-05-27 20:07] jackfrancis commented on #3326
It looks like the kubelet tried to schedule a pod before the Azure CNI IPAM module was ready.

Here's the pod scheduling failure event:

[code]

Here is the IPAM logs, suggesting that the IPAM runtime came online 4 seconds later:

[code]

We've never observed these flakes before, is it possible the new release of Azure CNI takes longer to load?

[2020-05-27 20:11] jackfrancis commented on #3326
Kubelet says it loaded the CNI plugin over a minute before the IPAM logs show as starting:

[code]

[2020-05-27 20:13] tamilmani1989 commented on #3326
That does't matter. Need to know when Kubelet invoked CNI with ADD call for that pod.

[2020-05-27 20:15] jackfrancis commented on #3326
What doesn't matter? The predicate.go log entry in kubelet above is roughly when that CNI ADD call would have been made. The IPAM module was not running yet.

[2020-05-27 20:21] tamilmani1989 commented on #3326
If you have both kubelet and CNI logs that would be helpful. can find when CNI was invoked by kubelet and check if there any delay internally in CNI after its invoked. (azure-vnet) CNI is the one which invokes IPAM(azure-vnet-ipam).

When Kubelet invokes cni ADD, I have seen kubelet log saying something like this:

`kubelet.go:1901] SyncLoop (ADD, "api"): "container3-96cc4fb4c-l5658_default(007f0e

[2020-05-27 22:51] jackfrancis commented on #3346
If you mint new service principals with the equivalent privileges in the sub + resource group where the existing cluster resides, you can simply replace the aadClientId and aadClientSecret values in `/etc/kubernetes/azure.json` with the id and password, respectively, of the new service principal.

However, future scale operations won't respect those manual changes. In order to do that, you'll have

[2020-05-27 23:34] marosset commented on #3315
/cc @ksubrmnn

[2020-05-27 23:39] jackfrancis opened #3351 "ensure addons have the right nodeSelector values"
See this for an example:

https://github.com/Azure/aks-engine/pull/3350

For master/agent "role" nodeSelectors, we should be using the nodeSelector that matches the label we ship w/ the cluster, depending on the version of Kubernetes being installed.

[2020-05-27 23:58] xuto2 commented on #3269
The new version of driver works
https://docs.nvidia.com/datacenter/tesla/tesla-release-notes-418-12602/index.html

[2020-05-28 00:06] xuto2 commented on #3278
this user is an AKS dev :)

The message is not printed out the cse_main.sh, but the nc tool when we use it to test connection to mcr.

Also in aks owned branch we update the message to be more accurate

echo "Custom script finished. API server connection check code:" $VALIDATION_ERR
echo $(date),$(hostname), endcustomscript>>/opt/m

https://github.com/Azure/aks-engine/blob/aks-release-v0.47.0-1/pa

[2020-05-28 00:09] jackfrancis commented on #3278
Thanks @xuto2!

[2020-05-28 00:09] #3278 closed

[2020-05-28 00:10] jackfrancis commented on #3269
@xuto2 I assume we need to solve this first?:

https://github.com/Azure/aks-engine/issues/3307

Do you have a working prototype of how to prepare a N series SKU for the above tesla drivers installation?

[2020-05-28 02:53] delulu commented on #3269
From the description of [gpu-operator](https://github.com/NVIDIA/gpu-operator), it's said that the GPU operator has been validated with NVIDIA Tesla Driver 440.

Also from [nvidia driver release notes](https://docs.nvidia.com/datacenter/tesla/#r440-driver-release-notes) the Release 440 driver is supported on Ubuntu 18.04.3 LTS, while the Release 418 driver is supported on Ubuntu 18.04.2 LTS.

What

[2020-05-28 02:59] delulu commented on #3307
It might be a better choice to install [NVIDIA GPU operator](https://github.com/NVIDIA/gpu-operator) as an addon in aks-engine, to replace the current nvidia-device-plugin addon and the gpu driver installation on N series VMs.

[2020-05-28 04:13] amankohli commented on #2285
Do we have a wrokaround for the issue? We need to deploy kubernetes on the region and are blocked due to this

[2020-05-28 08:44] feiskyer commented on #3229
@vavane-ms could you describe your detailed reproduce steps? let's check what's wrong with repro.

[2020-05-28 16:19] #3326 closed

[2020-05-28 16:31] jackfrancis opened #3354 "Create new VHDs with post-v0.51.0 components"
A new VHD will pre-bake all the componentry added since the v0.51.0 release.

[2020-05-28 16:34] jackfrancis commented on #3354
Images built on 5/27

[2020-05-28 16:44] mboersma commented on #2285
In your cluster template (apimodel), you can override this value:

[code]

I tried this just now in centraluseuap and it did get past the `platformFaultDomainCount = 1 can only support platformUpdateDomainCount = 1` error, but then I hit a CSE error during provisioning. I'll try to look into that next.

[2020-05-28 17:52] #3321 closed

[2020-05-28 18:25] vavane-ms commented on #3229
How detailed? We have a CI/CD pipeline for cluster deployment via ARM templates, it is run four times a day. It sets up the cluster, networking, and installs VMSS extensions on cluster pools (we have an additional Windows pool).

Independently, our partners deploy their LoadBalancer service to our cluster. They do it far less often. And we've noticed that after deployment (specifically, after rest

[2020-05-28 18:40] jackfrancis opened #3362 "Use kubernetes.io/os nodeSelector everywhere"
kubernetes.io/os has been the nodeSelector label key for selecting by OS since (at least) 1.15.0. See:

https://github.com/kubernetes/kubernetes/blob/v1.15.0/staging/src/k8s.io/api/core/v1/well_known_labels.go#L26

Let's remove all instances of the legacy beta.kubernetes.io/os label, as kubernetes.io/os will work with all supported versions of Kubernetes.

[2020-05-28 22:15] #3269 closed

[2020-05-28 22:15] #3274 closed

[2020-05-29 04:02] #2909 closed

[2020-05-29 04:02] #2940 closed

[2020-05-29 04:02] #2933 closed

[2020-05-29 16:12] ritazh opened #3368 "Update pause to 1.3.1"
**Describe the request**
Currently using `mcr.microsoft.com/k8s/core/pause:1.2.0`. We should move to a more secure `1.3.1` hosted at `mcr.microsoft.com/oss/kubernetes/pause:1.3.1`.

**Explain why AKS Engine needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-05-29 16:12] ritazh commented on #3368
cc @jchauncey

[2020-05-29 16:21] jchauncey commented on #3368
It was the first place pause landed and they switched because of windows support.

[2020-05-29 16:30] ritazh commented on #3368
Can we switch to `mcr.microsoft.com/oss/kubernetes/pause` for `1.3.1` now?

[2020-05-29 16:34] jchauncey commented on #3368
Yes we should

[2020-05-29 17:57] jackfrancis commented on #3368
FYI Windows is already using pause 1.3.1 from the oss/kubernetes origin

cc @marosset

[2020-05-29 20:02] #3368 closed

[2020-05-29 21:22] #3362 closed

[2020-05-30 00:05] jackfrancis commented on #3354
New images built on 5/29 w/ newer, shinier components

[2020-05-30 02:37] #2949 closed

[2020-05-31 22:00] #2874 closed

[2020-06-01 04:00] #2955 closed

[2020-06-02 09:05] nilo19 opened #3383 "Fail to enable custom extension after v0.48.0."
**Describe the bug**
If custom extension is enabled, the deployment would fail with the following error:
[code]
It's good in v0.48.0 but would fail after v0.49.0.

**Steps To Reproduce**

Custom extension template: https://github.com/kubernetes-sigs/cloud-provider-azure/raw/master/tests/kubemark/extensions/config-kubemark-master/v1/template.json
API model: https://raw.githubusercontent.com/kuberne

[2020-06-02 16:50] jackfrancis commented on #3383
Hi @nilo19: you don't have any agentPoolProfiles defined in your api models. Is that intentional?

[2020-06-02 19:54] AlexEyler opened #3388 "Metrics server fails to collect metrics for Windows pods/nodes"
**Repro steps**:
1. Create cluster from AKS-Engine with some Windows nodes
   * Windows OS: WindowsServer_2019
   * Windows OS SKU: 2019-Datacenter-with-Containers
   * Windows Image Publisher: MicrosoftWindowsServer
   * Windows Image Offer: WindowsServer
2. Run `kubectl top node <node>`:
Expected: I'd expect to see some stats for the Windows agents
Actual:

The root cause looks like this error m

[2020-06-02 19:58] AlexEyler commented on #3388
Updated with repro steps. Not sure if this is an aks-engine issue, a k8s issue, a metrics-server issue, or a Windows issue :(

[2020-06-02 21:37] gaieges opened #3392 "Multiple nginx ingress containers add large, inconsistent amounts of latency"
We bumped into an odd issue the other day with a few different versions of k8s (1.16 and 1.17), with a new aks-engine library (versions below).  This previously did not happen when we were using earlier versions of aks-engine (`v0.44.2`)

We use the helm version of the nginx controller via the below install method:

[code]

When we enable this configuration, setting to 3 replicas as defined above

[2020-06-02 21:39] posix4e commented on #3392
It would also be nice to know what the load balancer configuration should look like

[2020-06-02 23:08] jackfrancis commented on #3388
@marosset @jsturtevant is this a known issue or is this a new one?

[2020-06-02 23:29] marosset commented on #3388
@AlexEyler can you check to see what status the pods/containers are in when you hit this?
I believe there was an upstream issue which has been recently fix in 1.19 and backported to 1.18 where if there where pods in an init state you should see this issue on Windows nodes until they start running.
I'll try and find the issue(s)

[2020-06-02 23:39] AlexEyler commented on #3388
All pods are in the "Running" status and I can still reproduce:
[code]

[2020-06-02 23:48] nilo19 commented on #3383
Yes it is.

[2020-06-02 23:56] AlexEyler commented on #3388
There's an error on the VM in the kubelet.err.log as well that looks related:
[code]

[2020-06-02 23:56] jackfrancis commented on #3383
I don't think masters only + custom extensions are a supported scenario.

[2020-06-03 05:25] nilo19 commented on #3383
@jackfrancis I add a node in the api model
[code]
and the issue remains.

[2020-06-03 19:41] #2111 closed

[2020-06-03 20:39] jackfrancis commented on #3392
Hi folks, what's the cluster configuration (api model) you're using to create your cluster(s)? (reminder to scrub any secrets)

[2020-06-03 21:10] gaieges commented on #3392
This is the generated `apimodel.json`
[apimodel.json.zip](https://github.com/Azure/aks-engine/files/4726248/apimodel.json.zip)

[2020-06-03 22:41] #3188 closed

[2020-06-04 00:22] jackfrancis commented on #3392
I can't repro yet, see my PR here for a programmatic attempt to do so:

https://github.com/Azure/aks-engine/pull/3402

[2020-06-04 17:05] jackfrancis commented on #3354
Linux is done

[2020-06-04 20:03] mtgerb commented on #3392
I have the same issue with kubernetes 1.16.10 (aks-engine v0.51.0, ubuntu 18.04) and traefik (https://github.com/containous/traefik/) as an ingress controller and a basic loadbalancer. Decreasing the replica count to 1 solved the problem. With aks-engine v0.48.0,  ubuntu 16.04 and kubernetes 1.15.7 the problem does not occur.

[2020-06-04 21:56] jackfrancis commented on #3354
Done!

[2020-06-04 21:56] #3354 closed

[2020-06-04 22:00] jackfrancis commented on #3315
Do we know status on this? Should it be a priority?

[2020-06-04 22:22] jackfrancis opened #3411 "Is gchighthreshold and gclowthreshold used?"
If so, ensure we are testing it, and file a `parity` issue in the capz project.

[2020-06-04 23:25] jackfrancis opened #3413 "Use simpler list syntax for cloud-init mounts"
We should experiment with this:

`- [ LABEL=etcd_disk, /var/lib/etcddisk ]`

[2020-06-04 23:45] #3351 closed

[2020-06-05 00:10] marosset commented on #3315
We're trying to get logs for container platform team to take a look but are running into issues getting logs with builds of containerd instrumented with the necessary logging.

[2020-06-05 00:12] jackfrancis commented on #3315
Thanks for the update!

[2020-06-05 00:17] AlexEyler opened #3414 "Jumpbox support for non-private clusters"
**Describe the request**
Today, support exists for private clusters by adding a jumpboxProfile within the private cluster profile. For [example](https://github.com/Azure/aks-engine/blob/813c78e87552bf3984515f361a1299723a1c7b8c/examples/kubernetes-config/kubernetes-private-cluster-single-master.json):
[code]

I'd like to request that this support is added to non-private clusters as well.

**Explain

[2020-06-05 15:54] jackfrancis commented on #3414
cc @rbitia

[2020-06-05 15:59] PascalVA opened #3417 "User provided customFiles should take precedence over aks-engine files"
We have been deploying aks-engine with pod security policies since before the feature was available. When the feature was implemented in aks-engine, we decided to use customFiles to override the psps of azure and place our own (/etc/kubernetes/addons/pod-security-policy.yaml). This has worked fine so far, but it seems it recently broke. (not sure in which version, but I assume when the option enab

[2020-06-05 17:02] jackfrancis commented on #3417
Hi @PascalVA, you're probably right that this functionality has regressed. There is another way to do this, though. See:

https://github.com/Azure/aks-engine/blob/master/docs/topics/clusterdefinitions.md#addons

Go down to until you reach the sentence "If you'd like to entirely customize one of the addons available..." and you'll see how to pass arbitrary data. Because a sane PodSecurityPolicy is

[2020-06-05 17:03] jackfrancis commented on #3417
FYI I've reclassified this issue, as I don't think the customFiles interface was ever meant to take precedence over the various "built-in" files paved by the AKS Engine-generated ARM template.

[2020-06-05 17:07] jackfrancis commented on #3288
@sozercan @kkmsft can you quickly confirm that we should enforce Linux-only scheduling for the mic component?

[2020-06-05 17:17] sozercan commented on #3288
@chewong @aramase

[2020-06-05 17:30] aramase commented on #3288
@jackfrancis yeah, we can enforce linux only scheduling. We already do that in the aad-pod-identity repo - https://github.com/Azure/aad-pod-identity/blob/master/deploy/infra/deployment-rbac.yaml#L159-L160. The aks-engine aad-pod-identity is using an old version of image and template. I'll open a PR to update it.

[2020-06-05 17:36] jackfrancis commented on #3288
Thanks! I've created #3420 to fix the mic nodeSelector oversight. Is there anything more that should go in there?

[2020-06-05 17:50] aramase commented on #3288
That PR should be sufficient to ensure it doesn't land on windows nodes. I'll open a separate PR to bump the manifests and image version to latest release.

[2020-06-05 18:21] jackfrancis commented on #3288
@aramase thanks!

[2020-06-05 19:41] #3288 closed

[2020-06-05 19:52] aramase commented on #3288
Opened PR to update all the manifests and version - https://github.com/Azure/aks-engine/pull/3423

[2020-06-05 20:29] jackfrancis opened #3425 "Implement flatcar-backed control plane"
See #3267 for a prototype of how this would work.

[2020-06-06 09:04] PascalVA commented on #3417
Thanks for the quick reply as always @jackfrancis !

I can live with this workaround (or rather better way to provision the psp files), thanks!
I do disagree on the customFiles part. Even though it may not have been the intention, I think letting the user have the final say about what goes on the system, gives aks-engine a lot more flexibility. Though granted, it could make it easier for people ju

[2020-06-08 16:10] jackfrancis commented on #3417
I'm happy to leave this issue open in the backlog, I'll add the feature label.

[2020-06-08 16:10] jackfrancis commented on #3417
cc @rbitia

[2020-06-08 18:15] jackfrancis opened #3429 "Windows pod never recovered after VM restart"
Observed an E2E failure now that we're testing restarting VMs and validating that scheduled pods are able to recover.

[code]

Essentially, the pod was in a terminal Error state after the restart. A manual delete of the pod worked (the deployment created a new one that quickly went into a Running state).

[2020-06-08 22:51] jackfrancis commented on #3429
This may be a kubenet-only error symptom (i.e., not reproduced if Azure CNI-backed)

[2020-06-09 09:01] robinwillems commented on #542
Hi, @GustavoAmerico You can change the new nodepool to become a system nodepool by running
az aks nodepool update -g myResourceGroup --cluster-name myAKSCluster -n MyNewNodePool --mode system

After that you can delete the 1ste (original nodepool) by running:
az aks nodepool delete -g myResourceGroup --cluster-name myAKSCluster -n MyOriginalNodePool

Hope it helps!

[2020-06-09 17:32] jsturtevant opened #3435 "DNS fails intermitentnly with Win-bridge (kubenet) on Windows"
**Describe the bug**
Seeing intermittent failures with kubenet on windows nodes in the e2e tests:

[code]

Related to

**Steps To Reproduce**

**Expected behavior**
e2e tests pass

**AKS Engine version**
master branch

**Kubernetes version**
1.18

**Additional context**

[2020-06-09 21:24] sblinz opened #3437 "Panic index error when trying to upgrade node osDiskSizeGB"
**Describe the bug**

I have an existing K8S cluster deployed with aks-engine that I want to upgrade the node osDiskSizeGB value. When I run aks-engine upgrade it crashes with a non-descriptive panic index error

**Steps To Reproduce**

Command executed:

aks-engine upgrade -f  --subscription-id XXX     --client-id XXX     --client-secret XXX     --resource-group <my_rg>     --location <my_locatio

[2020-06-10 14:57] MarianZoll opened #3440 "[FEATURE] mTLS setup of oms-agent"
**Describe the request**

We use AKS with Istio and enabled mTLS for all cluster-internal communication. Instead of running our own Prometheus (Istio addon which will be deprecated with v.1.8.0), we want to use the Azure native ALA integration with the `oms-agent`.

Unfortunately, the Istio sidecar containers cannot spin up sidecars in the `kube-*` namespaces as this would intersect too much of th

[2020-06-10 23:33] jackfrancis opened #3446 "flatcar-scheduled pods don't seem to do HPA on 1.19"
We're consistently getting test failures validating that HPA is scaling out pods. See:

https://github.com/Azure/aks-engine/blob/master/test/e2e/kubernetes/kubernetes_test.go#L2329

This is an example HPA failure event:

[code]

We're not seeing this replicate on Ubuntu-backed 1.19 clusters. Also, we don't see this in Kubernetes 1.18 and below.

[2020-06-10 23:34] jackfrancis commented on #3446
cc @invidian @iaguis

[2020-06-11 04:16] vishiy commented on #3440
@MarianZoll -
We can make the namespace configurable, so that you can run outside kube-sys. For scraping we support http & https. Just annotate you pod using 'prometheus.io/scheme' and we will pick it up. We ignore TLS errors, as we most of the in-cluster metric endpoint certs are self-signed. We can make that (not to ignore TLS errors) configurable, if you want to and have a need for that.

[2020-06-11 08:46] MarianZoll commented on #3440
@vishiy
That would be a nice feature add I think and would further demistify the integration of ALA and AKS which works like a charm for most of the cases.

The issue with `prometheus.io/scheme: https` is that it will ignore TLS errors, but as the app pods require mTLS they will terminate the connection anyway.
This is actually a very nice feature of Istio (mTLS setup) as it works by default and w

[2020-06-11 14:12] szwed opened #3449 "kubectl top nodes: error: metrics not available yet"
**Describe the bug**

[code]

**Steps To Reproduce**

[code]

**Expected behavior**

Metrics are provided.

**AKS Engine version**

v1.16.9

**Kubernetes version**

v1.16.9

**Additional context**

This is default AKS deployment. Should work out of the box. Networking: **Calico**.

[2020-06-11 14:32] pjoe commented on #3449
Seeing something similar (also on 1.16.9) ... metrics-server log is full of: `no metrics known for pod` entries.

I'll try upgrading to 1.17.5 and see if that helps

[2020-06-11 14:38] pjoe commented on #3449
Unfortunately didn't help :S This was a cluster that was upgraded from 1.15.11. I'll try tearing it all down and bringing up again directly on 1.16.9 ... to be continued

[2020-06-11 14:45] szwed commented on #3449
metrics-server logs:
``` "Unauthorized", unable to fully scrape metrics from source kubelet_summary:aks-agentpool-57656757-vmss000006: unable to fetch metrics from Kubelet aks-agentpool-57656757-vmss000006 (10.101.0.128): request failed - "401 Unauthorized", response: "Unauthorized", unable to fully scrape metrics from source kubelet_summary:aks-agentpool-57656757-vmss000000: unable to fetch metri

[2020-06-11 15:41] pjoe commented on #3449
FWIW: After taking the whole cluster down and creating a new one directly on 1.16.9 things are working again

[2020-06-11 16:02] PascalVA opened #3450 "Use unique ip address per agent pool"
At the moment when deploying an aks-engine cluster with VMSS for the agent pools, only one outbound ip address is created for all of the agent pools to share. It would be nice if we could at least have the option to have one outbound ip address per agent pool. (This would be especially useful for multi-tenant clusters.

**Explain why AKS Engine needs it**
When hosting multiple customers on a singl

[2020-06-11 17:10] jackfrancis commented on #3449
Is this for AKS only, or for AKS Engine as well?

[2020-06-11 17:11] jackfrancis commented on #3450
Hi @PascalVA, will this help?:

https://github.com/Azure/aks-engine/pull/3085

[2020-06-11 17:13] jackfrancis commented on #3450
https://github.com/Azure/aks-engine/pull/3085 has already merged btw, the `loadBalancerOutboundIPs` configuration has been available starting w/ AKS Engine v0.50.0. If this works for you, test w/ the latest release and report back!

[2020-06-11 17:39] pjoe commented on #3449
I'm just using pulumi to bring up a standard AKS cluster

[2020-06-11 18:19] jackfrancis opened #3453 "cloud controller manager broken for Windows"
Seems to be easily reproducible:

1) Enable cloud controller manager in your api model, e.g.:

[code]

Include a Windows node pool. Nodes are provisioned, but never seem to join the cluster.

[2020-06-11 18:20] jackfrancis commented on #3453
Relevant test config showing this failure:

https://github.com/Azure/aks-engine/blob/master/test/e2e/test_cluster_configs/cloud_controller_manager.json

[2020-06-11 18:29] marosset commented on #3453
@chewong do you know if CCM + Windows was ever testing in aks-engine?

[2020-06-11 18:39] chewong commented on #3453
Yea the test was included in https://github.com/Azure/aks-engine/pull/3044

[2020-06-11 22:17] jackfrancis commented on #3449
Would you like to file an issue in the AKS github queue? This issue queue is only for AKS Engine.

https://github.com/Azure/AKS/issues

[2020-06-11 22:31] jackfrancis opened #3456 "Add E2E cluster config converage for etcd enableDataEncryptionAtRest feature"
This is described as an alpha feature in the docs. If E2E signal is positive, then let's add it to a permanent cluster config to continue testing it, and add an issue to the capz backlog to enable this functioanlity there.

[2020-06-11 22:32] jackfrancis commented on #3456
cc @rbitia

[2020-06-11 22:41] sblinz commented on #3437
@jackfrancis Thanks for the reply. What do you mean "full version"? The cluster was deployed with "1.17" and I don't want to change it, I only want to upgrade osDiskSizeGB.

[2020-06-11 23:04] jackfrancis commented on #3437
Which version of Kubernetes is it running (e.g., "1.17.6") You need to use the full version.

[2020-06-12 04:04] djsly commented on #3449
I got hit by the same issue... Found the source, and the fix, but since I'm using AKS I cannot try the fix...

https://github.com/kubernetes-sigs/metrics-server/issues/316

The issue is that when you get a single pod marked as duplicate by the metric-server, nothing gets stored anymore.

IF you restart metrics-server, you are doomed, since you end up with nothing at all. (vs partial metrics when t

[2020-06-12 04:19] djsly commented on #3449
AKS tracking: https://github.com/Azure/AKS/issues/1668

[2020-06-12 07:49] PascalVA commented on #3450
Hi @jackfrancis, Thanks for the quick reply!

I tried this before (and am now actually setting it to 0). Unless I misunderstood something, this option does not actually solve the problem we are facing. When I set the **loadBalancerOutboundIPs** to **3** for example, the ip's were not distributed by nodepool, but rather randomly per node (or maybe even changing periodically, I don't remember). What

[2020-06-12 08:52] amankohli commented on #2285
Hi ,

Below is the solution we have implemented as a workaround:

i) Create a aks engine kubernetes cluster with single master.

ii) Edit the apimodel.json

iii) Scale the master nodes to 3

Do we a command to scale the master, I have used a command the aksegine scale command to scale the node but it doesn't work on the master?

[2020-06-12 14:34] mboersma commented on #2285
Did you accomplish this by adding `"platformUpdateDomainCount": 1` in `"masterProfile"`? That should have worked for me but didn't, as I said above.

The bug described here prevents us from provisioning in centraluseuap at all, but it sounds like you're having an issue just with multiple masters. If that's the specific problem, could you open a new issue so we can keep them separate?

No, the `aks

[2020-06-12 16:49] jackfrancis opened #3462 "Add SGX device plugin E2E test case"
Currently we cover the SGX node pool scenario by relying upon CSE to install the drivers here:

https://github.com/Azure/aks-engine/blob/master/parts/k8s/cloud-init/artifacts/cse_config.sh#L610

And then validate that we can run this workload to completion:

https://github.com/Azure/aks-engine/blob/master/test/e2e/kubernetes/workloads/sgx-test.yaml

Let's continue to do that, but also add a test w

[2020-06-12 16:54] jackfrancis commented on #3449
Thanks @djsly, incoming!

[2020-06-12 16:59] chewong commented on #3453
https://github.com/Azure/aks-engine/blob/master/parts/k8s/windowscsiproxyfunc.ps1#L14-L15 isn't able to extract csi-proxy binary from https://kubernetesartifacts.azureedge.net/csi-proxy/v0.1.0/binaries/csi-proxy.tar.gz since the file structure has changed. I will trigger a Jenkins run to validate the change once it's fixed.

[2020-06-12 17:05] jackfrancis commented on #3453
Thanks for hunting down, @chewong!

[2020-06-12 17:43] jackfrancis commented on #3450
@aramase @khenidak @feiskyer can either of you confirm whether it is possible to run Kubernetes on Azure w/ per-node outbound IP address SNAT'ing? I'm not aware of that ever having been implemented.

@PascalVA in the meantime, can you identify the particular traffic with HTTP headers (or the like, depending on the protocol)?

[2020-06-12 17:59] djsly commented on #3449
please is mine @jackfrancis

[2020-06-12 19:23] sd2302 opened #3465 "NetworkPlugin cni failed to set up pod"
**Describe the bug**

Pods fails intermittently with following:

 Warning  FailedCreatePodSandBox  5m35s                kubelet, k8s-agentpoolque-95198166-vmss00000u  Failed create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "f9ca6f3e9b60c7ee2b69675f715272e1cd1df53816ec0f66ee7028b33ae3958f" network for pod "cloud-ingestionmobiledetailssvc-5b659ccbdb-c8szx": Net

[2020-06-12 19:36] chewong commented on #3453
The CSI proxy download link has been fixed, verified by https://upstream.jenkins.azure-containers.io/blue/organizations/jenkins/k8s-create-cluster-matrix/detail/k8s-create-cluster-matrix/229/pipeline.

[2020-06-12 19:36] #3453 closed

[2020-06-12 21:19] jackfrancis commented on #3465
@tamilmani1989, v0.47.0 of AKS Engine shipped w/ Azure CNI v1.0.30. Do we expect the above failures are fixed w/ more recent versions of Azure CNI?

[2020-06-12 21:24] tamilmani1989 commented on #3465
not sure why cni failed here. we made a fix related to surfacing cni errors to kubelet in v1.0.33 so that kubelet will show actual error why cni failed. I would recommend to use latest cni

[2020-06-12 21:48] sd2302 commented on #3465
Should I upgrade my aks-engine cluster then ?

Is there a way to see cni version, kubelet version for a specific version of aks-engine ?

we continue to have these issues

[2020-06-12 22:01] jackfrancis commented on #3465
What does your cluster look like? Another way to smoke test if a newer version of Azure CNI fixes things is to add a node pool, schedule enough pods to those new nodes to observe if the failure symptoms have gone away.

Do something like this using v0.52.0 of aks-engine:

[code]

The JSON file with new nodepool specs should look like this:

[code]

Basically, probably a copy of the pool you're see

[2020-06-12 22:07] sd2302 commented on #3465
cool, i will test this out and update everyone, thanks

[2020-06-12 22:09] tamilmani1989 commented on #3465
@sd2302 you may get error again but this time kubelet will say what the actual error is and we can debug from there...BTW is it linux or windows cluster?

[2020-06-12 22:35] sd2302 commented on #3465
It is a Linux, Ubuntu 16.04

k8s-agentpoolque-95198166-vmss00000n   Ready    agent    107d   v1.15.9   10.245.16.67    <none>        Ubuntu 16.04.6 LTS   4.15.0-1089-azure   docker://3.0.10+azure

[2020-06-13 12:34] andyzhangx commented on #3315
We use `New-SmbGlobalMapping` to mount azure file on a local path first and the use container volume mapping, so it looks like contianerd on windows could not resolve dir which is created by `New-SmbGlobalMapping`:
[code]

How can I try containerd on Windows? is there a doc link? thanks.

[2020-06-15 08:34] PascalVA commented on #3450
@jackfrancis We are currently configuring the outbound rules, backendaddress pools and frontend IP configurations ourselves. It's a bit of a pain, but it does the job. I thought this would be an important enough use case to implement in aks-engine however.

If you have any suggestions about how to handle our deployments failing when there are frontend ipconfigurations from the k8s loadbalancers, t

[2020-06-15 12:00] schmichri opened #3470 "Private Cluster fail on "Microsoft.Network/publicIPAddresses/write" due to DenyPolicy"
**Describe the issue**
Hi,

in my clients corporate environment I have a global deny policy for `Microsoft.Network/publicIPAddresses` permissions, coming from the fact that all traffic / IPs have to be connected internally (via express route). This policy is untouchable. In my subscription I've tried to deploy aks-engine based private k8s clusters and assign them to the given subnet.

When I try t

[2020-06-15 16:42] jackfrancis commented on #3470
Hi @schmichri, can you try creating a cluster w/ "Basic" Loadbalancer type? In your `kubernetesConfig` object in the api model:

[code]

"Standard" Loadbalancer (the default configured by AKS Engine) requires a public IP address in the resource group to route outbound traffic through (SNAT), whereas "Basic" doesn't have this requirement.

Note: if this does unblock you you'll only be able to use a

[2020-06-15 16:44] #3449 closed

[2020-06-15 16:46] jackfrancis commented on #3315
@andyzhangx you can use an api model that looks like this test cluster config:

https://github.com/Azure/aks-engine/blob/master/test/e2e/test_cluster_configs/containerd.json

[2020-06-15 17:36] jackfrancis opened #3473 "Rename control plane VMs"
Let's improve the empathy and sensitivity of the way we create IaaS on behalf of users by changing the way we name control plane VMs. Currently we prefix all VMs with the "k8s-master" substring. Instead, let's prefer "k8s-controlplane".

[2020-06-15 17:37] jackfrancis commented on #3473
cc @rbitia @ritazh @craiglpeters @khenidak @yangl900

[2020-06-15 17:57] marosset opened #3476 "Add support to remove un-used container images when provisioning Windows nodes"
**Describe the request**
Add support to remove un-used container images when provisioning Windows nodes

**Explain why AKS Engine needs it**
In the future we should consider removing container images used by specific features (like CSI-proxy related containers).

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-06-15 17:57] marosset commented on #3476
Related - https://github.com/Azure/aks-engine/pull/3448

[2020-06-15 19:23] jackfrancis opened #3477 "kube-addon-manager complains about admission-controls"
Unsure if there are any operational side-effects of these regular messages in kube-addon-manager pod logs:

[code]

[2020-06-15 19:29] jackfrancis opened #3478 "kube-addon-manager complaining about coredns clusterIP"
We don't see any higher order symptoms of cluster DNS, but kube-addon-manager is complaining about the clusterIP value in the coredns spec:

[code]

Perhaps this is the result of kube-addon-manager regularly reconciling after the svc has been created? In any event that log message is annoying.

[2020-06-15 19:32] schmichri commented on #3470
@jackfrancis This unblocks my "public IP problem" but now I run in new restrictions regarding Roles. I guess it's network contributor which is denied by deny roles as well. Anyways, I will close this issue with big thank you for the great hint!

[2020-06-15 19:32] #3470 closed

[2020-06-15 19:44] jackfrancis commented on #3470
Glad it was helpful!

[2020-06-15 20:19] MikkelHegn commented on #3476
@keikhara

[2020-06-15 21:22] jackfrancis opened #3480 "azure-policy addon is broken"
PR #3313 re-arranged addons bootstrapping behaviors, which broke the azure-policy addon, as it requires a namespace be created prior to starting up kubelet and engaging kube-addon manager.

[2020-06-16 00:29] #2943 closed

[2020-06-16 02:55] amankohli opened #3484 "Unable to Scale masters for AKS-Engine centraleuap"
We currently have only 1 fault domain in centraleuap which is forces us to deploy only one master at the time we spin up the aks-engine cluster as mentioned below in the git issue:

https://github.com/Azure/aks-engine/issues/2285

We need a way or workaround to scale the master as the current setup doesn't allow us to scale master nodes with the below command:

aks-engine scale

[2020-06-16 02:56] amankohli commented on #2285
Yes, we are able to create a k8s cluster on centraleuap by adding "platformUpdateDomainCount": 1 in "masterProfile" on the config file

[2020-06-16 19:52] sblinz commented on #3437
Gotcha, thanks. I'm getting another error now and I wasn't sure if I should open another issue for this so I'll start by asking you here. If I should open a separate issue just let me know.

The upgrade goes all the way through deleting the master and finishing the ARM deployment with "Succeeded" output. But after that I get a ton of these messages:

[2020-06-16 20:04] jackfrancis commented on #3437
That error looks like the k8s certificate the apiserver is using is incorrect.

Do these values looks like what you expect in the api model you passed to `aks-engine upgrade`?

[code]

[2020-06-16 20:50] jackfrancis opened #3489 "Intermittent Windows + AvailabilitySet scale error"
Seeing this error intermittently in our AvailabilitySet scale tests:

[code]

The resource group *does* have VMs, so that error indicates that the resource group didn't return any VMs that matched what we'd expect given the agentPoolProfile name value.

[2020-06-16 20:51] sblinz commented on #3437
I used the same api model for the upgrade that we used when we created the cluster with aks-engine deploy. except that I added the osDiskSizeGB value to it. That api model file is included in the OP in its entirety and we did not have any certificateProfile object in it. We only provided linuxProfile > ssh > publicKeys > keyData.

Based on what you wrote, I suspect I should have ran upgrade with t

[2020-06-16 20:52] sblinz commented on #3437
Sorry, correction - I do have a master VM up and running, I missed it in my dashboard.

[2020-06-16 21:03] jackfrancis commented on #2285
@amankohli Are you not able to create a cluster w/ > 1 nodes in the masterProfile?

[2020-06-16 21:49] jackfrancis commented on #3489
This is because we rely upon VM tags to identify the poolName value of a Windows VM, and the tags are missing in the repro case!

[2020-06-16 22:56] jackfrancis opened #3491 "azure-policy scheduling error when scheduled to Windows node"
See:

[code]

[2020-06-16 22:57] jackfrancis commented on #3491
@sozercan Does this indicate that the azure-policy spec is incorrect and the azure-policy pod should always be scheduled onto a Linux node?

[2020-06-16 23:38] sozercan commented on #3491
That's right, we made this change upstream. aks-engine addon (gatekeeper + azure policy pod) needs update so it's only scheduled on Linux nodes.

[2020-06-17 00:00] jackfrancis commented on #3437
@sblinz, correct, the api model JSON to use for all `aks-engine scale` and `aks-engine upgrade` operations is the fully configured/generated file after `aks-engine deploy` (or `aks-engine generate`). There's a fighting chance that if you re-run `aks-engine upgrade` against the resource group using the correct api model input you should be O.K. But, generally, if you *can* throw away that cluster i

[2020-06-17 00:16] #3489 closed

[2020-06-17 00:17] #3480 closed

[2020-06-17 00:17] #3491 closed

[2020-06-17 15:55] jackfrancis opened #3494 "Expose created roleAssignment guid values in ARM output"
E.g.:

https://github.com/Azure/aks-engine/compare/master...dennis-benzinger-hybris:feat/3494

[2020-06-17 17:02] jackfrancis opened #3495 "Windows node came online with cloudprovider taint"
Observed in an E2E test, a Windows node came online (NodeReady), but with this taint, preventing any pods from being scheduled on it:

`node.cloudprovider.kubernetes.io/uninitialized=true:NoSchedule`

E.g.:

[code]

This symptom was on a cluster with cloud-controller-manager enabled. The cloud-controller-manager logs doesn't suggest that anything went wrong, both windows nodes were added:

[code]

[2020-06-17 17:03] jackfrancis commented on #3495
cc @aramase @chewong

[2020-06-17 17:28] jackfrancis opened #3497 "metrics-server unable to resolve hosts, resolved upon deleting pod"
metrics not being reported:

[code]

relevant metrics-server logs:

[code]

After deleting the metrics-server pod, things are better :/

[code]

[2020-06-17 17:28] jackfrancis commented on #3497
This symptom was observed from a failed E2E test job

[2020-06-17 18:23] jjindrich commented on #3229
I can confirm that I have same issue. Running cluster 1.15.11.
Steps to reproduce:
1. create new cluster and deploy nginx ingress (as internal loadbalancer) with some backend pod
2. check that internal loadbalancer is created with backend pool
3. enable monitoring extension on VMSS (e.g. from Security Center follow suggestion to enable monitoring on AKS VMSS)
4. check VMSS and start manual upgrade

[2020-06-17 18:45] jackfrancis commented on #3030
Confirmed that the key has been renewed, and that the current drivers installation for both 16.04-LTS and 18.04-LTS uses that renewed key:

[code]

[code]

[2020-06-17 18:45] #3030 closed

[2020-06-17 20:23] jackfrancis opened #3501 "Windows node never comes online in cloud-controller-manager config"
E.g., we see 4 nodes:

[code]

But we have 5 VMs in the resource group after the E2E test runner created the cluster:

[code]

In this case, the `5179k8s011` VM never registered as a Kubernetes node in the cluster.

[2020-06-17 20:37] jackfrancis opened #3502 "daemonsets can't be scheduled because of missing nodeSelector"
Saw this kube-proxy pod scheduling failure:

[code]

The nodeSelector associated with the kube-proxy daemonset is:

`Node-Selectors:  kubernetes.io/os=linux`

Because the kubernetes.io/os is a built-in node label, I suspect this may be a race condition between the kubelet and the scheduler, i.e., the `/etc/kubernetes/manifests/` directory is bootstrapped and loaded prior to the node labels being a

[2020-06-17 20:48] chewong commented on #3495
Wasn't able to repro this. Here is the API model I used to test against master branch:
[code]

[2020-06-17 20:55] jackfrancis commented on #3502
@aramase Any thoughts here? I assume the node comes online, and *then* the `kubernetes.io/os` label is applied by kubelet. Perhaps the daemonset scheduler is initiated at the same time as that "node ready" event fires, and sometimes the daemonset scheduler is faster than the kubelet node labeler, and thus is unable to find a candidate node to schedule the pod onto.

[2020-06-17 20:57] aramase commented on #3495
I think this might be a race condition. From reviewing the KEP - https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/azure/20190722-ccm-instance-metadata.md#proposal

[code]

In the log above the `cloud-node-manager` is in pending state which means it'll never initialize the node and that leads into a deadlock?

[2020-06-17 21:05] jackfrancis commented on #3502
O.K., I have more info, it's not quite like I've phrased it. In fact, all daemonsets are not able to be scheduled onto one node on the repro cluster:

[code]

Here's that node, which *is* able to accommodate the coredns-autoscaler pod:

[code]

That pod *does use* the linux nodeSelector:

[code]

And that node definitely *does* have the nodeSelector:

[code]

There are six nodes in the cluster, an

[2020-06-17 21:06] jackfrancis commented on #3495
This doesn't repro often, so we'll have to pay attention to our regular tests and note every time it does.

[2020-06-17 21:31] aramase commented on #3502
@jackfrancis What do you see in the `kube-scheduler` logs?

[2020-06-17 22:09] jackfrancis commented on #3502
yes

[2020-06-17 22:13] jackfrancis commented on #3502
[kube-scheduler-logs.txt](https://github.com/Azure/aks-engine/files/4795311/kube-scheduler-logs.txt)

[2020-06-17 22:58] jackfrancis opened #3503 "Add Restart=always to cron systemd service to ensure cron always restarts"
Currently an 18.04 cron service looks like this:

[code]

Which means if cron crashes, it won't be started back up again unless it's manually started, or the node is rebooted.

[2020-06-17 23:17] jackfrancis commented on #3503
For bonus points see what Flatcar does

[2020-06-18 11:38] fiunchinho commented on #2995
is this documentation somewhere I can read? Thanks!

[2020-06-18 13:14] amankohli commented on #2285
Yes we are unable to create a cluster with more than 1 node in the master profile, we always got an error  saying the template is invalid.
@jackfrancis

[2020-06-18 15:14] dbrennand commented on #3173
AKS v0.48.0 deployment. Deploying version of Kubernetes `1.16.7`.

CoreDNS pod failing:
[code]

[2020-06-18 15:26] mhaun0910 opened #3505 "hauns policy"
**Describe the issue**
A clear and concise description of the issue

**AKS Engine Version***

**Kubernetes Version**

**Gatekeeper Version**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots t

[2020-06-18 16:54] dbrennand commented on #3173
After some research, the image we have on Azure Stack Hub is [2020-03-09](https://github.com/Azure/AKS/blob/2020-03-09/vhd-notes/aks-ubuntu/AKSUbuntu-1604-2020.03.05.txt#L38) which has CNI plugin version 0.7.6.

The error I am getting I believe is related to issue: https://github.com/kubernetes/kubernetes/issues/84541

From the comments on the issue above it looks like a fix was merged [here](http

[2020-06-18 17:58] kenieva commented on #3505
@mhaun0910 What is the issue that you are facing?

[2020-06-18 19:10] jadarsie commented on #3173
Hi @dbrennand, would it be ok to share your cluster definition (remove creds please)?
I am wondering if you are using a custom VNET. In that case you need to manually associate the route table to the subnet.

However, I would recommend you to give v0.51.0 a try. This version includes a new command ([get-logs](https://github.com/Azure/aks-engine/blob/master/docs/topics/get-logs.md)) that simplifies

[2020-06-18 19:28] jadarsie commented on #3173
FYI, the 2020.05.13 VHD will be available in the next few hours.

[2020-06-18 22:36] sblinz opened #3507 "Slow Kubernetes GPU node allocations"
**Describe the issue**

We use aks-engine and the K8S cluster autoscaler to spin up Azure GPU VM nodes (Standard NV6 type) on-demand to execute customer tasks. We frequently have to wait as long as 8min+ to get a VM provisioned in the VMSS in Azure.

We suspect the issue is due to the provisioning of the VM. Specifically, installing the NVIDIA drivers each time a new node spins up, but maybe other

[2020-06-19 08:34] dbrennand commented on #3173
Hi @jadarsie

Thanks for getting back to me. Apologies for linking the incorrect image.

We are using this [image](https://github.com/Azure/aks-engine/blob/v0.48.0/vhd/release-notes/aks-engine-ubuntu-1604/aks-engine-ubuntu-1604-202003_2020.03.19.txt) which is said to be supported for version `v0.48.0` with Kubernetes versions: `1.15.10, 1.14.7` on Azure Stack Hub.

Sure, I can share the API model

[2020-06-19 16:20] jackfrancis commented on #2995
@fiunchinho the issue was closed because of a lack of activity, I'll re-open.

[2020-06-19 17:12] jackfrancis commented on #3494
https://github.com/Azure/aks-engine/compare/master...dennis-benzinger-hybris:feat/3494

[2020-06-20 03:34] #3066 closed

[2020-06-22 08:43] dbrennand commented on #3173
Hey guys 😄

So we got the new (May) image and deployed Kubernetes v1.17.5 using AKS-Engine v0.51.0 and the CoreDNS pods are running fine 👍

[2020-06-22 09:21] jprecuch opened #3514 "Add option to specify sleep time between vmss nodes upgrades"
Hi,
Would it be possible to add option where user can specify sleep time between every vmss is upgrades (deleted and new recreated)?

Here is scenario that we faces in last upgrade cycle:
1. Components has 3 containers running to have stable HA cluster with volumes
2. One node goes down and first containers is drained away.
3. New node is spun
4. Second node is deleted before first container fully

[2020-06-22 16:15] #3505 closed

[2020-06-22 16:21] jackfrancis commented on #3507
@sblinz you've worked out mostly how it works. In summary, we pre-download nvidia drivers during VHD CI so that they are on the VM when it boots up, and then we actually install/configure those drivers on the VM *if* it's an N series SKU.

Here's the func we call during VHD CI:

https://github.com/Azure/aks-engine/blob/master/parts/k8s/cloud-init/artifacts/cse_install.sh#L69

(we also call that fu

[2020-06-22 17:07] vavane-ms commented on #3229
@jjindrich, you may want to make sure that 1) you've specified Standard SKU for the load balancer in your ARM template or cluster creation script; 2) you've upgraded to 1.16.*. Unfortunately, due to our setup, I am not sure which of those helped us.

[2020-06-22 17:26] sblinz commented on #3507
Thank you for the quick response @jackfrancis. We want to pre-install and configure the NVDIA drivers in our node image and skip that part of cse_install.sh.

How can we use a modified version of cse_install.sh on our node VMs? How is cse_install.sh run on the nodes?

[2020-06-22 18:20] jackfrancis commented on #3507
The only way to do that at present would be to compile your own build of the `aks-engine` binary after making those modifications.

`make build` will do so, here's the developer documentation that should (hopefully) get you there:

https://github.com/Azure/aks-engine/blob/master/docs/community/developer-guide.md

[2020-06-22 20:04] posix4e commented on #3392
Sounds like a 1.16 bug.

[2020-06-22 20:24] #3507 closed

[2020-06-22 22:10] jackfrancis opened #3519 "metrics-server not reporting metrics after upgrade"
E.g.:

[code]

[2020-06-23 00:31] marosset opened #3520 "Odd aks-engine upgrade behavior/logs with Windows nodes"
**Describe the bug**
When performing an aks-engine upgrade on a cluster with Windows nodes I saw the following output

[code]

and I think there are a few, possibly related, issues here.

1. The error was not fatal and aks-engine continued upgrading the rest of the nodes in the cluster. I think this could result in an entire agent pool getting taken down by a bad upgrade. Maybe it would be better

[2020-06-23 01:51] CecileRobertMichon opened #3521 "enableVMSSNodePublicIP: true is broken"
**Describe the bug** Deploy a cluster with an agent pool defined as:

[code]

The cluster fails to create with:
[code]

This is due to outbound rules being defined for the node outbound Public Load Balancer. According to https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections#scenarios, "When using Standard Load Balancer, outbound rules are not supported if a public

[2020-06-23 13:47] Michael-Sinz commented on #3503
For our skyman platform, we will be injecting this bit of logic into the nodes.  (Note that this is the cut-n-paste of the section of code and thus it is known to work)

[code]

[2020-06-23 13:54] Michael-Sinz commented on #3503
We have found that cron is rather solid but it has failed on a few nodes - and usually very early on.

Note that it was a bug that 16.04 and 18.04 do not set the restart policy for cron.  In 20.04, the restart policy was added.  If someone does not want run, they can just stop it via systemctl.

Cron is critical for many system operations and having it exit and never restart can cause numerous pro

[2020-06-23 16:32] jackfrancis opened #3522 "Windows nodes have old version after upgrade"
For example, when testing the `base` cluster config using the 1.18-1.19 flow, we see this symptom:

[code]

The test output shows the 1.18.4 node as being a Windows node.

[2020-06-23 18:55] jackfrancis commented on #3521
This was implemented when Basic LB was the default LB SKU:

https://github.com/Azure/aks-engine/pull/1087

We should do a quick test to see if this functionality still works in that configuration, and if so, add appropriate validation.

Alternatively, it may have never been fully implemented for AKS Engine, as it's an AKS-originating feature.

[2020-06-23 21:31] #3503 closed

[2020-06-23 23:06] #3521 closed

[2020-06-24 00:00] jackfrancis opened #3529 "1.16.11 hyperkube assumes nf_tables for kube-proxy"
Our current 1.16.11 implementation uses the hyperkube image for kube-proxy. The 1.16.11 hyperkube image is based on Debian buster, and assumes nf_tables instead of legacy iptables. Because our Ubuntu images assume legacy iptables, kube-proxy breaks.

The 1.16.11 kube-proxy image (not hyperkube) includes "which iptables should I use?" wrapping, which supports either nf_tables or legacy iptables dep

[2020-06-24 00:46] aramase commented on #3529
The change that caused the issue - https://github.com/kubernetes/kubernetes/pull/91388. In this PR the hyperkube debian base was bumped up to `v1.0.0` from `0.12.1`.

The base image for kube-proxy component was also bumped - https://github.com/kubernetes/kubernetes/pull/82966 but with an `iptables-wrapper` that determines which one to use `nft` or `legacy`.

[2020-06-24 09:16] DonMartin76 opened #3531 "Workloads are not scheduled to one of two worker nodes - race condition at setup?"
**Describe the bug**

I saw the following behaviour today which I have never seen before: In a pretty simple 2+1+1 node cluster (2 workers, 1 helper for utilities, 1 master), Kubernetes would not schedule any normal pods to the second worker node; this resulted in the first worker node being swamped and soon rejecting further pods due to CPU limitations.

Please note that we are using this setup i

[2020-06-24 16:20] chewong commented on #3531
Hi @DonMartin76. It looks like node labels aren't applied correctly, causing `didn't match node selector` error in the scheduler. Do you still have the cluster around? if so, could you provide the output of `kubectl describe nodes`?

[2020-06-24 16:48] jadarsie commented on #3529
oh, great, I was pulling my hair.

[2020-06-24 17:07] DonMartin76 commented on #3531
I do not have the cluster around, but I do have the `kubectl describe node` output still:

node 0:
[code]

node 1:
[code]

[2020-06-24 17:49] chewong commented on #3531
I wasn't able to repro it as well. @aramase will the lack of Secret Store CSI annotations affect pod scheduling?

[2020-06-24 18:05] jackfrancis opened #3533 "improve reboot detection in CSE"
Let's check for /var/run/reboot-required at the end of CSE instead of at the beginning to account for that requirement being influenced by CSE operations.

[2020-06-24 18:33] aramase commented on #3531
No, the annotation doesn't affect pod scheduling. In fact, that annotation `csi.volume.kubernetes.io/nodeid: {"secrets-store.csi.k8s.io":"k8s-workerdev36-11495506-0"}` is set when the CSI driver starts running on the node. The `node-driver-registrar` component of the CSI driver will register the driver with kubelet and then annotation is set.

[2020-06-24 20:53] ericsuhong commented on #3042
I am actually facing this issue (**error: You must be logged in to the server (Unauthorized)**) in kubernetes 1.16.9 as well, using aks-engine 0.50.0.

[2020-06-24 20:56] ericsuhong commented on #3042
We did not change anything related to AAD integration code, so I believe some regression was introduced somewhere either by aks-engine or Kubernetes releases.

[2020-06-24 21:22] jackfrancis commented on #3465
Any updates here?

[2020-06-24 21:24] jackfrancis commented on #3042
@ericsuhong are you saying that from the AAD platform perspective?

[2020-06-24 21:33] DavidParks8 commented on #3042
We found how to resolve the issue. Eric will explain.

[2020-06-24 21:34] ericsuhong commented on #3042
@jackfrancis Turns out that this was a kubectl binary issue. I upgraded kubectl binary from 1.16-something (which was referenced by default by docker-desktop /bin folder in Windows) to 1.18, and now everything works!

[2020-06-24 21:49] DavidParks8 commented on #3042
@karataliu can you please try with the latest kubectl and report back on if it works?

[2020-06-24 22:10] chewong commented on #3013
This can be fixed by adding:

[code]

in the API model.

[2020-06-24 22:17] jackfrancis commented on #3042
Ugh. So you mean we need to use a 1.18 vintage kubectl against a (for example) 1.16 cluster? That seems wrong...

Good detective work!

[2020-06-24 23:14] #3529 closed

[2020-06-25 09:26] mhyllander commented on #3042
Interesting. As a side note, I have been testing to create AKS clusters with "az aks create", with AAD integration enabled. I have tried both approaches, setting everything up with [Azure CLI](https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli) and using the [AKS-managed Azure AD](https://docs.microsoft.com/en-us/azure/aks/managed-aad) (in preview).

When I use the managed approac

[2020-06-25 16:16] dbrennand opened #3541 "AKS-Engine v0.51.0 - Azure Stack Hub - get-logs Error: loading API model: error parsing the api model: Failed to set Cloud Spec for Azure Stack due to invalid environment"
**Describe the bug**
Using AKS-Engine v0.51.0 trying to use `aks-engine get-logs` returns the following error:

[code]

**Steps To Reproduce**
API Model (kubernetes-azurestack.json):
[code]

**Expected behavior**:
Logs begin collecting as expected.

**AKS Engine version**:
[code]

**Kubernetes version**
[code]

[2020-06-25 16:49] dbrennand opened #3542 "AKS-Engine v0.51.0 - Azure Stack Hub - Kubernetes 1.17.5 Cannot create persistent volume claims"
**Describe the bug**
We are unable to create persistent volume claims using the provided StorageClasses:
[code]
We attempted to deploy Grafana stable helm chart and the pod fails to bind the volume to the container with the following error:
[code]
Running `kubectl get pvc` shows pending pvc:
[code]
Upon further inspection of the pvc using `kubectl describe pvc grafana`:
[code]

I have tried alteri

[2020-06-25 16:51] chewong commented on #3522
+1

[2020-06-25 16:58] chewong commented on #3541
cc @jadarsie

[2020-06-25 17:15] #3533 closed

[2020-06-25 17:28] chewong opened #3543 "azure-cni-networkmonitor pod can't be scheduled"
**Describe the bug**

Happened in k8s-create-cluster-matrix-1.19 #5.

[code]

Might be related to #3531

**Steps To Reproduce**

**Expected behavior**

**AKS Engine version**

**Kubernetes version**

**Additional context**

[2020-06-25 21:15] jadarsie commented on #3541
@dbrennand I think this is a hole in the docs, could you please include flag `--azure-env AzureStackCloud`?

[2020-06-25 21:20] jadarsie commented on #3542
hello @dbrennand, azure disk regressed on v1.17, could you please move to v1.16?
I will push a PR to remove v1.17 support.

[2020-06-25 21:52] jadarsie commented on #3541
@dbrennand in `api-model` please reference the full apimodel.json located in the output directory.

Note: I deleted my first response as it had erroneous information

[2020-06-26 03:47] #2552 closed

[2020-06-26 09:06] dbrennand commented on #3542
Thanks for the response @jadarsie on this issue.

We can of course re-deploy our Kubernetes cluster with 1.16? But I don't understand why does 1.17 have this issue? Are we going to have support for v1.17?

Many thanks.

[2020-06-26 09:50] dbrennand commented on #3541
Hi @jadarsie,

It it now running past the point previously and logs are being collected! Thanks! 😄

A side note (if anyone else runs into this issue), at first we experienced the following issue:

[code]
The same error occurs for all nodes in the cluster. This issue was due to us having to change the KexAlgorithm to work with the Posh-SSH powershell module. Was easily fixed by adding one of the cl

[2020-06-26 09:50] #3541 closed

[2020-06-26 12:46] posix4e commented on #3042
Cool , it is broken using dex as well

[2020-06-26 16:01] chewong commented on #3519
+1

Similar error in k8s-create-cluster-matrix-1.16 job # 569
[code]

[code]

[2020-06-26 17:48] DavidParks8 commented on #3042
looks like that particular code in k8s hasn't been touched in 2 years. I wonder if there could be a regression in the downstream oidc client. I'm looking at https://github.com/coreos/go-oidc/blob/395130aca3cb2a96cd195d9e9296d5a4351a1669/oidc.go#L113 right now.

[2020-06-26 17:58] satishsudini commented on #3042
Adding this -oidc-ca-file=/etc/kubernetes/certs/oidc-ca.crt resolved the issue

[2020-06-26 17:59] DavidParks8 commented on #3042
adding that where? And does the file already exist? Where did you get it?

[2020-06-26 18:02] satishsudini commented on #3042
In the apiserver when we removed --oidc-client-id=spn argument we saw the cert error downloaded from MS and added --oidc-ca-file=/etc/kubernetes/certs/oidc-ca.crt

[2020-06-26 18:11] DavidParks8 commented on #3042
You shouldn't need to do that. @satishsudini could you possible post more logs so we could see the reason the cert was not trusted in the first place? I'm wondering if there is some bug in intermediate cert validation somewhere.

[2020-06-26 20:52] jadarsie commented on #3542
I do not think v1.17 support on Stack will make it on the next release (v0.53) as that's supposed to be out fairly soon. We are targeting v0.54 or v0.55.

[2020-06-26 22:31] chewong commented on #3013
FIxed by #3538

[2020-06-26 22:31] #3013 closed

[2020-06-28 00:58] #2788 closed

[2020-06-29 06:06] jadarsie opened #3557 "kube-proxy daemonset not reconciled after upgrading to v1.16 or greater"
**Describe the bug**

Addon-manager fails to reconcile the kube-proxy manifest after an upgrade from v1.15 (or lower) to v1.16 (or greater).

The reason is that the new kube-proxy manifest contains updates to immutable fields (`selector.matchLabels`).

**Steps To Reproduce**

Deploy a v1.15 cluster, upgrade to v1.16, check kube-proxy daemonset still references the v1.15 image

**Additional context

[2020-06-29 08:07] dbrennand commented on #3542
Cool thanks @jadarsie 😄

[2020-06-29 08:07] #3542 closed

[2020-06-29 21:11] chewong commented on #3522
+1 in https://upstream.jenkins.azure-containers.io/blue/organizations/jenkins/k8s-create-cluster-matrix-1.16/detail/k8s-create-cluster-matrix-1.16/571/pipeline/281

[2020-06-29 21:41] chewong commented on #3522
According to https://upstream.jenkins.azure-containers.io/blue/organizations/jenkins/k8s-create-cluster-matrix-1.16/detail/k8s-create-cluster-matrix-1.16/571/pipeline/281, it looks like there is a random Windows VMSS nodepool that aren't registered with the API model (`2105k8s00`). After the upgrade, it's registered with the API model, causing the cluster to have an extra node with the olde versio

[2020-06-29 21:44] jackfrancis commented on #3522
Right, I think in the scale/upgrade flow, the "do I have any VMS in node pool <pool name>?" foo is failing, and thus an entirely new one is being created. That flow is terribly convoluted, unfortunately, and the trickiest part is figuring out why this is inconsistent.

[2020-06-30 01:29] AMoghrabi commented on #376
Hey @mpalumbo7 -- Did you solve this by any chance? I'm also using keycloak and can't figure out a solution. I get the following error:

[code]

[2020-06-30 03:08] mpalumbo7 commented on #376
Sorry, I did not continue working on this item for long after this post. One another project, I was bitten by Kubernetes/kubernetes#86410 mentioned above.

Sorry, I can’t remember too much about it now.

[2020-06-30 04:54] AMoghrabi commented on #376
Ah ok, not a problem. Thanks for taking the time out of your day to respond. I appreciate it.

[2020-06-30 16:04] chewong opened #3563 "[flake] "should be able to resolve DNS across windows and linux deployments" failed"
**Describe the bug**

Happened in https://upstream.jenkins.azure-containers.io/view/aks-engine/job/k8s-create-cluster-matrix-1.17/444/execution/node/823/log/:

[code]

**Steps To Reproduce**

**Expected behavior**

**AKS Engine version**

**Kubernetes version**

**Additional context**

[2020-06-30 16:13] Jabb0 commented on #3531
I am a collegue of @DonMartin76. One thing I noticed is that the faulty cluster has the following line in its logs:

[code]

while the working cluster looks like this:

[code]

maybe the order is important.

Note that in the upper logs `workerdev36-...-1` is in group `\x00:0` while it is in `\x00:1` in the lower and worker0 is added "much" later in the faulty cluster. However pods are not schedule

[2020-06-30 16:58] chewong commented on #3531
@Jabb0 I don't think the order matters. The westeurope-0 and westeurope-1 are referring to the fault domain of the VM availability set, which shouldn't affect pod scheduling.

Based on the kube-scheduler log, the scheduling error is either `didn't match node selector` or `didn't have free ports for the requested pod ports`. For the first error, I am not sure why it's happening since node labels ar

[2020-07-01 00:41] MSFTChao opened #3567 "deploy to existing machines"
Hi there,

Currently, all the tutorials I have read using aks-engine to deploy k8s cluster requires to create NEW VMs in azure. But if we already have a VNet with a bunch of running machines, can aks-engine directly deploys k8s services onto these existing running machines instead of creating new machines? Further more, if our existing machines are grouped in an on-premise VNet rather than azure V

[2020-07-01 09:18] Jabb0 commented on #3531
@chewong
The following log of kube-scheduler is full of "Unable to schedule" errors of system pods such as:
[code]
Here the ports are not an issue. However it only explains 3 out of 4 nodes. Is that intentional?
Once worker0 is swamped with pods and we try to schedule the next pod the error is:
[code]
Is it necessary for the any pods (e.g. the CSI ones) to run on the node before any pod can be sch

[2020-07-01 15:56] jsturtevant opened #3568 "Add e2e test for ipv6 windows dual stack support"
**Describe the request**
Add e2e test and documentation for [ipv6 windows dual stack support](https://github.com/Azure/aks-engine/pull/3415).  Windows Dual stack support is now available in the [1.19-beta release](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.19.md#feature) and [2004](https://github.com/Azure/aks-engine/pull/3516) support has been enabled in aks-engine

[2020-07-01 15:57] jsturtevant commented on #3568
@tamilmani1989 are you able to help with this?

[2020-07-01 19:45] tamilmani1989 commented on #3568
@jsturtevant i think @aramase planning e2e tests for kubenet dualstack. Once he did that, i will extend it for azure cni

[2020-07-01 22:20] #3462 closed

[2020-07-01 22:38] jackfrancis commented on #3567
Hi @msftchao, you are correct, AKS Engine is unable to use existing machines to install Kubernetes componentry. I would recommend investigating the kubeadm project for turning a linux VM into a Kubernetes node:

https://github.com/kubernetes/kubeadm

[2020-07-01 23:07] chewong commented on #3531
@Jabb0 I think it's intentional, the 3 nodes are your helper & worker nodes, the remaining node should be master, which some pods can't be scheduled to.

Those pods are just part of an add-on that aks-engine deploys after the cluster is provisioned, which should not affect pod scheduling at all. I suspect that the kubelet or even the underlying VMs are experiencing some problems. If you encounter

[2020-07-02 16:31] jsturtevant commented on #3568
Thanks for the update.  I thought it had landed in 2004 but now understand it is coming in the next SAC release. Putting this issue on hold until that is released.

[2020-07-02 16:57] jsturtevant opened #3573 "Docker log rotation stops after reaching limit on Windows nodes"
**Describe the bug**
After the limit for a containers logs are met as set up in https://github.com/Azure/aks-engine/pull/2478 the logs stop being collected. The container continues to run but no new logs are appended.

**Steps To Reproduce**

Create a windows cluster and deploy a pod that [logs to much](https://gist.github.com/jsturtevant/b9e61ee66fb2f96c0268894229423fdb).  Call `kubetctl logs <po

[2020-07-02 17:01] jsturtevant commented on #3573
A few options for mitigation while the next EE release is pending:

- A temporary mitigation would be to restart the deployment `kubectl rollout restart deployment <deployment-name>`.  The pods would need to be restarted anytime the log file hits 50mb.

- workaround could also set the daemon.json to max-file of 1 on each node. The logs will continue to flow but they might miss logs while the log f

[2020-07-02 18:50] AMoghrabi commented on #805
Really appreciate the example yaml @fsantos2019! Worked like a charm.

[2020-07-02 19:26] #3557 closed

[2020-07-02 20:08] MSFTChao commented on #3567
Hi @jackfrancis , thanks very much for your replying! Per this [thread](https://github.com/Azure/aks-engine/issues/2018), aks-engin was not supporting kubeadm. Is it still the case? Or it's already supporting it officially?

[2020-07-03 03:38] #3112 closed

[2020-07-03 18:37] #3102 closed

[2020-07-05 04:56] #3154 closed

[2020-07-06 18:31] mboersma commented on #3484
I tried to provision in centraluseuap using AKS Engine master and didn't see any errors for a 3-node cluster. It's possible we've fixed something that affects this recently, or maybe my cluster template differs significantly from yours:

[code]

[code]

[2020-07-06 23:09] mboersma commented on #3484
@amankohli can you share more details? Which version of AKS Engine, which version of Kubernetes, and what does your cluster template look like?

[2020-07-06 23:59] CecileRobertMichon opened #3578 "Switch VHD Linux pipeline to 18.04"
Given that Ubuntu 18.04 is now the default, we should switch PR tests to use 18.04 to build a VHD (as opposed to 16.04).

How: change the variable default of the devops pipeline for `UBUNTU_SKU`.

[2020-07-07 08:53] zhiweiv opened #3580 "Image pull error in azure-cni-networkmonitor in China 21v"
**Describe the bug**
azure-cni-networkmonitor pods keep crashing due to image pull error.
[code]

**AKS Engine version**
0.52

**Kubernetes version**
1.17

We have a working AKS cluster in China 21v, the image azure-cni-networkmonitor used is mcr.azk8s.cn/containernetworking/networkmonitor:v0.0.7.

Seems the registry aks-engine used(_dockerhub.azk8s.cn_) is incorrect.

[2020-07-07 15:58] jackfrancis commented on #3567
Hi @MSFTChao: AKS Engine doesn't support the kubeadm flow. You could investigate the Azure implementation of the cluster-api project:

https://github.com/kubernetes-sigs/cluster-api-provider-azure

[2020-07-07 15:58] #3567 closed

[2020-07-07 18:21] Michael-Sinz opened #3581 "aks-engine support for setting larger kubernetes etcd maximum size"
**Describe the request**
The etcd that is set up for kubernetes by aks-engine is running a default maximum size of 2GB.  We need a way to change this limit.

**Explain why AKS Engine needs it**
The 2GB limit is usually fine for clusters that are smaller or not very dynamic but we have run into a case where so much change happened within a short period of time that even with the pruning of history

[2020-07-07 20:41] jackfrancis commented on #3578
Done, thanks for the nudge!

[2020-07-07 20:41] #3578 closed

[2020-07-08 07:06] amankohli commented on #3484
@mboersma
We are running
Below is the aksengine version:
 aks-engine version
Version: v0.47.0
GitCommit: fc55351ca
GitTreeState: clean

Kubernetes version: v1.13.11

Below is cluster template;

{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorRelease": "1.13",
      "kubernetesConfig": {
        "networkPlugin": "k

[2020-07-08 16:02] mboersma commented on #3484
Thanks! I'll try to reproduce this with a similar cluster template and v0.47.0. Hopefully we can pin down the problem.

[2020-07-08 16:56] mboersma commented on #3484
I'm not able to reproduce this (yet). I used v0.47.0 and Kubernetes 1.13.11 with a nearly identical cluster template and custom VNET.

[code]

@amankohli could you share the specific "template invalid" error you see?

[2020-07-08 18:49] #3581 closed

[2020-07-08 19:48] mboersma commented on #3580
@zhiweiv I can't test this but it sounds like a simple bug we could fix [here](https://github.com/Azure/aks-engine/blob/master/pkg/api/azenvtypes.go#L291). Could you try this command?

[code]

[2020-07-09 07:58] AbelHu commented on #3580
cc @andyzhangx

[2020-07-09 08:03] andyzhangx commented on #3580
pull image from mcr.azk8s.cn is only allowed in Azure China VM:

[code]

[2020-07-09 08:04] andyzhangx commented on #3580
@zhiweiv pls ping me offline if your VM is already in Azure China.

[2020-07-09 08:53] AbelHu opened #3586 "Support to configure endpoint for Windows MCR images."
**Describe the request**
Support to configure endpoint for Windows MCR images.

Windows: pkg\engine\templates_generated.go
[code]
**Explain why AKS Engine needs it**
Need for custom cloud environment.

**Describe the solution you'd like**
Can use a variable to specify.

**Describe alternatives you've considered**

**Additional context**

[2020-07-09 09:59] zhiweiv commented on #3580
My aks-engine cluster was deployed to Azure China 21v subscription, I am able to pull image mcr.azk8s.cn/containernetworking/networkmonitor:v0.0.8 in one vm of aks-engine cluster.

[2020-07-09 15:57] mboersma commented on #3580
Great, thank you both for the info. So it sounds like the fix for Azure CNI networkmonitor is clear.

But after changing that, there are still [a few references](https://github.com/Azure/aks-engine/blob/master/pkg/api/azenvtypes.go#L285-L294) to `dockerhub.azk8s.cn` in `azenvtypes.go`:

[code]

Do those entries for ACI connector, NVidia, and Calico also need to be changed to `mcr.azk8s.cn`?

cc: @

[2020-07-09 18:40] bdschaap opened #3589 "Support for CustomVMTags in AKS?"
I'm unable to get the CustomVMTags ARM template field to work in AKS.  Is it supported in AKS?

[2020-07-09 18:45] #3589 closed

[2020-07-10 01:02] andyzhangx commented on #3580
that depends on whether we are going to build ACI connector, NVidia, and Calico into MCR, currently they are all in dockerhub, so `dockerhub.azk8s.cn` is the right config, anyway, that's a future work.

[2020-07-10 13:15] #3580 closed

[2020-07-11 00:05] #3522 closed

[2020-07-11 01:27] #3186 closed

[2020-07-11 01:27] #2601 closed

[2020-07-11 01:27] #2852 closed

[2020-07-11 01:27] #3171 closed

[2020-07-11 01:27] #2983 closed

[2020-07-11 01:27] #3134 closed

[2020-07-11 16:30] surajrana93 commented on #3520
I am also seeing this issue.

time="2020-07-11T21:24:28+05:30" level=info msg="Draining node 1852k8s00000000"
time="2020-07-11T21:24:28+05:30" level=info msg="Node 1852k8s00000000 has been marked unschedulable."
time="2020-07-11T21:24:29+05:30" level=info msg="Node 1852k8s00000000 has no scheduled pods"
time="2020-07-11T21:24:29+05:30" level=info msg="Deleting VM 1852k8s00000000 in VMSS 1852k8s00"

[2020-07-11 21:27] #3196 closed

[2020-07-12 17:50] #3203 closed

[2020-07-13 02:25] #2950 closed

[2020-07-13 02:25] #3147 closed

[2020-07-13 02:25] #3077 closed

[2020-07-13 09:44] pierluigilenoci commented on #2243
@jackfrancis could you please take a look?

[2020-07-13 17:45] CecileRobertMichon commented on #2243
@pierluigilenoci Jack is away this week. To be clear, is the ask here to support VMSS master upgrade? Or are there additional changes required in AKS Engine to support Ultra SSD?

As Jack mentioned above their is no short term plan to support upgrade for VMSS masters in AKS Engine.

[2020-07-13 17:56] CecileRobertMichon commented on #2243
After taking a look at https://github.com/Azure/aks-engine/pull/2905, it looks like UltraSSD is already supported for both agent and master profiles. So the main limitation is that it only supports VMSS, and `aks-engine upgrade` does not work for VMSS masters. Based on this, my recommendation would be to either only enable UltraSSD for agent pools or, if enabling it for masters as well, to plan on

[2020-07-14 10:01] dbrennand commented on #2652
Hey @jackfrancis

I just ran into this issue with my k8s cluster deployed on Azure Stack Hub.

[code]

I am deploying the bitnami/prometheus-operator and realised kube-proxy metrics were not getting collected.
When I attempt to alter the configmap it also keeps being altered back.

The workaround provided isn't ideal and I see a enchancement was raised but never acted upon. Is there any way to mak

[2020-07-14 19:41] posix4e opened #3595 "Add Falco to one of the images"
**Describe the request**
Falco is best run on the underlying node

**Explain why AKS Engine needs it**
It makes IDS on k8s easy combined with falco_exporter + prometheus
**Describe the solution you'd like**
AN optional Image with falco pre-installed
**Describe alternatives you've considered**
We are running it as a container but that's not as safe as having it baked into the image
**Additional con

[2020-07-14 20:43] mboersma commented on #3484
@amankohli I'm sure there's a real bug here that I haven't managed to reproduce. Please let me know if you're still blocked by this and if you have any more context to provide.

[2020-07-15 06:27] amankohli commented on #3484
@mboersma  Sorry delay in the response as we were redeploying the cluster again and we were able to create the 3 masters . Thank you for looking into the issue.
The above issue is we are unable to scale master and this should be fixed too as it will be easier to just scale up master in some scenario rather than just redeploy the whole cluster.

[2020-07-16 13:14] maxieckert-sap opened #3600 "Master node labelling inconsistent (label `kubernetes.io/role: master` missing)"
**Describe the bug**
When creating a cluster, the label `kubernetes.io/role: master` is missing on the master nodes in some cases:
[code]
This happens sporadically, not for every cluster. For most of the clusters (created with exactly the same aks-engine version, kubernetes  version and API model) it is present on the master nodes:
[code]

We rely on this label (`kubernetes.io/role: master`) for t

[2020-07-16 13:50] posix4e opened #3601 "Please document how to lock down egress up for a service to one ip"
**Describe the request**
We want to have every pod in our service use the same outbound source IP. It'd be sufficient to prevent using our ingress source ip as a source IP for outbound requests.
**Explain why AKS Engine needs it**
It's required for applications which charge per ip
**Describe the solution you'd like**
I could just add an annotation to the service , pointing at an IP, and all traffi

[2020-07-16 16:14] mboersma commented on #3600
These three labels *should* be applied to each node:
- `kubernetes.azure.com/role=master`
- `kubernetes.io/role=master`
- `node-role.kubernetes.io/master=`

But Kubernetes does not allow the latter two labels to be applied directly on `kubelet` startup, so AKS Engine uses [a script](https://github.com/Azure/aks-engine/blob/master/parts/k8s/cloud-init/artifacts/label-nodes.sh) run periodically by s

[2020-07-16 16:24] mboersma commented on #3600
See also #3090.

[2020-07-16 21:30] posix4e commented on #3601
Seems "https://github.com/nirmata/kube-static-egress-ip" is completely broken for aks-engine. Aks-engine for the newest 1.6 seems to round-robin across all of my inbound LB ips and ignores the loadbalancers outbound configuration.

[2020-07-16 22:03] jsturtevant opened #3609 "Review the default set up for Pod Security Policy (psp) in aks-engine"
**Describe the request**
We should review and change the `ClusterRole psp:privileged` to only be assigned to cluster-admin and remove the `ClusterRole psp:restricted` clutser role and associated psp.

Currently psp is turned by default in ask-engine and two policies are created:

[code]

When following the tutorial at https://kubernetes.io/docs/concepts/policy/pod-security-policy/#example with a d

[2020-07-16 22:05] jsturtevant commented on #3609
cc: @aramase

[2020-07-16 23:53] jsturtevant commented on #3609
When looking at the default PSP policies we should consider testing against windows as well.  Currently some of the psp's will block windows:

A known issue with `MustRunAsNonRoot` and currently being fixed is: https://github.com/kubernetes/kubernetes/issues/91482

Another I just ran into is when apparmor annotations are applied as in the restricted psp we deploy: https://github.com/kubernetes/kub

[2020-07-17 05:29] posix4e commented on #3601
It'd be sufficient to prevent using our ingress source ip as a source IP for outbound requests.

[2020-07-17 07:01] maxieckert-sap commented on #3600
The services does not seem to run on the impaired master vm:
[code]

[code]

[code]

[2020-07-17 13:37] mboersma commented on #3600
The [label-nodes.service](https://github.com/Azure/aks-engine/blob/master/parts/k8s/cloud-init/artifacts/label-nodes.service) systemd unit is set to start after `kubelet.service` starts. It's also set to restart always, so the fact that it didn't here is confusing.

It appears that the service started, but a `kubectl label` command in [label-nodes.sh](https://github.com/Azure/aks-engine/blob/maste

[2020-07-18 06:26] #2836 closed

[2020-07-18 06:26] #3128 closed

[2020-07-18 06:26] #2837 closed

[2020-07-20 13:04] chreichert opened #3618 "Upgrade older cluster from 1.16.4 to 1.16.11 fails with CSE exit code 35"
**Describe the bug**
Upgrading an older cluster, that was initially created with ACS-Engine 0.21.2, from 1.16.4 to 1.16.11 stops while deploying first upgraded master node with error: "VM has reported a failure when processing extension 'cse-master-0'. Error message: \\\"Enable failed: failed to execute command: command terminated with exit status=35"

**Steps To Reproduce**

Latest Upgrade of the

[2020-07-20 16:25] #3586 closed

[2020-07-20 16:45] jackfrancis commented on #2652
Hi @dbrennand, I've re-opened #2672 so we can track enabling the kube-addon-manager mode.

Just FYI, you'll want to ensure that your kubectl client is running the same version as the cluster you're managing (I see you're managing a 1.16.9 cluster w/ the 1.18.5 client). You *may* not run into any issues, but any API breaking changes between minor versions will affect you here.

[2020-07-20 16:53] jackfrancis opened #3620 "Remove etcd + cosmos implementation and documentation"
The etcd + cosmos integration is no longer supported by Azure, let's remove this feature surface area and update documentation so that we don't confuse users.

[2020-07-20 16:53] jackfrancis commented on #3620
cc @craiglpeters

[2020-07-20 18:08] jackfrancis commented on #3618
Hi @chreichert, could you retry this upgrade, and make sure that these are the api model configuration values inside `kubernetesConfig`:

[code]

[2020-07-20 19:11] #3256 closed

[2020-07-20 20:43] jackfrancis opened #3621 "Took > 10 mins to ensure internal load balancer"
Observed a test flake:

[code]

Note the 11 minute difference between the "Ensuring..." and "Ensured..." events.

We currently timeout at 10 minutes in the test config that produced this flake:

https://github.com/Azure/aks-engine/blob/master/test/e2e/test_cluster_configs/everything.json#L7

[2020-07-20 21:02] vinisoto commented on #3042
@ericschung, @DavidParks8: I'm also facing  **(error: You must be logged in to the server (Unauthorized))** using kubectl 1.18, kubernetes 1.18 and aks-engine v0.52.0. Should I open a different issue for this?

[2020-07-21 06:23] maxieckert-sap commented on #3600
Apparently the service is not restarting, nor running periodically here. At what frequency is the service normally supposed to be executed?

Is it possible to fix that behaviour so that we can rely on the labels being applied?

[2020-07-21 08:40] vossss opened #3622 "flannel pod can't be scheduled"
If a taint like “app=none:NoExecute” be added to a node, flannel pod can't be scheduled to this node,
and  pods which running on this node is not working properly

Reason:
flannel daemonset  has no  configuration toleration ":NoSchedule".

[2020-07-21 09:08] vossss opened #3623 "After the master restarts, it's not normal."
If the master be rebooted，the etcd device name may be changed.
As shown below,  etcd device was /dev/sdc1 before restarting.
When rebooted, etcd device name was changed to /dev/sda1.
But as in /etc/fstab, /dev/sdc1 was stilled mounted as etcd disk,
Certainly, etcd data is incorrect.
I think the device id should be used instead of device name to mount etcd disk.

![图片](https://user-images.githubuse

[2020-07-21 14:25] porrascarlos802018 commented on #3388
https://github.com/Azure/AKS/releases/tag/2020-06-15

[2020-07-21 15:19] jackfrancis opened #3624 "csi-azuredisk-node-windows pod can't start"
Observed a test failure when validating 1.19.0-beta.2 using cloud-controller-manager:

[code]

Pod logs show a bunch of these:

[code]
etc...

[code]
etc...

[2020-07-21 15:20] jackfrancis commented on #3624
@jsturtevant @chewong How interesting are the above failures?

[2020-07-21 15:22] chreichert commented on #3618
Thanks @jackfrancis, this helped. After modifying kubernetesImageBase and adding kubernetesImageBaseType in our apimodel.json, I could successfully upgrade our cluster to 1.16.11.

One thing to mention: kubernetes-dashboard was not cleanly reconciled during the upgrade. I ended up with two versions of the dashboard, old in namespace kube-system and new in namespace kubernetes-dashboard. I deleted

[2020-07-21 15:26] jackfrancis commented on #3618
@chreichert Glad that got you through. This is a bug, btw, that I'll look into today. In the meanwhile you have a workaround :/

Correct about post-upgrade cleanup. Depending on the version-to-version path, and the initial cluster configuration, there may be leftover cruft, in your example you've observed dashboard. metrics-server, and other components may also need a nudge. You're doing the right

[2020-07-21 15:33] chreichert commented on #3618
@jackfrancis We're currently on finding our way to upgrade to latest 1.17 or 1.18 by testing this with our test cluster, before doing our production cluster. This was the first step with going to latest 1.16. After testing our apps, I will continue with upgrading to 1.17.7 and so on. Still some manual steps involved, but its still manageable.
Thanks again for your valuable help, as always :-)

[2020-07-21 15:39] jackfrancis commented on #3618
@chreichert are you able to paste the original values of kubernetesImageBase and kubernetesImageBaseType in your api model before you changed them? That will help to ensure that PR #3625 has the proper fixes so that manual step is not needed.

[2020-07-21 15:46] jackfrancis commented on #3622
Hi @vossss, what version of Kubernetes built w/ AKS Engine are you running?

You can test your toleration theory out by manually editing the flannel spec in the `/etc/kubernetes/addons/` directory on each control plane VM.

[2020-07-21 15:48] chreichert commented on #3618
@jackfrancis This were the original settings before upgrade:

        "kubernetesImageBase": "k8s.gcr.io/",
        "mcrKubernetesImageBase": "mcr.microsoft.com/k8s/core/",

kubernetesImageBaseType was not present before.

You can find the full apimodel in the original post above (folded).

[2020-07-21 15:51] jackfrancis commented on #3623
This is a bug we observed w/ 18.04-LTS, and fixed with a series of changes that is now present in the latest release.

What version of aks-engine was your cluster built with, and what version of Kubernetes are you running?

[2020-07-21 15:53] jackfrancis opened #3626 "Windows node vm unable to stop kubelet"
Observed an E2E test failure due to a failure to stop the kubelet service:

[code]

This was in response to the test "`kubelet service should be able to recover when the docker service is stopped`".

[2020-07-21 16:11] chewong commented on #3624
Wasn't able to repro this:
[code]
@andyzhangx @ZeroMagic any idea?

[2020-07-21 20:29] jsturtevant commented on #3624
This looks like it might be related to a flake we started to see in upstream today https://github.com/kubernetes/kubernetes/issues/93295:

[code]

I appears to be a flake where data gets corrupted.  It seems to only be recently introduced.

@adelina-t fyi

[2020-07-21 20:35] #3618 closed

[2020-07-21 22:11] jsturtevant commented on #3624
adding @ksubrmnn in case she's seen the issue while working on csi proxy

[2020-07-22 01:39] andyzhangx commented on #3624
@jsturtevant your issue is different, it failed in container creating. That flacky test issue is only one windows e2e test failure, it's not related. In your case, it looks like there is sth. wrong with your windows container.

[code]

[2020-07-22 01:42] vossss commented on #3623
akse-engine version: v0.50.0
k8s version: v1.15.11

[2020-07-22 02:05] vossss commented on #3622
k8s version: v1.15.11
akse version: v0.50.0

I have tested my toleration theory out by manually editing the flannel spec in the /etc/kubernetes/addons/ directory on each control plane VM, and the flannel was running correctly.

 Can you add these tolerations to the flannel addon in the next akse release?

[2020-07-22 08:24] chreichert opened #3628 "Master nodes on upgraded cluster do not come ready after restart"
**Describe the bug**
After upgrading an older cluster, that was initially created with ACS-Engine 0.21.2, from 1.16.4 to 1.16.11 first everything worked fine. Usually we shut down all master VM's and agent VMSS over the night and the weekends when we do not need the cluster for testing. After the first restart past the upgrade, the cluster was not reachable with kubectl anymore. Looking at docker

[2020-07-22 08:59] posix4e commented on #3595
Any ideas or details needed?

[2020-07-22 16:50] jackfrancis commented on #3628
Are the master VMs running Ubuntu 16.04-LTS?

[2020-07-22 16:51] jackfrancis opened #3631 "Deprecate Kubernetes v1.15 support"
A tracking issue to remove support for building new v1.15 clusters.

[2020-07-22 16:55] jackfrancis commented on #3628
Do you see the `calico-node` daemonset on the system (`kubectl get daemonsets -n kube-system`)?

[2020-07-22 17:24] harshaperera532 opened #3632 "Windows containers are very slow to start and stop"
**Describe the bug**
We've hit this problem on two separate clusters (identical Windows node versions). Both worked fine for 4 months. The problem appeared two weeks apart on the clusters. When we deploy new Windows containers it now takes 15-20 mins for the containers to start. Kubernetes shows that it has been scheduled to be run on a node and then seemingly nothing happens for 15-20 mins and th

[2020-07-22 17:49] jackfrancis opened #3633 "cloud-controller-manager-enabled cluster can't resolve `kubernetes`"
E2E tests include validation of the cluster DNS names, see:

https://github.com/Azure/aks-engine/blob/master/test/e2e/kubernetes/kubernetes_test.go#L957

Getting an error resolving the `kubernetes` name:

[code]

The errors aren't consistent:

[code]

[2020-07-22 17:50] jackfrancis commented on #3633
The above test result was against a v1.19.0-beta.2 cluster

[2020-07-22 17:53] jackfrancis commented on #3633
coredns pod logs show:

[code]

:(

[2020-07-23 07:24] chreichert commented on #3628
yes, its Ubuntu 16.04-LTS. "distro" in apimodel is "ubuntu" as the cluster was originally installed with ACS-Engine 0.21.2.

Access with kubectl is not possible, neither over the loadbalancer, nor directly on each of the three master nodes (connection refused).

Here the docker ps output:

[2020-07-23 07:45] chreichert commented on #3628
It also looks, like etcd is not able to reach its peers and form a cluster:

root@k8s-master-11480702-0:~# systemctl status etcd
● etcd.service - etcd - highly-available key value store
   Loaded: loaded (/etc/systemd/system/etcd.service; enabled; vendor preset: enabled)
   Active: activating (start) since Thu 2020-07-23 07:43:41 UTC; 56s ago
     Docs: https://github.com/coreos/etcd
           ma

[2020-07-23 07:52] chreichert commented on #3628
That was it. etcd was stopped on all masters. After manually restarting etcd on all three master nodes the cluster formed and became ready again.

But why did etcd not start automatically after the restart of the nodes? Does that have anything to do with the previous upgrade ?

[2020-07-23 08:07] chreichert commented on #3628
I did a shutdown and restart of all master nodes and agent scalesets again. Same problem. Etcd does not come up automatically:

root@k8s-master-11480702-0:~# systemctl status etcd
● etcd.service - etcd - highly-available key value store
   Loaded: loaded (/etc/systemd/system/etcd.service; enabled; vendor preset: enabled)
   Active: inactive (dead)
     Docs: https://github.com/coreos/etcd

[2020-07-23 10:33] damyan90 opened #3637 "Azure aad not working with 1.17+"
**Describe the bug**
Created AAD applications according the doc: https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli (up until AKS related steps)
Then added the following in the aks-engine deployment:

[code]
Then when I try to use the kubeconfig I get:

[code]
Even though the login to MS app is successful. I can see "Success" entry in the "Sign-ins" section of the app in Azure.

I

[2020-07-23 16:55] chewong commented on #3495
+1

[2020-07-23 19:40] jackfrancis commented on #3628
Yes, that is strange. Do you get this same result from this command?

[code]

[2020-07-23 19:50] jackfrancis commented on #3495
+1

@aramase I think this is a regular issue (but seemingly only for Windows nodes). Where can we drive code changes to fix it?

[2020-07-23 19:54] aramase commented on #3495
@jackfrancis I think we can start with opening an issue here - https://github.com/kubernetes-sigs/cloud-provider-azure. This repo hosts the code for `cloud-controller-manager` and `cloud-node-manager`. Does `cloud-node-manager` deployment tolerate the taint `node.cloudprovider.kubernetes.io/uninitialized=true:NoSchedule`?

[2020-07-23 20:01] chewong commented on #3495
Yea it does - https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/examples/out-of-tree/cloud-node-manager.yaml#L66-L76.

The problem we are seeing is in the Windows pod is
[code]

but all Windows pods and nodes have proper labels.

[2020-07-23 20:09] jackfrancis commented on #3495
Is this taint by design? The failure is a result of this test, which simply tries to schedule a Windows pod:

https://github.com/Azure/aks-engine/blob/master/test/e2e/kubernetes/kubernetes_test.go#L778

That pod spec doesn't have the toleration.

[2020-07-23 20:19] chewong commented on #3495
It's by design. It's cloud-node-manager's job to remove that taint after initializing the node. But since cloud-node-manager never get scheduled due to the error above, the taint never gets removed.

[2020-07-23 20:27] aramase commented on #3495
The taint is by design as documented in the KEP - https://github.com/Azure/aks-engine/issues/3495#issuecomment-645620806.

Could you post the out for `kubectl describe node` and `kubectl describe pod`? There are a series of predicates evaluated before a pod is scheduled on the node.

[2020-07-23 20:31] jackfrancis commented on #3495
Right, thanks for the reminder. Yeah, this doesn't make sense (yet). Deleted the original pod stuck in a Pending state because of missing node selector, and have the same result.

[code]

So, node `3967k8s011` has scheduled a pod from the daemonset. Let's look at the other Windows node on the cluster (`3967k8s010`):

[code]

That node does have the `kubernetes.io/os=windows` label. The new, `Pendi

[2020-07-23 22:26] aramase commented on #3495
Not that this should matter, but does changing the `nodeSelector` to a different k/v pair make a difference once the pod faces the scheduling issue? Trying to narrow down possible reasons. This error is actually from scheduler unlike the previous issue we investigated that was error in `kubelet`.

[2020-07-23 22:34] aramase commented on #3495
[PodMatchesNodeSelectorAndAffinityTerms](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/plugins/helper/node_affinity.go#L26-L70) determines if pod matches node selector. This [section](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/plugins/helper/node_affinity.go#L45-L68) would never be evaluated as there is no `Affinity` or `NodeAffinity

[2020-07-24 03:14] AbelHu commented on #3279
Outdated.

[2020-07-24 03:14] #3279 closed

[2020-07-24 06:59] chreichert commented on #3628
Yes, its enabled, but it does not start:

   # systemctl list-unit-files | grep enabled | grep etcd
   etcd.service                               enabled

Here again the log after reboot:

  Jul 23 14:48:20 k8s-master-11480702-0 systemd[1]: Stopped etcd - highly-available key value store.
  -- Reboot --
  Jul 24 06:49:43 k8s-master-11480702-0 systemd[1]: Stopped etcd - highly-available key value s

[2020-07-24 08:07] chreichert commented on #3637
Same here on a cluster, upgraded from 1.16.11 to 1.17.7 with AKS-Engine 0.53.0:

Kubectl access with AAD on 1.16.11 worked fine. After Upgrade to 1.17.7 it fails with: error: You must be logged in to the server (Unauthorized). Kubectl version 1.18.6.

Same error in apiserver log as above:
E0724 07:56:56.505824       1 authentication.go:104] Unable to authenticate the request due to an error: [inva

[2020-07-24 12:00] sabretus commented on #2067
This seems to be related https://github.com/coreos/flannel/issues/1185

[2020-07-24 12:02] chreichert commented on #3628
I successfully upgraded the Cluster to 1.17.7 now. Had some problems with AAD auth on upgrade and afterwards (see #3637) but cluster is running.
The upgrade to 1.17.7 did not fix the issue with etcd not starting after system shutdown.

[2020-07-25 08:13] #3257 closed

[2020-07-25 08:13] #3285 closed

[2020-07-25 08:13] #3286 closed

[2020-07-25 08:13] #3290 closed

[2020-07-26 10:43] #3305 closed

[2020-07-27 17:43] chewong commented on #3495
+1

[2020-07-27 22:23] chewong commented on #3495
Happened on a Linux node recently in https://upstream.jenkins.azure-containers.io/view/aks-engine/job/k8s-create-cluster-matrix-1.19/37/execution/node/622/log/:
[code]

[2020-07-28 13:24] maxieckert-sap commented on #3600
@mboersma any updates on this?

[2020-07-28 15:32] chewong commented on #3600
Looks like the script assumes that the `KUBECONFIG` is stored in `~/.kube/config`? Is that where your `KUBECONFIG` being stored?

[2020-07-28 15:43] chewong commented on #3563
+1 in https://upstream.jenkins.azure-containers.io/view/aks-engine/job/k8s-create-cluster-matrix-1.18/322/execution/node/1092/log/

[2020-07-28 15:54] chewong opened #3645 "Container networking DNS failed in v1.18/windows/network_plugin/kubenet e2e test config"
**Describe the bug**

https://upstream.jenkins.azure-containers.io/view/aks-engine/job/k8s-create-cluster-matrix-1.18/321/execution/node/921/log/

[code]

**Steps To Reproduce**

**Expected behavior**

**AKS Engine version**

**Kubernetes version**

**Additional context**

[2020-07-28 15:58] chewong opened #3646 ""should be able to launch a long running HTTP listener and svc endpoint" failed"
**Describe the bug**

https://upstream.jenkins.azure-containers.io/view/aks-engine/job/k8s-create-cluster-matrix-1.19/38/execution/node/491/log/

[code]

**Steps To Reproduce**

**Expected behavior**

**AKS Engine version**

**Kubernetes version**

**Additional context**

[2020-07-28 16:12] mboersma commented on #3600
@maxieckert-sap I'm sorry, I was off work last week.

@chewong the current version of `label-nodes.sh` does that wildcard `find` command to locate a kubeconfig file and use it explicitly. It's a bit of a hack to search for it that way (a hack I borrowed from upstream Kubernetes scripts), but we can't easily know what user name was specified when creating the cluster. That is we can't hard-code `/h

[2020-07-29 12:12] lukasmrtvy opened #3648 "(question): how to reference precreated static managed disk in StorageClass ?"
How can I reference static (precreated) managed disk for storageClass ?

[code]

This ^ will create pvc-* ( not sure what id suffix mean ) managed disk in myRG group, but what if I delete AKS and I want to reference this managed disk in mySA storageclass in another AKS ?

Something like this:
[code]

Thanks

[2020-07-29 16:30] chewong commented on #3648
Hi @lukasmrtvy. You could reference it via a combination of PersistentVolume (https://github.com/andyzhangx/demo/blob/master/pv/pv-azuredisk-managed.yaml) + PVC (https://github.com/andyzhangx/demo/blob/master/pv/pvc-azuredisk-static.yaml) or inline volume (https://docs.microsoft.com/en-us/azure/aks/azure-disk-volume#mount-disk-as-volume).

[2020-07-29 18:02] chewong commented on #3495
+1

[2020-07-29 18:11] chewong commented on #3563
+1

[2020-07-29 18:51] lukasmrtvy commented on #3648
@chewong
Thanks.

Can You help with this use case ?

Helm chart, that I am using can set only ( statefulset ):
- storageClassName
- matchLabels
- matchExpressions
- accessModes
- annotations
- size

But I want to use/reference static disk file ( precreated ). Which is not possible with storageClassName.

I tried to simulate this:
[code]
but I am getting:
` Normal  FailedBinding  11s (x3 over 30s)

[2020-07-29 19:06] chewong commented on #3648
You will probably need to modify your helm chart so that you can point `volumeName` to your `test-pv`. You should also create the pv and pvc first before you create the statefulset, then point `volumeClaimTemplates` in the statefulset spec to `test-pvc`.

[2020-07-29 19:29] lukasmrtvy commented on #3648
This is working for me:
[code]

[2020-07-29 19:35] chewong commented on #3648
Cool, feel free to re-open the issue if you have any more questions.

[2020-07-29 19:35] #3648 closed

[2020-07-30 01:29] buildmystartupio commented on #3519
Not sure if this is related but prometheus cannot scrape metrics from kublet also same error - bash-5.0# curl http://10.240.0.4:10255/metrics
curl: (7) Failed to connect to 10.240.0.4 port 10255: Connection refused

[2020-07-30 17:15] chewong commented on #3563
+1

[2020-08-01 09:08] #3207 closed

[2020-08-01 09:08] #3051 closed

[2020-08-01 09:08] #3306 closed

[2020-08-01 09:08] #3324 closed

[2020-08-01 09:08] #3329 closed

[2020-08-01 09:08] #2927 closed

[2020-08-02 04:20] surendramannem opened #3655 "We are currently unable to scale up or scale down any of our production VMSS using AKS Engine."
**Describe the bug:**
Sometimes AKS engine deployed in Azure was unable to do VMSS scale up operations and throwing the below requestCount error

The server rejected the request because too many requests have been received for this subscription.

(Code: OperationNotAllowed) {"operationgroup":"HighCostGetVMScaleSet30Min","starttime":"2020-07-30T20:03:03.8475154+00:00","endtime":"2020-07-30T20:18:03

[2020-08-02 10:50] mtgerb opened #3656 "Upgrade from 1.14.8 to 1.15.11 fails due to missing pod-security-policy.yaml file"
**Describe the bug**

Upgrading a cluster from version 1.14.8 to version 1.15.11 fails, because `pod-security-policy.yaml` file is missing on the master node (should be located in /etc/kubernetes/addons/).

**Steps To Reproduce**

1. Create a cluster with kubernetes version 1.14.8 using aks-engine v.0.48.0 or older
2. Try to upgrade to version 1.15.11 using aks-engine v.0.54.0

**Expected behavior

[2020-08-02 23:52] #3346 closed

[2020-08-03 04:52] #3307 closed

[2020-08-03 12:37] jprecuch commented on #3656
Same scenario on our cluster. Jump from 1.14.7 to 1.15.12 using aks-engine v.0.54.0
`+ for i in '$(seq 1 $retries)'
+ grep -Fq '#EOF' /etc/kubernetes/addons/pod-security-policy.yaml
grep: /etc/kubernetes/addons/pod-security-policy.yaml: No such file or directory
+ '[' 116 -eq 1200 ']'
+ sleep 1
+ for i in '$(seq 1 $retries)'
+ grep -Fq '#EOF' /etc/kubernetes/addons/pod-security-policy.yaml
grep: /

[2020-08-04 10:09] abuccts opened #3661 "Validation failure for enableVMSSNodePublicIP + Basic LB"
**Describe the bug**

Set `"loadBalancerSku": "basic"` in kubernetesConfig and `"enableVMSSNodePublicIP": true` in agentPoolProfiles will lead to error:
[code]
Change `"loadBalancerSku": "basic"` to `"loadBalancerSku": "Basic"` will resolve.

**Steps To Reproduce**

As above.

**Expected behavior**

`"loadBalancerSku": "basic"` should work as mentioned in [docs](https://github.com/Azure/aks-engine

[2020-08-04 17:58] jackfrancis opened #3663 "add etcd 3.4 support"
Let's add support for etcd 3.4 as it is sufficiently mature.

https://github.com/etcd-io/etcd/releases

[2020-08-04 18:46] faCalegari opened #3664 "Conectivity between postgres master and standby is lost and the cluster promotes a standby like master - We have two master"
**Describe the bug**

We have a postgres cluster.... one master and two replicas in differents pods in different virtual machines on Azure.

**Steps To Reproduce**

when replicas pods lost communication with master, the cluster promotes a replica database like master, and we have two master.

**Expected behavior**

**AKS Engine version**

**Kubernetes version**

System info
Kernel Version: 4.15.0-

[2020-08-04 19:51] satishsudini opened #3665 "Container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady Error with Flannel CNI"
**Describe the bug**
Kubelet failing with Container runtime network not ready error with k8-1.18.6

/etc/cni/net.d/10-flannel.conf

{
  "name": "cbr0",
  "type": "flannel",
  "delegate": {
    "isDefaultGateway": true
    "cniVersion": "0.2.0",
  }
}

**AKS Engine version**
v0.54.0

**Kubernetes version**
1.18.6

{"cniVersion":"","name":"cbr0","plugins":[{"delegate":{"isDefaultGateway":true},"name

[2020-08-04 22:47] #3573 closed

[2020-08-05 15:36] Michael-Sinz opened #3668 "Creating a new cluster leaves some masters in need of reboot (still)"
**Describe the bug**
After creating a new cluster with 5 masters, 4 of the 5 masters are tagged with needing an OS reboot.

**Steps To Reproduce**
We create a v7.0.2 skyman cluster (aks-engine 0.54.0, kubernetes 1.18.6) with 5 masters and at least one VMSS node pool.

The input aks-engine looks like this:
[code]

**Expected behavior**
With the change in https://github.com/Azure/aks-engine/issues/3

[2020-08-05 16:48] Michael-Sinz commented on #3668
I am working on validating this some more.  There may be some other cause here.

[2020-08-05 18:57] Michael-Sinz commented on #3668
Ok, so I built another cluster with minimal setup and the master nodes were now 1 with reboot-required set and 2 without.
(Right after the cluster was up and I could run a job on it to check that host path)  (Within about 2 minutes of returning from the deployment of the arm template into the resource group)

This seems to indicate that there is some race going on since I have had 1 of 3, 3 of 3,

[2020-08-06 01:54] jikuma commented on #3042
@satishsudini I checked in the container k8s_kube-apiserver cotnainer and can not find the cert /etc/kubernetes/certs/oidc-ca.crt

[2020-08-06 06:49] boomro opened #3670 "Aks CoreDNS configMap issue"
I was trying to setup Multicluster in istio following the instructions listed here. Step #2 states to add a **stub domain**: https://istio.io/v1.5/docs/setup/install/multicluster/gateways/
I modified the coredns-custom following the instructions here (https://docs.microsoft.com/en-us/azure/aks/coredns-custom). However when I try to test the service by running the command:
kubectl exec --context=$C

[2020-08-06 10:16] #3670 closed

[2020-08-06 16:03] kthompson23 commented on #956
I don't think Kured can be used reliably with the autoscaler.

This is the current state of our cluster. aks-user1-38485947-vmss00005i was created 29 hours ago and has had patches applied. It is ready for reboot. It is still on an old kernel version; 4.15.0-1083-azure

[code]

I cordoned, drained, rebooted, and uncordoned aks-user1-38485947-vmss00005i manually.

The autoscaler created two addition

[2020-08-06 16:44] jackfrancis commented on #3668
So, reviewing the code, CSE triggers an actual reboot (`/bin/bash -c "shutdown -r 1 &"`) only if `/var/run/reboot-required` exists. AKS Engine *does* touch this file, in the following conditions:

- if you're using the vanilla 18.04-LTS OS image (not the AKS Engine-curated VHD) for master VMs (this would be have a 100% consistent outcome across all master VMs btw)
- ditto for node pools, per-node

[2020-08-06 16:48] jackfrancis commented on #3655
Hi @surendramannem, the above symptoms can occur when lots of requests are being sent to the VMSS API quickly over a short period of time. What version of Kubernetes are you using in the cluster seeing those symptoms?

[2020-08-06 16:55] jackfrancis commented on #3656
Hi @mtgerb and @jprecuch, can you try changing the `"pod-security-policy"` addon configuration to `"enabled": true` in your apimodel.json *before* you perform the upgrade?

Or do you explicitly want to disable the AKS Engine-provided PodSecurityPolicy configuration?

[2020-08-06 16:57] Michael-Sinz commented on #3668
I do know the change that was made in aks-engine to look for the trigger but something is amiss since it is unclear why some masters are clean and others are not.

I included our input to aks-engine and it is complete (module some redacted elements like secrets) - we use the aks-engine provided images for the VMs.  (We don't specifically call out something different)

My guess is that there is som

[2020-08-06 17:10] azharudheen opened #3672 "Kubernetes nodes going to NotReady State"
We are observing the Kubernetes nodes are going to NotReady state quite frequently.  When we do a kubectl get nodes we are seeing docker version to be unknown. "docker://uknown".

Attached is the kubelet logs taken while the issue was occuring

[2020-08-06 17:32] ericsuhong commented on #956
You may be facing an issue where kured is holding a lock on a destroyed node: https://github.com/weaveworks/kured/issues/137

I am still waiting for kured to fix a bug regarding --annotation-ttl (https://github.com/weaveworks/kured/issues/143)

[2020-08-06 20:18] kthompson23 commented on #956
@ericsuhong We did run into the issue that annotation-ttl flag is supposed to fix and deployed the latest version of Kured and set the ttl. Thanks for linking issue #143 though, I didn't know there were still problems with it.

In my example above I did everything manually using kubectl but I followed the same flow as Kured; cordon/drain, reboot, and uncordon.

[2020-08-06 22:14] jackfrancis commented on #1968
@chewong @jsturtevant do you know if this issue was ever actually completed?

[2020-08-06 22:23] jackfrancis opened #3675 "Reinforce upgrade, scale, and addpool documentation"
Let's invest some time rationalizing the set of "cluster lifecycle maintenance" documentation for folks running long-lived AKS Engine-created clusters.

[2020-08-06 22:25] jackfrancis commented on #3484
Is this an active issue?

[2020-08-06 22:35] jackfrancis commented on #3465
Please re-open if this is still an issue!

[2020-08-06 22:35] #3465 closed

[2020-08-06 22:42] jackfrancis commented on #3514
Rather than adding an arbitrary sleep value, would the ability to run upgrade against a single node solve this problem? I.e., you could write a script that would manually progress through a list of node, running upgrade against each, and proceed only when your custom conditions are met.

[2020-08-06 22:47] jackfrancis commented on #3531
Should we leave this issue opening? Are we still repro'ing?

[2020-08-06 22:50] jsturtevant commented on #1968
Looking in the vhd configuraiton I don't see the csi proxy installed on the vhd:

https://github.com/Azure/aks-engine/blob/master/vhd/packer/configure-windows-vhd.ps1

[2020-08-06 22:52] jackfrancis commented on #3411
These appear to be obsolete configurations, folks should use the equivalent configuration in kubeletConfig.

[2020-08-07 01:49] satishsudini commented on #3665
@jackfrancis @CecileRobertMichon : can you please try out in your environment.Any workaround for a quick fix  or missing any parameter causing this issue

[2020-08-07 02:24] azharudheen commented on #3672
[](url)

[2020-08-07 02:26] azharudheen commented on #3672
[kubelet-node1.log](https://github.com/Azure/aks-engine/files/5038993/kubelet-node1.log)

[2020-08-07 10:14] jprecuch commented on #3514
@jackfrancis Wouldn't that complicate things more? I mean having "simple" sleep time between deletion of node and creation of new one for VMSS based on specified --flag would be enough. Because normally after new node is spun it drain containers. If we add sleep time before new node is spun then this will resolve everything.

[2020-08-07 15:59] unovip opened #3676 "AKS Kubernetes cluster nodes in NotReady State"
After resarting two nodes the kubernetes cluster stopped working, can't get the application to work on it.

the nodes show NotReady state:
[apiusr@ipaas-bootstrap ~]$ kubectl get nodes
NAME STATUS ROLES AGE VERSION
k8s-agentpri-39331603-0 NotReady agent 366d v1.12.8
k8s-agentpri-39331603-1 NotReady agent 366d v1.12.8
k8s-agentpri-39331603-2 NotReady agent 366d v1.12.8
k8s-agentpri-39331603-3 NotRe

[2020-08-07 21:05] jackfrancis opened #3677 "configurable packages.microsoft.com apt repository"
Some environments might not have access to `packages.microsoft.com`, let's make that apt repository reference configurable.

[2020-08-08 23:39] sjwexler52 opened #3679 "AKS - Controller Plane is stuck in Ready state"
I deployed my python script to build my AKS and I keep running into the follow message "Waiting for Controller Plane to Ready after xxx minutes".   I've waited over two hours and nothing has happened.   My controller endpoint was available and I can also see my controller cluster is waiting to start.   Please advise this project being used as a proof of concept for my company.  Any help is appreci

[2020-08-09 17:40] #3383 closed

[2020-08-10 10:27] sylr opened #3680 "Upgrade of ubuntu's base-files crashes CSE install script"
**Describe the bug**

A new node which performs `apt-get dist-upgrade` at first startup during the CSE execution will fail because there are conflicts on `/etc/issue` and `/etc/issue.net` files that the new version of the `base-files` package wants to update.

**Steps To Reproduce**

Create a cluster with an aks image based on < (stricly)  Ubuntu 16.04.7. New nodes will fail to install.

[code]

H

[2020-08-10 15:35] Michael-Sinz opened #3681 "Minor bug in the cluster definition documentation:"
**Describe the bug**
The cluster definition document shows that sysctldConfig is a child of kubernetesConfig - this is wrong.
It is actually a peer of that.

**Steps To Reproduce**
Follow the example at https://github.com/Azure/aks-engine/blob/master/docs/topics/clusterdefinitions.md#sysctldconfig
If you put sysctldConfig under kubernetesConfig it will fail.

**Expected behavior**
Fix the document

[2020-08-10 18:20] mboersma commented on #3679
I'm not familiar with the python script you're mentioning; does it call `aks-engine`? This is the AKS Engine project, so I want to clarify if this is an [AKS or AKS Engine](https://github.com/Azure/aks-engine/blob/master/docs/faq.md#whats-the-difference-between-aks-and-aks-engine) cluster.

[2020-08-10 18:24] mboersma commented on #3676
@unovip what does `kubectl describe nodes` show? Sometimes there will be a clue in the conditions or status fields. Otherwise, you should SSH into the nodes and check the `kubelet` logs to see if some error is being reported.

[2020-08-10 20:30] sjwexler52 commented on #3679
This is AKS cluster.  I've attached the script (see below).  Also included this event message - not sure what it means.  Any help you can provide or if you can point me in the right direction that would be great.

"0/1 nodes are available: 1 node(s) had taints that the pod didn't tolerate"

python script below:

#
# Prerequisites:
#
# Azure CLI (https://docs.microsoft.com/en-us/cli/azure/install-a

[2020-08-10 20:51] mboersma commented on #3679
Is that a Jupyter notebook script? I don't see any "Waiting for control plane"-type message in the script you posted, so I'm guessing it eventually fails in the `az aks create` command? I would try to debug just that command locally using the subscription and other parameters you gave the script.

But regardless, this GitHub project is AKS Engine, which is an open source project that happens to sh

[2020-08-10 21:07] #3681 closed

[2020-08-10 22:38] JesusAlvarezTorres opened #3686 "Upgrade - 1.15 to 1.16 upgrade fails on disconnected because the value of --pod-infra-container-image is not updated"
**Describe the bug**
Seen on Azure Stack disconnected environments with no outbound connectivity; upgrading a 1.15 cluster (deployed with akse 0.51) to 1.16 (with akse 0.54) fails with the master node going into not ready state. After further investigation in the affected node saw kubelet trying to use version 1.2.0 of the pause image, which is not included in vhd version 2020.07.24. Given the no

[2020-08-10 23:29] jsturtevant opened #3687 "Hyperv Containerd configuration"
**Describe the request**
Be able to control the Containerd Runtime handlers

https://github.com/Azure/aks-engine/blob/c273c5163962e9ef42e01c4547de93b635361084/parts/k8s/windowscontainerdfunc.ps1#L127-L140

**Explain why AKS Engine needs it**
When adding hyperv support we need to be able to specify the default handler for enabling [upstream tests ](https://testgrid.k8s.io/sig-windows-containerd#aks

[2020-08-11 00:00] jsturtevant commented on #2828
partially fixed by https://github.com/Azure/aks-engine/pull/3508

Azure cni now supports containerd so we no longer need the win-bridge builds and `kubenet` (using win-bridge) windows cluster are not supported for production as of now.

/close

[2020-08-11 00:00] #2828 closed

[2020-08-11 00:02] jsturtevant commented on #2830
Testgrid now has green passes for containerd:

https://testgrid.k8s.io/sig-windows-containerd#aks-engine-azure-windows-master-containerd
https://testgrid.k8s.io/sig-windows-containerd#aks-engine-azure-windows-master-containerd-serial-slow

[2020-08-11 00:02] #2830 closed

[2020-08-11 03:13] craiglpeters commented on #2281
This is still an issue for some teams. @jackfrancis and @marosset can we fix this

[2020-08-11 15:41] marosset commented on #2281
The Windows team determined this was an issue with the Mellanox drivers and we need to get new drivers for accelerated networking to work reliably in these scenarios.

Let me try and get the status of the drivers and see if there is a date the new drivers would be included in the Windows VHDs available in Azure.

[2020-08-11 18:06] sjwexler52 commented on #3679
Hi Matt - I actually did create an issue on the Azure/AKS repo 3 days ago but no one has responded.  However I will follow your suggestion and edit my post to see if I can motivate a response - otherwise I will have to go the route of customized script using the AKS Engine... Once again thanks for responding!

[2020-08-11 18:06] #3679 closed

[2020-08-11 18:46] mboersma commented on #2708
AFAICT, there aren't issues with artifacts in the Mooncake cloud currently, so I'm closing this.

[2020-08-11 18:46] #2708 closed

[2020-08-11 18:58] mboersma commented on #3672
It does look like the docker daemon stops responding at some point. I wonder if the node is overloaded? What does `kubectl describe nodes` say? Or just running `top` in an SSH session to one of the failing nodes?

Is this something specific to AKS Engine? If so, can you provide a reproducible case with the version of `aks-engine`, the version of Kubernetes, and an example apimodel.json?

[2020-08-11 20:12] azharudheen commented on #3672
We are using 1.13 version of Kubernetes. The issue is neither reproducible nor we see a pattern. After stop and start of the docker daemon the issue seems to go away. Here is another issue raised for the same with more details : https://github.com/docker-library/docker/issues/250

[2020-08-11 20:12] azharudheen commented on #3672
We are using 1.13 version of Kubernetes. The issue is neither reproducible nor we see a pattern. After stop and start of the docker daemon the issue seems to go away. Here is another issue raised for the same with more details : https://github.com/docker-library/docker/issues/250

[2020-08-11 20:12] azharudheen commented on #3672
We are using 1.13 version of Kubernetes. The issue is neither reproducible nor we see a pattern. After stop and start of the docker daemon the issue seems to go away. Here is another issue raised for the same with more details : https://github.com/docker-library/docker/issues/250

[2020-08-11 21:34] ericsuhong commented on #3042
@satishsudini Did you manually inject oidc-ca.crt file? I am still not sure why apiserver is not able to validate certificate from microsoft openid-configuration endpoint. It is a signed by a known DigiCert root cert.

[2020-08-12 07:44] unovip commented on #3676
Hi,

i checked the kubelet logs, i get this error in journalctl -xe -u kubelet:

580   10861 reflector.go:125]
k8s.io/kubernetes/pkg/kubelet/config/apiserver.go:47: Failed to list
*v1.Pod: Unauthorized
295   10861 reflector.go:125] k8s.io/kubernetes/pkg/kubelet/kubelet.go:451:
Failed to list *v1.Node: Unauthorized
426   10861 reflector.go:125] k8s.io/kubernetes/pkg/kubelet/kubelet.go:442:
Failed t

[2020-08-12 15:16] mboersma commented on #3676
@unovip I'm not sure what the problem after restart is. We're only able to help with issues that are clearly `aks-engine` related, and it sounds like this is an AKS cluster. I suggest opening a [support ticket](https://azure.microsoft.com/support/create-ticket/) with Azure, or creating an issue at the [Azure/AKS](https://github.com/Azure/AKS) repo.

[2020-08-12 15:42] unovip commented on #3676
I don't know what is wrong.
I tried all that I found on the internet, from restarting kubelet service
to deleting the .kube and /etc/kubernetes folder, but with no use. did not
help. (folders were renamed not deleted).

Does it help if I restart all the servers one by one starting with the
masters then the workers ?

I mean my problem is only running a script against the Elastic search,
pulling th

[2020-08-12 18:12] #3661 closed

[2020-08-13 04:59] jonathanzhang02 opened #3694 "Kubernetes Master VM failed with "“OSProvisioningTimedOut""
**Describe the bug**
Master VM deployment failed with below error for 5 times during 4 hours.

[code]

**Steps To Reproduce**

Master VM template:
[code]

**Expected behavior**
VM could be provisioned without problem

**AKS Engine version**
0.44.2

**Kubernetes version**
1.16.1

**Additional context**
This could be seen as (if not part of) a follow-up of Azure ticket 120080624000337.
Please note t

[2020-08-13 21:21] jsturtevant commented on #3687
We landed on a basic model in #3688:

[code]

To do for this issue:

- [ ] Is there need for adding other configuration options (cpu/memory) to various runtime handlers
- [ ] Should we move this under the kubernetesConfig instead of having this be in WindowsProfile ([comment](https://github.com/Azure/aks-engine/pull/3688#discussion_r470093432) from @marosset)
  - The rest of the runtime settings (

[2020-08-13 21:22] #2827 closed

[2020-08-13 21:50] #3686 closed

[2020-08-13 22:21] jackfrancis commented on #3694
Hi @jonathanzhang02, how frequently (what percentage of operations fail?) do `OSProvisioningTimedOut` errors happen on master VMs during cluster provisioning (create/upgrade/scale)?

[2020-08-14 09:13] jackfrancis opened #3700 "Windows microsoft-aks VHD images not available"
**Updated:** this issue is mitigated for new cluster creates w/ the following AKS Engine versions:

- [v0.54.1](https://github.com/Azure/aks-engine/releases/tag/v0.54.1)
- [v0.53.1](https://github.com/Azure/aks-engine/releases/tag/v0.53.1)
- [v0.52.1](https://github.com/Azure/aks-engine/releases/tag/v0.52.1)
- [v0.51.1](https://github.com/Azure/aks-engine/releases/tag/v0.51.1)
- [v0.50.3](https://

[2020-08-14 17:00] marosset commented on #3687
We should add some validation too, probably in aks-engine's validate.go to make sure only valid build numbers are listed.
This could make it easier to root-cause incorrect configurations earlier.

[2020-08-14 18:22] #3677 closed

[2020-08-14 18:24] #3656 closed

[2020-08-14 23:08] Michael-Sinz commented on #3668
Interesting potential related issue:  This is a guess, but we have now seen three cluster creates fail with code 36, which is about addon manager.  This is with cluster configurations via aks-engine (api model) that is identical other than name and secrets.

Luckily, in one case we were able to log onto the master VM that failed (it was master-1) and it shows what looks like an apt-get update thin

[2020-08-15 06:34] andyzhangx commented on #3700
when aks-engine v0.54.0 will be hotfixed? our upstream pipeline all depends on this version, thanks.

[2020-08-15 15:53] jackfrancis commented on #3700
Hi @andyzhangx, v0.54.1 has been released:

https://github.com/Azure/aks-engine/releases/tag/v0.54.1

[2020-08-16 07:37] #3435 closed

[2020-08-16 07:37] #3414 closed

[2020-08-16 07:37] #3413 closed

[2020-08-16 07:37] #3429 closed

[2020-08-17 00:37] #3446 closed

[2020-08-17 07:36] amankohli opened #3720 "AKS Engine deployment through MSI"
Hi,

I am trying to deploy the AKS engine through MSI with below deployment;
AKS Engine deployment through MSI
[code]
I have tried the deployment with the above tempate and get the below error:
rror: resources.DeploymentsClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="InvalidTemplateDeployment" Message="The template deployment failed with error: 'Authorizati

[2020-08-17 11:54] jonathanzhang02 commented on #3694
Hi @jackfrancis

As you might have known that we have kubernetes version upgrade running every week and across timezones.
I have consolidated some update results :
From Aug 13  0:00 to 4:00 UTC it were 4 out of 19 that had this error on Azure West Europe region,   from Aug 13 8:00 to 12:00 UTC it were 4 out 20 on both West Eroupe and US East.
All were of such errors and it was then about 20%,   an

[2020-08-17 21:59] jackfrancis commented on #3694
It looks like you're using AKS Engine v0.44.2 to upgrade to Kubernetes v1.16.1, is that correct? If so, is there any reason not to use the latest version of AKS Engine (v0.54.1) to upgrade to Kubernetes v1.16.13?

[2020-08-18 01:18] CodeInnovator opened #3724 "Cannot regen certificates."
**Describe the bug**
Our certificates were expired about a couple of days ago so tried to regen certificate by running the command and was getting `Error: listing cluster nodes: failed to get cluster nodes: Get "https://xxxxx.cloudapp.azure.com/api/v1/nodes": x509: certificate has expired or is not yet valid: current time 2020-08-17T17:34:47-07:00 is after 2020-08-15T16:39:40Z`.
Is this supposed t

[2020-08-18 03:12] jonathanzhang02 commented on #3694
Hi @jackfrancis
Thanks for checking.
I thought that was already clarified in previous calls, but this is our current version on our production system that has been used for our migration tasks. for at least the last 2 months. We did not experienced any error during provision until from Aug 4.
There were other errors but from last week it was this error constantly.
We have higher versions of AKS En

[2020-08-18 11:37] jprecuch opened #3726 "Upgrade to 1.15.11 ends with podsecuritypolicies.extensions not found"
**Describe the bug**
I've tried to upgrade to 1.15.11 today using aks-engine 0.54.1 but master never finished full bringup. In this upgrade I want to change image to be 18.04. It ends same if I upgrade from 1.14.7 or force from 1.15.11.
It seems it ended on
[code]
**Steps To Reproduce**
Try to upgrade from 1.14.7 or 1.15.11 aks-engine (v0.48.0) to 1.15.11 using aks-engine 0.54.1.
Change image from

[2020-08-18 16:40] daschott commented on #3568
@jsturtevant IPv6 support is being backported to 2004... Tentative ETA is in October.

[2020-08-18 17:05] jackfrancis commented on #3724
Hi @CodeInnovator, there probably isn't an aks-engine-specific solution for this scenario. Your best bet to recover this cluster (existing container images should continue to run on the nodes until they exit) is to manually update the CA and certs on all master VMs and control plane VMs.

If that sounds too tedious, building a new cluster, installing workloads, and switching traffic would work, th

[2020-08-18 21:04] jsturtevant commented on #3687
There is some validation there already but should revisit if we enable other features:

https://github.com/Azure/aks-engine/blob/e74871353eb5f5bfaa5d480b949ab988a5efb62d/pkg/api/vlabs/validate.go#L1261-L1269

[2020-08-18 21:13] CecileRobertMichon commented on #3724
+1 to what @jackfrancis said above, the rotate-certs command is not expected to work in scenarios where certs have already expired: https://github.com/Azure/aks-engine/blob/master/docs/topics/certificaterotation.md#known-limitations

[2020-08-18 21:15] CecileRobertMichon commented on #3720
Hi @amankohli, it looks like the deployment error you pasted above is incomplete, can you please paste the full error? Also, any reason you're using kubernetes 1.13? That's quite old and is not supported anymore by latest AKS Engine versions. What version of AKS Engine are you using to generate the template?

[2020-08-18 21:17] CecileRobertMichon commented on #3726
@jprecuch I believe you're running into https://github.com/Azure/aks-engine/issues/3656, which should have been fixed by https://github.com/Azure/aks-engine/pull/3673

@jackfrancis @mboersma when is the above fix expected to be in a release?

[2020-08-19 05:00] jprecuch commented on #3726
@CecileRobertMichon not really. https://github.com/Azure/aks-engine/issues/3656 says that extension should be enabled and then it should work. Which we did enable but issue is different now.
[code]

[2020-08-19 20:25] CecileRobertMichon commented on #3726
@jackfrancis any ideas about the error above?

[2020-08-19 20:48] jackfrancis commented on #3726
@jprecuch, are you able to log onto one of the master VMs after a failure and report if you have the pod-security-policy spec in the `/etc/kubernetes/addons/` directory?

[2020-08-20 00:04] jackfrancis commented on #3694
Understood. One idea I have is that a newer version of AKS Engine will deliver a newer base Ubuntu OS image, which will require fewer apt updates at provisioning time. The theory being that those additional background operations are intermittently stalling the node creation.

I'm still not convinced that OSProvisioningTimedOut aren't a transient platform error, though, so please report back if the

[2020-08-20 05:04] jprecuch commented on #3726
@jackfrancis @CecileRobertMichon  This is what is inside of that directory
[code]
[code]

[2020-08-20 09:32] NaveenkumarIyappan opened #3732 "Microsoft.Azure.Extensions.CustomScript provisioning failed with error No such file or directory\ngrep: /opt/azure/containers/provision.sh"
**Describe the bug**
Deployment failed while creating vm extension for master VMs with below error.

This is to create a private kubernetes cluster on an express route vnet.

[code]

**Steps To Reproduce**

[code]
**Expected behavior**
CustomScript to run successfully on each master VMs.

**Additional context**
Master VMs and VMSS are created and can SSH to the VMs.

The below two extensions provi

[2020-08-20 14:46] amankohli commented on #3720
Hi  @CecileRobertMichon  I tried the same installation of aks engine wiht 1.15 version:

"apiVersion": "vlabs",
"properties": {
"orchestratorProfile": {
"orchestratorType": "Kubernetes",
"orchestratorRelease": "1.15",
"kubernetesConfig": {
"useManagedIdentity": true,
"userAssignedID": "testk8s",
"networkPlugin": "kubenet",
"privateCluster": {
"enabled": true
}
}
},
"masterProfile": {
"count": 1,
"

[2020-08-20 20:52] CecileRobertMichon commented on #3732
Hi @NaveenkumarIyappan, what version of aks-engine was this with? If you're able to ssh on the VM, can you please fetch the cloud init logs (/var/log/cloud-init.log and /var/log/cloud-init-output.log) and check the content of `/opt/azure/containers`?

[2020-08-20 20:56] CecileRobertMichon commented on #3720
To be clear is `"userAssignedID": "testk8s",` the actual value you are using or did you redact the resource ID?

From the docs,

```When `useManagedIdentity` is set to true, this string value indicates that user assigned identity will be the type of managed identity used for cluster nodes, and appropriate pods. If the string value of `"userAssignedID"` is a fully qualified resource ID (e.g., `"/su

[2020-08-20 23:21] NaveenkumarIyappan commented on #3732
Hi @CecileRobertMichon aks-engine is v0.54.0
[code]
I dont see either cloud-init.log or cloud-init-output.log under /var/log/
[code]
Under /opt I see only

[code]

[2020-08-20 23:40] CecileRobertMichon commented on #3732
Interesting... it looks like cloud-init didn't even run (which would explain why provision.sh is missing since cloud init is responsible for writing the file to the VM). @johnsonshi any ideas?

@NaveenkumarIyappan can you please share the content of `waagent.log`? Also, did you try to deploy again? Are you running into this consistently?

[2020-08-21 00:55] NaveenkumarIyappan commented on #3732
Here is the [waagent.log](https://github.com/Azure/aks-engine/files/5106147/waagent.log)

I didn't rerun the deployment yet. I am going to rerun with the same cluster definition and another time with distro set as ubuntu. Am wondering if this issue is because of of the rhel distro. I will keep you posted on the result.

[2020-08-21 01:24] CecileRobertMichon commented on #3732
Aah I completely missed that you were using RHEL in the master profile... AKS Engine does not support Kubernetes + RHEL (and never has), RHEL was only added for Swarm mode back when multiple orchestrators were supported for ACS. The [documentation](https://github.com/Azure/aks-engine/blob/master/docs/topics/clusterdefinitions.md#masterprofile) is up to date but I'm surprised you didn't get a valid

[2020-08-21 02:10] NaveenkumarIyappan commented on #3732
Is there an plan to support RHEL for Master Linux distributions, all our VMs are RHEL and it will be easily to manage if the clusters we are building is also RHEL.

This is the error I get when I tried with distro set as ubuntu

[code]
**Log files**
[waagent.log](https://github.com/Azure/aks-engine/files/5106388/waagent.log)
[cloud-init.log](https://github.com/Azure/aks-engine/files/5106389/cloud-

[2020-08-21 08:51] johnsonshi commented on #3732
Trawling through the aks-engine codebase, I see that exit code `99` is used by cse scripts to signal `apt_get_update` failure. The output of the `apt-get update` operation is stored in `/tmp/apt-get-update.out`. @NaveenkumarIyappan  Can you share that and we can have a look?

As your vnet has no public internet access, not having public internet access is a likely cause of why the `apt-get update`

[2020-08-21 09:27] wumingcp opened #3734 "Failed to resize OS disk"
**Describe the bug**
Currently, we use Standard_DS13_V2 as the size for our worker nodes, and we also set OS disk size to 288G in VMSS, but we find some nodes doesn't meet our expection, which means the OS disk size for some nodes is only 30G

![image](https://user-images.githubusercontent.com/11804619/90873936-7e02bc80-e3d1-11ea-9b4f-7f91a44ce84c.png)

In the Disk Management, there are unallocate

[2020-08-21 12:01] ArenHarut opened #3735 "terminationGracePeriodSeconds default value is 45 second"
We have noticed that after applying deployment kubernetes sets terminationGracePeriodSeconds default value to 45 seconds in one of the deployments, all deployments are applied without specifying terminationGracePeriodSeconds parameter and after roll out it should set default value to 30 seconds, but in only one it sets 45 seconds. Cluster is in Azure AKS version 1.15.11 enter image description her

[2020-08-22 08:56] NaveenkumarIyappan opened #3741 "coredns and autoscaler pod not running after cluster creation"
**Describe the bug**
After provisioning the cluster with master distro as `aks-ubuntu-18.04`, networkplugin as `flannel`, running `kubectl get pods -n kube-system` shows coredns and autoscaler pods not in running state.

[code]
**Steps To Reproduce**

[code]

**Expected behavior**
All pods in `kube-system` namespace should be in running state.

**AKS Engine version**
[code]

**Kubernetes version**

[2020-08-23 21:27] #3497 closed

[2020-08-23 21:27] #3501 closed

[2020-08-24 01:30] andyzhangx commented on #3315
looks like it's not related to azure file, basic image(`e2eteam/busybox:1.29`, `mcr.microsoft.com/windows/servercore/iis:20191112-windowsservercore-ltsc2019`) could not run on containerd cluster:
[code]

- my statefulset config:
[code]

 - my cluster setup config
[code]

cc @AbelHu @jsturtevant

[2020-08-24 14:45] ArenHarut commented on #3735
@mboersma sure I will move this to the repo you mentioned. Thanks

[2020-08-24 15:09] mboersma commented on #3484
It sounds like a workaround has been found, and we haven't been able to reproduce anything that points to a fix needed, so I'm going to close this issue. Please reopen it if this is still ongoing.

[2020-08-24 15:09] #3484 closed

[2020-08-24 16:18] CecileRobertMichon commented on #3732
/close

[2020-08-24 16:19] #3732 closed

[2020-08-24 16:23] CecileRobertMichon commented on #3741
@NaveenkumarIyappan I wonder if this is due to the container images missing from the VHD. Can you `kubectl describe` the pods that are not running? These are the coredns versions pre-installed in the VHD https://github.com/Azure/aks-engine/blob/master/vhd/packer/install-dependencies.sh#L262 and for autoscaler https://github.com/Azure/aks-engine/blob/master/vhd/packer/install-dependencies.sh#L237.

[2020-08-24 16:45] jackfrancis commented on #3440
@MarianZoll it was tagged by the bot due to lack of activity.

@vishiy can you enumerate the list of work items that we can do to the AKS Engine-provided omsagent addon implementation to unblock folks?

[2020-08-24 16:56] jackfrancis commented on #3726
@jprecuch thank you, I'll attempt a repro today

[2020-08-24 17:16] marosset commented on #3315
The containerd Windows release package you are using as the windowsContainerdURL is new so there might be an issue using it in aks-engine (file layout could be different, etc).

Let me check this out.

We have test passes using daily builds of containerd at https://testgrid.k8s.io/sig-windows-containerd#aks-engine-azure-windows-master-containerd that signal is good.

[2020-08-24 17:52] NaveenkumarIyappan commented on #3741
`kubectl describe pods -n kube-system coredns-56db558fb9-kwpgm` output is

[code]

Is there any post deployment work to be done when `flannel` is set as the `network plugin`  I see the doc for flannel says //TODO [https://github.com/Azure/aks-engine/tree/master/examples/networkplugin](https://github.com/Azure/aks-engine/tree/master/examples/networkplugin)

I also see these images
[code]

[2020-08-24 18:02] jackfrancis commented on #3726
O.K., I was unable to repro using the following flow:

1) create a simple 1 master, 1 node v1.14.7 cluster using aks-engine v0.48.0 w/ `pod-security-policy` addon disabled
2) upgrade to v1.15.11 using aks-engine v0.54.1, and updating the apimodel.json before running upgrade to enable the `pod-security-policy` addon

[2020-08-24 18:03] CecileRobertMichon commented on #3741
@jackfrancis does flannel require containerd? https://github.com/Azure/aks-engine/tree/master/test/e2e/test_cluster_configs/flannel

[2020-08-24 18:17] marosset commented on #3315
I ran into the same error as @andyzhangx

My logs show

[code]

I'll try adding -force flag to
https://github.com/Azure/aks-engine/blob/92892474ac1389afc04db1e215305c8ed14e48ab/parts/k8s/windowscontainerdfunc.ps1#L117
(like we do in the .zip path) and then verifying everything

/assign

[2020-08-24 19:29] jackfrancis commented on #3726
Here's the relevant CSE (CustomScriptExtension, i.e., the bootstrap script that runs on the VM)  output (in `/var/log/azure/cluster-provision.log`) that ran during my upgrade operation:

[code]

So, in other words, simply enabling the pod-security-policy addon prior to upgrading did the things we'd expect:

1) It actuallly installed the PodSecurityPolicy resources we expect
2) It engaged the CSE c

[2020-08-24 21:23] jackfrancis commented on #3694
Just to rule out CSE, I tested a deployment with an infinite loop in the CSE script. I got this error, which is different than your "OSProvisioningTimedOut":

[code]

@CecileRobertMichon do you have any any recent experience root causing "OSProvisioningTimedOut" errors? Can the CustomScriptExtension (or other AKS Engine-delivered) surface area cause these errors, or are these most likely platform

[2020-08-24 21:43] CecileRobertMichon commented on #3694
I have not seen any `OSProvisioningTimedOut` errors recently. That being said, these should not be caused by CSE as they occur a layer below (during the actual VM provisioning). Best way to get to the bottom of these is to open an Azure support ticket so the Azure Compute resource provider team can investigate.

[2020-08-24 23:13] jackfrancis commented on #3741
I believe that is correct, the (rather old) flannel implementation that ships as an AKS Engine addon expects the container runtime to be containerd. (I'm not sure exactly why that is.)

[2020-08-24 23:14] jackfrancis commented on #3735
@ArenHarut feel free to reference an AKS issue if you open one in a comment here so any other AKS users curious about the same thing can find the canonical issue if they search the AKS Engine issue queue

[2020-08-24 23:14] #3735 closed

[2020-08-25 02:54] andyzhangx commented on #3315
I just tried on latest aks-e master branch: azurefile + Windows still doesn't work w/ containerd
It looks like symbolic link on Windows does not work with containerd.  Need to narrow down.

How can I run a container with containerd, on docker, it's like
[code]

Shall I use `runhcs run` to start a containerd container? How?

 - my error logs
[code]

[2020-08-25 06:14] surajrana93 opened #3746 "Upgrade has a Timeout of 3 hrs"
**Describe the bug**
Aks Engine upgrade comes to a sudden stop  on reaching 3 hrs mark.

**Steps To Reproduce**
Run Upgrade for around 3 hrs. For me it was a cluster with 3 Masters and 20 Nodes

**Expected behavior**
The timeout should be configurable or adjusted a bit higher, as because of another issue (https://github.com/Azure/aks-engine/issues/3520) we are hitting the 3 hr limit for 20 Nodes.

[2020-08-25 07:04] andyzhangx commented on #3315
I figured out how to run a containerd container on Windows, symbolic link on Windows with containerd should work, so there that could be an issue in k8s:

[code]

filed an issue in k8s: https://github.com/kubernetes/kubernetes/issues/94213

[2020-08-25 13:03] ArenHarut commented on #3735
https://github.com/Azure/AKS/issues/1821

[2020-08-25 15:08] devigned commented on #3734
@wumingcp thank you for the awesome issue write up!

[2020-08-25 15:14] devigned commented on #3746
For most cases, 3 hrs would be much too long and would be better to fail earlier. I'd vote for making timeout configurable.

[2020-08-25 17:01] jackfrancis commented on #3746
Ref:

https://github.com/Azure/aks-engine/blob/master/pkg/operations/kubernetesupgrade/upgrader.go#L52

Consumed by the upgrade process here:

https://github.com/Azure/aks-engine/blob/master/pkg/operations/kubernetesupgrade/upgrader.go#L78

To be clear, the timeout is (as currently implemented) actually enforced twice:

- allow up to 3 hours to upgrade control plane nodes, plus:
- allow up to 3 ho

[2020-08-26 05:28] amankohli commented on #3720
@CecileRobertMichon  Thank you the MSI deployment is working  now after the service principal was made the owner of the resource group.
Can we use MSI while invoking the aks engine command?
Below are the steps we tried and didn't work:
i) az login --identity
ii) aks-engine deploy --subscription-id subid --location eastasia --api-model k8s.json    -g rg --auth-method cli
We get below error:
CloudSh

[2020-08-26 05:44] jprecuch commented on #3726
@jackfrancis Can you test this with 3 masters? I believe it has something with first master not being primary.
There are no podsecurity policies created

Is there a way how I can create these policies manually before upgrade to prevent this issue?

[2020-08-26 09:21] surajrana93 commented on #3746
@jackfrancis
Yeah. It failed around 3 hrs on the overall process.

[2020-08-26 12:31] devigned commented on #3720
@amankohli we don't currently have test using Managed Identity to provision, but I don't see why, given the proper RBAC for the identity, one could not use Managed Identities.

Can you explain a bit more about the CloudShell error and the CLI error?
- Are you seeing the error when you run `az login --identity`.
- Is the CLI error from a CloudShell instance? Is it from a provisioned VM with a Syste

[2020-08-26 12:36] devigned commented on #3746
@jackfrancis, thank you for the code references and explanation. Perhaps, that will make this issue more accessible for folks looking to contribute back the project.

@surajrana93, any interest in working on a patch? We are happy to help.

[2020-08-26 13:16] amankohli commented on #3720
@devigned  We are using user assigned identities which are attached to the VM. I don't see any error while running az login --identity. The managed identity is owner of the resource group.

[2020-08-26 13:20] devigned commented on #3720
Heads up with `az login --identity`, it will choose the first User Assigned Identity on the machine if a client ID is not specified.

Per the CLI error, is that error raised when running `aks-engine`? Just want to be clear.

[2020-08-26 13:35] devigned commented on #3720
My inclination is that the failure is coming from parsing the token returned by `az` in https://github.com/Azure/aks-engine/blob/fce292453c194c3f2848eac210e017fbbca02b72/pkg/armhelpers/azureclient.go#L90.

[2020-08-26 14:48] amankohli commented on #3720
@devigned can we add a feature request to authenticate using MSI? Below is the MS go documentation:
https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-use-vm-token#get-a-token-using-go

[2020-08-26 16:01] devigned commented on #3720
Hmm... I just created an Azure VM with a user assigned identity (role: subscription owner), which I used to create a user assigned identity enabled cluster.

[code]

Next Questions:
- What version of aks-engine are you using?
- Can you try specifying the client ID for the given user assigned identity you are attempting to use?

[2020-08-26 17:15] jackfrancis opened #3753 "Migrate all container images to MCR"
AKS Engine currently refers to these dockerhub-hosted images in VHD CI:

- microsoft/virtual-kubelet
- registry

And currently delivers these dockerhub-hosted images via addons:

- calico/typha:v3.8.0
- calico/cni:v3.8.0
- calico/node:v3.8.0
- calico/pod2daemon-flexvol:v3.8.0
- docker.io/cilium/cilium:v1.4
- docker.io/cilium/cilium-init:2018-10-16
- docker.io/cilium/operator:v1.4
- docker.io/ciliu

[2020-08-26 17:24] sozercan commented on #3753
These should be available in MCR today:

[code]

[2020-08-26 20:05] #3746 closed

[2020-08-26 20:22] jackfrancis opened #3755 "Ensure issue templates include attribution reminders"
See:

https://github.com/openservicemesh/osm/blob/main/.github/pull_request_template.md

[2020-08-26 20:27] craiglpeters commented on #2995
Are we actually going to do this? I think it makes sense to add this to cluster-api-provider-azure for sure

[2020-08-27 22:10] jackfrancis opened #3760 "Enable "docker-monitor"-like systemd service for containerd-backed nodes"
Currently we deliver a docker-specific process monitor that is implemented as a systemd service, and continually verifies the health of docker. Let's do the same for containerd.

[2020-08-27 22:16] jikuma opened #3761 "roleAssignments step for user assigned identity is not dependent on creation of user assigned indentity."
I am using aks engine version 'Version: v0.53.0'. I am using user assigned identity instead of service principal. In the template generated role assignment is not dependent on identity creation. Making template flaky.

**Steps To Reproduce**
{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorRelease": "1.18",
      "

[2020-08-28 02:30] jikuma opened #3762 "Availibility zone of virtualMachineScaleSets is specified directly in template file instead of reading from parameter file"
**Describe the bug**

The value of the availability zone in the generated template file is directly specified and does not use parameters.

**Steps To Reproduce**

Create a Kubernetes cluster specifying the availability zone.

e.g

[code]

Generate template using
[code]

Check the template resource section you and search for vmss. Check the availability zine value it will be fixed and not being re

[2020-08-28 04:22] NaveenkumarIyappan commented on #3741
Have set the containerd as like https://github.com/Azure/aks-engine/tree/master/test/e2e/test_cluster_configs/flannel and the deployment failed with these errors.

[code]
Here is my cluster config. I also tried setting `"networkPlugin":"flannel"` and got the same error.
Note: This is a no outbound vnet, hence setting '"distro":"aks-ubuntu-18.04"'

[code]

cluster-provision.log says

[code]

[2020-08-28 11:28] maxieckert-sap commented on #3600
Hi @mboersma,
unfortunately, there is no AKS Engine cluster template available any more, apart from the already attached resources.
Were you able to make any progress on this issue?

[2020-08-28 11:36] devigned commented on #3762
Hi @jikuma, thank you for opening this issue and providing a great explanation of the enhancement. Since this is a relatively superficial change to aks-engine, I've added the `good first issue` and `help wanted` tags.

[2020-08-29 21:21] manishram commented on #3762
Hey @devigned , I'd love to be assigned for resolving this issue.

[2020-08-29 21:24] manishram commented on #3762
Hey @devigned , I'd love to be assigned for this issue. But since it will be my first contribution, assistance will be appreciated. Thanks

[2020-08-29 21:42] #3173 closed

[2020-08-29 21:42] #3229 closed

[2020-08-29 21:42] #3392 closed

[2020-08-30 17:26] NaveenkumarIyappan commented on #3741
Removing `"containerRuntime":"containerd"` and installing flannel https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml after downloading and pushing its images to private ACR made the cluster to be up and running.

[2020-08-31 13:53] devigned commented on #3762
The aks-engine team would be delighted to help you contribute. Questions / discussions are easiest to chat about in https://slack.k8s.io #aks-engine-dev.

[2020-08-31 16:16] jackfrancis commented on #3762
@jikuma Hi there, just curious: what's the value of the output ARM template referring to the parameter instead of having the values directly? I agree that the current implementation is sloppy, but arguably the cleaner path forward is to just remove this unused parameter entirely. Is there any value keeping this value parameterized?

[2020-08-31 16:43] jackfrancis commented on #3762
For example, the three lines in this `if` statement can be removed:

https://github.com/Azure/aks-engine/blob/master/pkg/engine/params.go#L195

[2020-08-31 16:45] jackfrancis commented on #3741
@NaveenkumarIyappan thanks for checking back. To be clear, are you no longer using the aks-engine flannel addon? If using the official yaml spec works, we should probably consider deprecating the flannel addon altogether, as it's (1) old and (2) not actively maintained.

[2020-08-31 16:45] jikuma commented on #3762
@jackfrancis Yes there is lot of value in keeping the value in parameter. We generate a generic template and deploy the same template in every region using different parameters file. So you see if we fix the value in template file we will not be able to use same template in every region.

@manishram thanks for your help in fixing this issue. Here is my private fix, if it helps https://github.com/A

[2020-08-31 17:00] manishram commented on #3762
@jikuma Thanks, sir. That was so welcoming.

[2020-08-31 17:14] jackfrancis commented on #3762
@jikuma that makes sense!

[2020-08-31 17:35] manishram commented on #3762
![r43r3](https://user-images.githubusercontent.com/22790904/91748882-4e785f00-ebde-11ea-89e5-58e2f6e976c8.PNG)

Is it the correct format for commit message?

[2020-08-31 17:37] manishram commented on #3762
![35t4](https://user-images.githubusercontent.com/22790904/91749065-913a3700-ebde-11ea-98d6-d182f97bd56c.PNG)

@jikuma  Is it the correct format for the commit message?

[2020-08-31 18:41] NaveenkumarIyappan commented on #3741
flannel addon worked for public cluster (as its downloads the images from public domains) but while creating a private cluster with no outbound.

[2020-08-31 20:04] chewong commented on #3563
+1 @ https://upstream.jenkins.azure-containers.io/view/aks-engine/job/k8s-create-cluster-matrix-1.19/69/execution/node/644/log/?consoleFull

[2020-08-31 20:10] chewong opened #3768 ""should be able to autoscale" failed"
Test failure in https://upstream.jenkins.azure-containers.io/view/aks-engine/job/k8s-create-cluster-matrix-1.19/69/execution/node/522/log/.

[2020-09-01 06:32] amankohli commented on #3720
The issue was with the older version of azure cli which was installed on the Vm rather than Aks enginer. The above command worked after I updated az cli version on the vm.

[2020-09-01 06:32] #3720 closed

[2020-09-01 20:18] #3762 closed

[2020-09-01 20:23] chewong opened #3772 "[flake] "should be able to rotate docker logs" failed"
Test failure in https://upstream.jenkins.azure-containers.io/view/aks-engine/job/k8s-create-cluster-matrix-1.19/70/execution/node/969/log/?consoleFull

[2020-09-02 06:30] chreichert commented on #3628
@jackfrancis Any idea how to solve this problem with etcd not starting after a master node reboot?

Were still not confident to upgrade our PROD cluster with this problem active, and additionally the problem with AAD not working after upgrade to 1.17.7 (#3637)

[2020-09-02 08:22] mfabiani-av commented on #3676
I am having a similar error and in my case I believe it is caused by the Service Principal credentials being expired. I noticed this because it happened exactly 1 year after I created the cluster (using aks-engine) and according to the docs, the Service Principal credentials expire after 1 year by default.
There is a page on the Azure docs on how to reset these credentials and how to apply the cha

[2020-09-02 10:14] chreichert commented on #3628
Just installed a brand new AKS cluster, k8s version 1.18.8 with AKS-Engine 0.55.1 using our API-Model (Private cluster, 3 master nodes as availability set, 3 agent nodepools as VMSS).
Same issue here. After shutting down all 3 masters (and the scalesets) together and restarting them again, the etcd service on all three masters does not come up, shown as inactive (dead) in systemctl status.

Additi

[2020-09-02 10:27] chreichert commented on #3628
Just tried to reboot a single master instance (master-1) on this new cluster. Again, etcd does not come up on the rebooted node and shows as dead in systemctl status:

`root@k8s-master-11480702-1:~# systemctl status etcd
● etcd.service - etcd - highly-available key value store
   Loaded: loaded (/etc/systemd/system/etcd.service; enabled; vendor preset: enabled)
   Active: inactive (dead)
     Docs

[2020-09-02 16:01] jackfrancis commented on #3628
@chreichert The AAD not working starting w/ 1.17 is a known issue: https://github.com/Azure/aks-engine/issues/3637

I'll try to repro the etcd not coming up after reboot (we don't see this in our tests), though I'll exclude the AAD configuration. What else besides private cluster should I configure the cluster for?

[2020-09-02 16:21] chreichert commented on #3628
@jackfrancis I could repro it even with a brand new AKS cluster, k8s version 1.18.8 with AKS-Engine 0.55.1 using our API-Model (Private cluster, RBAC enabled, AAD enabled, network: own subnet in separate RG with kubenet plugin and calico policy, 3 master nodes as availability set, 3 agent nodepools as VMSS).

The kubernetes.json used for aks-engine generate is as follows (redacted):

[code]

[2020-09-02 16:26] jackfrancis commented on #3628
I wasn't able to repro on a private 1.17.11 cluster:

[code]

I'll build a cluster that more precisely looks like yours, except with no `aadProfile` (again, that functionality simply doesn't work right now in >= 1.17).

[2020-09-02 16:39] jackfrancis commented on #3628
I built a private cluster 1.18.8 cluster in a cluster VNET w/ calico + kubenet, it looks like this:

[code]

I'll see what happens if I reboot the master VMs.

[2020-09-02 16:53] jackfrancis commented on #3628
Confirmed that the above cluster does not repro. If you'd like to prove it definitively, you can build out a cluster w/ out the RBAC + AAD config and see if that repros or not; I strongly suspect this symptom is related to that issue.

[2020-09-02 17:26] aramase opened #3776 "single stack IPv6 fails with 18.04 ubuntu image"
**Describe the bug**
With `18.04` ubuntu image, the `systemd-resolved` uses the port `:53` on the host and is being used by default for dns. This causes the coredns pods to crash for single stack IPv6 with `bind address already in use` as coredns pods are run on hostNetwork to leverage the host routes for dns resolution.

Steps for resolution -
- Update `/etc/systemd/resolv.conf` and set `DNSStubL

[2020-09-02 17:31] jackfrancis commented on #3776
Is there a definitive api model configuration that should engage the resolution steps provided?

[2020-09-02 18:14] chreichert commented on #3628
@jackfrancis I will need some time to test that scenario, as my Azure test env is currently blocked with other tests.
I'll get back to you later this week.

[2020-09-02 18:53] aramase commented on #3776
I've added a sample api model as part of this PR - https://github.com/Azure/aks-engine/pull/3777/files. I've set the `distro: ubuntu` in the api model so users can try it out with `Ubuntu 16.04`. We can remove that after the fix is merged to aks-engine.

[2020-09-02 22:09] chewong opened #3781 "[flake] "should have stable external container networking as we recycle a bunch of pods" failed"
test failure @ https://upstream.jenkins.azure-containers.io/view/aks-engine/job/k8s-create-cluster-matrix-1.19/71/execution/node/583/log/

[2020-09-02 22:10] chewong commented on #3768
+1 @ https://upstream.jenkins.azure-containers.io/view/aks-engine/job/k8s-create-cluster-matrix-1.19/71/execution/node/891/log/

[2020-09-02 22:35] jackfrancis commented on #3637
@chreichert @damyan90 are you able to build from this PR to see if mounting the certs directory is all we need to fix?:

https://github.com/Azure/aks-engine/pull/3782

[2020-09-02 22:40] chewong opened #3783 "[flake] should be able to get nodes metrics"
test failure @ https://upstream.jenkins.azure-containers.io/view/aks-engine/job/k8s-create-cluster-matrix-1.19/71/execution/node/891/log/

[2020-09-03 06:35] chreichert commented on #3637
@jackfrancis Sorry, I am not able to build AKS-Engine binaries.
I could test, if someone can provide me with a linux-amd64 binary.

[2020-09-03 11:28] chreichert commented on #3628
@jackfrancis I doubt it has something to do with the AAD config, as it started for me with updating from 1.16.4 to 1.16.11 (with 0.53.0) or 1.16.14 (with 0.55.1) respectively. Both versions do still support AAD logins.

[2020-09-03 11:43] rolnick opened #3784 "Add ability to set "storage-opts" : [ "size=XX" ] in windows daemon.json"
Hi,

We are moving our compilation servers from bare metal to AKS clusters with windows machines.
We have big project, which for compilation needs at least 40 GB of space.
By default, docker for windows has "storage-opts" : [ "size=20" ]  = 20GB.
We do not need volumes, or i can say volumes are very slow on windows.

It would be nice to have this feature as some parameter.

Is there maybe other wa

[2020-09-03 16:31] chewong commented on #3637
@chreichert I helped you build a binary based on #3782 to test - [aks-engine-d02d8be6d5-linux-amd64.tar.gz](https://github.com/Azure/aks-engine/files/5169940/aks-engine-d02d8be6d5-linux-amd64.tar.gz)

[2020-09-03 16:41] chewong commented on #3784
Hi @rolnick, as far as I know, I don't think there is an option in aks-engine to customize daemon.json. However, I think you could edit it by ssh-ing into your WIndows nodes and restart the docker service.

[2020-09-03 18:24] chewong commented on #3563
+1 @ https://upstream.jenkins.azure-containers.io/view/aks-engine/job/k8s-create-cluster-matrix-1.16/634/execution/node/692/log/

[2020-09-03 18:25] chewong opened #3785 "[flake] "should have resilient kubelet and docker systemd services" failed"
test failure @ https://upstream.jenkins.azure-containers.io/view/aks-engine/job/k8s-create-cluster-matrix-1.17/505/execution/node/658/log/

[2020-09-03 18:25] chewong commented on #3785
+1 @ https://upstream.jenkins.azure-containers.io/view/aks-engine/job/k8s-create-cluster-matrix-1.17/505/execution/node/815/log/

[2020-09-03 18:26] chewong commented on #3785
+1 @ https://upstream.jenkins.azure-containers.io/view/aks-engine/job/k8s-create-cluster-matrix-1.17/505/execution/node/785/log/

[2020-09-03 18:26] chewong commented on #3785
+1 @ https://upstream.jenkins.azure-containers.io/view/aks-engine/job/k8s-create-cluster-matrix-1.18/358/execution/node/856/log/

[2020-09-03 18:37] jadarsie opened #3786 "Secrets store addon pulling from custom clouds"
**Describe the request**

The `secrets-store-csi-driver` addon needs access to the custom cloud environment json in order to pull Key Vault secrets stored on custom clouds.

This file is currently unreachable to the addon as AKS Engine drops the json file in path `/etc/kubernetes/azurestackcloud.json` (see [current addon volumes](https://github.com/Azure/aks-engine/blob/v0.55.0/parts/k8s/addons/se

[2020-09-03 18:47] jackfrancis commented on #3786
I prefer option 1: adding the additional mount

[2020-09-03 18:51] aramase commented on #3786
+1 for just mounting `/etc/kubernetes` in the driver instead of `/etc/kubernetes/secrets-store-csi-providers`

[2020-09-03 19:13] rolnick commented on #3784
Hi,
Will this change be applied to new node, which will be created with autoscaling?

[2020-09-03 22:26] craiglpeters commented on #2281
@marosset did you get any update on the drivers? cc: @immuzz

[2020-09-03 22:31] marosset commented on #2281
I have not. @daschott do you know when new Mellanox drivers will be available in the Azure marketplace images?

[2020-09-03 22:31] craiglpeters commented on #3784
No it would not.

Can you confirm if this is an aks-engine cluster, or an AKS (the managed service) cluster?

[2020-09-03 22:36] jackfrancis commented on #3761
Hi @jikuma, are we sure we aren't running into the fact that aks-engine allows you to create a user assigned identity on the fly?

[2020-09-03 22:41] jackfrancis commented on #3724
@CodeInnovator were you able to manually remediate?

[2020-09-03 22:43] jackfrancis commented on #3700
Patch releases have been provided .

[2020-09-03 22:43] #3700 closed

[2020-09-03 22:48] mboersma commented on #3680
@sylr why is `apt-get dist-upgrade` being run at first startup? That's not something we'd expect, and updating from one Ubuntu distro to another is likely to cause problems.

[2020-09-03 22:48] craiglpeters commented on #3668
I think this is closed thanks to PR 3721

[2020-09-03 22:48] #3668 closed

[2020-09-03 22:50] craiglpeters commented on #3665
@satishsudini is this still an issue for you?

[2020-09-03 22:55] mboersma commented on #3676
@mfabiani-av there isn't for AKS Engine, unfortunately.

[2020-09-03 23:18] craiglpeters commented on #3632
@marosset believes that this is likely due to some configuration differences between the versions of aks-engine, and not the Kubernetes versions. I'll let him comment with the details

[2020-09-04 01:24] marosset commented on #3632
This change went into aks-engine v.049.0 which added windows defender exclusions for kubelet and addressed issues where Windows containers were very slow to start.
https://github.com/Azure/aks-engine/commit/54c975605347ff07b8a65fb786aa5eab58050400

Since it looks like you were seeing a slow down with aks-engine v0.47.0 and not seeing the same slow down with aks-engine v0.53.0 I think it was very l

[2020-09-04 04:13] nboeckmann opened #3789 "OutBoundNAT ExceptionList is only populated with the first entry from the list of Address Spaces of the VNET of the cluster"
In situations where there are multiple address ranges defined for a VNET there's only the first CIDR taken into the OutBoundNAT exclusion list on Windows Nodes preventing the network communication with services that are in network ranges that are outside of the first CIDR exposed in pods running on the windows node pool.

*Workaround for two CIDR*
Have the CIDR that is not used as the node pool ra

[2020-09-04 05:01] rolnick commented on #3784
It's AKS unfortunately. Looks i need to search for help on AKS project.

[2020-09-04 08:10] chreichert commented on #3637
@jackfrancis Just tested an upgrade from 1.16.14 to 1.17.11 with this PR version. The error is still occuring.

Found the following in the apiserver log:
[code]
and:

[code]

thanks @chewong for providing the binary.

[2020-09-04 10:26] msaurabhee commented on #3637
I tested with AKS engine 0.54.1 with Kubernetes 1.18.6 Issue exists.

[2020-09-04 10:32] msaurabhee commented on #3637
Any way to bypass this manually?

[2020-09-04 12:32] dbrennand opened #3791 "Azure Stack Hub - AKS Engine - AKS Base Ubuntu 16.04-LTS Image Distro, August 2020 - SKU Issue"
**Describe the bug**

With the new supported release of [AKS engine v0.55.0](https://github.com/Azure/aks-engine/blob/master/docs/topics/azure-stack.md#supported-aks-engine-versions). When attempting to deploy a Kubernetes cluster version 1.17.11 using AKS engine CLI version 0.55.0, the following error occurs:

[code]

**Steps To Reproduce**

AKS engine deploy:
[code]

API profile used attached. [

[2020-09-04 12:54] chreichert commented on #3628
@jackfrancis Just did a test with our apimodel with removed AAD and RBAC setting. The problem could be reproduced. When I shut down all agent VMSS and master VMs (using the Azure portal) and then restart the master VMs and agent VMSS (also in the portal), the masters come up with etcd service dead.

Here the exact model I used for aks-engine generate (redacted):

[code]

Cluster is deployed in Nor

[2020-09-04 16:01] chewong commented on #3791
@jadarsie could you help take a look?

[2020-09-04 16:13] craiglpeters commented on #3694
@jonathanzhang02 please reopen this issue if you observe this problem again. You can reach out to me directly on the [aks-engine-dev slack](https://kubernetes.slack.com/archives/CU3N85WJK) and tag craiglpeters so we can dig in right away

[2020-09-04 16:13] #3694 closed

[2020-09-04 16:14] CecileRobertMichon commented on #3789
@nboeckmann are you using AKS or AKS Engine?

For AKS, please file an issue at https://github.com/Azure/AKS/issues

[2020-09-04 16:36] CecileRobertMichon commented on #3789
@AbelHu can you please take a look?

[2020-09-04 17:48] nboeckmann commented on #3789
I'm on AKS. I'll log a bug there. Sorry!

[2020-09-04 20:18] chewong commented on #3783
+1 @ https://upstream.jenkins.azure-containers.io/view/aks-engine/job/k8s-create-cluster-matrix-1.19/73/execution/node/1008/log/

[2020-09-04 20:18] chewong commented on #3563
+1 @ https://github.com/Azure/aks-engine/issues?q=should+be+able+to+resolve+DNS+across+windows+and+linux+deployments

[2020-09-04 20:19] chewong commented on #3772
+1 @ https://upstream.jenkins.azure-containers.io/view/aks-engine/job/k8s-create-cluster-matrix-1.19/73/execution/node/523/log/

[2020-09-05 08:11] TonyDou opened #3796 "Ipv6 is not working when using kubenet + iptables dualstack"
**Describe the bug**
Can't connect loadbalancer service with ipv6. Connection will timeout.

**Steps To Reproduce**

aks-engine version: v0.55.4
[code]
**Expected behavior**
Both ipv4 and Ipv6 Ip address should be able to connect and call through.

**AKS Engine version**
v0.55.1

**Kubernetes version**
1.18

**Additional context**
If change kubeproxy to ipvs it will work for both ipv4 and ipv6.

[2020-09-05 20:58] #3543 closed

[2020-09-07 06:19] valakhin opened #3797 "Aksengine deploy command, generates same public IP resource name on every deployment"
On every run, aksengine generates same Azure public IP resource on a resource group.

**Steps To Reproduce**
I am trying to create second Kubernetes cluster with ASK engine on same resource group.  The aksengine deploy command  trying to create public IP for agent pool with same name as in the previous deployment.

"Resource /subscriptions/{subid}/resourceGroups/myRG/providers/Microsoft.Network/lo

[2020-09-07 12:41] dennis-benzinger-hybris commented on #3494
By now the Azure Java SDK exposes the `outputResources` on an ARM `deployment`:
Azure/azure-libraries-for-java#1209

So from our perspective this workaround can skipped.

[2020-09-08 03:09] AbelHu commented on #3789
@nboeckmann vnetCidr in aks-engine is not an array so only the first cidr is used. This should be changed to support multiple cidrs.

[2020-09-08 09:13] dbrennand commented on #3791
Hey guys, the image 2020.08.24 (August 2020) is no longer available to add from Azure to the Azure Stack Hub marketplace.

[2020-09-08 16:53] jackfrancis commented on #3042
Can anyone still unable to solve this try with this new release of AKS Engine:

https://github.com/Azure/aks-engine/releases/tag/v0.55.2

The above includes a change that mounts the k8s certs directory in the apiserver container.

[2020-09-08 16:53] jackfrancis commented on #3637
Can anyone still unable to solve this try with this new release of AKS Engine:

https://github.com/Azure/aks-engine/releases/tag/v0.55.2

The above includes a change that mounts the k8s certs directory in the apiserver container.

[2020-09-08 17:03] JesusAlvarezTorres commented on #3791
@dbrennand I have a couple of follow up questions. 1. Which Azure region is your Azure Stack stamp connected to? and 2. When did you attempt to download the image?

We had an issue in the publishing of the August 2020 image where it was published with the wrong sku (the aks-ubuntu-1604-201909 sku which you mentioned above); last week we took that wrong image down and republished with the correct s

[2020-09-08 23:22] aramase commented on #3796
@TonyDou If this works fine for `ipvs` proxy mode but not `iptables`, then this could be an issue in Kubernetes upstream. Can you confirm if the endpoints for the service are populated correctly? Also, could you attach a snapshot of `ip6tables-save`?

[2020-09-09 00:43] #3637 closed

[2020-09-09 08:23] dbrennand commented on #3791
Thanks for the response @JesusAlvarezTorres

1. I assume you are referring to Azure, Azure Gov or Azure China clouds. If so, Azure is the region our stamp is connected to.
2. We downloaded the image on the 1st September.

[2020-09-09 11:25] chreichert commented on #3637
@jackfrancis I just tested a clean install of k8s 1.17.11 with AKS-Engine v0.55.3. The problem is still occuring, unless the error in the Apiserver log is now different:

[code]

[2020-09-09 11:46] chreichert commented on #3637
@jackfrancis Got it working now. I cleaned up my kubectl config and did a clean login, which fixed it for me now.
Thanks again for your help.

[2020-09-09 15:21] Michael-Sinz opened #3807 "Cloud-init and etcd.server mount requires cause a race in systemd and failure to start"
**Describe the bug**
Short story:  etcd on masters will fail to start on our clusters if the master is "az vm deallocate" then "az vm start" to restart it.

Longer story:  during a hard reboot (such as the vm deallocate/start - note this is not a re-imaging), the systemd dependency system gets confused due to some race with cloud-init and the mounting of the /var/lib/etcddisk volume.  This causes

[2020-09-09 15:38] Michael-Sinz commented on #3807
Note that only #1 and #2 changes are absolutely needed - in fact, our tests show that these are all that was needed for reliable operation but it is "scary" in that it is not semantically the same, just operationally sufficient.  With changes #3 and #4 we get to be not just operationally sufficient but semantically equivalent.  I could say the same but it is not quite the same - there are some sub

[2020-09-09 17:22] jackfrancis commented on #3042
This has been fixed w/ #3800

[2020-09-09 17:22] #3042 closed

[2020-09-09 17:23] jackfrancis commented on #3637
#3800 was the ultimate fix. This release has it:

https://github.com/Azure/aks-engine/releases/tag/v0.55.3

[2020-09-09 17:24] jackfrancis commented on #3042
This is the release you need to get the fix:

https://github.com/Azure/aks-engine/releases/tag/v0.55.3

[2020-09-09 17:35] mboersma opened #3810 "Virtual-kubelet should be pinned to a release, not `:latest`"
**Describe the bug**

See https://github.com/Azure/aks-engine/pull/3803#discussion_r485268096

**Steps To Reproduce**

**Expected behavior**

**AKS Engine version**

**Kubernetes version**

**Additional context**

[2020-09-09 19:07] JesusAlvarezTorres commented on #3791
Thanks @dbrennand, the image was undergoing validation, it was published earlier today. It should be available for download shortly; please give it a try and let us know if the image is still missing from the marketplace. Also, as mentioned earlier, please delete the image you downloaded on September 1st to avoid having conflicts.

[2020-09-09 21:44] #3786 closed

[2020-09-10 13:34] chreichert commented on #3628
@jackfrancis Could this, and #3807 be related?

[2020-09-10 13:56] marcoboffi commented on #411
When I upgrade k8s version of an AKS nodepool, does upgrade procedure modify value of this tag?

[2020-09-10 14:59] hannesg commented on #2737
This issue is very annoying because e.g. Datadog doesn't work out of the box. Please reconsider this bug.

[2020-09-10 15:38] Michael-Sinz commented on #3628
I don't know for sure but with some more details, it could be.  We found that it matters how the nodes are restarted and what parts of cloud-init run due to the mechanism of restart.  A simple "soft" reboot (initiated by the OS itself), it tends to not have this problem, but a harder reboot via Azure where we end up causing more cloud-init operations (specifically to the point where it triggers th

[2020-09-10 18:02] CecileRobertMichon opened #3814 "Update to newer GPU driver version"
The current NVIDIA driver version is 418 with Ubuntu 18.04 and the latest version from NVIDIA is 450. 418 doesn't support a lot of current frameworks, like pytorch. Also needed to support CUDA.

[2020-09-10 18:10] CecileRobertMichon commented on #3814
This is where the GPU drivers are installed:
https://github.com/Azure/aks-engine/blob/87e89f67d2b261765e82ea5d68cc9988faa1b5fe/parts/k8s/cloud-init/artifacts/cse_install.sh#L69

And this is where the version is set:
https://github.com/Azure/aks-engine/blob/87e89f67d2b261765e82ea5d68cc9988faa1b5fe/parts/k8s/cloud-init/artifacts/cse_helpers.sh#L16

[2020-09-10 19:47] #3807 closed

[2020-09-10 19:59] Nishikoh commented on #3814
@CecileRobertMichon  I'd like to tackle that.  Is the updated value 450.66?

[2020-09-10 22:06] #3810 closed

[2020-09-11 08:45] dbrennand commented on #3791
Hi @JesusAlvarezTorres

We have got the image and was able to depoy the cluster. However, are having a number of issues. Will be raising an issue soon.

[2020-09-11 08:45] #3791 closed

[2020-09-11 10:19] dbrennand opened #3817 "AKS engine v0.55.0 Azure Stack Hub - k8s versions 1.16.14 and 1.17.11 disk issues"
**Describe the bug**
When deploying a new k8s cluster version 1.17.11 and 1.16.14 using AKS engine version 0.55.0 we are experiencing an issue where disks are not detaching from node(s) when they are no longer in use.

When deleting a k8s deployment the disks in ARM are not detaching. Inspecting the activity logs for the Kubernetes cluster resource group there are `Write VirtualMachine` errors:
![

[2020-09-11 18:43] aramase opened #3819 "upgradeWindowsVHD causes non windows upgrade commands to fail"
**Describe the bug**

`upgradeWindowsVHD` was added as part of this PR - https://github.com/Azure/aks-engine/pull/3774. This doesn't check if the windows profile exists before accessing it which causes upgrade commands to panic and fail.

[code]

**Steps To Reproduce**

**Expected behavior**

**AKS Engine version**
master

**Kubernetes version**

**Additional context**

[2020-09-11 19:13] CecileRobertMichon commented on #3814
@Nishikoh looking at https://docs.nvidia.com/datacenter/tesla/index.html, looks like 450.51.06 is the latest available for Linux. Where did you see 450.66?

[2020-09-11 19:50] Nishikoh commented on #3814
@CecileRobertMichon  I watched [here](https://www.nvidia.com/Download/driverResults.aspx/163238/en-us). 450.66 is not Data Center GPU Drivers. It's DISPLAY DRIVER.

[2020-09-11 20:51] CecileRobertMichon commented on #3814
Got it. I think we want `450.51.06` then.

[2020-09-11 21:57] jiaxunsongucb commented on #3817
**Root Cause:**
The API version AKS Engine uses is newer than the version ARM is using on Azure Stack Hub, which does not have the "toBeDetached" property in the disk detach request. As a result, the disk detach operation cannot be fulfilled, which causes Persistent Volume delete failure.

**Mitigation:**
If one Persistent Volume cannot be deleted, please follow the below steps to manually detach

[2020-09-14 17:24] #3814 closed

[2020-09-14 17:26] #3819 closed

[2020-09-14 18:20] jikuma opened #3823 "variable provisionScriptParametersCommon in template file has hardcoded vnet reference and does not read from parameter."
**Describe the bug**

Create azure template and parameter file for kubernetes cluster inside vnet. The template file generated will have variable provisionScriptParametersCommon which does not read vnet value from paramter file

"provisionScriptParametersCommon": "[concat('ADMINUSER=azureuser APISERVER_PUBLIC_KEY=',parameters('apiServerCertificate'),' AUTHENTICATION_METHOD=client_secret CLOUDPROVI

[2020-09-14 20:37] TonyDou commented on #3796
Hi @aramase, here is the output  for the service. I can call the service with Cluster-IP (fd00::fec8) in one of the pods. Connection can't be created with the ipv6 **Public IP.**
tony@Home:~/aks$ kubectl get svc
NAME         TYPE           CLUSTER-IP   EXTERNAL-IP           PORT(S)        AGE
kubernetes   ClusterIP      10.0.0.1     <none>                443/TCP        8d
nginx-ipv4   LoadBalancer

[2020-09-15 08:57] damyan90 commented on #3637
The AAD integration works for me too. Thanks!

[2020-09-15 17:10] jackfrancis opened #3825 "aad-pod-identity failed nmi pods"
Describing one of the pods:

[code]

On a cluster using this api model:

{   "apiVersion": "vlabs",   "properties": {     "orchestratorProfile": {       "orchestratorType": "Kubernetes",       "kubernetesConfig": {         "clusterSubnet": "10.239.0.0/16",         "addons": [           {             "name": "aad-pod-identity",             "enabled": true                       }, { 							"name": "

[2020-09-15 17:36] jackfrancis commented on #3825
cc @aramase

[2020-09-15 20:27] aramase commented on #3825
It looks like kubelet failed to mount the service accounts in the volume for the pod -

[code]

[2020-09-16 02:05] kshke commented on #1711
Hi Team

Do we support dedicated hosts now？

[2020-09-16 16:15] jackfrancis commented on #1711
Hi @kshke, no, it's not implemented yet.

[2020-09-16 18:39] #3755 closed

[2020-09-16 20:17] consideRatio commented on #3252
@alexeldeib I found my way here by googling for an issue that seems to be the same as you experience. What was the user error?

[2020-09-16 22:00] alexeldeib commented on #3252
I was doing development work at the time and mixed up my builds (the repro details above aren’t correct) — I can’t recall the specific issue unfortunately. I’d suggest opening a fresh issue if you have a repro if something like this with the details.

[2020-09-16 22:34] consideRatio commented on #3252
Okay thank you @alexeldeib!

[2020-09-17 07:37] amankohli opened #3838 "Unable to mount a volume on VMSS"
Unable to attach the volume to VMSS node. During upgrade using aks-engine v0.54.1 upgrading a cluster from 1.15.11 to 1.15.12:Controller Manager logs show disk attach is failing and causing the azure RP to throttle:

I0917 03:48:27.3403511attacher.go:89] Attach volume "/subscriptions/2f495c46-73b1-463c-ae90-dae28e3880ef/resourceGroups/anf.dc.mgmt.eastus2euap.rg/providers/Microsoft.Compute/disks/k8

[2020-09-17 15:53] jsturtevant commented on #3838
Can you do a describe on a pod that is failing with the disk attach?

[code]

Looks similar to some of the output in https://github.com/kubernetes/kubernetes/pull/90749 and https://github.com/kubernetes/kubernetes/pull/81266

@andyzhang any thoughts? It seems the volume is not being cleaned properly.

[2020-09-17 18:15] kebeckwith commented on #3838
Thanks @jsturtevant , I work with the original bug poster.

Here is an example of a pod description:

`Name:           sde-prometheus-server-0
Namespace:      default
Priority:       0
Node:           k8s-node-11577350-vmss00001o/10.5.0.42
Start Time:     Wed, 09 Sep 2020 16:55:52 +0000
Labels:         app=sde-prometheus
                chart=sde-prometheus-0.11.1
                component=sde-pro

[2020-09-17 19:54] kebeckwith commented on #3838
Also, I see the fix for this is in 1.15.4, we are just now upgrading to 1.15.12 so we are a little ways from that. Is there anything we can do manually to get the disks cleaned up to unblock us here? Any way we can manually detach the "dangling" disks to fix the state of the cluster?

[2020-09-17 21:12] jackfrancis commented on #3838
@andyzhangx is it safe to perform this manual operation for every dangling disk that is still detached?

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/detach-disk#detach-a-data-disk-using-azure-cli

[2020-09-17 21:20] jsturtevant commented on #3838
it looks like https://github.com/kubernetes/kubernetes/pull/90749 did not make it into 1.15 because it is out of support: https://github.com/kubernetes/kubernetes/pull/90800

[2020-09-17 21:24] kebeckwith commented on #3838
@jackfrancis and @jsturtevant Thank you both for your responses. I did end up going ahead and taking down the kube-controller-manager pods and working through the logs to find all mentions of dangling disks and manually detaching them from their respective nodes. This actually mitigated the issue to allow kube-controller-manager to do it's thing and attach the disks where they needed to go and all

[2020-09-17 21:32] jackfrancis commented on #3838
@kebeckwith Thank you so much for reporting back and sharing your mitigation steps to help other users! :)

[2020-09-17 22:30] jackfrancis commented on #3440
ping @vishiy, can you comment if this is not something you'll be able to take on? If so, we can probably close it so customers understand that it's not being prioritized.

Thanks!

[2020-09-17 22:33] jackfrancis commented on #3734
Hi @wumingcp, thanks for your patience. It sounds like you modified the OS disk configuration on the VMSS directly. @marosset does that sound like something that would confuse the powershell bootstrap scripts when VMSS scale events happen subsequently?

[2020-09-17 22:36] jackfrancis commented on #2764
Will test and close if validated, thanks!

[2020-09-17 22:40] jackfrancis opened #3844 "get rid of unnecessary `kubernetes` prefix vars/consts/funcs/etc"

[2020-09-17 22:40] #3844 closed

[2020-09-17 22:50] jackfrancis commented on #2311
I assume this is still desired? Are folks working around the limitations of creating a 0 node pool in AKS Engine by configuring cluster-autoscaler w/ a min_nodes: 0 setting?

[2020-09-17 22:50] jackfrancis commented on #3105
@aramase Do you think we can close this issue, or has sufficient additional documentation been added over the past few months?

[2020-09-17 22:51] jackfrancis commented on #3106
@aramase has this surface area stabilized? If so, I think we should prioritize this work item so that AKS Engine has the appropriate test coverage.

[2020-09-17 22:56] jackfrancis commented on #2853
I think we shouldn't actually do this. systemd kubelet can report temporary "all good" signal during thrashing, so I think `cluster-info` is in fact a better signal.

[2020-09-17 22:56] #2853 closed

[2020-09-17 22:59] jackfrancis commented on #940
I will test to see if this is still an issue.

[2020-09-17 23:14] marosset commented on #3734
@wumingcp can you confirm if the 288Gb size is set manually through ARM api calls/azure portal or if it is getting set with [agentProfile](https://github.com/Azure/aks-engine/blob/master/docs/topics/clusterdefinitions.md#agentpoolprofiles).osDiskSizeGB

Also can you guess how often this is happening?
I have not encountered the errors you are describing before.

[2020-09-18 02:47] wumingcp commented on #3734
@marosset We don't set the "agentProfile.osDiskSizeGB", but we set "storageProfile.osDisk.diskSizeGB" to 288G

And this issue will happen for each week because we scale frequently

For now, we can workaround this issue to re-run the function `Resize-OSDrive` after restarting, and it will wrok fine for the second run

[2020-09-18 03:16] andyzhangx commented on #3838
here is the dangling error fix on VMSS
   - [fix: azure disk dangling attach issue on VMSS which would cause API throttling](https://github.com/kubernetes/kubernetes/pull/90749)

| k8s version | fixed version |
| ---- | ---- |
| v1.14 | only hotfixed with image `mcr.microsoft.com/oss/kubernetes/hyperkube:v1.14.8-hotfix.20200529.1` |
| v1.15 | only hotfixed with image `mcr.microsoft.com/oss/kuberne

[2020-09-18 03:22] andyzhangx commented on #3817
I made this `toBeDetached` change: https://github.com/kubernetes/kubernetes/pull/91948, so what's the next step to fix this issue permanently, there are a few options:
 - Azure stack supports `toBeDetached`
 - not use `toBeDetached` in Azure disk CSI driver, there is a issue to track this:
https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/445#issuecomment-659947517

Looks like we need t

[2020-09-18 03:56] andyzhangx commented on #3817
Looks like we also need fix this issue on in-tree azure disk driver, it's now broken on Azure Stack too.
We sometimes use new features, while that new feature may break on some regions or cloud.
cc @VybavaRamadoss

[2020-09-18 10:19] andyzhangx commented on #3817
would be fixed by https://github.com/kubernetes/kubernetes/pull/94885

[2020-09-18 16:12] jackfrancis commented on #2764
It looks like Windows + containerd is not supported. @ganga1980 does that sound right to you? Is the Windows support for container monitoring still moby-only?

[2020-09-18 16:14] jackfrancis commented on #940
Still an issue

[2020-09-18 16:27] jadarsie commented on #3817
Thx @andyzhangx.dbrennand

[2020-09-18 17:23] jackfrancis commented on #2764
Thanks for the response, I'll retest and conditionally close this issue after that release lands in AKS Engine. Thanks!

[2020-09-20 03:17] #2621 closed

[2020-09-20 03:17] #3520 closed

[2020-09-21 02:22] andyzhangx commented on #461
- Only one failure now on AKS 1.18.4:
[code]

There is a work item about cert rotation to fix the ` --rotate-certificates` failure, it won't be soon

[2020-09-21 08:04] TonyDou commented on #3796
I checked cluster-info dump. There are lots of KUBE-MARK-DROP related errors.
[code]

And there's no rule for the Loadbalancer IP found in the ip6tables-save result. A similar IPv4 rule should exist in IPv6 table as following.
[code]

[2020-09-21 10:32] tommyJimmy87 commented on #2672
@jackfrancis Do you have any news on this? Thanks.

[2020-09-21 16:24] aramase commented on #3105
@jackfrancis We have started docs for dualstack and IPv6. We can close this issue.

[2020-09-21 16:25] #3105 closed

[2020-09-21 16:25] aramase commented on #3106
@jackfrancis Nothing much has changed since this issue was opened. IPv6 is still in beta and dualstack is in alpha.

[2020-09-21 16:27] jackfrancis commented on #3106
Cool, I'll work with you to get some prototype E2E jobs defined so we can have basic coverage and be ready when things graduate beyond alpha/beta.

[2020-09-21 18:47] CecileRobertMichon commented on #3823
@jikuma are you seeing a difference in value between the vnetName parameter and the vnetName provisioning script env variable? They should both be set from the same value, ie. `strings.Split(p.MasterProfile.VnetSubnetID, "/")[DefaultVnetNameResourceSegmentIndex]` for custom vnets, and `p.K8sOrchestratorName() + "-vnet-" + p.GetClusterID()` for non custom vnets:

https://github.com/Azure/aks-engine

[2020-09-22 02:12] TonyDou opened #3854 "Set backend port for Azure load balancer rules."
**Describe the request**
In a specific scenario, the destination IP of the packet forwarded by Azure Standard Load balancer is the backend VM's private IP, not the public IP configured in Azure Standard Load Balancer.
Because nobody is listening on port 80 for the VM's Private IP, all traffic to the public IP in the Azure SLB is refused. But the node port with the VM's private IP is working.

![im

[2020-09-22 11:38] sharan-v commented on #3655
Hi @jackfrancis, Its actually aks-engine on ubuntu 16.

[2020-09-22 23:04] jikuma commented on #3823
@CecileRobertMichon Thanks for your reply. Let me first explain you mu scenario. We use aks engine to generate azure template and parameters files. Our initial assumption was that if we can deploy multiple cluster using same template and changing parameters in a parameter file.

But due to these random hardcode values present in between a value or custom data makes it making this scenario hard to

[2020-09-22 23:27] CecileRobertMichon commented on #3823
@jikuma understood. Unfortunately, AKS Engine generated templates are not designed to be reused for multiple clusters as all things that need to change are not parametrized. We expect users to generate an ARM template for each cluster deployment, or just use `aks-engine deploy` directly (basically the two ways described in https://github.com/Azure/aks-engine/blob/master/docs/tutorials/quickstart.m

[2020-09-23 00:37] panchul opened #3858 "Azure stack deployment template update"
**Describe the request**
I am requesting to add apiServer information to the sample deployment .json for istio-sytem, `examples/azure-stack/kubernetes-azurestack.json` . I propose to  the following would go to "properties">"orchestratorProfile">"kubernetesConfig":

[code]

[2020-09-23 08:42] kiss-less commented on #2737
@hannesg we are facing exactly the same problem with Datadog, but our AKS cluster with self-signed kubelet certificates is already up and running. Could you please clarify how did you resolve the problem? Is it mandatory to re-deploy the cluster with the kubelet-certificate-authority flag, or it can be changed on the fly somehow? Thanks in advance!

[2020-09-23 13:24] 0hlov3 opened #3859 "The customSearchDomain is not functional"
**Describe the bug**
I have the problem that I would like to use a custom DNS, so I enter the variables as desired

[code]

I get the fallowing error from the log:

+ grep -Fq '#EOF' /opt/azure/containers/setup-custom-search-domains.sh
+ '[' 3600 -eq 3600 ']'
+ return 1
+ exit 6

This is caused by the ./provision_source.sh:wait_for_file()
[code]

The script assumes that the script [parts/k8s/cloud

[2020-09-23 16:30] jackfrancis opened #3863 "system-assigned identity broken in multiple node pools w/ common VNET scenario"
**Describe the bug**

If you're running a cluster configuration that includes the following:

1) multiple node pools
2) bring your own VNET
3) at least 2 of the node pools share the same VNET

Then you can't use system-assigned identity for authenticating to Azure, because there is foo in the code base that creates a per-master VM --> VNET role assignment *per node pool*. That foo assumes that eac

[2020-09-23 21:02] #3859 closed

[2020-09-23 21:16] CecileRobertMichon commented on #3858
/assign @jadarsie

[2020-09-23 21:16] CecileRobertMichon commented on #3854
/help

[2020-09-24 00:01] davidbIQ commented on #2672
same question for me, I could edit this until a day or 2 ago?