[2019-07-09 00:27] #1550 closed

[2019-07-09 01:03] PacoGuy commented on #1580
Just FYI @CecileRobertMichon I just used v0.38.0 to launch an AvailabilitySet node to create a new image from it and the key has not been updated in the image:
[code]
To make matters worse, when I use that image to launch a VMSS the VMSS does not register with the master nodes despite the deployment showing a success state. I'll open a ticket for that now.

[2019-07-09 01:07] PacoGuy commented on #1580
For reference I ended up here because of the exact same issue as the original poster with v0.34.0 and 1.13.5 which had been previously working.
Also the log above is from:
[code]

[2019-07-09 01:35] msbecker commented on #1550
@PatrickLang  That did the trick. Upgraded to v38. Windows nodes now join the cluster without me having to update the parameters file with the vnetCidr value.

[2019-07-09 08:01] mohatb commented on #1577
Hello Team - any update ?

[2019-07-09 08:49] tumluliu commented on #1580
@CecileRobertMichon many thanks for your investigating. But I still got the same error from my side with aks-engine *0.38.0*, k8s *1.15.0* and distro *aks-ubuntu-18.04*. The logs from `/var/log/azure/cluster-provision.log`:
[code]

[2019-07-09 08:51] mo-saeed commented on #1580
It seems it's really can't be reproduced all the time, sometimes this key works and sometimes not.

[2019-07-09 11:57] gionapaolini opened #1593 "Standard_NC6_Promo size not in the allowed VM size list when deploying."
**Describe the bug**

[code]

**Steps To Reproduce**
[code]

Kubernetes.json:

[code]

**Expected behavior**
Successfully deploy the cluster

**AKS Engine version**
v0.38.0

**Additional context**

[2019-07-09 14:11] gionapaolini commented on #1593
For now my solution was to use the Standard size and then resize after deployment.

[2019-07-09 14:29] davis-x commented on #1580
Just started getting this too
[code]

[2019-07-09 14:36] tumluliu commented on #1580
[Update]: it works now from my side with **0.38.0** aks-engine, **1.15.0** k8s and **aks-ubuntu-18.04** distro. Previously, I was using the templates generated by 0.37.4. That's the reason to the failure. Sorry about this stupid error. But I will drop everything and try again. Will report soon..

[2019-07-09 14:50] tumluliu commented on #1580
I can confirm that **0.38.0** works with no such issue for me

[2019-07-09 15:58] #1585 closed

[2019-07-09 16:46] CecileRobertMichon commented on #1580
The mirrors have not yet been updated: https://download.opensuse.org/repositories/home:/clearcontainers:/clear-containers-3/xUbuntu_16.04/ still shows a different key from http://download.opensuse.org/repositories/home:/clearcontainers:/clear-containers-3/xUbuntu_16.04/

According to sig-azure folks, the mirrors can take up to 24 hours to get updated.

[2019-07-09 17:27] CecileRobertMichon commented on #1593
related to https://github.com/Azure/aks-engine/pull/1216

[2019-07-09 17:32] CecileRobertMichon commented on #1593
@ohthehugemanatee any chance you'd have time to take a look?

[2019-07-09 18:01] mo-saeed commented on #1581
@CecileRobertMichon are you able to reproduce this now ?

[2019-07-09 18:08] CecileRobertMichon commented on #1581
I haven't been able to look at this, @mboersma will take a look later.

[2019-07-09 18:10] mo-saeed commented on #1581
Thanks !

[2019-07-09 18:24] mboersma opened #1597 "cluster-autoscaler restarts multiple times on new Linux cluster"
**Describe the bug**
Our CI tests have been failing repeatedly since a new test was enabled that checks for too many component restarts in #1579. Specifically, we see cluster-autoscaler coming up as `Ready` but having restarted several times:

[code]

This could be benign but we need to investigate.

**Steps To Reproduce**

**Expected behavior**

**AKS Engine version**
master

**Kubernetes version

[2019-07-09 23:55] fsigalov opened #1602 "kube-apiserver missing priorityClass"
**Describe the bug**
kube-apiserver pods do not have a priorityClass or priority set. This means they run at priority 0 instead of system-node-critical

**Steps To Reproduce**
Install a kubernetes cluster using aks-engine

**Expected behavior**
kube-apiserver nodes should have a critical priority instead of 0. I believe because of this issue, the kube-apiserver is being evicted, and I can no longe

[2019-07-10 15:10] mlushpenko opened #1605 "Scale down private cluster"
**Describe the bug**

Scaling down doesn't work on private cluster with a jumpbox
[code]

**Steps To Reproduce**
Provide --master-FQDN to scale command and it will fail because it's an IP of a private load balancer

**Expected behavior**
It's not exactly expected, but I would like not to specify master FQDN

**AKS Engine version**
0.38.0

**Kubernetes version**
1.14.3

**Additional context**
I hav

[2019-07-10 15:20] mboersma commented on #1581
I tried to reproduce this but ran into some CSE error I couldn't get past in this step `Upgrade to 1.14.3 with version 0.37.4`. So I upgraded using master, which worked, but then wasn't able to cause any problems with scaling. I'm trying again now.

@mo-saeed did you upgrade with `--force`? And do the logs show anything interesting if you try to scale with `--debug`?

[2019-07-10 16:32] mo-saeed commented on #1581
Hi @mboersma, No I didn't use --force as i upgraded from 1.13.5 to 1.14.3.
Yes there's a known issue now with 0.37.4 (invalid key). I also tried with 0.38.0 and I was able to reproduce the same scaling error.

So may be you can try to install 1.13.5 with aks-engine 0.33.2 and then upgrade to 1.14.3 with aks-engine 0.38.0 then scale and that should reproduce the issue.

[2019-07-10 17:07] davidmatson commented on #245
/lifecycle remove-stale

[2019-07-10 17:08] davidmatson commented on #242
/lifecycle remove-stale

[2019-07-10 18:14] mboersma commented on #1581
I haven't succeeded at reproducing this bug yet:

[code]

@mo-saeed is your cluster configuration similar? Any more ideas on how to reproduce this?

[2019-07-10 18:22] mo-saeed commented on #1581
Here’s my config @CecileRobertMichon
[code]

[2019-07-10 18:24] mo-saeed commented on #1581
Also may be try to use westeurope region, may be it’s only reproducible there

[2019-07-10 18:40] #1573 closed

[2019-07-10 20:59] marosset opened #1606 "Consistency in specifying images for linux and windows pools"
**Describe the request**
There are inconsistencies in where and how you can specify images in the aks-engine cluster definitions.
For Linux clusters images are specified as part of the agentPoolProfile and allow one to reference either custom/shared images or by specifying distro.
For Windows clusters images are specified as part of the windowsProfile and allow one to reference either a vhd stored

[2019-07-10 21:15] mboersma commented on #1581
I can see the bug now–it required having the agent pool be *VMSS* actually. I'm working on a fix. Thanks for your help and patience @mo-saeed.

[2019-07-10 21:20] #1556 closed

[2019-07-10 22:20] przemolb commented on #956
Refresh ...

[2019-07-11 01:55] mboersma opened #1609 "Need unit tests for `aks-engine scale`"
**Describe the bug**
There are only trivial unit tests in `cmd/scale_test.go`, so unfortunately `aks-engine scale` is not covered at that level.

**Steps To Reproduce**

**Expected behavior**

**AKS Engine version**

**Kubernetes version**

**Additional context**

[2019-07-11 02:57] ritazh commented on #1190
Based on failures we have observed and per @feiskyer, this seems to be the same behavior as this issue: https://github.com/kubernetes/cloud-provider-azure/issues/88
Next we will create a SLB with outbound rules, then add nodes to SLB backends.

[2019-07-11 05:12] alexeldeib commented on #1361
@sylr @palmerabollo i'm trying to repro this, putting my clusters through the autoscaling paces while creating/recreating services. I'm sharing my configuration below, if you see anything I could align more closely to your set up that might help with repro, let me know. I'll keep poking at it.

api model -- 1 VMSS in each of 3 AZ, SLB, MSI, minimal addons.
[code]
autoscaling all 3 vmss 0:10
[code]

[2019-07-11 07:41] sylr commented on #1361
@alexeldeib try re-applying the generated ARM template with VMSS instances count increased on several VMSS. The new nodes should have no internet.

[2019-07-11 08:12] alexeldeib commented on #1361
Using the above config and temporarily disabling autoscaler (to avoid fighting downscaling automation), I manually updated each agent pool from 1 to 3 nodes. The new nodes came up successfully with internet access. I've also been running automation to load/deload pods to trigger cluster autoscale, and then cycle creating/deleting services to see if I can trigger some scaling edge case somewhere.

[2019-07-11 08:17] alexeldeib commented on #1361
ehh...you may be on to something there. Let me take another look.

[2019-07-11 08:35] alexeldeib commented on #1361
That’s in addition to the issue mentioned originally in this thread, not in place of, correct?

[2019-07-11 13:29] asaintsever commented on #716
Any plan to support Firecracker?

[2019-07-11 15:17] #1461 closed

[2019-07-11 16:04] CecileRobertMichon commented on #1580
We have patch coming in a few hours that will completely remove clear containers from the base image that will fix this issue. It will still be available as an option for download during deployment.

[2019-07-11 16:45] mo-saeed opened #1611 "Support aks-engine add and remove agent pools"
**Describe the request**
I think that would be really great after the standard loadbalancer is really stable to support aks-engnie add/remove agent-pool commands.

Also aks-engine upgrade single agent pool. that would be great for testing new version of k8s first before applying it on all agent pools.

This already supported with the hosted aks.

**Explain why AKS Engine needs it**
Manage the agen

[2019-07-11 17:33] #1581 closed

[2019-07-11 17:48] #1398 closed

[2019-07-11 21:21] PacoGuy opened #1612 "Custom VMSS worker images fail to register with masters when using 0.38.1 and 0.37.5"
**Describe the bug**
When using aks-engine version v0.38.1 & v0.37.5 with a VMSS agent pool specifying a custom image the deployment succeeds but the nodes never register with the master or show as available. The exact same cluster definition works with v0.34.0 as tested today.

**Steps To Reproduce**
[code]

**Expected behavior**
The VMSS nodes should register properly with the master nodes and b

[2019-07-11 21:25] CecileRobertMichon commented on #1612
@PacoGuy does the same thing repro with v0.37.4 and v0.38.0?

[2019-07-11 21:30] mo-saeed commented on #1190
Hi @ritazh, Thanks for the update. As this is very important for us, do you have any estimation when this can be ready and implemented in aks-engine ?

[2019-07-11 21:34] PacoGuy commented on #1612
Unfortunately yes, when tested earlier this week with the image created on
Sunday. I had waited to submit this ticket until the base image had been
updated and hotfix releases published today.

Do you need me to test again with this specific image?

On Thu, Jul 11, 2019, 4:25 PM Cecile Robert-Michon <notifications@github.com>
wrote:

[2019-07-11 21:38] CecileRobertMichon commented on #1612
I just wanted to make sure this wasn't a regression we introduced as part of the patch... if it's reproducible on other versions that's still worrisome but it's a separate issue.

When you say "until the base image was updated" what do you mean exactly? If you're using a custom image for the agents you aren't using our base image (only for the master), or am I misunderstanding?

[2019-07-11 21:45] PacoGuy commented on #1612
From my testing it seems like a regression which was introduced between v0.34.0 and now.

I am using the base image for the master and a custom image for the agents only. That custom image was created off of the base image via the steps here https://docs.microsoft.com/en-us/azure/virtual-machines/linux/capture-image which has worked for over a year for us.

My reference to "until the base image wa

[2019-07-11 21:53] PacoGuy commented on #1612
Here's the definition used to create the image:
[code]

After the cluster is up we create the image as indicated above so that our image contains all of the required packages and configs from the base image.

[2019-07-11 22:06] CecileRobertMichon commented on #1580
Fixed in v0.37.5 and v0.38.1.

[2019-07-11 22:06] #1580 closed

[2019-07-11 22:18] PacoGuy commented on #1612
@CecileRobertMichon I just confirmed that the same missing agent results are found when using v0.36.5

[2019-07-11 22:21] CecileRobertMichon commented on #1530
This is fixed in v0.37.5 and v0.38.1.

[2019-07-11 22:21] #1530 closed

[2019-07-11 22:25] CecileRobertMichon commented on #1612
I see, thanks for explaining. Just out of curiosity, what's the need for building your own custom image based on an aks-engine VM using the AKS base image? Are there things missing on the image for your use case?

When you deploy with the broken versions, are the deployments successful? Any useful error messages in the Azure portal on the deployment blade? Could you please ssh into one of the agen

[2019-07-11 22:34] PacoGuy commented on #1612
Are there things missing on the image for your use case?
- Yes, we need a newer version of the glusterfs package, install sysdig and also need to add the azure search domain (qm1k***********500cg.cx.internal.cloudapp.net) to /etc/resolvconf/resolv.conf.d/base due to our company's DNS configuration.
When you deploy with the broken versions, are the deployments successful?
-Yes, Azure reports the de

[2019-07-11 22:42] PacoGuy commented on #1612
Could you please ssh into one of the agentpool VMs and check the logs in /var/log/azure/cluster-provision.log? What do these end with?
[code]

[2019-07-11 22:46] PacoGuy commented on #1612
Here's the entire log:
[cluster-provision.log](https://github.com/Azure/aks-engine/files/3384247/cluster-provision.log)

[2019-07-12 01:33] alexeldeib commented on #1190
@ritazh I found my way back to this issue from some of the related VMSS/SLB issues. This is a bit of a catch-22, no? AKS engine needs to attach the VMSS to the backend pool, but the LB won't exist until after the cluster is provisioned because the LB is managed by cloud provider? Or can AKS engine provision the LB, then let Kubernetes take it over?

[2019-07-12 02:48] ritazh commented on #1190
@mo-saeed Working on this now.

@alexeldeib

that's what im doing now

[2019-07-12 03:49] alexeldeib commented on #1296
I know you moved CoreOS to a non-PR blocking job, where does that live/how can we see the results? Is this fixed in https://github.com/Azure/aks-engine/pull/1578?

@invidian fyi

[2019-07-12 03:59] alexeldeib commented on #478
Is there anything actually needed for this to be marked fixed other than testing? This should "just work" with the upstream work I think?

[2019-07-12 04:16] alexeldeib commented on #1361
@palmerabollo has this occurred again since the original time window? The VMSS network connectivity issue mentioned above definitely exists but is separate. I'm wondering if the `DifferentSkuLoadBalancersAndPublicIPAddressNotAllowed` issue was a point in time issue with LB backend or something. As far as I understand from @sylr, he hasn't seen this since the original window?

I'm still looking to

[2019-07-12 06:10] rjaini opened #1613 "feat: build and pre-pull Azure Stack's custom hyperkube v1.14.4 and v1.13.8"
feat: build and pre-pull Azure Stack's custom hyperkube v1.14.4 and v1.13.8

[2019-07-12 06:41] palmerabollo commented on #1361
No, it hasn't occurred in the last month at least. Thanks.

[2019-07-12 09:36] #1177 closed

[2019-07-12 09:36] #689 closed

[2019-07-12 11:22] aasier opened #1615 "VMSS last model warning with aks 0.38.0 and 1.14.3"
**Describe the bug**
After the upgrade from aks-e 0.35.4 to 0.38.0 the vmss pool is having all the time the warning in the last model of the image.

![image](https://user-images.githubusercontent.com/17740475/61124734-fcd7b700-a4a7-11e9-9acb-1f9ffca2eaca.png)

![image](https://user-images.githubusercontent.com/17740475/61124755-1416a480-a4a8-11e9-8996-541682e34984.png)

**Steps To Reproduce**
Upda

[2019-07-12 13:26] mo-saeed commented on #1615
This is due to kubernetes change not aks-engine related, https://github.com/kubernetes/kubernetes/issues/71594#issuecomment-494748086

[2019-07-12 16:25] mboersma commented on #1546
I have an alternative proposal to what's in #1548

- Stop setting the `kubernetes.io/role` and `node-role.kubernetes.io` labels via `--node-labels` in kubelet startup
- Start setting `kubernetes.azure.com/role` in `--node-labels`
- Add a `node-labeler.sh` systemd unit that restores the (deprecated) master and agent labels, for backward compatibility
- Migrate the systemd unit to a Kubernetes contr

[2019-07-12 17:22] chreichert commented on #1270
@jackfrancis Can you please have a look again? The issue is still occuring after upgrade from 1.13.7 to 1.14.3 with AKS-Engine 0.37.3

The PR only fixes one occurrence of "--pod-max-pids": properties.orchestratorProfile.kubernetesConfig.kubeletConfig.

The other occurences in properties.masterProfile.kubernetesConfig.kubeletConfig and properties.agentPoolProfiles[*].kubernetesConfig still read "--

[2019-07-12 17:55] PatrickLang opened #1617 "Some pods including metrics-server are not starting in 1.16 testing"
**Describe the bug**

Some of the pods are not ready in the [aks-engine-azure-windows-master-staging](https://testgrid.k8s.io/sig-windows#aks-engine-azure-windows-master-staging)

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-staging-windows/1149707427701067782

[code]

**Steps To Reproduce**

**Expected behavior**

**AKS Engine version**

**Kuberne

[2019-07-12 17:56] PatrickLang commented on #1617
cc @adelina-t @mboersma

[2019-07-12 18:11] #1231 closed

[2019-07-12 18:40] PacoGuy commented on #1612
@CecileRobertMichon Any other logs that I can provide?

[2019-07-12 21:11] #1189 closed

[2019-07-12 21:13] aasier commented on #1615
@mo-saeed Thanks for your reply! ;)
I'm not sure where is the problem, but affter the upgrade from 0.35.4 (1.14.1) to 0.38.0 (1.14.3) We are having strange behaviors into the vmss pools with the LoadBalancers (We are losing VMs in the LoadBalancer backend pool every time, the only way to recover the LoadBalancer is rebooting the instances in the VMSS)
Should I report this into the thread that you

[2019-07-12 21:14] mo-saeed commented on #1615
Oh that's bad, Are you using Basic or standard LB ?

[2019-07-12 21:19] aasier commented on #1615
Basic LB

[2019-07-12 21:21] mo-saeed commented on #1615
@feiskyer May be you can help here, that seems to be related to this change https://github.com/kubernetes/kubernetes/pull/76992

[2019-07-12 21:22] aasier commented on #1615
![Screenshot from 2019-07-12 23-20-46](https://user-images.githubusercontent.com/17740475/61159284-d5aad500-a4fb-11e9-888a-0d2fe5c75624.png)
![Screenshot from 2019-07-12 23-21-05](https://user-images.githubusercontent.com/17740475/61159286-d6436b80-a4fb-11e9-85cc-8fc4543e5c71.png)

[2019-07-12 21:24] aasier commented on #1615
@mo-saeed here you have more info. If you need more details please, let me know asap ;)
thanks for your help!

[2019-07-12 21:25] mo-saeed commented on #1615
@aasier May be you need to give it sometime ?
Also can you try to describe the k8s load-balancer service to see if any errors ? `kubectl describe service .....`
Also try to check the kubelet logs in for the not-joining nodes ? `journalctl -u kubelet -f`

[2019-07-12 21:29] adelina-t commented on #1617
@PatrickLang . This is a different issue than the one tracked here [1]: . The one in [1] was simply a timing issue between when the kube-system pods were started and the taints applied on the master node. This was fixed by adding a wait before applying said taints.

[1] https://github.com/kubernetes-sigs/windows-testing/issues/87

[2019-07-12 21:30] aasier commented on #1615
`ame:                     nginx-ingress-internal-svc
Namespace:                nginx-ingress
Labels:                   app=nginx-ingress-controller-internal
Annotations:              kubectl.kubernetes.io/last-applied-configuration:
                            {"apiVersion":"v1","kind":"Service","metadata":{"annotations":{"nginx.ingress.kubernetes.io/vts-filter-key":"$server_name $uri","service.b.

[2019-07-12 21:31] adelina-t commented on #1617
For this issue, what I can find from the deployment:

Logs from the relevant failed pods:

[code]

[code]

[code]

[code]

Looking into what merged in kubernetes that could cause this.

[2019-07-12 21:33] aasier commented on #1615
On Monday I will provide the output of "journalctl -u kubelet -f" ... I'm not connected to my Corp Network :(

[2019-07-12 21:35] mo-saeed commented on #1615
@aasier No need i think the issue is known no from the describe output, have a look here https://github.com/kubernetes/kubernetes/issues/64759#issuecomment-395909117

[2019-07-12 21:42] adelina-t commented on #1617
This seems to be the problem: https://github.com/kubernetes/kubernetes/pull/79554

[2019-07-12 22:11] #1235 closed

[2019-07-12 22:14] #1613 closed

[2019-07-13 18:46] #1009 closed

[2019-07-13 19:46] #727 closed

[2019-07-14 01:49] andyzhangx commented on #1292
fixed by https://github.com/Azure/aks-engine/pull/1416

[2019-07-14 01:49] #1292 closed

[2019-07-14 06:46] #1068 closed

[2019-07-14 22:59] #469 closed

[2019-07-14 23:59] #1212 closed

[2019-07-15 03:45] feiskyer commented on #1615
This is expected after kubernetes fixes https://github.com/kubernetes/kubernetes/issues/71594. Because Kubernetes now updates the network configurations per instance, the latest model of each instance is different now from VMSS.

[2019-07-15 07:59] #729 closed

[2019-07-15 08:50] senordeveloper opened #1620 "Deployment Failed adding additional AgentPool"
**Describe the bug**
I wanted to add a new agentpool to my existing cluster by adding a new section in my apimodel.json.  The deployment in Azure fails with:

`{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"Conflict","message":"{\r\n \

[2019-07-15 09:02] rudolphjacksonm commented on #1302
I could maybe take a look at this if I have free time in the next few weeks

[2019-07-15 11:11] senordeveloper commented on #1620
seems to be fixed in aks-engine
Version: v0.38.1
GitCommit: 7f098c6c1
GitTreeState: clean

[2019-07-15 11:11] #1620 closed

[2019-07-15 14:32] #1217 closed

[2019-07-15 15:32] #665 closed

[2019-07-15 15:55] mboersma commented on #1546
Ok, the plan is as described above, with the addition of:

* Handle old and new labels in Azure cloud-provider

[2019-07-15 16:35] CecileRobertMichon commented on #1025
keep open

[2019-07-15 16:44] CecileRobertMichon commented on #1615
@feiskyer are you saying this is by design and we should close this issue? Are there any future plans to solve this?

[2019-07-15 16:47] CecileRobertMichon commented on #1612
@PacoGuy I'm not seeing anything abnormal in the logs you sent me so not sure what's going on.

Could you please check the kubelet logs both on the master and on one of the nodes? `sudo journalctl -u kubelet`

[2019-07-15 19:34] PacoGuy commented on #1612
So, I had deleted that cluster for the weekend so can't get logs from that one.
Today I provisioned a cluster via jenkins with the same config and the same deployer image with aks-engine v0.38.1 and it is working properly now. The two agent nodes I requested registered properly and show as ready via a kubectl get nodes.
Since nothing on my end changed that I know of is there anything that could ha

[2019-07-15 20:34] CecileRobertMichon commented on #1612
Nothing changed that I know of on our side. If you are still using 0.38.1, CSE and the rest of the aks-engine provisioning code will be the same than it was last week since we don't change releases after they are out. I know it's not what you want to hear but it's hard to know what happened without a repro/logs. It's possible that this was a transient kubelet error.

I'm going to close this issue

[2019-07-15 21:53] aasier commented on #1615
@feiskyer @mo-saeed  @CecileRobertMichon something strange is happening with this version 1.14.3 with the Azure Load Balancers,
We disabled this morning the in the azure.json file to cloudProviderRateLimit to false, and after having some issues with the loadbalancers and the nginx controllers we decided to recreate all the services, and now we are without  PublicIps ( **failed to ensure host in po

[2019-07-15 21:54] craiglpeters commented on #1361
If that is the case, then can we close this issue?

[2019-07-15 21:56] alexeldeib commented on #1361
I was following with Cecile offline to determine any known issues but we didn’t link it to anything specific. Without any recent repro I think we can either timebox or close?

[2019-07-15 22:58] PatrickLang commented on #1475
Can you try this on a new cluster? This was a known problem in Windows 10.0.17763.379 that's resolved now.

[2019-07-15 23:39] #1617 closed

[2019-07-16 05:56] andyzhangx commented on #461
@sachsachdeva if you provision an AKS 1.13.7 cluster now, it has only two CIS failures on node now:
[code]

Note that you need to ssh to the agent node and copy the ~/.kube/config to your agent node, and run following CIS check test:
[code]

[2019-07-16 06:51] next-sergioboluda commented on #1580
Hello @CecileRobertMichon

We still use

"aksEngineVersion": "v0.35.6-aks"

Did you think about the update for that version?

Thanks a lot, BR.-

[2019-07-16 09:20] feiskyer commented on #1615
@aasier What changes have you made before seeing this error? And, could you share the logs in kube-controller-manager?

[2019-07-16 10:51] tapanhalani commented on #1530
Just upgraded AKS from azure portal, from v1.11.8 -> 1.11.10 . When I tried scaling from 1 to 2 nodes (or for that matter, any number)  I got this error "Changing property 'platformFaultDomainCount' is not allowed" .

[2019-07-16 11:10] tapanhalani commented on #1581
I just upgrade AKS cluster from 1.11.8 -> 1.11.10 . Now I am trying to scale up/down the cluster, and it is resulting in this error "https://github.com/Azure/aks-engine/issues/1581" . My production cluster is down due to this, and I followed the documentation for upgrades and scaling. Also, my cluster is in west-europe region.

[2019-07-16 11:18] mo-saeed commented on #1581
@tapanhalani which aks-engine version you use ?

[2019-07-16 11:22] tapanhalani commented on #1581
@mo-saeed How can I find that? I am just trying this all from the portal, not the cli.

[2019-07-16 11:23] mo-saeed commented on #1581
Are you using hosted aks service ? or aks-engine ?

[2019-07-16 11:24] tapanhalani commented on #1581
I am using hosted AKS service.

[2019-07-16 11:26] mo-saeed commented on #1581
So open azure support ticket and link this issue there, and ask them to include the fix :)

[2019-07-16 11:31] tapanhalani commented on #1581
We have just created an issue in Azure support. So this is completely unrelated to aks-engine ?

[2019-07-16 11:35] mo-saeed commented on #1581
Not completely as far as i know, It's sometimes aks team are behind the latest updates from the open-source aks-engine.

If you want the current aks-engine version in your aks cluster, may be check the tags on the agent pool nodes. I believe it should be there.

[2019-07-16 11:36] aasier commented on #1615
@feiskyer , Sorry, I was blocking all the Development teams and after my research, I did a downgrade with aks-engine 0.38.0 to 1.14.1, and now it works!

Events:
  Type     Reason                      Age                 From                  Message
  ----     ------                      ----                ----                  -------
  Normal   UpdatedLoadBalancer         11m (x5 over 79m)   s

[2019-07-16 11:37] tapanhalani commented on #1581
Thanks @mo-saeed . I will take a look at the agent nodes.

[2019-07-16 11:39] tapanhalani commented on #1581
Thanks for the info. But the problem is that there are no pool nodes in my resource group ... all VMs seem to have vanished (disks and NICs are still there). The AKS cluster is still showing the latest scale number  that I tried to scale to.

[2019-07-16 12:52] song-jiang commented on #1520
@javierprovecho  You may create a `GlobalFelixConfiguration` to enable Prometheus right after your cluster has been created. Please refer to https://docs.projectcalico.org/v3.8/reference/felix/configuration

[2019-07-16 13:36] robinkb commented on #1270
I am seeing the same symptoms using AKS (non-engine) 1.14.3.

[2019-07-16 14:00] #1576 closed

[2019-07-16 14:19] palmerabollo commented on #1361
I'm closing it. I'll reopen it with more details if we manage to reproduce it. Thank you for your time.

[2019-07-16 16:16] PacoGuy commented on #1612
Ok, the same issue happened again yesterday and I was able to reproduce again today using v0.38.1 @CecileRobertMichon. I even went so far as to use the same k8s.json locally from my laptop instead of our jenkins server with v0.38.2 (to confirm that there was nothing secondary in my automation which was interfering) but got the same results with no agents registered in kubernetes.

Version 0.34.0 c

[2019-07-16 16:46] CecileRobertMichon commented on #1580
If you are using AKS (looks like you are), the AKS Engine version used by AKS has been updated with the [latest AKS release](https://github.com/Azure/AKS/releases/tag/2019-07-08)

[2019-07-16 16:48] CecileRobertMichon commented on #1530
@tapanhalani please open a support ticket.

[2019-07-16 16:56] mboersma commented on #1530
This issue was specific to `aks-engine scale` and isn't actually related to `az aks upgrade`.

[2019-07-16 17:28] CecileRobertMichon commented on #1612
Seeing `E0715 22:28:22.058625    4352 kubelet_node_status.go:94] Unable to register node "k8s-agentpool1-36296323-vmss000000" with API server: Unauthorized`

and `F0715 22:18:35.670552    2835 server.go:261] failed to run Kubelet: unable to configure TLS for the rest client: tls: private key does not match public key`

which points to certificate issues. Will try to dig into this more later today

[2019-07-16 18:40] aasier commented on #1615
@CecileRobertMichon why did you close this bug?
IMO there is a problem with aks 0.38.0 and k8s 1.14.3 with the VMSS and the LoadBalancers.
@palma21 could you please help here?

Thanks,
Asier

[2019-07-16 18:51] sachsachdeva commented on #461
Thanks Andy..let me test it.

On Tue, Jul 16, 2019, 11:26 Andy Zhang <notifications@github.com> wrote:

[2019-07-16 19:32] mo-saeed commented on #1612
I think i saw this before, I believe it's mainly network issue that master and agent nodes are not able to communicate with API server which at the end led to certificates creation issue. try to curl the kube-api-server endpoint from both master and agent pool, check the docker daemon logs and Azure CNI Plugin logs.

[2019-07-16 19:41] CecileRobertMichon commented on #1615
@aasier sorry, read too fast

[2019-07-16 19:50] mo-saeed commented on #1615
@aasier I think could be a good idea to create a test cluster and try to reproduce this issue there then provide here the clear steps you did to reproduce it, like the aks-engine cluster-definition file and the commands you used. I think that will help a lot to investigate.

[2019-07-16 21:42] #1229 closed

[2019-07-16 23:23] feiskyer commented on #1615
@aasier Are there both VMAS and VMSS nodes within the same cluster?

+1 on detailed steps or kube-controller-manager logs.

By the way, after https://github.com/kubernetes/kubernetes/issues/71594, `VirtualMachineScaleSetsClient.UpdateInstances()` won't be invoked since the LB backend updates per instance. So the error message in https://github.com/Azure/aks-engine/issues/1615#issuecomment-51177952

[2019-07-16 23:42] #1281 closed

[2019-07-16 23:42] Bhuvaneswari-Santharam opened #1624 "Application not accessible from outside cluster during aks-engine Upgrade"
Applications are not accessible from outside the cluster during the aks-engine upgrade

**Steps To Reproduce**
1. Deploy application(say nginx) and service of type LoadBalancer to expose the application to be accessed from outside the cluster
2. Upgrade cluster using aks-engine upgrade. During upgrade operation the application will not be accessible from outside the cluster

**Expected behavior**

[2019-07-17 00:50] jadarsie opened #1625 "Pre-pull docker distribution image"
Pre-pulling until ACR is ported to Azure Stack.

[2019-07-17 01:26] andyzhangx commented on #461
@sachsachdeva I did the CIS bench tool code change here:
https://github.com/andyzhangx/kube-bench/commit/5f5ee060445b762ae93945a8288e7de0c20caf9d

You could just run the bench tool in one agent VM as below:
[code]

[2019-07-17 10:10] ankrause opened #1627 "DNS autoscaler addon is schedulable on Windows, which is not supported"
**Describe the bug**
The DNS autoscaler pod can be scheduled on a Windows node pool but the container image doesn't support the Windows platform. While it's likely that the first instance will end up on a Linux node in a hybrid cluster, it's not guaranteed, and a scale out will choose whatever is available.

I'll also note that the DNS autoscaler specification in the Kubernetes repository ([here](

[2019-07-17 19:11] PacoGuy commented on #1612
Here's some more info and logs:

There are currently no running docker pods & no available logs:
[code]

From the agent node "user@k8s-agentpool1-89566682-vmss00000Y:/var/log$ cat warn":
[code]
Also I was able to grab the logs for the following before this node was deleted by the auto-scaler: azure-cnimonitor, azure-vnet, docker-journalctl

[azure-cnimonitor-k8s-agentpool1-89566682-vmss00000Y.log]

[2019-07-17 19:42] mo-saeed commented on #1612
what is the output of `kubectl get pods -n kube-system` ?

[2019-07-17 21:06] devigned commented on #1612
@PacoGuy can you try changing your kubeletConfig to the following:
[code]

[2019-07-17 21:34] PacoGuy commented on #1612
I would love to provide the kube-system pods @mo-saeed or change that --rotate-certificates @devigned but I deleted the broken cluster since it was costing us money to keep it up... and now I go to recreate a broken cluster with the clusterdefinition that failed yesterday only to find it launched a functional cluster today. This is truly baffling and quite scary from the standpoint of reproducible

[2019-07-18 08:36] TonyKingdom opened #1634 "Cannot get client source IP when using custom vnet"
**Describe the request**

According to [Kubernetes official doc](https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#preserving-the-client-source-ip)，client source ip should be preserved the by setting kubernetes service config ```service.spec.externalTrafficPolicy```  as ```Local```.  I deployed a kubernetes cluster by aks-engine using an existing vnet, and

[2019-07-18 17:04] marosset commented on #1624
Can you comment on how the NSG rules were added?
Where they created as part of the initial AKS Engine template generation/deployment or where they rules added afterwards?

[2019-07-18 18:41] #1625 closed

[2019-07-18 19:14] yangl900 opened #1638 "VMSS agentpool upgrade doesn't update OS image version"
**Describe the bug**
The code path on VMSS agentpool upgrade doesn't update OS image version. This is not a problem for AKS-Engine since the master template upgrade it, however this is a problem for AKS. The VMSS will continue have old VHD version in AKS after agent pool upgrade.

**Steps To Reproduce**

Upgrade an AKS VMSS agentpool.

**Expected behavior**
Update VMSS model always with desired OS

[2019-07-18 19:42] Bhuvaneswari-Santharam commented on #1624
Repro steps
1.	Used AKS-Engine v0.36.2 – deployed cluster, 3 master and 3 nodes
2.	Deploy the nginx application and create service of type loadbalancer
3.	Get the external-ip and try to access the application from outside the cluster
4.	Check the NSG Rules, the new rule for the app is added
5.	Upgrade the aks-engine, while upgrade process is running try accessing the application, it goes down
6.	C

[2019-07-19 00:13] #1638 closed

[2019-07-19 00:44] marosset commented on #1624
I was able to repro this on my own cluster.
It looks like when the NSG by the initial AKS engine deployment rules for port 80 are not created.
After deploying service type loadbalander the rule gets added which makes sense.
During the AKS engine upgrade the upgrade deployments contain ARM definitions for the NSG without the new rules and during very early during the upgrade process the ARM templat

[2019-07-19 08:14] aasier commented on #1615
@feiskyer , we are deployig VMAS for Masters and VMSS for agents

[2019-07-19 09:18] aasier commented on #1615
@feiskyer @mo-saeed I found the behaviour (IMO wrong behaviour) in 1.14.3 with VMSS and the LB.

Here you have my steps (based on our current configurations / versions that we are using):

**Initial installation** of the k8s cluster: aks-engine v0.33.0 / k8s v 1.13.4 (deployed using az commands)
Deployment of nginx-controller v0.24.1 + k8s service type LoadBalancer
Deployment of echoserver app usi

[2019-07-19 09:23] aasier commented on #1615
Today I´m going to test the cluster as new with the aks-e 0.38.0 and aks 1.14.3 in order to check if is something wrong in all of my clusters (5 in PRO, 3 in DEV). I will write back.

[2019-07-19 11:29] javierprovecho opened #1644 "Support SSH IP range restriction"
**Describe the request**

Currently SSH security rule origin of traffic is hardcoded to `*` here:

https://github.com/Azure/aks-engine/blob/da412af14dc37ce3e54f277710550dad11bec41e/pkg/engine/networksecuritygroups.go#L27

Allow to restrict access to Master VMs SSH by IP range.

**Explain why AKS Engine needs it**

Security purposes.

**Describe the solution you'd like**

Adding a property to api m

[2019-07-19 13:33] mboersma opened #1645 "Need unit tests for `NormalizeMasterResourcesForScaling`"
**Describe the bug**
#1633 promoted `NormalizeMasterResourcesForScaling` into an important code path, but it has no unit tests and isn't covered in AKS Engine E2E.

**Steps To Reproduce**

**Expected behavior**

**AKS Engine version**

**Kubernetes version**

**Additional context**

[2019-07-19 13:40] feiskyer commented on #1615
@aasier  Thanks for the information. As said on https://github.com/Azure/aks-engine/issues/1615#issuecomment-511266374, the warning icon in the "last model" is expected because we switched to instance-level APIs. This change is critical to avoid all instances being rebooted. Apply the latest model would rollback these changes, so it would make the LB not working.

I think we may need also add the

[2019-07-19 17:07] CecileRobertMichon commented on #1644
related to https://github.com/Azure/aks-engine/issues/720

[2019-07-19 20:01] kvolkovich-sc commented on #1306
/keep open

[2019-07-19 21:45] PatrickLang commented on #1536
I checked with @t-chappl - this will also require an Azure-CNI update that's still in progress

[2019-07-19 23:35] rjaini opened #1647 "feat: build and pre-pull Azure Stack's custom hyperkube v1.15.1"
feat: build and pre-pull Azure Stack's custom hyperkube v1.15.1

[2019-07-20 17:26] #766 closed

[2019-07-22 07:51] #1270 closed

[2019-07-22 16:25] salaxander commented on #1634
@CecileRobertMichon I should be able to get this taken care of today

[2019-07-22 16:56] jackfrancis commented on #478
@alexeldeib Correct, we should do some due diligence manual validation and then close this

[2019-07-22 22:00] PatrickLang commented on #1287
/reopen

[2019-07-22 23:58] jackfrancis opened #1652 "revert distro const name change"
to accommodate older api models, let's re-add back the const values for distro values

[2019-07-23 00:01] CecileRobertMichon commented on #1652
to clarify, the const was kept as `AKS1604Deprecated` https://github.com/Azure/aks-engine/blob/master/pkg/api/const.go#L32

The issue is that it doesn't map to an image reference in the cloud -> image maps (pkg/api/azenvtypes.go), so any apimodel using that distro will have an empty image reference value in its template.

[2019-07-23 00:10] sauryadas commented on #461
@sachsachdeva  Can you please confirm you were able to successfully test this?

[2019-07-23 10:52] oronboni commented on #420
Reopen this case. I found the same errors.
  Warning  LoadBalancerUpdateFailed  37m (x23 over 74m)     service-controller    Error updating load balancer with new hosts map[XXX:{} XXX:{} XXX:{} XXX:{} k8s-atpstg1eus2-15640228-vmss00000f:{} XXX:{} XXX:{} XXX:{} XXX:{} XXX:{} XXX:{} XXX:{} XXX:{} XXX:{}]: [EnsureHostInPool(ingress/nginx-ingress-controller): backendPoolID(/subscriptions/XXX/resourceG

[2019-07-23 11:01] mfabiani-av commented on #1552
Hello,
has this fix made it to the latest versions?  I'm running Version: v0.38.4 but still have the same problem.

[2019-07-23 13:41] shaikatz opened #1654 "Enable prometheus scrape on cluster-autoscaler"
**Describe the request**
cluster-autoscaler offers a set of Prometheus metrics to get better visibility on his operations, I would like to be able to get them without patching the deployment.

**Explain why AKS Engine needs it**
AKS Engine should provide production-ready cluster without the need to self modify addons.

**Describe the solution you'd like**
I would like to add `prometheus.io/scrape:

[2019-07-23 16:30] t-chappl opened #1655 "feat: add command to get versions for Azure Stack"
Add a command to AKS Engine similar to the get-versions command that shows the versions available for deployment on Azure Stack.

[2019-07-23 16:37] t-chappl opened #1656 "feat: change default windows binary URL for Azure Stack"
**Describe the request**
When users deploy to Azure Stack different windows kubernetes binaries need to be installed that are compatible with Azure Stack. Right now that URL has to be provided in the cluster configuration for every deployment. Add a new default so that customers don't have to set it every time.

Right now in the api model's kubernetesConfig the following value has to be set:
[code

[2019-07-23 16:45] #1647 closed

[2019-07-23 16:56] davidmatson commented on #320
/lifecycle remove-stale
/lifecycle frozen

[2019-07-23 17:43] mboersma opened #1660 "Need to apply old node labels on Windows for k8s 1.16"
**Describe the bug**
When we merge #1626 tests will pass but Windows 1.16 clusters still won't have the `node-role.kubernetes.io` and `kubernetes.io/role` labels applied to nodes. This will cause subtle problems in several areas and needs to be fixed.

**Steps To Reproduce**
Create a Windows 1.16.0-alpha.1 cluster with aks-engine master from the branch in #1626.

**Expected behavior**
`kubectl get

[2019-07-23 20:26] #213 closed

[2019-07-23 22:26] #1218 closed

[2019-07-23 22:38] #1190 closed

[2019-07-24 10:09] sylr opened #1663 "customData too large"
**Describe the bug**

[code]

**Steps To Reproduce**

[code]

**Expected behavior**

**AKS Engine version** https://github.com/sylr/aks-engine/commit/31b0e2834a1e5b7f9d4849e022081e85a1e79f18

**Kubernetes version**

**Additional context**

[2019-07-24 15:01] sylr commented on #1663
FYI: switching `enableEncryptionWithExternalKms` from `true` to `false` seems to help.

[2019-07-24 15:11] jackfrancis opened #1664 "Update azure-sdk-for-go w/ exponential backoff enabled"
Not sure yet which version of azure-sdk-for-go will get this change, but this canonical issue is a good place to start:

https://github.com/Azure/go-autorest/issues/398

[2019-07-24 17:41] #1546 closed

[2019-07-24 17:47] mboersma commented on #1660
This may be less of an issue: since Windows k8s clusters have Linux masters, the systemd unit will also label Windows agents properly in 1.16. Maybe previous test failures were just caused by a delay?

Still need to investigate, but when I poke at a Windows cluster it's labeled properly.

[2019-07-24 17:55] mboersma commented on #1664
It doesn't appear this change is in the current [v31.1.0](https://github.com/Azure/azure-sdk-for-go/releases/tag/v31.1.0) based on the release notes and looking for `DoRetryForAttempts` in the source. So presumably the next release.

[2019-07-24 18:20] CecileRobertMichon commented on #1552
@mfabiani-av not yet, https://github.com/Azure/aks-engine/commit/86030eb128ac6528674f7ca69f5d083f0b99f677 isn't included in v0.38. It will be included in the upcoming v0.39.0.

[2019-07-25 08:16] Kuzbekov commented on #1260
Hi @CecileRobertMichon
I faced the same problem with almost default config https://pastebin.com/MeHzTdSx
Looks like it does not reproduce with "OrchestratorVersion": "1.14.1"

[2019-07-25 21:54] jackfrancis commented on #1663
Would it be practical to re-create your fork from aks-engine @ HEAD to see if there have been optimizations in the cloud-init delivery (that's what customData limits indicate: too much data passed to cloud-init) since your fork was initially created?

[2019-07-26 07:51] mgmm13 commented on #420
I am also encountering this error when creating an external load balancer from an aks-engine spawned Kubernetes cluster. I'm working with a 3 master 5 worker node cluster. Tried increasing cloudProviderRateLimitQPS to 5 but still not working.

[2019-07-26 08:52] sylr commented on #1663
Hi @jackfrancis

I rebased my fork against v0.38.4 and still experience the problem.

https://github.com/sylr/aks-engine/commit/7c6bf0b6f

[2019-07-26 10:16] sachsachdeva commented on #461
Hi Azure/aks-engine

Last results on the AKS cluster running with version v1.13.7

kubectl run --rm -i -t kube-bench-node --image=aquasec/kube-bench:latest
--restart=Never --overrides="{ \"apiVersion\": \"v1\", \"spec\": {
\"hostPID\": true } }" -- node --version 1.11
If you don't see a command prompt, try pressing enter.
Error attaching, falling back to logs: unable to upgrade connection:
contain

[2019-07-26 14:56] andyzhangx commented on #461
@sachsachdeva most failures are due to config issues, e.g.
`/etc/kubernetes/proxy.conf` actually does not exists in AKS.

could you try following way:
ssh to the agent node and copy the ~/.kube/config to your agent node, and run following CIS check test:
[code]

I did the CIS bench tool code change here:
https://github.com/andyzhangx/kube-bench/commit/5f5ee060445b762ae93945a8288e7de0c20caf9d

[2019-07-26 16:51] #1652 closed

[2019-07-26 17:07] UnwashedMeme commented on #1468
@Morishiri the name on this parameter is a bit misleading, while it does set the custom search domain it is really about trying to join active directory.

As a heads up setting just the domain is unlikely to yield a working cluster.  There are several points where the master tries to look up the address of agent nodes in DNS-- unless your VM hostname exist in DNS this will lead to errors. The two

[2019-07-26 20:33] dpetillo commented on #1048
I can reproduce this in the latest version 38.4

[2019-07-26 20:48] UnwashedMeme commented on #1577
### Issue 1:
When I SSH'd into the computer I found that the file still had the template placeholders in it, e.g.

[code]

digging in the code a bit this morning I saw a file name `kubelet.sh` that had a `sed` command that looked like it should fix this; perhaps kubelet.sh now doesn't happen until after this file is invoked?

### Issue 2:
If you try to do this on a ubuntu 18.04 based image (`"dist

[2019-07-26 21:37] #808 closed

[2019-07-26 23:37] #1269 closed

[2019-07-27 08:16] slayercao commented on #1303
hello, i got the same issue.
by default, my k8s cluster has 2 coredns pods, and these 2 pods keeps restarting for "OOM killed". the version is k8s.gcr.io/coredns:1.2.6. i tried reboot my VM and kubelet/docker service, but it doesn't work.

[2019-07-27 08:34] palmerabollo commented on #530
not stale

[2019-07-27 09:53] mohatb commented on #1577
@unqashedmeme check https://github.com/Azure/aks-engine/pull/1635

[2019-07-27 16:37] #1313 closed

[2019-07-27 17:37] #495 closed

[2019-07-27 22:35] #1330 closed

[2019-07-28 07:13] #1284 closed

[2019-07-28 12:13] #1350 closed

[2019-07-29 03:58] zhiweiv opened #1674 "When will k8s 1.14.4 be shipped?"
k8s 1.14.4 fixed a memory leak https://github.com/kubernetes/kubernetes/pull/78594 in Windows kubelet, I have to restart the Windows nodes every few days due to this bug. #1596 has been merged couple weeks ago, when will this be shipped?

[2019-07-29 10:12] feiskyer commented on #1663
Have the same issues with master branch builds. Setting `enableEncryptionWithExternalKms` to `false` won't help either.

[2019-07-29 17:21] CecileRobertMichon commented on #1674
available in https://github.com/Azure/aks-engine/releases/tag/v0.38.5

[2019-07-29 17:21] #1674 closed

[2019-07-29 19:56] #1624 closed

[2019-07-29 21:22] jackfrancis commented on #1353
keep open

[2019-07-29 21:24] chreichert commented on #806
Not stale.
Nodes are deleted but not correctly drained when scaling down VMSS.

[2019-07-30 07:15] victornoel commented on #1421
I had the same problem here, but doing the upgrade using AKS and az cli (not aks-engine) from 1.12.8 to 1.13.7. The error and context is the same, so I suppose the problem has the same source.

- I had a cluster (1.12.8) that was created with one node pool of 1 node (1.12.8). I added to it another node pool of 2 nodes (1.12.8).
- I upgraded the control plane (cf https://docs.microsoft.com/en-us/az

[2019-07-30 09:22] sylr commented on #420
`azure - cloud provider rate limited(read)`

Does this message means that we are throttled by the internal kubernetes throttling mechanism or by Azure ?

[2019-07-30 09:52] sylr opened #1689 "Outbound rule for Standard Load balancer"
**Describe the request**

In order to be able to fix what would be the outbound public IP of pods it would be nice if we could tell aks-engine to generate a pool of X public IPs which would be used in a load balancer outbound rule.

**Explain why AKS Engine needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-07-30 10:54] grenzr commented on #1541
I am running aks-engine 0.38.5 with k8s 1.15.1 and `kubectl edit deployment tiller-deploy -n kube-system` as @mboersma suggests doesn't seem to make it stick for me when running `helm init --upgrade` afterwards.
60 seconds later the `2.14.2` tiller container gets terminated and replaced with a `2.11.0` again.

Incidentally, tiller 2.11.0 is almost a year old. Can you clarify why this version is in

[2019-07-30 11:00] sylr commented on #420
I've a "busy" dev cluster with, 3 masters, 19 agents (4 vmss), 35 Load Balancer Services.

setting `cloudProviderRateLimitQPS` to 50 did not help. I still had `cloud provider rate limited(read)` errors.

[code]

At the end I disabled rate limiting altogether and since no more errors.

[2019-07-30 11:32] grenzr commented on #1541
update: updating all the `/etc/kubernetes/addons/kube-tiller-deployment.yaml` files on each master node and switching `Reconcile` to `EnsureExists` does make the tiller upgrade stick. It needs to be done on all master nodes.

[2019-07-30 16:13] palma21 commented on #806
That should not be the case.

CC @craiglpeters

[2019-07-30 16:52] PacoGuy commented on #1612
I was testing again with aks-engine version 0.38.5 and am again getting the ""VMExtensionProvisioningError", "message": "VM has reported a failure when processing extension 'vmssCSE'. Error message: \"Enable failed: failed to execute command: command terminated with exit status=99:"

Deployment operation details:
[code]
And kube-system:
[code]

@devigned Same behavior with 0.38.5 and the "--rotate

[2019-07-30 19:20] mo-saeed commented on #1190
@ritazh is this included in any current aks-engine releases ?

[2019-07-30 19:26] mboersma commented on #1190
@mo-saeed not yet, but it will be in v0.39.0, coming soon.

[2019-07-30 19:27] mo-saeed commented on #1190
Thanks @mboersma

[2019-07-30 20:03] CecileRobertMichon commented on #1612
@PacoGuy what aks-engine version was is the custom image based on? can you `ls  /etc/apt/sources.list.d` on one of the VMSS instances?

It seems that you're running into https://github.com/Azure/aks-engine/issues/1580 which was fixed in the image released with  v0.38.1

[2019-07-30 21:25] jackfrancis commented on #420
@sylr you mean you set `"cloudProviderRateLimit": false` in the `kubernetesConfig`?

[2019-07-30 21:26] jackfrancis commented on #420
Re-opening as we're observing similar issues, it seems that we can improve our defaults here.

[2019-07-30 22:13] jackfrancis commented on #420
This is the message I'm receiving:

[code]

This when creating an ILB against a cluster that looks like this in terms of nodes:

[code]

Setting the limit to 100 removed the rate limits. Setting it to 11 did not. I'm retrying with 50.

The curious thing about this is that it seems the rate limit is not accommodating any "burst", and so if any number of simultaneous requests is ever needed to recon

[2019-07-30 22:13] #1663 closed

[2019-07-30 23:54] ritazh commented on #1689
Are you referring to this? https://docs.microsoft.com/en-us/azure/virtual-network/public-ip-address-prefix

[2019-07-31 04:39] feiskyer opened #1695 "Support cross resource group nodes"
**Describe the request**

As we are adding e2e tests for [cross-resource-group nodes](https://github.com/kubernetes/enhancements/issues/604), we need aks-engine to support cross-resource-group nodes.

@jackfrancis @ritazh Could some of you help on this? Specifically, the cross-resource-group nodes require two different configurations:

1) The nodes are in a different resource group from others
2)

[2019-07-31 07:35] sylr commented on #420
Yes

100 QPS * 60 seconds * 60 minutes = 360 000 Queries per hour

Azure read limit by subscription is 12 000 queries by hour so I believe setting 100 QPS is like deactivating rate limiting at cloudprovider level because Azure will throttle calls far before the cloud provider rate limiting kicks in.

I suggested this https://github.com/kubernetes/cloud-provider-azure/issues/202

[2019-07-31 07:38] sylr commented on #420
Also I believe this issue should be renamed "kube-manager Azure API calls are being rate limited by cloud provider"

[2019-07-31 07:40] thomas1206 opened #1696 "Add feature flag to check ACR connectivity"
Currently, the CSE in AKS engine will check GCR and docker.io connectivity. To enable AKS locking down egress feature, we need check the ACR instead of GCR and docker.io.  Our ACR endpoint:
aksrepos.azurecr.io:443

@jackfrancis

[2019-07-31 13:45] sylr commented on #1689
After giving more thought about this I think it should be directly implemented in the kubernetes azure cloud provider.

See:
- https://github.com/kubernetes/cloud-provider-azure/issues/204
- https://github.com/kubernetes/cloud-provider-azure/issues/203

[2019-07-31 14:26] rexhinvorpsi commented on #1225
Yeah same here

[2019-07-31 16:51] jackfrancis commented on #1696
@thomas1206 are we able to use the same URI for china cloud as well? Currently we validate `gcr.azk8s.cn:80` in a china cloud context.

[2019-07-31 20:12] CecileRobertMichon opened #1703 "test"
**Describe the bug**

**Steps To Reproduce**

**Expected behavior**

**AKS Engine version**

**Kubernetes version**

**Additional context**

[2019-07-31 20:12] #1703 closed

[2019-07-31 23:12] #182 closed

[2019-07-31 23:12] #335 closed

[2019-07-31 23:12] #337 closed

[2019-07-31 23:12] #389 closed

[2019-07-31 23:22] #1353 closed

[2019-07-31 23:34] #1287 closed

[2019-08-01 02:39] thomas1206 commented on #1696
The ACR feature is still not enabled on Mooncake yet. For Mooncake, we need keep the current behavior.

[2019-08-01 04:12] #1349 closed

[2019-08-01 07:31] marouanel commented on #542
Another + 1 to this

[2019-08-01 07:35] kwaazaar opened #1706 "NetworkPlugin cni failed to set up pod - unexpected end of JSON input"
**Describe the bug**
Pods remain in ContainerCreating status. This happens to several pods that are all scheduled on the same node of the cluster. I fixed it by rebooting the node VM, but AKS or Kubernetes don't fix this for me: the error should be considered fatal and the node should be marked NotReady.

**Steps To Reproduce**
Not sure, just happened on 1 node of our 8 node cluster. This node is

[2019-08-01 07:39] kwaazaar commented on #1706
**Full log from start to stop:**

2019/07/30 11:14:09 [cni-net] Plugin azure-vnet version v1.0.22.
2019/07/30 11:14:09 [cni-net] Running on Linux version 4.15.0-1051-azure (buildd@lgw01-amd64-016) (gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.10)) #56-Ubuntu SMP Thu Jul 4 23:10:21 UTC 2019
2019/07/30 11:14:09 [net] Network interface: {Index:1 MTU:65536 Name:lo HardwareAddr: Flags:up|loo

[2019-08-01 08:37] PierluigiLenociAkelius opened #1707 "Update metrics-server from 0.2.1 to 0.3.3 don't work properly."
**Describe the bug**
I tried to update the metrics-server (installed with addons manager) from v0.2.1 to v0.3.3. After the update the metrics-server stop to work properly.

I changed in the yaml file of metrics server only the version of the docker image, removed the option `--source=kubernetes.summary_api:''` and added these two other options `--kubelet-insecure-tls --kubelet-preferred-address-ty

[2019-08-01 08:43] PierluigiLenociAkelius commented on #1707
Ref https://github.com/Azure/aks-engine/pull/1109

[2019-08-01 16:27] #1696 closed

[2019-08-01 16:31] jackfrancis commented on #1706
@tamilmani1989 Are you aware of the above behavior?

Thanks for reporting @kwaazaar!

[2019-08-01 16:33] ritazh commented on #1689
The default behavior when using SLB is that aks-engine will create the SLB, which includes a fontend PIP and the outbound rule for your agent nodes, unless you provide `agentProfile.LoadBalancerBackendAddressPoolIDs` , then the SLB and the outbound rule will need to be updated by the component that created that SLB outside of aks-engine. See this PR for more info: https://github.com/Azure/aks-engi

[2019-08-01 21:18] jadarsie opened #1710 "Add "deployment" resource to ARM templates targeting Azure Stack"
**Describe the request**
If the target platform is Azure Stack, add the resource below to the ARM templates deployed as part of a deploy, upgrade or scale operation (a different GUID per command).

[code]

**Explain why AKS Engine needs it**
The operation GUID will generate extra telemetry data to track AKSe deployment issues.

https://docs.microsoft.com/en-us/azure/marketplace/azure-partner-custo

[2019-08-01 21:37] tamilmani1989 commented on #1706
@jackfrancis kubelet calls CNI DEL with empty pod name and namespace. Might be pod already deleted. This is not an issue.

Processing DEL command with args {ContainerID:d5f6a276ade29de707dc2b35dc7d8ac3341a50b64dd2eab4744b4819f177d9cf Netns: IfName:eth0 Args:IgnoreUnknown=1**;K8S_POD_NAMESPACE=;K8S_POD_NAME=;**K8S_POD_INFRA_CONTAINER_ID=d5f6a276ade29de707dc2b35dc7d8ac3341a50b64dd2eab4744b4819f177d9

[2019-08-01 22:22] jackfrancis opened #1711 "Add support for dedicated hosts"
Dedicated Hosts is currently in public preview:

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/dedicated-hosts

Let's add support for this VM type (it will be a 3rd type, after VMAS and VMSS). See here for a reference example:

https://github.com/Azure/azure-quickstart-templates/blob/master/201-vm-dedicated-hosts/azuredeploy.json

[2019-08-01 23:19] jackfrancis opened #1712 "Enable configurable cloudprovider ratelimits for write"
We currently support configurable cloudprovider read QPS and bucket size configuration, see `CloudProviderRateLimitQPS` and `CloudProviderRateLimitBucket`.

We need to do the same for the following two configurations:

- `CloudProviderRateLimitQPSWrite`
- `CloudProviderRateLimitBucketWrite`

These additions should mimic the existing cloudprovider implementations in terms of their type and the way

[2019-08-02 00:50] zhiweiv commented on #1707
When I tried using 0.3.x, I remember there are two more steps:
1add **- nodes/stats** to ClusterRole system:metrics-server, you can find it in https://github.com/kubernetes-incubator/metrics-server/blob/master/deploy/1.8%2B/resource-reader.yaml.
2 pass --anonymous-auth=true to kubelet.

[2019-08-02 03:50] levimm commented on #773
The issue has been fixed in go-autorest:11.5.2.
However the latest release of aks-engine (0.38.5) still reference go-autorest:11.2.8. Hope to get new release soon.

[2019-08-02 09:24] kirkryan opened #1713 "Deployments fail and upgrades fail when using v1.14.4 or above"
**Describe the bug**
When deploying a fresh cluster with a version specified of 1.14.4 or above and also running aks-engine upgrade with the same version the process fails with an identical error:

`INFO[0950] Finished ARM Deployment (master-19-08-01T18.30.33-930038874). Error: Code="DeploymentFailed" Message="At least one resource deployment operation failed. Please list deployment operations for

[2019-08-02 13:23] PierluigiLenociAkelius commented on #1707
Which tool did you used to deploy metrics-server?

Fixed everywhere
https://github.com/Azure/aks-engine/pull/1714
https://github.com/kubernetes-incubator/metrics-server/pull/296
https://github.com/helm/charts/pull/16060

I don’t like the second point of your suggestion for security reason (ref: https://gist.github.com/erictune/9dc7ae4b22505b9a8c20ad9cd03a45cc )

[2019-08-02 14:43] zhiweiv commented on #1707
I used same way as yours, modify the yaml on master server directly.

For #2 I think it is --authentication-token-webhook=true and --authorization-mode=Webhook

[2019-08-02 16:37] CecileRobertMichon opened #1715 "Update to go-autorest:11.5.2"
https://github.com/Azure/aks-engine/issues/773#issuecomment-517537475

[2019-08-02 16:39] CecileRobertMichon commented on #1713
@kirkryan could you please ssh onto one of the VMs that failed (master-0 seems to be the one returning the error message) and get kubelet logs? `sudo journalctl -u kubelet`

[2019-08-02 17:04] kirkryan commented on #1713
Thanks  @CecileRobertMichon - of course, here are the logs:

[code]

[2019-08-02 17:34] CecileRobertMichon commented on #1713
the log doesn't look complete, can you please make sure that you're uploading the complete log?

[2019-08-02 17:52] CecileRobertMichon commented on #940
keep open

[2019-08-02 18:32] kirkryan commented on #1713
Apologies - I've updated it to include the full log above @CecileRobertMichon

[2019-08-02 18:58] kirkryan commented on #1713
Reviewing the feature gates in the documentation ([here](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/)) It looks like MountPropagation is now a GA feature since 1.12, therefore I have now removed it from my configuration file (it was included in the kubernetes.json from the examples directory) and re-run the deployment with 1.15.1. This has now completed success

[2019-08-02 18:58] #1713 closed

[2019-08-02 19:43] jackfrancis opened #1716 "CSE race condition"
Credit to @jasonzio:

[2019-08-02 19:48] #635 closed

[2019-08-02 20:15] CecileRobertMichon opened #1717 "add deprovision step to packer script"
Running waagent –deprovision cleans up the contents of /var/lib/waagent, removes user authentication credentials, (usually) removes user home directories, etc. When preparing a cloud-init based VM for clean reuse, you also need to tell cloud-init to reset itself. The command cloud-init clean -logs will remove cloud-init artifacts from /var/lib/cloud so cloud-init will re-run all stages as it did o

[2019-08-02 21:04] jackfrancis opened #1720 "Clean up cloud-init artifacts on VHD-built images"
@jasonzio said:

[2019-08-02 21:08] jackfrancis commented on #1720
`cloud-init clean --logs` is the correct usage

[2019-08-02 21:13] jackfrancis commented on #1720
`waagent -force -deprovision` is the correct usage

[2019-08-02 22:00] PatrickLang opened #1723 "Missing network config with containerd + kubenet"
**Describe the bug**

If you try to deploy a Linux-only cluster using containerd + kubenet, the nodes never reach the `Ready` state. `core-dns` never comes up.

**Steps To Reproduce**

Apimodel: https://github.com/PatrickLang/aks-engine/blob/containerd-kubenet/examples/kubernetes-containerd-kubenet.json

[code]

**Expected behavior**

**AKS Engine version**
Version: v0.38.5
GitCommit: 3128e447e
Gi

[2019-08-02 22:27] CecileRobertMichon commented on #1717
duplicate of #1720

[2019-08-02 22:27] #1717 closed

[2019-08-02 22:28] CecileRobertMichon commented on #1720
see #1717 on some notes I had on how to do this

[2019-08-03 00:12] PatrickLang commented on #1723
Looks like CNI isn't configured at all.

from kubelet.service journal

[code]

[code]

[2019-08-03 16:40] #1370 closed

[2019-08-03 20:40] #1379 closed

[2019-08-03 20:40] #1123 closed

[2019-08-04 14:31] glglak commented on #805
that worked for me

[2019-08-04 19:01] #820 closed

[2019-08-04 20:48] alexeldeib commented on #721
https://github.com/Azure/aks-engine/pull/913 fixes this for Linux via Shared Image Galleries but not Windows (due to my lack of expertise to validate), for anyone visiting this issue later.

[2019-08-05 05:21] #172 closed

[2019-08-05 12:14] IvanovOleg opened #1725 "[Request for help] Kubernetes pods have no outbound/kubernetes service connectivity"
Hi! I have a kubernetes cluster deployed in Azure using CoreOS Azure VMs with almost the same configuration as aks-engine does (including all addons). The only difference is that kubelet uses remote runtime parameter that points to the containerd. I was thinking about removing docker from VMs completely since my configuration doesn't use it. As soon as I removed docker, my pods lost the outbound /

[2019-08-05 14:22] IvanovOleg commented on #1725
I tried to create an aks-engine cluster with containerRuntime=containerd and networkPlugin=azure, masked docker service and got the same connectivity issue. Why is it so necessary to keep the docker service running?

[2019-08-05 16:13] jackfrancis commented on #1437
keep open

[2019-08-05 16:13] jackfrancis commented on #443
keep open

[2019-08-05 16:15] jackfrancis commented on #172
This PR may have addressed (at least some) of these issues:

https://github.com/Azure/aks-engine/pull/1622

[2019-08-05 16:25] ritazh commented on #1437
I think we can close this issue as the kuberneteselbsvcname svc workaround was removed as part of #1622

[2019-08-05 17:09] mboersma commented on #1715
In #1516 we updated go-autorest to version [11.9.0](https://github.com/Azure/aks-engine/blob/master/Gopkg.toml#L39), so I consider this to be completed.

[2019-08-05 17:09] #1715 closed

[2019-08-05 17:11] CecileRobertMichon commented on #773
v0.39.0 has g0-autorest:11.9.0

[2019-08-05 17:11] #773 closed

[2019-08-05 20:19] tamilmani1989 commented on #1706
@jackfrancis Sorry i didn't notice this log:
2019/07/31 10:04:35 Failed to initialize key-value store of network plugin, err:**timed out locking store.**
2019/07/31 10:04:35 Report plugin error

This looks like cni issue and might be the issue I fixed in latest release v1.0.25

[2019-08-05 22:04] #420 closed

[2019-08-05 22:22] mboersma opened #1728 "Prow config needs open-sourcing and doc updates"
**Describe the bug**
AKS Engine switched to a different, shared prow instance since our existing configuration somehow broke. Things seem to be working now, but this implies further tasks:

- [ ] make the new prow configuration public after review (cc: @serbrech)
- [ ] update dev documentation so the new prow config can be found easily from AKS Engine
- [ ] remove outdated config from the ./prowci

[2019-08-06 06:19] andyzhangx commented on #461
More detailed steps:
 - create an AKS cluster(e.g. 1.13.7) with **Advanced network**(azure cni), otherwise there would be 4 failures
 - az aks get-credentials --resource-group <rg> --name <cluster-name>
 - open nsg 22 port and assign a public ip for one agent node (only for testing purpose)
 - copy `~/.kube/config` to the agent node
[code]
 - run CIS benchmark:
[code]

[2019-08-06 09:51] aojea opened #1729 "IPv6 only kubernetes cluster"
**Describe the request**

Deploy IPv6 only clusters in Azure

**Explain why AKS Engine needs it**

Kubernetes has support for IPv6 only clusters since 1.9, Azure is implementing fully IPv6 support and AKS has already implemented dual-stack support.

**Describe the solution you'd like**

The dual-stack PR has already implemented all the heavy lifting to enable IPv6 on the Azure networks and VMs #14

[2019-08-06 10:03] aojea commented on #1729
/cc @lachie83 @aramase @khenidak

[2019-08-06 18:07] #1437 closed

[2019-08-06 18:32] Bhuvaneswari-Santharam opened #1733 "master lost during incomplete upgrade operation"
**Describe the bug**
If upgrade operation fails during master upgrade, we lose master node in cluster, when user retries upgrade operation, we lose another master eventually losing all the master nodes in the cluster

**Steps To Reproduce**

1. Deploy a cluster with 3 master and 3 agent nodes
2. Upgrade cluster - operation fails when upgrading the master node(say master-0), cluster will have only

[2019-08-06 18:42] Bhuvaneswari-Santharam opened #1734 "Check the node status during scale operation"
**Describe the bug**
In a 3 agent node cluster, when two agent nodes say agent-0 and agent-1 goes to NotReady state and user tries to scale down the cluster to 1, the working node agent-2 is deleted resulting in cluster with no agent nodes

**Steps To Reproduce**

1. Deploy the cluster with 1 master and 3 agent nodes
2. Stop the agent-0 and agent-1 vm, cluster as only one working node
3. scale dow

[2019-08-06 19:53] jackfrancis opened #1736 "Add Azure Stack VHD support for Kubernetes 1.15.2"
See https://github.com/Azure/aks-engine/pull/1730

[2019-08-06 19:55] jackfrancis opened #1737 "Add Azure Stack VHD support for Kubernetes 1.13.9"
See https://github.com/Azure/aks-engine/pull/1732

[2019-08-06 19:55] jackfrancis commented on #1736
See https://github.com/Azure/aks-engine/pull/1731

[2019-08-06 19:56] jackfrancis opened #1738 "Add Azure Stack VHD support for Kubernetes 1.14.5"
See https://github.com/Azure/aks-engine/pull/1731

[2019-08-07 01:09] sukhong opened #1739 "Add support for specifying "replicas count" and "addonmanager.kubernetes.io/mode" for addons"
**Describe the request**
Right now, many of addons have hardcoded `replicas: 1` and `addonmanager.kubernetes.io/mode: Reconcile` values in addon yaml files (i.e. https://github.com/Azure/aks-engine/blob/master/parts/k8s/containeraddons/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml).

It would be nice if we can:
1. specify number of replicas as part of addons definitions.
1. specify whe

[2019-08-07 01:44] #847 closed

[2019-08-07 10:32] yfried opened #1741 "autoscaler requests too many ip addresses on scale up"
**Describe the bug**
Autoscaler fails to scale up nodes.
Error:

**Steps To Reproduce**
max-pods: 100
2 LBaaS services (1 public, 1 internal)
apimodel
[code]

**Expected behavior**
Nodes should scale up ok
**AKS Engine version**
[code]
**Kubernetes version**
1.13.7

**Additional Context**
Seems to be related to https://github.com/Azure/AKS/issues/1124

[2019-08-07 12:11] yfried commented on #1741
I tried with `max-pods: 80`

I have no idea what's the math here...

[2019-08-07 14:41] VincentSurelle commented on #542
Another one gives the +1 🎵

[2019-08-07 17:29] mboersma opened #1742 "Metrics-server `CreateContainerConfigError` in 1.16.0-alpha.2"
**Describe the bug**
On an AKS Engine Kubernetes 1.16.0-alpha.2 cluster, the metrics-server deployment fails to start a pod.

See also #1714

**Steps To Reproduce**
Create a vanilla aks-engine cluster with `--set orchestratorProfile.orchestratorRelease=1.16`. When it's up, notice that the metrics-server pod didn't start:
`Error: container has runAsNonRoot and image will run as root`

**Expected be

[2019-08-07 19:41] #1736 closed

[2019-08-07 19:41] #1737 closed

[2019-08-07 19:41] #1738 closed

[2019-08-08 01:44] sukhong commented on #956
Refreshing.

Does it mean that all new nodes created by cluster-autoscaler will have to restart at least once to reach a stable state?

[2019-08-08 03:06] andyliuliming opened #1743 "package update failure when walinuxagent upgrading and call the custom script at the same time."
**Describe the bug**
when the walinuxagent upgrading, the custom script extension call will fail.
**Steps To Reproduce**

**Expected behavior**
I think may be we should think about to use the customData in the os profile( cloud-init ) do the setup steps, or just do a hold on the walinuxagent when we call the custom script.

apt-mark hold walinuxagent
... our custom script ...
apt-mark unhold walin

[2019-08-08 07:01] rexhinvorpsi opened #1744 "aks-engine vs aks managed cluster"
Hi everyone,
I have to do a custom cluster enabling feature gates so normally i used aks-engine in my own test Azure account with everything enabled.
Now my company has an Azure Enterprise account with only certain services enabled( Kubernetes service is not enabled).
Do i need the Kubernetes service enabled in the subscription to be able to deploy the custom cluster?

Thank you!

[2019-08-08 12:08] feiskyer commented on #1002
The cloudProviderBackoffMode v2 is still not good enough to control the back offs. I'm planning to optimize the backoff and retry logic in Kubernetes by rewriting the Azure clients.

[2019-08-08 12:08] #1002 closed

[2019-08-08 16:26] CecileRobertMichon commented on #1743
We are already placing a hold on walinuxagent in cloud init run cmd: https://github.com/Azure/aks-engine/blob/master/parts/k8s/cloud-init/nodecustomdata.yml#L334

[2019-08-08 16:31] jackfrancis commented on #1001
keep open

[2019-08-08 17:26] CecileRobertMichon commented on #1744
Hi there, for docs about AKS Engine vs. AKS see https://github.com/Azure/aks-engine/blob/master/docs/faq.md#whats-the-difference-between-aks-and-aks-engine.

I'm not sure I understand you question about deploying a "custom" cluster? What do you call custom cluster? If you are trying to deploy a cluster with AKS Engine (this repo), you don't need the AKS service to be enabled in the sub. If you wan

[2019-08-08 17:29] CecileRobertMichon commented on #1743
We are also holding walinuxagent in CSE before the first apt-get update operation as a precaution (should be a no-op if cloud-init already ran) in case CSE starts before cloud-init finishes: https://github.com/Azure/aks-engine/blob/master/parts/k8s/cloud-init/artifacts/cse_install.sh#L41

[2019-08-08 17:29] rexhinvorpsi commented on #1744
Sorry for the naming i just meant not a managed cluster. Yes that does answer my question.
Thank you very much Cecile

[2019-08-08 17:29] #1744 closed

[2019-08-08 19:47] mboersma commented on #1742
This is not reproducible with Kubernetes 1.16.0-alpha.3.

[2019-08-08 19:47] #1742 closed

[2019-08-08 21:20] jackfrancis opened #1748 "Add mor E2E tests for PV and PVC functionality"
Currently we do basic PV / PVC testing *only if* the cluster configuration has zones configured. Let's decouple the zone-specific PVC validation from all PVC tests so that we test basic PV/PVC functionality with all cluster configs.

[2019-08-08 21:37] mboersma opened #1749 "Error loading audit policy file"
**Describe the bug**
`addon-manager` logs report an error regarding the audit-policy.yaml file:

[code]

**Steps To Reproduce**
Provision a new Kubernetes cluster using AKS Engine and check the addon-manager logs with `kubectl logs -n kube-system <addon-manager-pod>` to see the error message.

**Expected behavior**
No errors are reported.

**AKS Engine version**
master or v0.39.0.

**Kubernetes ve

[2019-08-08 21:46] mboersma commented on #1749
The manifest can't be applied manually either. On a 1.16.0-alpha.3 cluster:

[code]

[2019-08-08 21:53] mboersma commented on #1749
See also #635. It seems like the correct solution would be to use a different subdirectory than `addons` or `manifests`. Maybe `/etc/kubernetes/auditing/audit-policy.yaml` or just `/etc/kubernetes/audit-policy.yaml`?

[2019-08-08 22:01] mboersma commented on #1749
The policy file should have been loaded by the kube-apiserver startup itself, and addon manager won't try to install this manifest anyway since it isn't annotated. So presumably this is a benign error.

[2019-08-09 04:10] jluk commented on #1593
@CecileRobertMichon was this addressed? AFAIK this specific sku was touched by AKS at some point so wondering if I missed something or if this issue is closed?

[2019-08-09 09:43] Morishiri commented on #1468
ok thanks for explaining that!

[2019-08-09 09:43] #1468 closed

[2019-08-09 13:35] satishsudini opened #1751 "extensionProfiles is failing with aks-binary > 0.36"
**Describe the bug**
extensionProfiles is failing with aks-binary > 0.36  working fine with 0.32 and below

**Steps To Reproduce**
{
  ...
  "extensionProfiles": [
    {
        "name": "hello-world-dcos",
        "version": "v1",
        "extensionParameters": "parameters",
        "rootURL": "http://mytestlocation.com/hello-world-dcos/",
        "script": "hello-world-dcos.sh"
    }
  ]
}

**AKS

[2019-08-09 17:21] CecileRobertMichon commented on #1593
@jluk not yet, I'll try to take a look today. This is a report of a regression after #1216 merged, not a feature request (Promo SKUs were already supported before this).

[2019-08-09 17:23] CecileRobertMichon commented on #1751
Any reason you're using the DCOS hello world? Not Kubernetes?

[2019-08-09 17:39] satishsudini commented on #1751
Just i mentioned sample but actual snippet is below

"extensionProfiles": [
{
"name": "bootstrap",
"version": "v1”,
"extensionParameters": “”,
"rootURL": "https://.blob.core.windows.net/",
"script": “script.sh",
"urlQuery": “token”
},

[2019-08-09 19:03] zachomedia opened #1753 "Unable to deploy a 1.15 cluster"
**Describe the bug**

Due to multiple issues, we're currently unable to successfully deploy a 1.15 Kubernetes cluster.

1. Generating the cluster with distro "aks-ubuntu-1804" references "aks-ubuntu-1804-201907:2019.07.25". Wet got an error "The subscription is not authorized". After a bunch of searching, we discovered that the image no longer exists? `az vm image list --publisher microsoft-aks --

[2019-08-09 19:04] zachomedia commented on #1753
Also: will this affect previously deployed clusters that use scale sets if we attempt to scale them up?

[2019-08-09 19:14] CecileRobertMichon commented on #1753
@zachomedia we are aware of this issue and are investigating. Those images are missing from the marketplace and were not intentionally removed.

[2019-08-09 19:20] zachomedia commented on #1753
Great, thanks!

[2019-08-09 20:48] #823 closed

[2019-08-09 21:37] jackfrancis commented on #1753
This should be resolved by EOD. If you need a cluster right now, you could add `"distro": "ubuntu-18.04"` to your apimodel.json input in both your `masterProfile` and for every pool in the `agentPoolProfiles` array and you should have a working cluster.

[2019-08-09 22:01] jackfrancis commented on #1753
Missing images should be restored.

[2019-08-10 02:19] zachomedia commented on #1753
Thanks @jackfrancis! Confirmed that the image are back and functional now.

[2019-08-10 02:24] sukhong commented on #1532
Same issue is happening to me:

Error: resources.DeploymentsClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="InvalidTemplateDeployment" Message="The template deployment failed with error: 'Authorization failed for template resource 'xxx' of type 'Microsoft.Authorization/roleAssignments'. The client 'xxx' with object id 'xxx' does not have permission to perfor

[2019-08-10 03:12] jackfrancis commented on #1753
yay

[2019-08-10 03:12] #1753 closed

[2019-08-10 03:52] andyzhangx commented on #1707
That's correct, I think you could refer to this PR: https://github.com/Azure/aks-engine/pull/1109/, on aks-engine cluster, it works

[2019-08-10 17:06] #1431 closed

[2019-08-10 17:06] #1432 closed

[2019-08-11 01:06] #1232 closed

[2019-08-11 03:30] ankrause opened #1758 "Upgrade fails for VMSS nodes when Azure Standard Load Balancer is provisioned"
**Describe the bug**
Running aks-engine upgrade on an Azure-based cluster with VMSS nodes fails to upgrade the VMSS nodes if a (standard) loadbalancer service exists.

Output:
[code]

The error suggests this a connection issue. I've tried SSH'ing into a failed node post-scale operation and I'm unable to query some internet URLs. bing.com returned a response but google.com did not. Both URLs return

[2019-08-11 09:25] IvanovOleg commented on #1725
Fixed the issue by adding ExecStartPre=-/sbin/modprobe br_netfilter to the kubelet.service

[2019-08-11 09:25] #1725 closed

[2019-08-11 17:08] #680 closed

[2019-08-12 07:18] AhmedMoAli opened #1759 "[Question] Enabling RBAC on existing AKS0Engine cluster recommendation"
**Enabling RBAC on existing AKS-Engine cluster recommendation**

**Steps To Reproduce**
Currently we have AKS-Engine clusters provisioned without RBAC in place (RBAC set to false), what we want is to enable the RBAC without the need of re-provisioning customers' clusters.

Currently we configuring the RBAC in a manual way through script that we apply to our existing clusters which does the follow:

[2019-08-12 10:16] ankrause commented on #1758
Looks like this may not be an issue with upgrading specifically, but rather with adding nodes to a VMSS post-deployment in K8S 1.14.5. It may also occur in other versions higher than 1.14.1 but I haven't tried those.

I just received the same error when using the Cluster Autoscaler to scale out on an otherwise stable 1.14.5 cluster. The initial 2 instances of my node pool were running correctly an

[2019-08-12 10:30] yfried opened #1760 "Failed to generate Service Principal"
**Describe the bug**
When AKS tries to create the SP it fails.

**Steps To Reproduce**
Deploy with empty SP in apimodel

[code]

Output
[code]

**Expected behavior**

**AKS Engine version**

[code]

**Kubernetes version**
1.13.9

**Additional context**
Seems to work fine in `0.38.7`

[2019-08-12 15:55] jackfrancis commented on #1758
@ankrause can you use the aks-engine v0.39.1 release to re-try your operational scenario? This change went in w/ v0.39.0:

https://github.com/Azure/aks-engine/pull/1622

[2019-08-12 16:31] davidmatson commented on #422
/lifecycle remove-stale

[2019-08-12 18:07] walterov opened #1764 "The Azure Stack API Model example specifies only 1 master to be created, we need 3 for HA"
**Describe the bug**
The Azure Stack API Model json file example specifies only 1 master to be created, we need 3 for HA otherwise we are likely to get support questions on this topic by Azure Stack customers

**Steps To Reproduce**
1. Go to https://github.com/Azure/aks-engine/blob/master/examples/azure-stack/kubernetes-azurestack.json
2. See in 'masterProfile" the entry "count": 1.

**Expected be

[2019-08-12 22:12] ankrause commented on #1758
I just tested this again by re-deploying a cluster with 1.14.4 and attempting to upgrade to 1.14.5 using AKS Engine v0.39.1 with a SLB provisioned, same error.

[2019-08-13 11:58] chelnak opened #1771 "Applying OS updates to VMSS enabled clusters"
**Describe the request**
It's currently unclear how to apply OS patches to VMSS clusters. The documents recommend using kured however there are multiple comments/articles that suggest it doesn't work as expected.

It would be good to have some clear guidelines for this.

**Explain why AKS Engine needs it**
See above.

E.g
https://github.com/Azure/AKS/issues/1065
https://github.com/MicrosoftDocs/az

[2019-08-13 12:15] #1771 closed

[2019-08-13 17:26] CecileRobertMichon commented on #1751
@satishsudini what error are you getting exactly?

[2019-08-13 18:11] CecileRobertMichon commented on #1751
I was not able to repro with the following api model (latest aks-engine version):

[code]

[2019-08-13 21:25] #1593 closed

[2019-08-13 21:29] #1764 closed

[2019-08-13 23:30] jackfrancis opened #1773 "Enable Azure CNI v1.0.25"
Update Azure CNI version to v1.0.25. See:

https://github.com/Azure/azure-container-networking/releases/tag/v1.0.25

[2019-08-14 02:17] #1445 closed

[2019-08-14 04:41] JunSun17 opened #1776 "Avoid reverse DNS lookup in iptables -t nat --list call in kubelet service"
**Describe the request**
Add "-n" option in the iptables call to avoid reverse DNS lookup.

**Explain why AKS Engine needs it**
It is seen in a rare case (customer uses their own DNS instead of the default one provided by Azure), kubelet service can be timed out when start:
https://github.com/Azure/aks-engine/blob/1b7ddfbf8a40d3f56e8604cec39ab5f6082fb3a3/parts/k8s/cloud-init/artifacts/kubelet.serv

[2019-08-14 06:04] vijaygos commented on #1612
@CecileRobertMichon, I am a little confused about the release trains here. @PacoGuy reported the issue in v0.38.1. So, I am not sure what you mean when you say "was fixed in the image released with v0.38.1". We are currently using v0.38.4 and are running into a similar error. What version would you recommend we move to?

[2019-08-14 14:31] jackfrancis opened #1777 "Update azure-sdk-for-go to v29.0.0+"
AKS would like the fix here so that it can stop using the boolean `AccountEnabled` property as a string pointer:

https://github.com/Azure/azure-sdk-for-go/commit/f354e2e940568f158a54d84be05e8b65bd2206e2

[2019-08-14 15:17] mfabiani-av opened #1778 "Cannot set boolean property from command line using --set"
**Describe the bug**
I'm trying to set orchestratorProfile.kubernetesConfig.privateCluster.enabled=true from the command line using --set but I get the following error:

`INFO[0000] new api model file has been generated during merge: /tmp/mergedApiModel298698370
Error: loading API model: error parsing the api model: json: cannot unmarshal string into Go struct field Properties.orchestratorProfile

[2019-08-14 16:27] #1773 closed

[2019-08-14 16:28] joetechbob commented on #1445
keep open

[2019-08-14 16:43] CecileRobertMichon commented on #1612
@vijaygos the issue I was referring to above, #1580, was related to the last comment from @PacoGuy where he said he was now running into a CSE error 99 (different issue than what he had originally opened the issue for).

I recommend you try the latest release, https://github.com/Azure/aks-engine/releases/tag/v0.39.1, or, if you want to stay on 0.38, the latest 0.38 patch (https://github.com/Azure/

[2019-08-14 17:04] devigned commented on #1777
@jhendrixMSFT is going to be cutting a new version of go-autorest without direct opencensus export agent dependencies soon. It might be good to wait for that PR to merge, then update the dep.

[2019-08-14 17:50] #645 closed

[2019-08-14 18:28] vyta opened #1779 "Invalid JSON in azure.json on Windows Nodes"
**Describe the bug**
Invalid JSON in azure.json on Windows nodes due to trailing comma: ```"userAssignedIdentityID": ,```
**Steps To Reproduce**

**Expected behavior**
Valid JSON in azure.json

**AKS Engine version**
 v0.38.5-aks

**Kubernetes version**
1.14.4

**Additional context**
Discovered while attempting to implement [hexadite's kayvault-agent](https://github.com/Hexadite/acs-keyvault-agent

[2019-08-14 19:37] #1716 closed

[2019-08-14 23:03] DavidLangworthy opened #1780 "Error Deploying MSI Cluster"
Deployment fails with the following error.  However, i can kubectl into the cluster.  Api model and logs are below.  the Api model is straight from the examples directory and the logs look clean.

PS C:\repos\kube\aks-engine\managed-identity> aks-engine deploy --subscription-id 7421b5fd-cf60-4260-b2a2-dbb76e98458b --resource-group mis-1 --location eastus --api-model mis.json --dns-prefix mis-1  -f

[2019-08-15 07:40] pengzhisun opened #1782 "Support cilium network plugin v1.5.5"
**Describe the request**

Support cilium network plugin v1.5.5

**Explain why AKS Engine needs it**

There is a new network encryption beta feature in cilium v1.5.5 (https://cilium.readthedocs.io/en/stable/gettingstarted/encryption/ ), we want to test it in Azure environment.

**Describe the solution you'd like**

To specify which version of network plugin to be deployed in cluster definition file

[2019-08-15 22:25] haitch commented on #1776
#1769 merged

[2019-08-16 00:13] jackfrancis commented on #1780
Are you sure that the passed in service principal is a part of the tenant?

[2019-08-16 00:44] DavidLangworthy commented on #1780
What do you mean "part of the tenant"?  The service principle I call aks-engine deploy with has sufficient permissions to create the cluster.  I can see the resources in the Azure portal and can even kubectl into the cluster.  However the deployment throws these errors and I do not see the MSIs.

[2019-08-16 02:34] jackfrancis opened #1786 "containerd scenarios CSE exit 6"
For containerd scenarios, we are calling the `wait_for_file` func twice on `/etc/default/kubelet`.

This will always never succeed on the 2nd attemp, as `wait_for_file` is currently implemented to be a "run once to validate that cloud-init has successfully paved the entire file" func, and afterwards it cleans up the sentinel `#EOF` string (which means subsequent invocations of `wait_for_file` will

[2019-08-16 02:42] jackfrancis commented on #1782
@skinny is this as simple as `s/docker.io/cilium/cilium:v1.4/docker.io/cilium/cilium:v1.5.5` and `s/docker.io/cilium/operator:v1.4/docker.io/cilium/operator:v1.5.5` against the current spec:

https://github.com/Azure/aks-engine/blob/master/parts/k8s/addons/kubernetesmasteraddons-cilium-daemonset.yaml

?

(More likely is that we'll have to tweak that spec as a minor version bump likely includes som

[2019-08-16 02:53] andyzhangx commented on #461
I found there is an easier way to run CIS benchmark on agent node, don't need to copy the kubeconfig file, actually that file exists on agent node already. See above modified steps, it's a little easier now.

[2019-08-16 05:34] kkmsft commented on #1741
/cc @kkmsft

[2019-08-16 06:19] pengzhisun commented on #1782
@jackfrancis is it possible to provide a network plugin version parameter in cluster definition file, instead of hard coding the version in addon yaml file?

[2019-08-16 06:51] ArchangelSDY opened #1787 "Cannot enable acceleratedNetworking with Standard_F8"
**Describe the bug**
Cannot enable acceleratedNetworking with Standard_F8.

**Steps To Reproduce**
[code]

**Expected behavior**
Per [this article](https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli#supported-vm-instances), Standard_F8 should support accelerated network. Actually we did that successfully with old versions(0.25.0). Maybe you should update yo

[2019-08-16 06:54] kkmsft commented on #1741
@yfried - Thank you for raising this issue. A few quick questions:
(1) How many nodes are currently existing and how many nodes are you scaling to ?
(2) What is the current ips remaining in the VNET subnet associated with the agent scaliest ?

[2019-08-16 08:27] kkmsft commented on #1741
After some internal investigation, turns out the issue has been root caused into the Azure networking backend which deals with VMSS. The fix is in the process of getting rolled out and approximate ETA is 3 weeks starting next Monday.

[2019-08-16 12:05] AhmedMoAli commented on #1759
Hello, is that a valid approach to follow for now from your side?

[2019-08-16 16:10] CecileRobertMichon commented on #1743
Already fixed in aks-engine v0.33.0+

[2019-08-16 16:10] #1743 closed

[2019-08-16 16:30] #1645 closed

[2019-08-16 17:29] #1712 closed

[2019-08-16 19:20] #1786 closed

[2019-08-16 22:15] mtgerb opened #1794 "Upgrade with multiple nodepools is not detecting not upgraded nodes"
**Describe the bug**

**Steps To Reproduce**

1. Create a cluster with two nodepools and version 1.13.8
2. Upgrade to version 1.13.9 and stop the upgrade process after all nodes of the first nodepool have been upgraded (with control-c)
3. Run the upgrade command again

All nodes of first nodepool are correctly detected as already upgraded, but all nodes of the second nodepool are not upgraded. Ins

[2019-08-16 23:02] Banani-Rath opened #1795 "Aks engine vmss auto os upgrade failed"
**Describe the bug**

Update-AzureRmVmss : Automatic OS Upgrade cannot be enabled on virtualMachineScaleSets configured with a Platform Image.
ErrorCode: BadRequest
ErrorMessage: Automatic OS Upgrade cannot be enabled on virtualMachineScaleSets configured with a Platform Image.
ErrorTarget:
StatusCode: 400
ReasonPhrase: Bad Request

**Through Azure cli:**

windowsConfiguration.enableAutomaticUpdat

[2019-08-18 00:47] #1422 closed

[2019-08-18 04:47] #1465 closed

[2019-08-18 21:34] #1029 closed

[2019-08-19 07:30] mtgerb opened #1799 "Unable to upgrade a cluster with two nodepools"
**Describe the bug**

**Steps To Reproduce**

1. Create a cluster with two nodepools (both VMAS) and version 1.13.8
2. Run aks-engine upgrade to version 1.13.9

Actual behavior: The first nodepool is upgraded succesful. The upgrade of the second nodepool fails, because of the following message (I removed the UUIDs from the message):
``
 "status": "Canceled", "error": { "code": "ResourceDeploymentF

[2019-08-19 07:46] shaikatz opened #1800 "Make calico daemonset CPU requests configurable"
**Describe the request**
Calico DS currently requests 250m per pod.
Kube-Proxy DS currently requests 100m per pod.
Under heavy load, we can see only 45m usages.
We would like to be able to adjust that value upon cluster creation.

**Explain why AKS Engine needs it**
Setting hard-coded CPU requests do not fit everybody usage.

**Describe the solution you'd like**
We would like to be able to adjust

[2019-08-19 15:34] #856 closed

[2019-08-19 16:55] rjaini opened #1806 "enable smart cloudprovider rate limiting for VMAS agent node deployment."
Kubernetes version:
1.13
What happened:
The logs for kube-manager show frequent errors for being rate limited on Azure Stack kubernetes cluster deployment when we try to deploy an application with service type load balancer.

[2019-08-19 18:46] rjaini opened #1809 "feat: build and pre-pull Azure Stack's custom hyperkube v1.15.3"
feat: build and pre-pull Azure Stack's custom hyperkube v1.15.3

[2019-08-19 18:46] rjaini opened #1810 "feat: build and pre-pull Azure Stack's custom hyperkube v1.14.6"
feat: build and pre-pull Azure Stack's custom hyperkube v1.14.6

[2019-08-19 18:46] rjaini opened #1811 "feat: build and pre-pull Azure Stack's custom hyperkube v1.13.10"
feat: build and pre-pull Azure Stack's custom hyperkube v1.13.10

[2019-08-19 18:55] rjaini opened #1812 "docs: Move master and agent node vhd size to 30GB."
docs: Move master and agent node vhd size to 30GB in Azure Stack api model example file.

[2019-08-19 19:26] #1812 closed

[2019-08-19 20:06] david-jarman opened #1815 "High number of restarts for pods running on Windows agent nodes"
**Describe the bug**
Pods running on Windows agent nodes are being restarted frequently due to liveness and readiness probes not responding.

**Steps To Reproduce**
Create a kubernetes cluster in Azure with a Windows agent node pool with below context (same windows os version, kubernetes version, etc...)
Create a deployment with the [virtual service that I created](https://github.com/david-jarman/

[2019-08-19 21:12] jackfrancis commented on #679
I think I may have identified what's going on here.

The kube-proxy daemonset that is scheduled to a master node isn't reconciled as we expect during upgrade, which means that the daemonset spec is asking for the prior version of k8s (kube-proxy image is delivered via hyperkube image), for example if we upgrade from 1.12.8 to 1.13.9 the master node(s) come online with a kube-proxy running @ versio

[2019-08-19 22:29] jackfrancis opened #1817 "kube-proxy still running old version after upgrade"
#679 appears to be a symptom of the fact that the kube-proxy daemonset is still running the older version after an `aks-engine upgrade` operation.

Investigate whether or not the daemonset spec is configured properly to reconcile via kube-addon-manager.

[2019-08-19 23:54] palma21 commented on #956
@sukhong @przemolb @shaikatz

I believe that is the correct behavior.

eg.
2 nodes - patched nightly. Kured will reboot them.
When it does so CA will scale a 3rd node to keep the needed resources in the cluster. the 3rd node will have the same image used to create the cluster, or from the last AKS upgrade operation.
that 3rd node will be patched nightly too and rebooted by kured.

Let me know if y

[2019-08-19 23:54] #956 closed

[2019-08-20 00:18] zhiweiv commented on #1815
It is a Windows bug, https://github.com/Azure/AKS/issues/1014#issuecomment-522701063.

[2019-08-20 00:39] david-jarman commented on #1815
Thanks for the link! Says a patch is out for it as of a couple of days ago. I'll try updating my nodes and update with result tomorrow.

[2019-08-20 16:59] david-jarman commented on #1815
Pods have been up for 15 hours now with no restarts. Thanks again @zhiweiv!

[2019-08-20 16:59] #1815 closed

[2019-08-20 18:09] satishsudini commented on #1799
You can still update your apimodel.json in the output folder and try aks-engine scale

[2019-08-20 19:04] satishsudini commented on #1751
cluster installation is successful only extension is failing with the below error . same template its working with aks binary 0.32

{
  "error": {
    "code": "InvalidParameter",
    "message": "The value of parameter publisher is invalid.",
    "target": "publisher"
  }
}

[2019-08-20 19:54] #1467 closed

[2019-08-20 22:33] jadarsie opened #1824 "Add package apache2-utils to E2E validation"
Add package apache2-utils to the test/e2e/kubernetes/scripts/ubuntu-installed-packages-validate.sh E2E package validation script.

[2019-08-21 06:42] mtgerb commented on #1799
No this will not work, because you can not scale down to zero nodes. Therefore one old node will always stay.

[2019-08-21 14:46] prbajrac commented on #1711
@jackfrancis Do you have any information on ETA for this feature or is this still in conception ?

[2019-08-21 15:21] devigned commented on #1711
@prbajrac I'm going to start diving into this work today. Being pretty new to aks-engine, I'm not sure what the ETA is right now. I'll have a better idea in a couple days.

Why do you ask?

[2019-08-21 15:41] prbajrac commented on #1711
@devigned Customer had inquired on this issue and saw freshly opened issue here. Let me know over here when you have a better idea.

[2019-08-21 15:52] devigned commented on #1711
Will do!

[2019-08-21 15:58] #1707 closed

[2019-08-21 16:46] #1806 closed

[2019-08-21 17:15] jackfrancis opened #1828 "cilium NetworkPolicy api model no longer works"
The example api model here no longer works:

https://github.com/Azure/aks-engine/blob/master/examples/networkpolicy/kubernetes-cilium.json

Error during `aks-engine generate`:

`Error: validating API model after populating values: networkPolicy 'cilium' is not supported with networkPlugin 'azure'`

[2019-08-21 17:52] #1809 closed

[2019-08-21 17:52] #1810 closed

[2019-08-21 17:52] #1811 closed

[2019-08-21 17:54] jackfrancis opened #1829 "acs-bot should not run full E2E for VHD shell scripts"
PRs that include changes to VHD CI are running the full E2E, they should only run the VHD CI job.

[2019-08-21 18:55] mboersma opened #1830 "Use config file to init kube-proxy args for 1.16+"
**Describe the bug**
`kube-proxy` emits a serious warning about not using command-line args:

[code]

**Steps To Reproduce**
Provision a Kubernetes 1.16.0-beta.1 cluster and examine the `kube-proxy` pod logs.

**Expected behavior**
No warnings are emitted and `kube-proxy` starts cleanly.

**AKS Engine version**
master or v0.40.0

**Kubernetes version**
1.16.0-beta.1 or later

**Additional context*

[2019-08-21 19:02] #1828 closed

[2019-08-21 21:53] jackfrancis opened #1833 "chore: improve e2e ssh agent forwarding"
See:

https://github.com/Azure/aks-engine/blob/master/cmd/rotate_certs.go#L474

for a reference

[2019-08-22 02:16] alexeldeib commented on #1361
If anyone is interested, I found a scenario where this occurs. If you provision VMSS and add a public IP per instance as part of the network profile, the IP will cause this error when you try to add the VMSS to SLB.

[2019-08-22 03:59] weinong opened #1834 "aks-engine shall not add standard LB with outboud publicIP in AKS scenario"
**Describe the bug**
in AKS, when `networkprofile.loadbalancerSku: Standard`, it will trip this [code](https://github.com/Azure/aks-engine/blob/6e505a7750a71fc54bfac931f569d38d6fdb4b00/pkg/engine/armresources.go#L39) which undesirably added the SLB.

**Steps To Reproduce**

**Expected behavior**

**AKS Engine version**

**Kubernetes version**

**Additional context**

[2019-08-22 04:40] ritazh commented on #1834
https://github.com/Azure/aks-engine/blob/6e505a7750a71fc54bfac931f569d38d6fdb4b00/pkg/engine/armresources.go#L37-L39
In the same if statement, if no `LoadBalancerBackendAddressPoolIDs` is provided in any of the agentPoolProfiles in the api model and it's a SLB, then we will hit the logic to create the outbound public ip.  Can you provide the repro steps so I can try to repro this with aks-engine?

[2019-08-22 05:27] ritazh commented on #1834
Looks like `LoadBalancerBackendAddressPoolIDs` is not provided in this case so we should skip creating SLB when `isHostedMaster`.

[2019-08-22 14:09] itzikstein commented on #804
we still have this issue on Kubernetes 1.14.1 . deployed with AKS-engine version 0.37.0

I0822 14:09:09.554030       1 log.go:172] http: TLS handshake error from 168.63.129.16:50686: EOF

[2019-08-22 14:41] mpalumbo7 opened #1836 "Scale/upgrade fails when using certificates in Key Vault"
**Describe the bug**

It appears that `aks-engine` cannot upgrade the cluster, because the API server's `caCertificate` is stored in the key vault, and is therefore unavailable for TLS handshake by `aks-engine` during calls to the Kubernetes API server.

The key error line:

[code]

This must also affect the `scale` command?

**Steps To Reproduce**

Have Kubernetes cluster with self-signed certifi

[2019-08-22 14:49] mpalumbo7 commented on #1836
I basically did manually what #879 is requesting.

[2019-08-22 16:14] mpalumbo7 commented on #1836
I found a workaround.

I download the `caCertificate` from the keyvault, and embedded it temporarily in my `apimodel.json`. I had to

[code]

Of course, then I ran into issues with the service principal not having `MICROSOFT.KEYVAULT/VAULTS/DEPLOY/ACTION` permission on the keyvault.

[2019-08-22 17:08] #1834 closed

[2019-08-22 17:23] devigned commented on #1711
@jackfrancis I think the dedicated hosts feature is a little different than `availabilityProfile`. That is to say, that dedicated hosts should, at some point, run both availability sets and vmss (I think based on documentation). So really, this is more like introducing a new dimension, perhaps `hostingProfile=[Dedicated|Shared]`, rather than another option to `availabilityProfile`.

Reading [this

[2019-08-22 18:09] PatrickLang opened #1842 "Drop requirement for hyperkube"
**Describe the request**
Hyperkube is being deprecated & removed in 1.17. This will break AKS-Engine deployments.

References:

- Thread asking for owners, people still using it https://groups.google.com/forum/#!msg/kubernetes-sig-architecture/4uTHr74ucv0/KImea_0RFAAJ
- https://github.com/kubernetes/kubernetes/pull/81268 - removing from GCE setup scripts

**Describe the solution you'd like**

Use

[2019-08-22 18:10] PatrickLang commented on #1842
cc @adelina-t

[2019-08-22 18:34] CecileRobertMichon commented on #1787
@ArchangelSDY indeed it looks like it is missing from the whitelist at https://github.com/Azure/aks-engine/blob/master/pkg/helpers/helpers.go#L118. AKS Engine is open-source and we welcome contributions if you'd like to take a shot at this and open a PR to add it to the whitelist.

[2019-08-22 18:35] CecileRobertMichon commented on #1779
@marosset any ideas?

[2019-08-22 18:45] CecileRobertMichon commented on #1836
This is a gap in the implementation where [GenerateKubeconfig](https://github.com/Azure/aks-engine/blob/master/pkg/engine/engine.go#L47) uses the certs in the apimodel as plain text to generate a kubeconfig to use to reach the apiserver.

It looks like PR #1245 added a hard dependency on the Kubernetes client in upgrade in order to pause cluster-autoscaler (and your cluster had cluster-autoscaler

[2019-08-22 18:46] CecileRobertMichon commented on #1830
Related to #377, we need to move everything in config files.

[2019-08-22 18:48] CecileRobertMichon commented on #1795
is this on a Windows or Linux node? what OS image is it currently using?

[2019-08-22 18:48] marosset commented on #1779
I can take a look.

[2019-08-22 20:04] mpalumbo7 commented on #1836
To confirm, I did have the cluster-autoscaler enabled. I managed to complete an upgrade using the workaround I mentioned above. However, it was just a test cluster so I don't know if there are any side effects.

[2019-08-22 20:26] #1777 closed

[2019-08-22 21:53] CecileRobertMichon commented on #1751
Can you check in the portal what the `publisher` parameter value is? Sounds like this error is extension specific.

[2019-08-22 22:16] marosset commented on #1779
It looks like the powershell here needs to be updated to wrap the value in quotes to produce correct json if the value is empty "userAssignedIdentityID": "", instead of "userAssignedIdentityID": ,
https://github.com/Azure/aks-engine/blob/0192361d3310daa9e4a8b77b5aca83bec8935abb/parts/k8s/windowskubeletfunc.ps1#L70

@vyta can you provide repro steps or would you be able to validate a fix?

[2019-08-23 01:13] alexeldeib commented on #478
n.b. for anyone revisiting this https://github.com/kubernetes/kubernetes/issues/80365

[2019-08-23 02:12] sukhong commented on #1739
Can we at least add a support to specify replicaCount for tiller addon at least? This is critical for our scenario to make Tiller run in HA mode.

[2019-08-23 10:58] #637 closed

[2019-08-23 16:10] adelina-t commented on #1778
Yeah, I've been seeing this as well in some of my test scripts. Fix should be pretty straightforward.

[2019-08-23 17:13] jackfrancis opened #1851 "runAsNonRoot transient error"
Our E2E tests occasionally see this error in "verify dashboard pod(s) are in a Ready state" test:

[code]

The pod state in such scenarios is stuck in `Pending`. Why is this error only happening occasionally? One would think that if a container's privilege configuration didn't match the cluster's runtime privilege configuration, the error would be consistent. What is going on here?

[2019-08-23 17:13] jackfrancis commented on #1851
@feiskyer @andyzhangx have you ever seen this?

[2019-08-23 20:11] vijaygos commented on #1580
Hi @CecileRobertMichon , we use aks-engine so bootstraping a new cluster can take sometime. Do you have any recommendations on how we can mitigate this issue instead of creating a new cluster for the time being ?

[2019-08-23 21:19] CecileRobertMichon commented on #1580
@vijaygos not sure I understand your comment... If you are running into this issue while creating a cluster, then I recommend retrying with a newer version of aks-engine. If you are running into this issue while scaling (or running apt operations on) an existing cluster, you will need to upgrade to aks-engine 0.38.1 or above. See https://github.com/Azure/aks-engine/blob/master/docs/topics/upgrade.

[2019-08-24 00:58] #1472 closed

[2019-08-24 13:31] feiskyer commented on #1851
Is this an issue only happening on the latest version, or it also happens on older versions?

[2019-08-24 13:32] feiskyer commented on #1851
I see we don't set `runAsNonRoot` in pod spec, any possible PodSecurityPolicy is enabled for some test cases?

[2019-08-24 17:51] #1423 closed

[2019-08-25 14:38] jackfrancis commented on #1851
We install a PodSecurityPolicy that delivers this for all >= 1.15 clusters:

https://github.com/Azure/aks-engine/blob/master/parts/k8s/addons/kubernetesmasteraddons-pod-security-policy.yaml#L58

Here's the 1.15 spec we use:

https://github.com/Azure/aks-engine/blob/master/parts/k8s/addons/1.15/kubernetesmasteraddons-pod-security-policy.yaml

And here's the 1.16 spec we use:

https://github.com/Azu

[2019-08-25 19:00] jackfrancis commented on #1851
observed in metrics-server and rescheduler too, experimenting here: https://github.com/Azure/aks-engine/pull/1856

[2019-08-26 05:29] feiskyer commented on #1851
possible PodSecurityPolicy is applied after dashboard Pod start or before? do we have any logs to check their sequence?

[2019-08-26 06:05] sukhong commented on #1851
I am also seeing this issue transiently from kubernetes-dashboard pods.

I am creating new kubernetes clusters in multiple DCs using aks-engine, this issue only happens randomly sometimes.

[2019-08-26 06:07] sukhong commented on #1851
Name:               kubernetes-dashboard-66dd8b8df7-pmpbq
Namespace:          kube-system
Priority:           0
PriorityClassName:  <none>
Node:               k8s-agentpool-39762526-vmss000001/10.248.0.35
Start Time:         Sun, 25 Aug 2019 22:29:22 -0700
Labels:             k8s-app=kubernetes-dashboard
                    pod-template-hash=66dd8b8df7
Annotations:        container.apparmor.securi

[2019-08-26 06:09] sukhong commented on #1851
The funny thing is, if I manually delete that pod and re-deploy the pod, it runs completely fine...

[2019-08-26 16:10] #1504 closed

[2019-08-26 18:55] vijaygos opened #1860 "Provisioning of VM extension 'vmssCSE' has timed out"
**What happened**:
VMSS status is set to 'failed' with error message - "Provisioning of VM extension 'vmssCSE' has timed out. Extension installation may be taking too long, or extension status could not be obtained."

As a result of this, SLB does not allow for binding of service (type Load balancer) with a public IP resource. The service status is always Pending:

**What you expected to happen**:

[2019-08-26 22:10] #1404 closed

[2019-08-27 03:10] #1503 closed

[2019-08-27 16:06] walterov opened #1863 "[Azure Stack] When doing 2 subsequent upgrades the second fails with "Invalid upgrade target version""
Description:
In Azure Stack, when doing 2 subsequent upgrades the second fails with "Invalid upgrade target version".

**Steps To Reproduce**
First upgrade from 1.12.8 to 1.13.8 which worked fine. Then upgrade from 1.13.8 to 1.14.4
Result:
"Error: loading existing cluster: error validating the api model: Invalid upgrade target version. Consider using --force if you really want to proceed: upgradin

[2019-08-27 16:19] walterov opened #1864 "[Azure Stack] rotate-certs uses parameter "apiserver" which is not currently supported in Azure Stack"
**Describe the bug**
In Azure Stack rotate-certs does uses parameter "apiserver" which is not currently supported in Azure Stack. The result is that rotate-certs does not work on Azure Stack.

**Steps To Reproduce**
On any Azure Stack where an AKS Engine has deployed a K8s cluster execute:

azureuser@AKSe-VM:~$ aks-engine rotate-certs\

Result:

Error: unknown flag: --apiserver
Usage:
  aks-engine

[2019-08-27 19:28] satishsudini opened #1866 "Issues with customVMTags with aks-binary"
**Describe the bug**
Not able to add customVMTags with key/value pair.

**Steps To Reproduce**
    "agentPoolProfiles": [
      {
        "name": "name",
        "count": 1,
        "distro": "ubuntu",
        "vmSize": "Standard_D4s_v3",
        "vnetSubnetId": "SUBNET_ID",
        "availabilityProfile": "AvailabilitySet",
        "storageProfile" : "ManagedDisks",
        "diskSizesGB": [32],

[2019-08-27 20:50] jackfrancis opened #1868 "E2E kube-system pods check looks for static count"
E.g.:

[code]

From a cluster w/ 3 masters and one node (i.e., 4 nodes overall). So it looks like the above test is not adaptable when being re-used on a long-lived cluster whose node count changes over time.

[2019-08-27 23:07] #1866 closed, assigned to CecileRobertMichon

[2019-08-28 05:04] yixwang opened #1869 "Pod to Pod encryption for mixed cluster"
**Describe the request**
We are running a mixed which contains both windows and linux nodes. We want to know if there's an option in aks-engine to enable network encryption within the cluster among both windows and linux nodes.

**Explain why AKS Engine needs it**
To secure the network traffic within the cluster.

**Describe the solution you'd like**
Ideally all the pod to pod communication should

[2019-08-28 13:36] feiskyer commented on #1817
@jackfrancis Have we configured "addonmanager.kubernetes.io/mode" to Reconcile for the daemonset?

[2019-08-29 00:23] sukhong commented on #1851
We are using 1.15.3

[2019-08-29 17:31] #1720 closed

[2019-08-30 00:31] walterov commented on #1863
I went through the steps again and could not repro, closing issue.

[2019-08-30 00:31] #1863 closed

[2019-08-30 09:26] vmrm commented on #1799
https://github.com/Azure/aks-engine/issues/1794

[2019-08-30 09:42] vmrm commented on #1794
**Steps To Reproduce**

Upgrade a cluster with three nodepools and version 1.11.9
Upgrade to version 1.12.8 was stopped during upgrade with errors from Azure API (about concurrent operations and etc, pretty usual, not a problem with aks-engine)
Run the upgrade command again:
`Error: loading existing cluster: error validating the api model: Invalid upgrade target version. Consider using --force if

[2019-08-30 12:14] #1519 closed

[2019-08-30 18:28] devigned opened #1882 "v1.16/flannel/docker configuration nodes never reach ready state"
**Describe the bug**
When testing the following API model the nodes never reach a ready state:
[code]

[code]

**Steps To Reproduce**
run `make test-kubernetes` for the v1.16/flannel/docker test configuration

**Expected behavior**
Nodes reach a ready state and the cluster is functioning properly.
**AKS Engine version**
5bca2b4fefe3db4c215c6f017b5f949896cc18e2
**Kubernetes version**
v1.16
**additi

[2019-08-30 18:38] devigned opened #1883 "v1.16/network_policy/azure e2e test panic in should have addons running test"
**Describe the bug**
When testing the following API model the test panics in should have addons running test:
[code]

[code]
**Steps To Reproduce**
run `make test-kubernetes` for the v1.16/network_policy/azure test configuration

**Expected behavior**
- should not panic during tests
- should complete tests successfully

**AKS Engine version**
5bca2b4fefe3db4c215c6f017b5f949896cc18e2
**Kubernetes v

[2019-08-30 21:59] devigned opened #1885 "v1.13/network_policy/calico e2e test failure in kube-system validation"
**Describe the bug**
When testing the following API model the nodes never reach a ready state:
[code]
[code]
**Steps To Reproduce**
run `make test-kubernetes` for the v1.13/network_policy/calico test configuration

**Expected behavior**
Nodes reach a ready state and the cluster is functioning properly.
**AKS Engine version**
5bca2b4fefe3db4c215c6f017b5f949896cc18e2
**Kubernetes version**
v1.16
**a

[2019-08-30 23:38] rjaini opened #1887 "Add windows K8s build and deploy support for Azure Stack"
Add windows K8s build and deploy support for Azure Stack.

[2019-08-31 10:24] ocdi commented on #1048
I had this error on the release-v0.40.0 branch when trying an upgrade on a test cluster. I was running in the directory and specified `apimodel.json` directly. It worked successfully if I changed the path to `./apimodel.json`

I opened a PR #1889 that works for me, however I'm not a go developer so I've done this in a naive manner.

[2019-08-31 21:22] #1477 closed

[2019-09-01 18:40] vmrm opened #1890 "After upgrading aks-engine deployed cluster with calico networkPolicy to 1.12.8 (after upgraded to 1.13.10, and after 1.14.6) calico-node fails"
**Describe the bug**
After upgrading aks-engine deployed cluster with calico networkPolicy to 1.12.8 (than to 1.13.10, and after 1.14.6) calico-node fails
kubectl to get failed pods list:

[code]

kubectl to get logs from one of failed logs:

[code]

**Steps To Reproduce**
install cluster with calico as networkPolicy and then upgrade it.
this is a apimodel.json from 1.13.10 version k8s.

[code]

*

[2019-09-01 18:49] vmrm commented on #1890
[code]
same thing in 1.15.3

[2019-09-01 19:19] vmrm commented on #1890
found a https://github.com/Azure/aks-engine/blob/master/docs/topics/features.md#calico-33-cleanup-after-upgrading-to-35-or-greater

[2019-09-01 20:05] #1890 closed

[2019-09-02 00:59] #1539 closed

[2019-09-02 09:23] sereinity commented on #622
Please re-open this, this issue still occurs to some users.

[2019-09-02 11:41] daguilarv commented on #1758
We are facing this issue even using aks-engine 0.38.8 with standard loadBalancers a vmss agentpools and k8s version is 1.13.10.

[2019-09-02 17:39] yixwang commented on #1782
is there any work that's currently being worked on for this one? we are also in need of this feature. Thanks.

[2019-09-03 14:13] mtgerb commented on #1794
The problem is here:
`
		if toBeUpgradedCount == 0 {
			ku.logger.Infof("No nodes to upgrade")
			return nil
}
`
It should not return nil, but continue as it is in the loop over all agentpools

[2019-09-03 17:03] CecileRobertMichon opened #1894 "Automate accelerated networking VM sizes whitelist"
https://github.com/Azure/aks-engine/blob/master/pkg/helpers/helpers.go#L118

At least Standard_D16_v3 is missing.

[2019-09-03 19:03] mboersma commented on #1894
Hmm, I see [`Standard_D16_v3`](https://github.com/Azure/aks-engine/blob/master/pkg/helpers/helpers.go#L126) at the end of one line, so it appears it is in the whitelist.

I ran `./pkg/helpers/generate_azure_constants.py` and it added several new VM types, so I'll make a PR for that, but I'm not sure what the root problem is/was here.

[2019-09-03 19:05] CecileRobertMichon commented on #1894
Ah you're right, I didn't see it there... Not sure why it wouldn't get enabled. Maybe the action item here is to verify that building a cluster with Standard_D16_v3 nodes results in accelerated networking enabled and to audit the rest of the whitelist then.

[2019-09-03 19:11] mboersma commented on #1894
Sounds like a plan–I can do that.

[2019-09-03 19:32] deaborch opened #1895 "Tracking AKS Engine operation in code"
**Describe the request**
Request for reusable means of tracking the AKS engine operation (deploy, scale and upgrade).

**Explain why AKS Engine needs it**
This will allow for an easier way to modify code flow based on which operation is performed while still allowing for function reusability.

**Describe the solution you'd like**
Introduce a boolean types to the container service properties to ide

[2019-09-03 21:12] yixwang opened #1898 "Automatic OS update for windows nodes"
I am wondering what is recommended approach for updating OS for windows nodes. Currently we see there is "enableAutomaticUpdates" attribute for "windowsProfile" and we assume by setting this to true, the windows nodes will have automatic OS updates.

I saw in the following example cluster definition files, this attribute is set to false.  So we would like to understand the potential risk of enabli

[2019-09-03 23:33] #1380 closed

[2019-09-03 23:44] sozercan commented on #1894
There is a new API (`2019-04-01`) for this (finally!) to avoid manual whitelist process. I don't believe it's integrated in CLI yet.

`https://management.azure.com/subscriptions/<subId>/Microsoft.Compute/skus?api-version=2019-04-01`

[code]

[2019-09-04 00:11] donaldguy opened #1901 "SwitzerlandNorth and SwitzerlandWest missing from constants/TLS generation"
**Describe the bug**

These two Azure regions GAed a week ago https://azure.microsoft.com/en-us/blog/microsoft-azure-available-from-new-cloud-regions-in-switzerland/ but are absent from

https://github.com/Azure/aks-engine/blob/master/pkg/helpers/azureconst.go#L11-L67 at this time

resulting in TLS errors went attempting validation.

As the work for #1897 did not pick these up, it may indicate a b

[2019-09-04 00:14] CecileRobertMichon commented on #1901
`az account list-locations -o table` doesn't show the new regions for me

[2019-09-04 00:25] CecileRobertMichon commented on #1901
confirmed the Switzerland regions aren't available yet. we will pick up the new regions once they are available.

[2019-09-04 02:55] satishsudini opened #1902 "Custom resource tags are not working for availabilityset"
**Describe the bug**
Custom resource tags are not working for availabilityset.
When mandatory tags are enforced at subscription level cluster creation failing with the availability set disallowed by policy . Custom tags working fine at vm but not for availability set

**Steps To Reproduce**

    "masterProfile": {
      "count": 3,
      "dnsPrefix": "testenv",
      "distro": "ubuntu",
      "vmS

[2019-09-04 11:26] oronboni opened #1903 "Permisssions errors in cluster-autoscaler"
**Describe the bug**
From the autoscaler pod I get the following errors:
E0904 05:48:00.422464       1 reflector.go:126] k8s.io/autoscaler/cluster-autoscaler/utils/kubernetes/listers.go:339: Failed to list *v1.Job: jobs.batch is forbidden: User "system:serviceaccount:kube-system:cluster-autoscaler" cannot list resource "jobs" in API group "batch" at the cluster scope
I0904 05:48:00.442419       1

[2019-09-04 16:50] satishsudini opened #1905 "Custom script is failing with new Aks-binary"
**Describe the bug**
Custom script is failing with new Aks-binary

**Steps To Reproduce**

    "extensionProfiles": [
      {
          "name": "bootstrap",
          "version": "*",
          "extensionParameters": "*",
          "script": "script.sh",
          "urlQuery": "*"
      }
    ],

**Expected behavior**
CSE extension should be created without Error

**AKS Engine version**

working fin

[2019-09-04 16:54] CecileRobertMichon commented on #1905
This seems like a duplicate of https://github.com/Azure/aks-engine/issues/1751?

[2019-09-04 16:55] CecileRobertMichon commented on #1902
This is by design, the `customVMTags` are only meant to tag VM resources. Will leave this feature open as a feature request.

[2019-09-04 17:15] satishsudini commented on #1751
@CecileRobertMichon  : This is ouput for working and not working

Additional context
output generated with aks binary v0.40 (which is having issue)
"dependsOn": [
"[concat('Microsoft.Compute/virtualMachines/', variables('masterVMNamePrefix'), copyIndex(variables('masterOffset')), '/extensions/cse', '-master-', copyIndex(variables('masterOffset')))]"
],
"location": "[resourceGroup().location]",
"na

[2019-09-04 21:26] jackfrancis commented on #1306
Status:

Confirmed that 18.04-LTS base image exhibits slower time sync compared to 16.04-LTS. In other words, this is investigative work that needs to happen w/ Azure Linux team(s).

Also worth noting: our baseline req's/expectations for time sync responsiveness is derived from real world 16.04-LTS behaviors and not strong requirements. So, perhaps this 18.04-LTS behavior is normal and should not

[2019-09-04 21:29] jchauncey commented on #1842
can someone explain this to me because im confused

[2019-09-04 21:29] craiglpeters commented on #1306
According to @palma21 the AKS team can address this if/when it becomes a priority

[2019-09-04 21:31] jchauncey commented on #1842
So one issue says they are moving hyperkube out of tree... But this issue says to move away from using hyperkube... So do we just want to use the individual images that hyperkbue is based on? Are those staying in tree?

[2019-09-04 21:36] mboersma commented on #1903
@oroboni this should be fixed by @nilo19's work in #1582 (adds `batch` permissions as well as couple other tweaks). Not in a released version yet, but soon.

[2019-09-04 21:36] #1903 closed

[2019-09-04 21:50] ritazh commented on #1842
This probably needs to happen in 2 stages:
1) we need to build/release our own hyperkube image
2) replace hyperkube with individual binaries

[2019-09-04 21:53] CecileRobertMichon commented on #1566
@rashmichandrashekar looks like this is happening again

[2019-09-04 22:14] Bhuvaneswari-Santharam opened #1910 "All master and agent nodes goes to "NotReady" status after running rotate-certs cmd"
**Describe the bug**
After rotate-certs command is executed on healthy cluster, all the master and agent nodes goes to "NotReady" status

**Steps To Reproduce**

1. Deploy the cluster
2. run the rotate-certs command
3. Nodes goes to "NotReady" status

**Expected behavior**
Nodes should be "Ready" status

**AKS Engine version**
used master branch

**Kubernetes version**
1.13

**Additional context**

[2019-09-04 22:26] yixwang commented on #1898
We are currently using aks-engine to deploy the cluster. Essentially what we need is to upgrade the windows nodes. We see that AKS currently has the command to upgrade the node pool. https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#upgrade-a-node-pool
[code]
I am wondering what's the process to ugprade the nodepool behind scene. Does it use aks-engine command to do so?

[2019-09-05 00:37] jchauncey commented on #1842
alright so we are already doing 1. we just need to consume it. granted its coming from the k/k repo so if they yank it out in 1.17 we need to be building from whatever source tree it lands in. I also have the individual binaries for both linux and windows built and in tarball form and in blob storage ready to be consumed. So most of this work will be integration into aks-engine

[2019-09-05 06:54] yixwang opened #1911 "Node become unusable with pod stuck at "ContainerCreating" or "Terminating" state"
**Describe the bug**
A pod on a windows node failed to start with the following error message:

`
Warning  FailedCreatePodSandBox  21s   kubelet, 1842k8s000  Failed create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "6234505ff6ff040325e312e72921fe7d8bc4ee943a23d416112846270f8e200e" network for pod "dxpservice-deployment-6bd7bb4f6b-96kxg": NetworkPlugin cni fail

[2019-09-05 13:30] josh-hetland commented on #1902
I'd like to vote on this feature request. ideally the ability to tag ALL resources generated would be ideal for large corporations that have fine grain charge back.

[2019-09-05 13:47] digeler opened #1912 "Connection lifetime is changed once connection has established --conntrack"
i have some doubts regarding the connection lifetime values changes in conntrack for aks.
when a tcp is established we see the connection life time is  :  conntrack -L
 6 86389 ESTABLISHED src=10.255.255.5 dst=10.240.0.37 sport=57598 dport=443 src=10.240.0.37 dst=10.255.255.5 sport=443 dport=57598 [ASSURED] mark=0 use=1

then for other connections with established we see it drops to 3 min  :

tcp

[2019-09-05 16:21] #1048 closed

[2019-09-05 16:48] #1901 closed

[2019-09-05 18:22] blushingpenguin commented on #1912
I would add that the connection lifetime being used is the value of nf_conntrack_tcp_timeout_max_retrans (changing the value on the node hosting the pod changes the observed connection lifetime), so I think that something is causing netfilter to believe that TCP retransmissions are occurring.  Collecting packets with tcpdump and analyzing with wireshark didn't show any retransmissions however.  Th

[2019-09-06 03:31] nilo19 opened #1914 "Add cloud-controller-manager configuration."
**Describe the request**
Add API support to enable cloud-controller-manager configuration.

**Explain why AKS Engine needs it**
We need to enable some feature flag of ccm, e.g., `ServiceLoadBalancerFinalizer`

[2019-09-06 03:42] feiskyer commented on #1914
The setting of cloud-controller-manager is required for the following test

[code]

/assign @ritazh

[2019-09-06 07:30] digeler commented on #1912
Hi Team ,any updates on this ?

[2019-09-06 08:05] feiskyer opened #1915 "Switch to cloud-provider-azure for cloud-controller-manager image"
Because of https://github.com/kubernetes/kubernetes/pull/81029, cloud-controller-manager image won't be released since v1.16.beta.x.

~~We should switch to hyperkube image when configuring cloud-controller-manager.~~

Update: I didn't notice there's a change also dropping cloud-controller-manager support in hyperkube https://github.com/kubernetes/kubernetes/pull/81219. After this PR, we could only

[2019-09-06 08:05] feiskyer commented on #1915
@ritazh Could you help to take a look at this?

/assign @ritazh

[2019-09-06 08:10] feiskyer opened #1916 "Deploy CSI drivers for AzureDisk/AzureFile for cloud-controller-manager"
When useCloudControllerManager is set to true, the in-tree volumes plugins for AzureDisk and AzureFile won't work any more. CSI drivers should be deployed, refer

* AzureDisk: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/install-azuredisk-csi-driver.md
* AzureFile: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/install-azurefile-csi-driver.md

[2019-09-06 08:31] rexhinvorpsi opened #1917 "aks-engine and gmsa support."
Hi guys ,
I have been trying to enable gmsa on my cluster using aks-engine but with no luck .
Does anyone know of a guide to follow on how to make this possible in Azure .
I have followed the guide in [Kubernetes and  gmsa for windows nodes](https://kubernetes.io/docs/tasks/configure-pod-container/configure-gmsa/).
I think i am stuck on the part of the domain joining the windows node to AD .

Than

[2019-09-06 17:21] jackfrancis commented on #1912
Is this a tcp stack configuration question or iptables configuration question? I'm not sure what the actual concrete problem is in the TCP/IP behaviors here.

@khenidak FYI

[2019-09-06 17:23] jackfrancis commented on #1911
@tamilmani1989 FYI, is there an Azure CNI issue open to track this symptom?

[2019-09-06 17:25] jackfrancis commented on #1914
Are we talking about this kind of configuration that is already possible?

[2019-09-06 17:25] jackfrancis commented on #1914
Sorry: https://github.com/Azure/aks-engine/blob/master/docs/topics/clusterdefinitions.md#feat-cloud-controller-manager-config

[2019-09-06 17:29] tamilmani1989 commented on #1911
@jackfrancis whats the version of CNI here?
@yixwang can you attach c:\k\azure-vnet.log also and let us know subscription id, region where you deployed cluster and VMName?

@chandanAggarwal @ashvindeodhar

[2019-09-06 17:35] ritazh commented on #1914
Seems like a feature-gate https://github.com/kubernetes/cloud-provider-azure/blob/master/tests/k8s-azure/manifest/e2e-slow.json#L16

[2019-09-06 17:46] jackfrancis commented on #1914
So aks-engine cloud-controller-manager generic config interface doesn't currently support `--feature-gates` is the gap?

[2019-09-06 17:54] CecileRobertMichon commented on #1917
related to #1225

[2019-09-06 18:33] blushingpenguin commented on #1912
The problem is that the connection lifetime in the ip conntrack table is being erroneously set to 300s vs the correct value for an established tcp connection of 86400s.  This page:

https://www.kernel.org/doc/Documentation/networking/nf_conntrack-sysctl.txt

lists the default timeout values for the various tcp connection states in the conntrack table.

When @digeler tried this reproduction on his

[2019-09-06 18:55] jackfrancis commented on #1912
That makes sense, thanks for the detailed overview. To rule out a bug in conntrack, do we have any higher layer (e.g., application layer) symptoms that we'd expect if indeed established connections are being interrupted prior to the expected 24 hour timeout (86400 seconds)?

On a related note, we have some targeted kernel configuration validation that we validate for every cluster buildout to ensu

[2019-09-06 18:57] ritazh commented on #1914
does `--feature-gates` in `controllerManagerConfig` get propagated?

[2019-09-06 19:04] jackfrancis commented on #1914
Yeah, actually nevermind, the current `cloudControllerManagerConfig` configuration object under `kubernetesConfig` supports a standard `--feature-gates` configuration, e.g.:

[code]

(Not sure that's a 100% correctly formulated CCM feature gate btw. But something like the above should work w/ the current code.)

Also, we're talking about cloud-controller-manager feature gates, not controller-manag

[2019-09-06 19:09] blushingpenguin commented on #1912
Higher level -- yes, if you leave the connection to timeout then the mongo client will throw an error. You can easily get that to happen in the reproduction by requesting a page from the test client, checking for a low lifetime connection, waiting 5 minutes, then requesting a page again -- you'll then get an error.  (That behaviour is what led to me digging down this far in the first place).

I do

[2019-09-06 19:15] jackfrancis commented on #1912
Has anyone tried repro'ing w/ kubenet (simple bridge networking, no CNI)? Just add a `"networkPlugin": "kubenet"` to the `"kubernetesConfig"` config object under `"orchestratorProfile"`. E.g.:

https://github.com/Azure/aks-engine/tree/master/examples/networkplugin#kubenet

If the repro happens in both Azure CNI and kubenet configurations, then we should be able to go lower down the stack for more

[2019-09-06 19:36] blushingpenguin commented on #1912
That's a reasonable suggestion but it's _already_ further down the stack than that -- the CNI plugin in this case has just configured a bunch of iptables rules to manage traffic between the pods (the networking is all clusterIP).  You can see this if you run the repro then look at the iptables configurations on the nodes.

[2019-09-06 19:40] jackfrancis commented on #1912
@cpuguy83 does this thread suggest some interesting mediation is happening at the container runtime networking layer? @blushingpenguin have we tried repro'ing on 18.04-LTS?

See the `"distro"` config vals here:

https://github.com/Azure/aks-engine/blob/master/examples/ubuntu-1804/kubernetes.json

[2019-09-06 19:40] davidmatson commented on #737
/lifecycle remove-stale

[2019-09-06 19:45] blushingpenguin commented on #1912
I don't think so, @digeler is that something you could try out? Otherwise I can try and set up a cluster using aks-engine next week.

[2019-09-06 19:53] ritazh commented on #1914
hmm @jackfrancis you are right, i don't see `cloudControllerManagerConfig` used in https://github.com/kubernetes/cloud-provider-azure/blob/master/tests/k8s-azure/manifest/e2e-slow.json

@nilo19  Can you give `"--feature-gates"` in `cloudControllerManagerConfig` a try?

[2019-09-06 22:19] weinong opened #1919 "Upgrade VMSS node may fail with drain error"
**Describe the bug**
Draining node should be best effort. We should not fail upgrade upon failing to drain node.
https://github.com/Azure/aks-engine/blame/f415d6ffd772a2037c2eea7a5b086cf5607add10/pkg/operations/kubernetesupgrade/upgrader.go#L553

**Steps To Reproduce**

**Expected behavior**

**AKS Engine version**

**Kubernetes version**

**Additional context**

[2019-09-06 22:30] #1377 closed

[2019-09-06 23:13] cpuguy83 commented on #1912
@jackfrancis For k8s, the container runtime does not touch the network, it is all handled by the kubelet/cni.

[2019-09-06 23:31] mboersma commented on #1894
Here's an `az` CLI one-liner with [JMESPath](http://jmespath.org/) query that returns the name and capability value of SKUs with the "AcceleratedNetworkingEnabled" property set to something other than `null`:

[code]

[2019-09-06 23:34] #1887 closed

[2019-09-07 00:19] KyleSanderson commented on #805
lol pretty disgraceful this is broken over a year later.

[2019-09-07 10:29] feiskyer commented on #1914
Thanks @jackfrancis @ritazh, and sorry didn't notice this is already supported.

@nilo19 let's add the feature gates using cloudControllerManagerConfig.

[2019-09-07 10:30] nilo19 commented on #1914
OK. Thank you again @jackfrancis @ritazh.

[2019-09-07 14:30] #866 closed

[2019-09-08 02:11] #1914 closed

[2019-09-08 05:56] digeler commented on #1912
@jackfrancis  this is the vm details :
 "aksEngineVersion": "v0.32.3",
    "creationSource": "aksengine-k8s-agentpool1-29816831-vmss",
    "orchestrator": "Kubernetes:1.14.0-beta.1",
    "poolName": "agentpool1",
    "resourceNameSuffix": "29816831"
  },
  "instanceId": "0",
  "sku": {
    "name": "Standard_D2_v3",
    "tier": "Standard"
  },
  "properties": {
    "latestModelApplied": true,
    "

[2019-09-08 11:35] darthchudi commented on #542
Here to add +1 to this

[2019-09-08 13:48] yfried commented on #1741
@kkmsft - Hi, Sorry for the delay. I was offline for vacation.
I see you've found to root cause. Thank you for that.
Do you still need more info from my side?
Is there an ETA on the new VMSS roll-out?

[2019-09-09 05:18] jjburr commented on #1917
I just added a load balancer and a NAT rule for RDP to the node then used SConfig to join the device to AD.
Curious as to how you enabled the feature flag as im stuck on this part?

[2019-09-09 05:36] yixwang commented on #1911
@tamilmani1989 I don't have the logs right now as I have deleted and recreated the cluster due to development needs. I will collect the log file and upload if I run into this issue again.

[2019-09-09 07:33] rexhinvorpsi commented on #1917
Hi @jjburr , you can enable feature gates in the kubernetes config part  of the api model ,
 `    "kubernetesConfig": {
        "kubeletConfig": {
          "--feature-gates": "WindowsGMSA=true"
        },
        "apiServerConfig": {
          "--feature-gates": "WindowsGMSA=true"
        }`

I followed these links on the aks-engine page: [feature-gates](https://github.com/Azure/aks-engine/tree/m

[2019-09-09 07:37] jjburr commented on #1917
thanks @rexhinvorpsi - I did see that after i deployed, any tips or ideas how it can be done without reploying have all my gmsa's configured and nodes domain joined so trying to avoid starting over :)

[2019-09-09 07:40] rexhinvorpsi commented on #1917
I think having the feature gates enabled for windows gmsa i may be wrong i am pretty new at this, in this article from the kubernetes page [gmsasupport](https://kubernetes.io/docs/tasks/configure-pod-container/configure-gmsa/) it does say it needs to be enabled as it is in alpha stage.

[2019-09-09 07:55] jjburr opened #1920 "Question: Enabling a feature-gate after cluster is deployed - where is the config file?"
Question: How do you enable the feature-gates after a cluster has already been deployed. I was unable locate the config/manifest file on master to enable the required feature gates

[2019-09-09 08:47] yfried commented on #1760
Hi, Any update on this?

[2019-09-09 16:53] CecileRobertMichon commented on #1920
The kubelet config is located at `/etc/default/kubelet`.

[2019-09-09 18:14] jackfrancis commented on #1912
@digeler yes, and that can only be tested via aks-engine (there is no 18.04-LTS option in AKS yet)

[2019-09-09 19:31] mo-saeed commented on #1611
Is there any plans to implement this ?, this is already in aks. wondering why not in aks-engine.

[2019-09-09 19:47] tamilmani1989 commented on #1911
@yixwang  - Please check what version of CNI you are using by running following cmd:

`c:\k\azurecni\bin\azure-vnet.exe -v`

If it returns below 1.0.25 then upgrade AKS-engine. We fixed a critical issue related to CNI in v1.0.25 - >https://github.com/Azure/azure-container-networking/pull/382

[2019-09-09 20:28] jackfrancis commented on #1611
Hi @mo-saeed at present any additional cluster lifecycle foo in aks-engine is being gathered as requirements for a re-implementation of this entire area within aks-engine. Stay tuned!

[2019-09-09 21:08] jjburr commented on #1920
Perfect thanks!

[2019-09-09 21:08] #1920 closed

[2019-09-09 21:24] yixwang commented on #1911
@tamilmani1989 we were using the latest aks-engine 0.40.0 and I also double checked the azure cni plugin version, it is 1.0.25.

[2019-09-09 21:32] davidmatson commented on #242
/lifecycle remove-stale

[2019-09-09 21:32] davidmatson commented on #245
/lifecycle remove-stale

[2019-09-09 23:56] marosset opened #1926 "Deterministic patches for Windows nodes"
**Describe the request**
AKS Engine team creates and publish up-to-date Windows images to the Azure marketplace for use with AKS/aks-engine.

**Explain why AKS Engine needs it**
On several occasions Windows Server images published by other teams in Microsoft have regressed functionality for kubernetes clusters.
On other occasions patches that fix existing issues have been released first outside of

[2019-09-09 23:57] marosset commented on #1926
Breaking up https://github.com/Azure/aks-engine/issues/1084 into more scoped issues

[2019-09-10 00:03] marosset opened #1927 "Limited egress support for Windows nodes"
**Describe the request**
Support deploying Windows k8s nodes in limited egress environments.

**Explain why AKS Engine needs it**
Customer requirement

---

- [x] Add required content to VHD build scripts
- [x] Update CSEs to remove all cached content from VHDs before exit
- [x] Update CSEs to first look for content on VHDs before downloading components
- [x] Decide if we should handle docker vers

[2019-09-10 00:03] marosset commented on #1927
Splitting up https://github.com/Azure/aks-engine/issues/1084 into multiple issues

[2019-09-10 00:07] marosset opened #1928 "Refactor Windows node setup scripts for better customization"
**Describe the request**
Refactor Windows CSEs to better accomdate
- Testing upstream builds of Kubernetes
- Testing CRI-ContainerD
- Testing upstream builds of CNI plugins

**Explain why AKS Engine needs it**
More details and motivation captured at https://github.com/Azure/aks-engine/pull/1386

---

- [ ] Use upstream k8s tar files and no longer start kubelet  via nssm.exe
- [ ] Support for multi

[2019-09-10 05:58] Ashish-009 opened #1930 "Installing certifcate from keyvault to windowspool vm using AKS engine"
Hi all,

I am using AKS engine to create linux vms and windows vm. I am looking for a way to install certificate from keyvault to windows store on windows vm using the configuration file. This certificate then will be used to authenticate to Geneva monitoring.
Can anyone please tell me how to do that Or if there's any other way to achieve this scenario?

[2019-09-10 06:42] digeler commented on #1912
ok i will do the repro and report back,

[2019-09-10 09:48] digeler commented on #1912
here is the repro ,seems like not happening on the 18.04
first the conntrack from the client node :

tcp      6 86396 ESTABLISHED src=10.240.0.5 dst=10.240.255.5 sport=35060 dport=443 src=10.240.255.5 dst=10.240.0.5 sport=443 dport=35060 [ASSURED] mark=0 use=1
tcp      6 142 ESTABLISHED src=127.0.0.1 dst=127.0.0.1 sport=34824 dport=41099 src=127.0.0.1 dst=127.0.0.1 sport=41099 dport=34824 [ASSURED

[2019-09-10 13:05] rexhinvorpsi commented on #1917
@jjburr Hey , one small question did you do a custom vnet to do the domain join of the node ?
Thanks

[2019-09-10 14:00] brunhil commented on #1898
Hi @yixwang , you can see the following documentation around disabling/enabling windows updates located [here](https://github.com/Azure/aks-engine/blob/3101db873ee1df5974b591d28995b79b94386393/docs/topics/windows-and-kubernetes.md#disabling-automatic-updates).

This feature was introduced to address [#402 - Disable automatic windows update](https://github.com/Azure/aks-engine/issues/402).

As you

[2019-09-10 15:21] devigned commented on #1930
Check out [Azure Key Vault FlexVolume Add-on](https://github.com/Azure/aks-engine/blob/1904443389f15d671fe2d3c29c37f42eca4d66e8/examples/addons/keyvault-flexvolume/README.md).

[2019-09-10 16:21] jackfrancis commented on #1912
@digeler It could mean that the root cause of this behavior exists in the way that kubelet + CNI interact with the kernel network interfaces in our (by our I mean Azure + Canonical) 16.04-LTS implementation; but our 18.04-LTS implementation does not induce these symptoms.

Some more negative repros from folks on 18.04-LTS would get us closer to making that (admittedly high level) conclusion.

Addi

[2019-09-10 20:47] mo-saeed commented on #1611
Thanks @jackfrancis !

[2019-09-10 21:07] jjburr commented on #1917
@rexhinvorpsi yep created two new subnets on an existing vnet with AD and deployed following the custom vnet example.

[2019-09-10 21:07] PatrickLang opened #1932 "Update metrics server to 0.3.4 for Kubernetes 1.16"
Per https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.16.md/#changelog-since-v1160-beta2, 1.16 should use metrics-server 0.3.4. AKS-Engine is still using 0.2.1 for all versions

[2019-09-11 00:29] yixwang commented on #1898
Hi @brunhil, thanks for your reply. Do you know what does aks use to achieve the windows node OS updates with the `az aks nodepool upgrade` command? Is that something could be supported in aks-engine?

[2019-09-11 02:33] Banani-Rath commented on #1795
Its windows VMSS: Windows

{
  "name": "1916k8s00",
  "id": "/subscriptions/fef9897e-e4c6-451a-9e2e-850f9876fdc7/resourceGroups/ops-build-service-k8s-prod/providers/Microsoft.Compute/virtualMachineScaleSets/1916k8s00",
  "type": "Microsoft.Compute/virtualMachineScaleSets",
  "location": "westus",
  "tags": {
    "aksEngineVersion": "v0.31.1",
    "creationSource": "aksengine-1916k8s00",
    "orche

[2019-09-11 02:37] Banani-Rath opened #1936 "How to know whether aks-engine requires version upgrade?"
**Describe the bug**

**Steps To Reproduce**

**Expected behavior**

**AKS Engine version**

**Kubernetes version**

**Additional context**

[2019-09-11 11:46] senordeveloper commented on #719
We would like to see this feature soon because we are currently building private clusters in Azure and to be fail safe we need to set up three masters which have to use the VMSS currently.

[2019-09-11 14:43] #1566 closed

[2019-09-11 14:50] devigned commented on #1936
Can you explain your question in a bit more detail?

[2019-09-11 16:23] craiglpeters commented on #1306
Just heard that bring your own key depends upon 18.04

[2019-09-11 16:39] Banani-Rath commented on #1936
Thank you @devigned for quick response!At present AKS managed cluster sends a notification to take action for to apply latest kubernetes version with cluster upgrade!My question is ,how do we know when do we have to upgrade our aks-engine, for above scenario?Is there a way to get notified?If we are running on a lower version,high chances are there we might be hitting some security bugs.

[2019-09-11 16:45] devigned commented on #1936
My pleasure! I think I get it. Thank you for the clarification.

So, running `aks-engine version` and then checking if there's a newer version listed on https://github.com/Azure/aks-engine/releases is the experience you'd like for checking if there is a newer version of aks-engine available?

[2019-09-11 16:54] jackfrancis commented on #719
@senordeveloper why aren't you able to build 3 master clusters with availability set master VMs?

[2019-09-11 17:08] CecileRobertMichon opened #1937 "Windows VM extensions return success even if powershell script failed"
**Steps To Reproduce**

`exit 1` at the beginning of `parts/k8s/kuberneteswindowssetup.ps1`.
Deploy a hybrid cluster. Notice that the ARM deployment is successful, including the Windows extensions. However, the windows nodes never come up in the cluster.

[2019-09-11 17:10] marosset commented on #1937
I think @PatrickLang mentioned this behavior as well - I'll take a look

[2019-09-11 17:44] PatrickLang commented on #1932
/assign
Will add this to PR https://github.com/Azure/aks-engine/pull/1109

[2019-09-11 18:05] senordeveloper commented on #719
The latest AKS-Engine does not allow to build a private 3 master cluster with availability set VMs.
Maybe we misconfigured something?
Did anyone try this configuration? Thanks.

[2019-09-11 18:08] jackfrancis commented on #719
@CecileRobertMichon Does that limitation ring true to you?

[2019-09-11 18:10] CecileRobertMichon commented on #719
It doesn't. @senordeveloper can you please share the apimodel you're using in a new issue? It sounds like what you're describing isn't related to this particular issue since you're using private cluster + availability set, not VMSS masters.

[2019-09-11 18:24] CecileRobertMichon commented on #719
I just deployed a cluster based on this configuration successfully with the latest aks-engine: https://github.com/Azure/aks-engine/blob/master/examples/kubernetes-config/kubernetes-private-cluster.json

[2019-09-11 18:40] senordeveloper commented on #719
Does this work also with VMSS Agents and Availability Set Masters? Sorry, I can’t test it actually.

[2019-09-11 20:58] #1710 closed

[2019-09-11 23:21] Banani-Rath commented on #1936
Is there a way to get email notification\RSS feed?

[2019-09-11 23:34] devigned commented on #1936
You should be able to watch (the GitHub watch dropdown above) the project for releases only. Then you will get notified anytime we drop a new release :).

[2019-09-12 00:15] CecileRobertMichon commented on #1937
this is the equivalent for linux: https://github.com/Azure/aks-engine/blob/master/docs/howto/troubleshooting.md#cse-exit-codes

[2019-09-12 06:45] digeler commented on #1912
Checked also 16.04 with kubenet , the issue is there , so looks like the issue is with 16.04.
here is the grep from conntrack  :
cp      6 86205 ESTABLISHED src=10.244.2.6 dst=10.0.223.224 sport=33041 dport=27017 src=10.244.1.7 dst=10.244.2.6 sport=27017 dport=33041 [ASSURED] mark=0 use=1
tcp      6 86399 ESTABLISHED src=10.244.2.6 dst=10.240.0.4 sport=34648 dport=22 src=10.240.0.4 dst=10.244.2.6

[2019-09-13 09:43] shingotoda commented on #461
@andyzhangx I am running CIS benchmark on AKS node and I got the same audit result as yours, which there are two remaining issues (2.1.4 and 2.1.12).

I have a question on the issue below,

[code]

I am using k8s 1.14.6 and I still see this. This means since certificate for kubelet will not be rotated then cluster will no longer work after certificate is expired even when I use the latest AKS, is

[2019-09-13 10:10] andyzhangx commented on #461
correct, we are developing new rotate-certs feature on AKS before it expires , so don't worry, and the rotate-certs steps on aks-engine doc does not work on AKS

[2019-09-13 17:21] CecileRobertMichon opened #1945 "Investigate if we can remove CSE mitigation for Ubuntu bug"
This is in cse_main:

[code]

Do we still need it? The bug seems to be fixed and this code is ~2 years old.

[2019-09-13 18:02] #1496 closed

[2019-09-13 19:46] #1586 closed

[2019-09-14 00:46] #867 closed

[2019-09-14 05:07] susanhuhu opened #1951 "curl -v http://localhost:2379/metrics doesn't show meaningful data"
I tried to ssh into a master node and collect etcd metrics, and curl -v http://localhost:2379/metrics always return something like binary data.

KubeCtrl Version:
Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.1", GitCommit:"b7394102d6ef778017f2ca4046abbaa23b88c290", GitTreeState:"clean", BuildDate:"2019-04-08T17:02:58Z", GoVersion:"go1.12.1", Compiler:"gc", Platform:"linux/

[2019-09-14 20:26] #1520 closed

[2019-09-14 20:33] javierprovecho commented on #1520
Thanks @song-jiang, we created the following object after cluster bootstrap:

[code]

[2019-09-14 20:55] #1597 closed

[2019-09-15 00:55] #1602 closed

[2019-09-15 22:18] #1606 closed

[2019-09-15 23:09] junaid-ali opened #1952 "Re-enable E2E test for inotify max_user_watches with next VHD"
**Describe the bug**

**Steps To Reproduce**

**Expected behavior**
This [PR](https://github.com/Azure/aks-engine/pull/1801) disables e2e test for max_user_watches. Re-enable it once the PR is merged and the new VHD with the change lands.
**AKS Engine version**

**Kubernetes version**
1.13.7

**Additional context**

[2019-09-15 23:12] junaid-ali commented on #1952
CC: @CecileRobertMichon

[2019-09-16 13:22] blushingpenguin commented on #1912
looks likely to have been fixed by:
https://github.com/torvalds/linux/commit/959b69ef57db00cb33e9c4777400ae7183ebddd3

[2019-09-16 13:30] rocketraman commented on #1152
Not stale

[2019-09-16 14:28] senordeveloper commented on #1936
@devigned  when will v0.41.0 be released?

[2019-09-16 15:12] devigned commented on #1936
I expect we will release v0.41.0 this week.

As a meta note, we (the aks-engine project) should probably do a better job of adding a milestone for the releases to indicate when the next release is scheduled.

I'm going to close out the issue as I think the original query was answered. If you feel like this issue should stay open, please don't hesitate to reopen it.

[2019-09-16 15:12] #1936 closed

[2019-09-16 20:24] #1609 closed

[2019-09-16 21:01] jsgervais commented on #1919
Having similar issue upgrading from 1.13.5 to 1.14.6, getting errors in the log :
msrest.exceptions : Drain did not complete within 20m0s

Deployment failed. Correlation ID: 5ed58bf1-f1aa-482a-a7dc-6199580dbafd. Drain did not complete within 20m0s

[2019-09-16 22:00] brichins commented on #1361
@alexeldeib - Can you elaborate how aks-engine worked around the problem?  I think I may be fighting the same issue you encountered.

[2019-09-16 22:08] PatrickLang commented on #1932
Fixed in 1109

[2019-09-16 22:08] #1932 closed

[2019-09-16 22:47] alexeldeib commented on #1361
I'm glad someone found my comment useful 😄

Workaround is to provision LB before VMSS such that at time of creation VMSS always will have SLB specified.

The bug occurs when VMSS is created without any networking by default (no per-instance IPs, no SLB, no basic LB). In this scenario, it is possible to get the DifferentSku error (typically with the same resource ID, this is the smoking gun).

The

[2019-09-16 22:47] #1361 closed

[2019-09-16 22:47] alexeldeib commented on #1361
whoops, didn't mean to reopen.

[2019-09-16 23:38] brichins commented on #1361
Thank you for the extra info.  Very useful.

[2019-09-16 23:53] jjburr opened #1958 "Windows Nodes on custom VNET - cant get logs or kubectl exec"
**Describe the bug**
Cannot get logs or kubectl exec:

Get https://k8s-master-13984109-0:10250/containerLogs/kube-system/kubernetes-dashboard-54b795b69b-9gqgs/kubernetes-dashboard?tailLines=5000&timestamps=true: dial tcp: lookup k8s-master-13984109-0 on 172.21.1.4:53: **server misbehaving**

**Steps To Reproduce**
Deploy windows node cluster to a custom VNET that is configured to point at AD DNS I

[2019-09-17 00:24] #1605 closed

[2019-09-17 08:39] jjburr commented on #1958
Also containers are unable to resolve other containers IP addresses, for example I have two pods 1 with a web service and another with a SQL database, when adding the container name as a connection string on the web service it cannot resolve.

How does DNS work in k8s for windows containers? Im use to compose where you can just specify a windows DNS server and point connection strings at the conta

[2019-09-17 09:12] #1958 closed

[2019-09-17 20:46] rocketraman commented on #1152
According to a user in Slack, a workaround for this is to use a custom VNET.

[2019-09-17 21:22] craiglpeters opened #1966 "Support post-provisioning configuration hooks"
**Describe the request**
Provide a way to do post provisioning configuration on a node via a separate service prior to a node being marked ready.

**Explain why AKS Engine needs it**
Customers using aks-engine need a way to apply configurations on nodes via tools like Terraform, Ansible or DSC to do work like join the node to an asset management system, apply additional security settings, or confi

[2019-09-17 21:28] PatrickLang commented on #1966
One alternative we have today is:
[aks-engine extensions](https://github.com/Azure/aks-engine/tree/master/extensions)

They are run within the CSE, so some operations like multiple reboots may cause a CSE failure, causing a deployment failure. They're also not re-entrant - you can't update a config setting in an extension and run it again on the same machine.

[2019-09-17 21:30] PatrickLang commented on #1966
I would also say an ideal solution should pull its configuration from a trusted location on Azure, instead of an unauthenticated source as aks-engine extensions do

[2019-09-17 23:36] PatrickLang opened #1968 "Add Windows CSI proxy to Windows-AKS VHDs"
**Describe the request**

Windows support for CSI will require adding a new service. This is described in https://github.com/kubernetes/enhancements/blob/master/keps/sig-windows/20190714-windows-csi-support.md

**Explain why AKS Engine needs it**

It needs to be there for the out-of-tree Azure storage plugins to work

https://github.com/Azure/container-compute-upstream/issues/6

**Describe the sol

[2019-09-17 23:41] marcinma commented on #1444
Possible similar issue happening on AKS created for az (random dns resolution issues)

[2019-09-18 02:57] jjburr opened #1969 "Private Zone in Windows hybrid model wont resolve using using CoreDNS or Kube-DNS configuration"
Following the guide here:
https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#impacts-on-pods

Trying to resolve services IP address outside the windows cluster in a Hybrid model, I have created a config map for Kube-DNS however containers still are unable to resolve external services.

When attempting to update the config map for core DNS it applys, however 30 seconds latt

[2019-09-18 04:06] jjburr commented on #1969
Managed to turnoff Reconcile in the Addons config so ConfigMap doesnt get over-written, however still unable to resolve any domain IP addresses with all the documented configuration

[2019-09-18 04:59] rocketraman commented on #847
I just ran into this issue now, attempting to scale a Kubernetes cluster. The quote on my subscription was reset somehow, and I got this message *after* the master had already been brought down by `aks-engine upgrade`:

[code]

[2019-09-18 08:38] tsc-nemeses commented on #1444
Together with Azure support we figured out that the root-cause was a race-condition.

Our use-case was:

1. we deployed our VNet + Subnets with ARM
2. we deployed K8s with ARM (unfortunately, this deployment doesn't automatically add associations between Subnet and Routetable)
3. To close this gap we executed another VNet ARM deployment after the K8s-ARM deployment was finished. But this second VN

[2019-09-18 12:56] pierluigilenoci opened #1970 "Standard LB-enabled cluster fails to scale up. - Episode 1"
**Describe the bug**
We have the same bug described here https://github.com/Azure/aks-engine/issues/1190 and here https://github.com/Azure/acs-engine/issues/4328
Probably this PR don't solve the problem: https://github.com/Azure/aks-engine/pull/1622

The story continues on this https://github.com/Azure/aks-engine/issues/2033

**Steps To Reproduce**
I created a cluster with this cluster definition:

[2019-09-18 12:57] PierluigiLenociAkelius commented on #1970
@ritazh @mboersma could you please take a look

[2019-09-18 14:50] sylr opened #1971 "Allow use of Azure IP Prefix as outbound ip"
**Describe the request**

It is very important in some scenarios to be able to control the outbound ip address of services hosted in kubernetes, mostly for network ACLs.

It would be nice if aks-engine could be told to use a prefix to generate its outbound ip so that we can control in which subnet the ip would be created.

[2019-09-18 18:27] #679 closed

[2019-09-18 21:19] jackfrancis opened #1978 "Enable Kubernetes on Azure testing against pre-release Ubuntu kernel versions"
In scope:

- 16.04-LTS
- 18.04-LTS

[2019-09-18 21:20] chengliangli0918 opened #1979 "Failing to drain node should not fail to upgrade VMSS nodes"
**Describe the bug**
In most places, draining node failure is just logged, and doesn't fail the upgrading process. But in upgrader.go, there is one place that the draining node failure fails the upgrading process.

https://github.com/Azure/aks-engine/blob/2f19e5a4b0cf045d473d0240110d80a058c033af/pkg/operations/kubernetesupgrade/upgrader.go#L551-L553

**Steps To Reproduce**

**Expected behavior**

[2019-09-18 21:29] jackfrancis commented on #1911
@tamilmani1989 you mention that 1.0.27 fixed a critical issue. Did it fix the critical issue described here?

[2019-09-18 21:31] chengliangli0918 opened #1980 "Upgrade Timeout Limit Should Be Related To Node"
**Describe the bug**
Currently the upgrading context timeout is hard coded to 3 hours. Upgrading of one node takes about 5-10 minutes, so the upgrading will fail with 'context limit exceeds' if the cluster has more than 20 or more nodes.

https://github.com/Azure/aks-engine/blob/2f19e5a4b0cf045d473d0240110d80a058c033af/pkg/operations/kubernetesupgrade/upgrader.go#L46

**Steps To Reproduce**

**Exp

[2019-09-18 21:32] jackfrancis commented on #1905
Duplicate of #1751

[2019-09-18 21:32] #1905 closed

[2019-09-18 21:34] jackfrancis opened #1981 "Jenkins CI migration"
- moved jobs over to new Jenkins
- created Jenkins Pipeline jobs for all configurations in previous
- add back scale and upgrade job
- add back compat job

[2019-09-18 21:35] jackfrancis commented on #1981
Great work @devigned!

[2019-09-18 21:35] #1981 closed

[2019-09-18 21:39] jackfrancis commented on #1979
Dup of #1919

[2019-09-18 21:39] #1979 closed

[2019-09-18 21:47] chengliangli0918 opened #1982 "Should always change the node name to lower case before draining it"
**Describe the bug**
For VMSS cluster, the virtual machine in Azure (instance name), and the machine name in OS and node name in Kubernetes is different, for example, for VMSS instance with instance id 11
The Instance name in Azure: aks-nodepool1-12345678-vmss_11
The machine name in OS:      aks-nodepool1-12345678-vmss00000B
The node name in Kubernetes: aks-nodepool1-12345678-vmss00000b

The upgra

[2019-09-18 21:51] CecileRobertMichon commented on #1982
this was already fixed in https://github.com/Azure/aks-engine/pull/951, I think the code agt https://github.com/Azure/aks-engine/blob/master/pkg/operations/kubernetesupgrade/upgrader.go#L692 was added after that and didn't handle uppercase names. Maybe we should look into a more general fix so that it doesn't have to be handled everytime we reuse VMSS node names in the upgrade code...

[2019-09-18 21:55] alexeldeib commented on #1970
Can you possibly share, via the CLI, the output of `az show` on a NIC for a machine which is in the failed state (with subscription/sensitive details scrubbed) and the same for the load balancer containing worker nodes?

I would assume all of the functioning are true for this scenario to function:
- prior to upgrade, your cluster had all worker nodes attached to a standard load balancer.
- this cl

[2019-09-19 00:01] tamilmani1989 commented on #1911
@jackfrancis sorry, where did i mention 1.0.27 fixed a critical issue? I would have mentioned 1.0.25 has critical fix.

[2019-09-19 00:04] yixwang commented on #1911
Hi @tamilmani1989 , we run into this issue again. This time I collected the logs and sent to your email. Let me know if you need more info.

[2019-09-19 00:06] tamilmani1989 commented on #1911
@yixwang sorry I didnt receive any email? can you attach here?

[2019-09-19 00:16] yixwang commented on #1911
@tamilmani1989  the logs may contain sensitive info so I decided to sent through email. Is this your email

[2019-09-19 00:19] tamilmani1989 commented on #1911
oh ok i got it. I got an email. i got confused since names were different

[2019-09-19 13:22] PierluigiLenociAkelius commented on #1970
@alexeldeib this is the output of `az network nic show` for all 3 NIC and `az network lb show` for load balancer.

* Nic-0 https://pastebin.com/tUwd7XbB
* Nic-1 https://pastebin.com/FJB5SXU3
* Nic-2 https://pastebin.com/xWnv6aBv
* LB https://pastebin.com/ddzgymm6

To answer to your request: yes, the cluster has all worker nodes attached to an SLB, I created the cluster with the attached cluster de

[2019-09-19 13:25] PierluigiLenociAkelius commented on #1970
However, to recreate the problem is simple. Just use the JSON attached to the issue and launch the commands in the sequence I indicated. Obviously adding the correct data of your Azure account.

[2019-09-19 13:30] PierluigiLenociAkelius commented on #1970
@mboersma If you approve also this https://github.com/Azure/homebrew-aks-engine/pull/35 I will really happy to check if the problem is still there with v0.41.0 of aks-engine

[2019-09-19 13:46] PierluigiLenociAkelius commented on #1190
I have the same issue with v0.39.1

[2019-09-19 13:53] PierluigiLenociAkelius commented on #1970
@alexeldeib I noticed that inside the LB (https://pastebin.com/ddzgymm6, line 73) there is this line `"outboundRule": null`. In this way, the VM can't reach the internet or I'm wrong?

[2019-09-19 16:40] mboersma commented on #478
I've tested this scenario described initially with Kubernetes 1.16.0 and 1.15.4 and don't see misbehavior. VMSS nodes are not rebooted all at once (in fact, changing the VM size or scaling via the portal leaves existing nodes intact and upgrading to the latest model appears to be a manual task). Everything stays attached to the LB throughout. Looks like the errant call to `updateInstances()` is go

[2019-09-19 16:40] #478 closed

[2019-09-19 17:17] marosset commented on #1969
@PatrickLang can you take a look?

[2019-09-19 18:27] alexeldeib commented on #1970
I believe line 194 is the actual issue (same field, empty array, but at the top level). But yes, you’re missing outbound rules on the LB.

@mboersma @ritazh FYI — seems like the outbound rule is getting dropped? That seems likely to be the culprit here. Ill poke around the arm template a bit to see if I can figure out why

[2019-09-19 19:51] jadarsie opened #1989 "chore: pre-pull hyperkube 1.16.0-azs"

[2019-09-19 19:52] jackfrancis commented on #1915
@feiskyer FYI updated the issue title

[2019-09-19 19:53] #1794 closed

[2019-09-19 20:08] jjburr commented on #1969
This was resolved after restarting the master node.

[2019-09-19 20:08] #1969 closed

[2019-09-19 21:14] jackfrancis commented on #1444
Thanks for reporting back @tsc-nemeses. So it sounds like the root cause is that the 2nd ARM deployment returns a successful state, but the deployment is not actually in a terminal state (i.e., it is not really finished?)

That sounds like an issue we might report to the ARM team, if so.

Just curious, why not use option 2 and just do a vanilla Azure API call?

[2019-09-20 03:03] Ashish-009 opened #1994 "using aks-engine deploy with aks-engine generate"
**Use Arm Templates to deploy using aks-engine deploy**

I am generating arm templates using aks-engine generate cmd. Can I use aks-engine delpoy cmd  to take these aks-engine generated arm files as input and create my cluster.  If yes then how?

[2019-09-20 03:53] devigned commented on #1994
Just use `az group deployment create` with the deployment template and variables.

https://docs.microsoft.com/en-us/cli/azure/group/deployment?view=azure-cli-latest

[2019-09-20 07:03] tsc-nemeses commented on #1444
Exactly, the 2nd ARM deployment isn't really finished. We go on our side now with option 2 ;)

[2019-09-20 14:51] mboersma commented on #1994
`aks-engine deploy` basically does both `aks-engine generate` and `az group deployment create` for you.

So the `deploy` command won't work with existing ARM templates. (It does leave its generated ARM templates and related artifacts on disk so they could be referenced or reused in the future.)

 The way @devigned points out is the way to go if you're using `aks-engine generate`.

[2019-09-20 16:22] jackfrancis commented on #1994
Feel free to re-open if we haven't answered your questions!

[2019-09-20 16:22] #1994 closed

[2019-09-20 16:26] #434 closed

[2019-09-20 17:23] jadarsie opened #1995 "Validate and/or fix PreProvisionExtensions"
There are some reports that PreProvisionExtensions are not working. This feature is important to on-prem customers.

We need to validate the feature and fix it if it is broken.

[2019-09-20 17:43] jackfrancis commented on #1444
Thanks again for sharing all this detailed info to help other customers who are having similar problems with similar workflows.

Should we rename this issue to better reflect what we've learned (so that other folks can more easily find it), and then close it?

[2019-09-20 18:40] marosset opened #1996 "Api models with agent profiles specifying both AvailabilitySet and Ephemeral disks generate invalid ARM"
**Describe the bug**
API models with AgentProfiles with both "availabilityProfile": "AvailabilitySet" and "storageProfile": "Ephemeral" produce invalid ARM.

ARM objects for the availability sets are not created by the virtual machines objects have a depenecy on them.

I think this if condition should be if profile.IsManagedDisks() || profile.IsEphemalDisks {
https://github.com/Azure/aks-engine/bl

[2019-09-20 20:05] jackfrancis commented on #1996
Good find 👍

[2019-09-20 21:00] PatrickLang opened #2003 "Remove NSSM dependency from Windows nodes"
**Describe the bug**

NSSM is no longer required and makes it harder to track service states for kubelet and kube-proxy. We should remove it and start the services directly. The flags were added in https://github.com/kubernetes/kubernetes/pull/60144

Work needed:

- [ ] make sure services start, and have right dependency chain kube-proxy -> kubelet -> docker
- [ ] ensure logs created at same locat

[2019-09-21 00:25] #1475 closed

[2019-09-21 01:22] andyzhangx commented on #461
Update: this this [PR](https://github.com/Azure/aks-engine/pull/975) merged master, all agent node CIS failures on aks-engine has been fixed from k8s v1.16.0

[2019-09-22 10:55] #1627 closed

[2019-09-23 02:46] jjburr opened #2009 "Error deploying pods with GMSA - unknown field "windowsOptions""
followed each step on the doc [here](https://kubernetes.io/docs/tasks/configure-pod-container/configure-gmsa/), however when creating a deployment with the gmsa account I get an error:

deployment.yaml": error validating data: ValidationError(Deployment.spec.template.spec.securityContext): unknown field "windowsOptions" in io.k8s.api.core.v1.PodSecurityContext; if you choose to ignore these errors

[2019-09-23 11:48] PierluigiLenociAkelius commented on #1970
@mboersma with 0.41.0 I have another problem. Could you please approve this PR https://github.com/Azure/homebrew-aks-engine/pull/37 ?

[2019-09-23 13:41] PierluigiLenociAkelius commented on #1970
@alexeldeib have you poked around the arm template?

[2019-09-23 16:56] davidmatson commented on #320
/lifecycle remove-stale

[2019-09-23 17:18] alexeldeib commented on #1970
I have not figured this out yet. @mboersma given the above re: outbound rule, does that point you to anything obvious?

[2019-09-23 18:49] satishsudini commented on #1751
@jackfrancis @CecileRobertMichon  In which version can expect fix for this issue ?

[2019-09-23 20:15] alexanderboswell opened #2012 "makedev.ps1 does not prevent from using windows containers"
Currently, in the developer guide for aks-engine, https://github.com/Azure/aks-engine/blob/master/docs/community/developer-guide.md,  it has instructions to build the engine in a docker container. It does specify what kind of container it can be ran in though. The development process does not support a Windows container though so:

1. The documentation needs to be updated to reflect that it is onl

[2019-09-23 21:46] #1919 closed

[2019-09-23 23:43] #1982 closed

[2019-09-24 06:18] devigned commented on #1723
Ok... I'm observing the following.

When running with Docker, there is no config in `/etc/cni/net.d`. Docker seems fine with this and responds with:
[code]

With containerd there is still no config in `/etc/cni/net.d`, but containerd is less happy with this situation and responds with:
[code]

[2019-09-24 06:46] devigned commented on #1723
After creating the network configuration above in each of the nodes under `/etc/cni/net.d` and restarting the nodes, the cluster converged into a running / ready state.

[code]

[2019-09-24 09:08] Bougyz opened #2018 "kubeadm is not support with AKS-Engine"
if a customer has created a Kubernetes cluster on Azure using aks-engine. They’re willing to administer the cluster – particularly to replace the CA Certificates, but seems like kubeadm is not supported in aks-engine. Any idea?

[2019-09-24 16:10] jackfrancis opened #2019 "E2E: enable event retrieval for pods"
If we had an interface in our E2E tests to easily grab per-pod events, we could take fine-grained actions based on certain scenarios, perhaps to delete/recreated pods if there's no better way to reconcile an environmental flake. E.g.:

[code]

[2019-09-24 16:11] #1392 closed

[2019-09-24 18:11] #1644 closed

[2019-09-24 21:52] devigned commented on #1723
I propose the following solution:
- add the following to /etc/containerd/config.toml
[code]
- add a conf template file containing the following:
[code]

[2019-09-24 22:54] jjburr commented on #2009
fixed after upgrading to v1.15

[2019-09-24 22:54] #2009 closed

[2019-09-25 01:00] #1536 closed

[2019-09-25 02:49] feiskyer commented on #1915
Just build and push images for Kubernetes v1.16:

mcr.microsoft.com/k8s/core/azure-cloud-controller-manager:v0.3.0
mcr.microsoft.com/k8s/core/azure-cloud-node-manager:v0.3.0

Their example manifests could be found at https://github.com/kubernetes/cloud-provider-azure/blob/master/examples/out-of-tree/cloud-node-manager.yaml and https://github.com/kubernetes/cloud-provider-azure/blob/master/examples

[2019-09-25 05:44] jjburr opened #2025 "GMSA works for pods in the default namespace, but pods dont create when in custom namespace?"
**Describe the bug**
I can create pods fine in the default namespace using the securityContext, and this works well.

When deploying the same deployement.yaml in a custom namespace the pod never gets created. As soon as I remove the securityContext from the yaml I can create the pod.

Is there extra steps required to configure a customnamespace to work correctly for GMSA accounts?

**Expected beha

[2019-09-25 07:39] sylr opened #2026 "networkPolicy / networkPlugin compatibility matrix"
**Describe the request**

Can we have a compatibility matrix of networkPolicy / networkPlugin, e.g. :

| networkPolicy / networkPlugin  | azure | kubenet | flannel | cilium |
| ------------------------------- | ----- | -------- | ------- | ------ |
| **azure** | Experimental | Supported |  |  |
| **calico** | Supported |  |  |  |
| **cilium** |  |  |  |  |

Possible values: `supported` / `unsuppor

[2019-09-25 08:17] rexhinvorpsi commented on #1958
Hey @jjburr sorry for commenting on a closed issue, i was wondering how did you resolve this ?

[2019-09-25 08:27] jjburr commented on #1958
Was a DNS issue, master has to use azure provided DNS to be able to properly resolve the windows nodes.

I ended up deploying to its own vnet, then pairing with my AD vnet and pointing the windows nodes DNS to my AD DNS.

DM me on twitter @Ciresonjoe if you need any help took me a bit of trial and error but finally have a hybrid cluster up and running with GMSA working.

[2019-09-25 08:54] #2025 closed

[2019-09-25 09:17] olcayunver commented on #2025
Can you @jjburr share how you did resolve the issue?

[2019-09-25 09:20] jjburr commented on #2025
I had to create a rolebinding that allowed the default service account in the namespace read permissions on the gmsa account

[2019-09-25 14:20] awr commented on #750
I've run into this as well ... had to rewrite the azuredeploy.json file after it was generated to work around it, which is a bit of a pain

[2019-09-25 17:13] DavidLangworthy opened #2028 "Deployment fails on managed-identity example"
Deployment fails with the following error.  The managed identities exist on the scale sets.

How can I get past this?

INFO[0315] Finished ARM Deployment (msi5-336151762). Error: Code="DeploymentFailed" Message="At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details." Details=[{"code":"BadRequest","mes

[2019-09-25 17:39] DavidLangworthy commented on #2028
This does not repro on latest build.  Sorry for the bother.

[2019-09-25 17:39] #2028 closed

[2019-09-25 20:26] #1989 closed

[2019-09-25 21:24] mboersma opened #2030 "cluster-autoscaler addon should support all node pools by default"
**Describe the request**

**Explain why AKS Engine needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-09-26 12:31] luc1f4 opened #2032 "Http-application-routing addon is deployed with nginx-ingress-controller 0.19.0"
**Describe the request**

Update the nginx-ingress-controller to latest image (0.25.1) or atleast to 0.24.0

**Explain why AKS Engine needs it**

The integrated lua scheduler introduced the domain name in session-cookie, what generates wrong behaviour behind proxies.

https://github.com/kubernetes/ingress-nginx/pull/3648

https://github.com/kubernetes/ingress-nginx/issues/3083

**Describe the solu

[2019-09-26 14:19] pierluigilenoci opened #2033 "Standard LB-enabled cluster fails to scale up. - Episode 2"
**Describe the bug**
With the newest version of aks-engine (v0.41.3) we solved the issue described here https://github.com/Azure/aks-engine/issues/1970 but we have another issue.

**Steps To Reproduce**
I created a cluster with this cluster definition:

[code]

Installed helm/tiller v2.14.3

[code]

and

[code]

Installed nginx-ingress with helm (chart 0.25.1) with this value.yaml  https://pastebi

[2019-09-26 14:24] pierluigilenoci commented on #2033
@mboersma the saga continues...

[2019-09-26 14:26] pierluigilenoci commented on #1970
@mboersma with the latest version of aks-engine I don't have anymore this issue. It has been replaced by another one. https://github.com/Azure/aks-engine/issues/2033

[2019-09-26 14:29] pierluigilenoci commented on #2033
I tag you all because I need support, even just moral. 😭
@jackfrancis @ritazh @alexeldeib

[2019-09-26 14:29] pierluigilenoci commented on #2033
I can confirm, happens also with 0.41.0 Ref: https://github.com/Azure/aks-engine/issues/1970#issuecomment-534065002

[2019-09-26 15:49] CecileRobertMichon commented on #2033
@pierluigilenoci could you please ssh into the instance and pull the logs as described [here](https://github.com/Azure/aks-engine/blob/master/docs/howto/troubleshooting.md#how-to-debug-cse-errors-linux)?

[2019-09-26 18:38] CecileRobertMichon opened #2036 "Don't depend on VHD distro in CSE"
https://github.com/Azure/aks-engine/pull/1944 introduced a dependency on using the AKS maintained VHD image for skipping outbound operations (in this case install apt packages).

We should consider reverting that change and instead skipping the apt install if the VHD footprint file is present (like before) or even better detect if the wanted apt packages are present. The issue with checking for di

[2019-09-26 21:42] rjaini opened #2039 "Skip pull of pause image if present in windows vhd"
Skip pull of pause image if present in windows vhd

[2019-09-26 22:06] jackfrancis commented on #1915
Thx @feiskyer will do!

[2019-09-26 23:30] PatrickLang opened #2042 "Add support for runtimeclass scheduler for Linux & Windows nodes"
**Describe the request**
https://github.com/kubernetes/enhancements/issues/894

This proposes a simpler way to specify what runtime a pod should use, and add the right taints / tolerations. Add an example runtime class to steer a pod towards Windows or Linux as appropriate.

**Explain why AKS Engine needs it**

Try out a new feature, see if it's easier to manage than taints/tolerations.

[2019-09-27 03:00] jjburr opened #2044 "Error adding another agent pool: 'Could not find member 'apiVersion'"
**Describe the bug**
Following the steps [here](https://github.com/Azure/aks-engine/blob/master/docs/tutorials/day2-operations.md), after making the requested changes for adding another agent pool to the existing apimodel.json then running **aks-generate**.

When deploying with **az group deployment create** I am presented with the error:

_Azure Error: InvalidRequestContent
Message: The request c

[2019-09-27 04:57] jjburr commented on #2044
User issue - issue was targeting wrong json

[2019-09-27 04:57] #2044 closed

[2019-09-27 07:34] Blarne commented on #542
Another + 1 to this

[2019-09-27 08:07] pierluigilenoci commented on #2033
@CecileRobertMichon
CSE error: exit code 6
[logs.zip](https://github.com/Azure/aks-engine/files/3661636/logs.zip)

[2019-09-27 08:09] pierluigilenoci commented on #2033
I will try to recreate the cluster with v0.41.4
@mboersma could you please approve https://github.com/Azure/homebrew-aks-engine/pull/39

[2019-09-27 08:11] pierluigilenoci commented on #2033
![Screenshot 2019-09-27 at 09 51 19](https://user-images.githubusercontent.com/36044817/65753352-1edbef80-e10f-11e9-8e9b-b25bde7d099a.png)

[2019-09-27 12:44] mleneveut commented on #240
You can add your custom config in the kube-system/coredns-custom configMap

[2019-09-27 16:07] PatrickLang opened #2045 "Make Windows network debug tools work with IaasDiskInspector"
**Describe the request**

A typical network troubleshooting workflow needs the tools here:
https://github.com/microsoft/SDN/tree/master/Kubernetes/windows/debug

They output logs to a few common directories.

We need a workflow where:

1. (optional) open a support case for AKS
1. someone can log into a node with network issues
2. initiate log capture
3. reproduce the issue
3. stop log capture
1. r

[2019-09-27 16:48] jackfrancis commented on #2033
@pierluigilenoci which version of aks-engine did you use to originally create the cluster? I think what's happening is that "upgrading" the instance is using the new implementation of CustomScriptExtension, but is not referencing the new VHD, and so the CSE script isn't recognizing prerequisite files the way it expects (since we introduced a `#EOF` suffix to the end of each file).

I'll try to rep

[2019-09-27 17:20] #2012 closed

[2019-09-27 17:30] #1634 closed

[2019-09-27 17:52] jackfrancis commented on #2033
O.K., I wasn't able to repro using my hypothesis (which is good, because prior to this investigation I would have thought that the new VHD would be included w/ an VMSS instance model upgrade).

[2019-09-27 18:09] jackfrancis commented on #2033
Also worth mentioning: doing a manual VMSS instance "upgrade" via the portal or CLI will be disruptive. An `aks-engine upgrade` operation might be preferable as it includes cordon/drain against each node (it upgrades one node at a time).

(If you've never used `aks-engine upgrade` before I recommend staging a new cluster and then running upgrade against that cluster first a few times so you are co

[2019-09-27 21:55] PatrickLang commented on #722
Still needs to be fixed

[2019-09-27 21:59] PatrickLang commented on #722
also related to #377

[2019-09-27 22:20] rjaini opened #2051 "Skip installing docker if already installed in windows vhd"
Skip installing docker if already installed in windows vhd

[2019-09-27 23:56] deaborch opened #2054 "Identitiy system not propagated from cli parameters"
**Describe the bug**
When the identity system is specified from the cli, It does not get included in the final template generated where there is no identity system specified in the in the api model. It often results in the use of the default identity system (azure_ad) regardless of what is passed in the cli.

**Steps To Reproduce**

- In the API model, do not specify the identity system
- Within w

[2019-09-28 15:19] #1654 closed

[2019-09-28 15:22] dfencegit opened #2056 "go-akse.sh support for web proxy"
The go-akse.sh tool is used in a disconnected scenario to pull down a specific version of the aks-engine that supports disconnected azure stacks.  Because later version reference marketplace images that are not available yet for azure stack in disconnected mode.

A simple additional parameter to provide proxy details which can then be added to the curl or wget lines would make this tool useful in

[2019-09-28 18:19] #1655 closed

[2019-09-28 18:19] #1656 closed

[2019-09-29 18:07] #1660 closed

[2019-09-30 08:06] pierluigilenoci commented on #2033
Hi @jackfrancis,
this was a fresh new created cluster with v0.41.3. I created the cluster, installed tiller and helm, installed nginx-ingress and scaled up one of the pool from 1 to 4. I never upgraded the cluster.

[2019-09-30 08:06] pierluigilenoci commented on #2033
I also tried with v0.41.4 with the same result. https://github.com/Azure/aks-engine/issues/2033#issuecomment-535839122

[2019-09-30 08:16] pierluigilenoci commented on #2033
I make another test. Created the cluster, scale up from 1 to 5 (with the usual error), I scaled down from 5 to 1 (no error) and finally, I tried to scale up again (deployment failed). You can find all the deployments details attached.

[Deployment-development-1971821936.zip](https://github.com/Azure/aks-engine/files/3669550/Deployment-development-1971821936.zip)
[Deployment-development-582717663.z

[2019-09-30 08:40] sylr opened #2057 "Implement VMSS tagging for autoscaler"
**Describe the request**

Implement VMSS tagging according to https://github.com/kubernetes/autoscaler/pull/1982

**Explain why AKS Engine needs it**

aks-engine needs it so that kubernetes cluster using autoscaler can have VMSS scaled from 0 instances.

[2019-09-30 12:49] maurya-m opened #2058 "aks-engine scale fails adding the availabilitySet created as part k8s nodes"
**Describe the bug**
Unable to add new nodes to k8s cluster even after the aks-engine scale

**Steps To Reproduce**
aks-engine scale   --location westeurope --subscription-id "xxx" --resource-group "<my-resource-group" \
--api-model ./somedir/apimodel.json --node-pool <nodepool name> --new-node-count <desired number of nodes> --apiserver <apiserver endpoint FQDN or IP address>

**Expected behavior

[2019-09-30 16:23] devigned commented on #2058
Hi @maurya-m, would it be possible to share a bit more detail? It would be super helpful to provide the API model or a representative API model, so we can repro the issue.

[2019-09-30 16:35] ebandis opened #2059 "Connecting (kubectl) from master node via private loadbalancer getting random: Unable to connect to the server: dial tcp 10.110.8.240:443: i/o timeout"
Deployed AKS-Engine 0.39.2, K8s 1.15.3, kubectl is getting random timeouts (every third fourth request) then connecting (kubectl) from the master node via private (basic) loadbalancer IP 10.110.8.24. Strangely kubectl does not timeout if connecting remotely via the same loadbalancer IP.

**Steps To Reproduce**
Here is  apimodel used to deploy the cluster:
Sensitive info deleted.
{
  "apiVersion":

[2019-09-30 16:36] devigned commented on #2054
I just repro'd this issue on master (baef53d6b) by running the following:
[code]
In the generated `azuredeploy.json` the identity is set as follows: `"customCloudIdentifySystem": "azure_ad",`

[2019-09-30 16:41] devigned commented on #2026
Great idea!

I would also like to see each combination enter into our [test configurations here](https://github.com/Azure/aks-engine/tree/master/test/e2e/test_cluster_configs). That way we are constantly verifying the stability of each combination.

[2019-09-30 17:03] #2039 closed

[2019-09-30 17:29] devigned commented on #2018
In the current version of aks-engine, we assume that if the cluster was built with aks-engine, then certificate rotation will be handled by using aks-engine (`aks-engine rotate-certs`). I don't think this is a feature we will commit to for the current version.

I think we would prefer to queue this up for the next version of aks-engine.

I'm going to close this issue and add it to design goals for

[2019-09-30 17:29] #2018 closed

[2019-09-30 18:21] idanlevin commented on #1966
As a customer that its entire infrastructure is built around K8s, you don't necessarily want to deal with another platform (e.g. chef, puppet, ansible) to provision your cluster. It'll be great to have the ability to run a bash script on the host, before it's ready.

This bash script can be used to:
1. Install security monitoring tools (Antivirus, Vulnerability scanners, EDR, configure RSyslog, et

[2019-09-30 18:57] jackfrancis opened #2062 "Incorporate AKS Engine v0.41 release to AKS"
- Includes a new version of azure-sdk-for-go via aks-engine downstream dependecy:
  - to v32.5.0 (from v27.3.0)
  - also update go-autorest to 13.0.0
  - RP references to azure-sdk-for-go are updated accordingly to play well w/ v32.5.0
- VHD w/ Azure CNI v1.0.27
- VHD cleanup steps (https://github.com/Azure/aks-engine/pull/1865)
- Increase kubelet --streaming-connection-idle-timeout default value

[2019-09-30 21:21] #2051 closed

[2019-09-30 21:26] jackfrancis opened #2064 "FailedCreatePodSandBox errors in cilium-backed clusters"
Observed this E2E flake while testing cilium networkPlugin + cilium networkPolicy against a v1.14.7 cluster:

[code]

[2019-09-30 22:54] jackfrancis opened #2066 "container-monitoring addon doesn't work with 1.16"
Here's some debug data from our E2E tests:

[code]

[2019-09-30 22:55] jackfrancis commented on #2066
@rashmichandrashekar FYI

Also, are the uuid's that I replaced with `<agent-guid>` and `<workspace_id>` above private info? If so, they should not be outputted in plain text to the pod logs.

[2019-09-30 22:57] jackfrancis opened #2067 "flannel + docker cluster config broken in 1.16"
[code]

The interesting part is the `KubeletNotReady` error in the above node describe output

[2019-09-30 22:58] rashmichandrashekar commented on #2066
@jackfrancis : we are yet to test out the support for 1.16. We are planning to work on it in the next couple of weeks.
The WSID dependency will be removed. We have made changes to use default workspace we had some issues in the new environment. @ganga1980 - Could you please comment on this?

[2019-09-30 23:01] jackfrancis opened #2068 "cilium-backed cluster configuration broken in 1.16"
[code]

`KubeletNotReady` has the deets above

[2019-09-30 23:03] jackfrancis commented on #2068
We see similar errors for just `"networkPolicy": "cilium"` and configurations with both `networkPolicy` *and* `networkPlugin` set to `"cilium"`

[2019-09-30 23:11] jackfrancis opened #2069 "Azure NetworkPolicy addons spec broken in 1.16"
We aren't properly configuring the NPM addon to deal w/ the E2E validation:

[code]

[2019-10-01 00:04] jackfrancis opened #2072 "E2E: only run Windows custom image test variations on a single k8s version"
As a practical way of reducing our test overhead, let's run the various Windows custom image / VHD / etc tests against a single version of k8s; perhaps the default that ships for cluster w/ Windows node pools?

That would be modifying the JSON files here:

`test/e2e/test_cluster_configs/windows`

That would be adding a root `"options"` object that has the `"allowedOrchestratorVersions"` array in i

[2019-10-01 00:04] jackfrancis commented on #2072
@devigned @marosset FYI

[2019-10-01 00:17] jackfrancis commented on #2069
tl;dr here is that we are configuring 1.16 api models w/ an unnecessary container configuration, as the 1.16 implementation no longer includes the telemetry container

[2019-10-01 09:31] PascalVA opened #2074 "existing cluster using non-functional VHD prevents VMSS scale out"
**Bug Description**

When trying to add a new node pool to our existing cluster that was deployed with aks-engine v0.38.8 (aks-ubuntu-1804), we were unable to succeed in the deployment. The reason for this is that the Ubuntu base image had an expired GPG key for nvidia (VMExtensionProvisioningError, status=99). This was a hard problem to solve due to a few reasons:

**1. There is no way to redeplo

[2019-10-01 10:54] maurya-m commented on #2058
hi @devigned , here i am attaching the apimodel.json (portion where the agentpool is mentioned)

the node count was at 3 , need to increase to 6 . Please let me know if this suffice to repro the issue? thanks

"agentPoolProfiles": [
      {
        "name": "agentpool1",
        "**count": 3,**
        "vmSize": "Standard_DS13_v2",
        "osDiskSizeGB": 512,
        "osType": "Linux",
        "av

[2019-10-01 11:08] pierluigilenoci commented on #1970
Like in Star Wars I renamed this with the right number 😆

[2019-10-01 11:11] mo-saeed commented on #2033
@feiskyer It seems that it's the same issue fixed [here](https://github.com/kubernetes/kubernetes/issues/80365)
but now with Standard LoadBalancer and only after scaling.

Would be great if you can have a look

Thanks

[2019-10-01 15:32] devigned commented on #2072
I think this would be relatively trivial to implement.

Check out: https://github.com/Azure/aks-engine/blob/7a6981d8367d3bf135e6e043916bfa8cbe92b2f1/Jenkinsfile#L154-L159

I believe all one would need to do is the following:
[code]

[2019-10-01 15:46] devigned commented on #2074
I believe this issue should be resolved via: https://github.com/Azure/aks-engine/pull/2022

[2019-10-01 15:52] marosset commented on #2072
Cool, we can start using this with the windows tests but i imaging this would be useful for more test cluster configs

[2019-10-01 15:56] devigned commented on #2058
Hi @maurya-m, what I was really hoping for is a full API model, so I could run a deploy, then a scale and see if I can reproduce your results. Providing a portion of the API model is helpful, but not as much as it would be if I had the whole API model (without any of the secrets, of course).

[2019-10-01 16:44] jadarsie commented on #1995
Fixed by #2053

[2019-10-01 16:51] jackfrancis commented on #2074
@PascalVA Thank you for that detailed write-up, your summary of the situation is spot on.

There are two ways to "re-deploy bug fixes" via aks-engine:

1. Using a newer version of aks-engine that has the bug fix in it, scale out your node pool, validate that the new nodes fix the issue, and then manually delete the old instances (remember to `kubectl cordon` first!).
2. Use `aks-engine upgrade` ag

[2019-10-01 17:04] jadarsie opened #2076 "proposal: fail fast if OS image is not available"
**What**

Add a new command that returns the OS image metadata for a given AKSe distro. Something like this maybe.

[code]

**Why**

The Azure Stack doc page documents which VHD is required for a specific AKSe version. However, this approach is not sufficient, users do not read the docs or are not aware of them.

Users (and troubleshooters) of disconnected AzS stamps  will enjoy a better experienc

[2019-10-01 17:33] awr commented on #1541
@fazdamoa I've run into a similar issue when the coredns pod gets scheduled to one of the master nodes in an HA setup. When it's scheduled to one of the agent nodes, no such issue.

I believe there's an issue when a master nodes goes through the master lb and connects to the same node it originated from (ie same master) and runs into intermittent connection issues. I can't remember which issue tha

[2019-10-01 18:40] jadarsie commented on #2076
The original proposal is not properly addressing the Windows VHD case.

A next iteration of this proposal would be to short-circuit the execution of the `deploy` command if any of the VHDs specified in the generated apimodel is not available in the target cloud's marketplace.

In that case, AKSe should NOT start the deployment and print a clean message (currently a stacktrace), that roughly says:

[2019-10-01 19:04] jackfrancis opened #2077 "auditd systemd service is broken"
When auditd is disabled via api model, we deliver a systemd service that doesn't actually work.

[code]

This is because we don't actually deliver the auditd implementation if `auditDEnabled` is set to `false` (which it is by default).

To allow disconnected AKS Engine scenarios to use auditd, we pre-install it via VHD. We should do a best-effort `apt-get purge` of auditd during CSE for all `"audi

[2019-10-01 19:59] DavidLangworthy opened #2079 "Set VMSS Tags to enable scale to zero"
AKS Engine needs to set VMSS tags to enable scale to zero as defined in the cluster-autoscaler azure provider Readme.  [https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/README.md#scaling-a-vmss-node-group-to-and-from-0](url)

Scaling a VMSS node group to and from 0
If you are using nodeSelector, you need to tag the VMSS with a node-template key "k8s.io_cl

[2019-10-01 20:52] PatrickLang opened #2080 "Windows drops traffic outside of the PodCIDR or ServiceCIDR, but in the same Azure VNET"
**Describe the bug**
Azure App Gateway can't route traffic to Windows pods. The returned outbound packets from the Windows pod to the AppGW are dropped.

**Steps To Reproduce**

See original report at https://github.com/Azure/application-gateway-kubernetes-ingress/issues/535 for an ARM template

"To Reproduce
I've created a test setup with two identical containers, one Linux and one Windows contai

[2019-10-01 20:57] PatrickLang commented on #2080
The proposal is to change the resulting config from:

[code]

to

[code]

[2019-10-01 22:31] jadarsie commented on #2076
FYI @marosset

[2019-10-01 22:36] marosset commented on #2076
Right now all windows agent pools must use the same image and the image details are stored in the windowsProfile.
https://github.com/Azure/aks-engine/blob/master/docs/topics/clusterdefinitions.md#marketplace-images has more details

[2019-10-01 22:39] marosset commented on #2076
(in case you were looking for info on how windows images are referenced to perform the check :))

[2019-10-01 22:57] jadarsie commented on #2076
I was mostly interested in feedback to make sure this works for everyone. Thx for the details!

[2019-10-01 23:39] marosset commented on #2076
This seems like a useful check to perform as part of  `deploy` operations

[2019-10-02 08:00] norshtein opened #2082 "Deployment will fail for cluster using user assigned identity when identity service is throttled"
**Describe the bug**
If the k8s cluster uses user assigned managed identity, in AKS-Engine generated template, the VM will not add the identity to its `dependsOn`:
[code]
Normally it's OK because the creation of the identity is really fast, but when identity service is throttled(limitation is 8 requests per second per tenant according to identity team), the creation of identity will be slow and th

[2019-10-02 08:02] norshtein commented on #2082
/assign @norshtein

[2019-10-02 09:23] #1303 closed

[2019-10-02 09:23] #530 closed

[2019-10-02 10:23] #1577 closed

[2019-10-02 16:10] #2069 closed

[2019-10-02 17:20] jadarsie opened #2084 "discussion: vhd legal notice"
**What**

Because Azure Stack users own the hardware, CELA asked us to take a few things into account. One of them is to create a NOTICE file that lists all the OSS components inside the pre-pulled docker images.

**How**

- `tern` is used to inspect container images (https://github.com/vmware/tern)
- For now, the process that extracts components and composes the notice file will be executed offli

[2019-10-02 19:31] rjaini opened #2086 "Remove Azure agent artifacts from windows VHD"
Remove Azure agent artifacts from windows VHD

[2019-10-02 20:31] marosset commented on #2003
I'm starting to look into this.

[2019-10-02 20:34] jackfrancis commented on #2079
@mboersma I think this is related to the general cluster-autoscaler improvement efforts we're doing

[2019-10-02 20:35] jackfrancis commented on #2057
Sorry, I saw #2079 first and tagged @mboersma on it. Let's track this work there.

[2019-10-02 20:35] #2057 closed

[2019-10-02 20:43] jackfrancis opened #2091 "Document "custom image from AKS Engine VHD" process"
We're hearing from folks that a common ask is to add pre-installed components to or remove stuff from (mostly add) the AKS Engine-curated VHD image. Because the AKS Engine VHD image has a close affinity w/ the CustomScriptExtension and cloud-init implementations @ the origin commit wherefrom the VHD was built, we should document as best we can what that affinity is, to ensure that folks building c

[2019-10-02 21:33] jackfrancis commented on #2074
@PascalVA I took the liberty of renaming this issue to capture the general problem, so that other folks experiencing it might land here

I think we should aim to produce some troubleshooting documentation as an outcome of this thread to better help folks build workflows in the future.