[2019-04-23 16:12] jackfrancis commented on #1023
Because UDF is required for provisioning, we will punt on including this, as we are focused on VHD-capable hardening at the moment.

[2019-04-23 16:39] jackfrancis commented on #1021
Confirmed `csh` is out of scope, as we don't install `csh` with ubuntu:

[code]

[2019-04-23 16:45] CecileRobertMichon opened #1125 "time synchronization E2E broke the masters only job"
time sync test added in #1080 broke "k8s-linux-masters-only" in Jenkins.

[code]

[code]

To repro use apimodel:
[code]

[2019-04-23 16:46] CecileRobertMichon commented on #1125
@jackfrancis FYI

[2019-04-23 16:49] skinny commented on #1055
Thanks for reminding me of that, yes I also had to dig deep to find out that the limit is set on cgroup level instead of container level. Even more reason to document this behavior clearly imo

[2019-04-23 16:56] #1119 closed

[2019-04-23 19:36] bengrisafi commented on #750
We have run into this issue as well, if you expose the ability to set a custom vnet they allow us to set the vnet cidr and not just a portion.

[2019-04-23 19:36] #1055 closed

[2019-04-23 20:07] #1091 closed

[2019-04-23 22:50] #1021 closed

[2019-04-23 23:07] #1017 closed

[2019-04-23 23:07] #1018 closed

[2019-04-24 15:42] JonathanAwerty opened #1139 "Connection refused"
Hello,

We have a client that has detected a problem when publishing through the master node. It is an environment created in Azure that consists of two slaves and a master node. The problem is that any attempt to access by the master node through port 443 shows "Connection refused". When trying the command "kubectl get pods" it gives a timeout. We opened a case with Microsoft and they told us to

[2019-04-24 15:44] JonathanAwerty commented on #1139
The environment was working previously and nobody modified anything. My customer used scripts to create the resources on Azure.

[2019-04-24 18:19] CecileRobertMichon commented on #1139
Hi @JonathanAwerty, is this on a cluster created with aks-engine? Can you please share the aks-engine version and the apimodel (with redacted secrets) used to deploy the cluster?

[2019-04-24 20:49] CecileRobertMichon commented on #875
@tamilmani1989 any updates?

[2019-04-24 22:27] jackfrancis commented on #1008
We will enable this via an api model option `auditDEnabled` in both the `masterProfile` and items in the `agentPoolProfiles` configuration array.

[2019-04-25 13:00] yvan opened #1146 "400 error when mounting pvc for calls to retrieve instance id."
I'm having some trouble mounting my PVCs. It seems like an api call to get or refresh a token is failing. Anyone have thoughts, ideas, suggestions on what might cause the below?

Pod/container stuck initializing:

[code]

Events output from my pod:

[code]

MYSTERY_ID_HERE - an azure active directory app id i do not recognize, nor appears when i list all my active directory apps (including recentl

[2019-04-25 13:01] andyzhangx commented on #1123
be careful about this migration, there is a bug about "image pull error from ACR anonymous repository":
https://github.com/andyzhangx/demo/blob/master/issues/acr-issues.md#2-image-pull-error-from-acr-anonymous-repository
only some higher k8s versions has this fix

[2019-04-25 13:06] andyzhangx commented on #1146
I think you got a wrong tenant id or service principal, can you open `/etc/kubernetes/azure.json` and try use the sp and tenantid to login
[code]

[2019-04-25 13:20] yvan commented on #1146
i was thinking the same thing but am a little stumped. where should i look for `/etc/kubernetes/azure.json` in what machine/location?

[2019-04-25 13:22] andyzhangx commented on #1146
`/etc/kubernetes/azure.json` is under master node or any agent node

[2019-04-25 13:34] yvan commented on #1146
hey andy -- what's the easiest way to do that? should i try to ssh into a node? i tried this as part of an issue before and it was quite difficult.

[2019-04-25 13:39] andyzhangx commented on #1146
@yvan You should ssh to that master node, otherwise how do you use k8s cluster?
And also you could check your service principal in your aks-engine config file.

[2019-04-25 13:50] yvan commented on #1146
I am using AKS. I don't know where my aks-engine config file is.

ok i just used 'Run Command' to check the file on all of the nodes. I tried to run the az login command and i get the same error.

az login --service-principal -u MYSTERY_ID_HERE -p XXX -t TENANT_ID
Cloud Shell is automatically authenticated under the initial account signed-in with. Run 'az login' only if you need to use a different

[2019-04-25 14:05] yvan commented on #1146
could this be happening because the cluster is lacking an SP service point azure active directory application? if so how can i remedy that situation and get a new one?

[2019-04-25 14:08] andyzhangx commented on #1146
https://docs.microsoft.com/en-us/azure/aks/update-credentials

[2019-04-25 14:22] yvan commented on #1146
thanks for your help, giving it a go ... how long should it take to update? been running for a few minutes now.

[2019-04-25 14:29] JonathanAwerty commented on #1139
This cluster was created with acs-engine. I don't really know how to get the versions.
I tried "kubectl api-versions" but i get dial tcp "Public IP:443: i/o timeout".
I will ask to the client to share with me the scripts used to deploy this environment but as i said the cluster was working months ago.

[2019-04-25 14:32] yvan commented on #1146
ok i updated the SP and the old error is gone. now i'm getting a new one:

2019-04-25 14:28:03+00:00 [Warning] AttachVolume.Attach failed for volume “pvc-7b7976d7-3a46-11e9-93d5-dee1946e6ce9” : Attach volume “kubernetes-dynamic-pvc-7b7976d7-3a46-11e9-93d5-dee1946e6ce9" to instance “/subscriptions/XXX/resourceGroups/XXX/providers/Microsoft.Compute/virtualMachines/aks-agentpool-57634498-0” failed wi

[2019-04-25 14:34] andyzhangx commented on #1146
one disk PVC could only be attached to one VM node

[2019-04-25 14:38] yvan commented on #1146
i know that you can only attach a pvc to one node. i'm trying to figure out why i am getting this message given that that the PVC in question is not currently being used by any pod. if the PVC is unused but i'm getting the above message that's a bit of a confusing situation. i'm trying to get context/ideas to understand what's happening better.

[2019-04-25 15:03] andyzhangx commented on #1146
@yvan I noticed that your service principal has been invalid for a period of time, not sure whether it's related.

[2019-04-25 15:22] yvan commented on #1146
@andyzhangx i made a new service principal put it onto the cluster. that part seems fine now. i'm not sure why it would be invalid for a period of time and all of a sudden start causing issues today.

the attach volume issue is not affecting other PVCs on our cluster. just the ones i was touching/trying to mount while trying to debug the original issue (AADSTS700016) above. my hypothesis is that s

[2019-04-25 15:24] andyzhangx commented on #1146
you can just detach that pvc on azure portal, btw, what's your k8s version?

[2019-04-25 15:24] yvan commented on #1146
k8s version 1.12.5

[2019-04-25 15:37] yvan commented on #1146
I manually detached my disks roughly following this guide (https://docs.microsoft.com/en-us/azure/lab-services/devtest-lab-attach-detach-data-disk). And now all issues are resolved. Outstanding issues i recommend investigating:

1- failure to attach a disk, maybe multiple times, due to api errors like the above cause pvc to become stuck in an attached state

2- it should be more clearly documented

[2019-04-25 15:37] #1146 closed

[2019-04-25 16:13] jackfrancis commented on #1123
Thanks @andyzhangx, we won't do this work until that bug has been fixed. Is there a tracking issue for that bug?

[2019-04-25 16:37] CecileRobertMichon commented on #1139
This would show you the Kubernetes version, not the acs-engine version. You can see the acs-engine version used on the VM tags (see https://github.com/Azure/aks-engine/blob/master/docs/tutorials/deploy.md#checking-vm-tags for instructions), given that the version isn't too old.

I would recommend upgrading to a newer aks-engine version. That would give you fresh nodes and most likely fix your conn

[2019-04-25 17:21] JonathanAwerty commented on #1139
My customer is working to deploy a new version of Kubernetes using AKS but i need to resolve this with the current configuration while he is putting the new services up. It has to be operational next week.

Any ideas?

[2019-04-25 17:24] CecileRobertMichon commented on #1139
Have they tried rebooting all the VMs? The connection refused errors could be because the apiserver pod is down and needs to be restarted.

Other than that, it's hard to know what's going on without logs or information about the cluster configuration...

[2019-04-25 17:31] JonathanAwerty commented on #1139
I just tried to rebooting master node because agents are working and they don't want to risk shutting agents down. As you mentioned all the logs with "api" have the problem.

I'm going to attach again the logs. If you need some specific logs i can give them

[logs.zip](https://github.com/Azure/aks-engine/files/3118114/logs.zip)

Thanks,

[2019-04-25 20:24] #908 closed

[2019-04-25 20:44] rocketraman opened #1152 "The `scale` command unsuccessfully tries to modify the VNET address space"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of aks-engine?**:

[code]

---

This is a follow-up to https://github.com/Azure/acs-engine/issues/1790. My kubernetes vnet has an address space of `10.2.0.0/16`, and it has multiple peerings.

When attempting to scale, the scale command fails because it is unable to modify th

[2019-04-25 21:13] #1079 closed

[2019-04-25 21:13] #775 closed

[2019-04-26 00:44] CecileRobertMichon commented on #1046
Confirmed top nodes works after rotation on k8s 1.14. I suspect this is a heapster vs metrics server issue.

[2019-04-26 05:42] andyzhangx commented on #1123
@jackfrancis it's already fixed in some k8s versions, if aks-engine still supports old version by using ACR anonymous repo, need to use below workaround.

**Fix**

PR [fix Azure Container Registry anonymous repo image pull error](https://github.com/kubernetes/kubernetes/pull/74715) fixed this issue by allowing * .azurecr. * with two secrets: 1. service principal 2. empty username & password, and i

[2019-04-26 12:59] keyoke opened #1158 "Highly Available Private Cluster leveraging VMSS + AZ's"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue/Question

---

**What version of aks-engine?**:

Version: v0.34.3
GitCommit: 3fbbf8225
GitTreeState: clean

---

**Kubernetes version**:
1.12

**What happened**:

$ az group deployment create --resource-group [RG] --template-file azuredeploy.json --parameters @azuredeploy.parameters.json
Azure E

[2019-04-26 14:08] andyzhangx commented on #461
Below are the latest test result on k8s v1.14.1 set up by latest aks-engine:
[code]

`2.1.6` failure is actually just fixed now, so there are 4 failures left:
[code]

[2019-04-26 17:08] jackfrancis commented on #1014
Punt on `at.allow` and `cron.allow` as "authorized users" needs more definition.

[2019-04-26 17:55] JonathanAwerty commented on #1139
I rebooted the two agents and the master node. We did "docker ps" and we saw one apiserver in paused state. We noticed that the api server certificate expired, so we renewed and rebooted the VMs, but the problem still there.

Here you have what im talking about using "docker ps -a | grep apiserver"

5641ce71d07c        k8s-gcrio.azureedge.net/hyperkube-amd64@sha256:ef3eaeffa4c54a8fae32c7b06b0fa5d2

[2019-04-26 18:01] CecileRobertMichon commented on #1139
How long ago was the cluster deployed?

[2019-04-26 18:03] #1099 closed

[2019-04-26 18:03] #1125 closed

[2019-04-26 18:18] jackfrancis commented on #1139
Is it possible apiserver certs expired?

[2019-04-26 18:26] DavidArayaSanabria commented on #1139
Hi @jackfrancis  and @CecileRobertMichon  this is David from the Azure support, today i worked with them today a found out that the SP expired on 4/20/2019
We renewed the SP for one more year using the same secret and then deallocated and restarted the masters and the worker nodes.

the API logs do not show any service principal issue now:

068       1 cloudprovider.go:59] --external-hostname was

[2019-04-26 18:30] PatrickLang opened #1164 "Add tests for extensions"
This is an idea for an E2E test to line up with the fix in #1133

1. We could write a simple extension that creates some files in a known path on the host
2. Schedule a container against each node using a hostpath mount, and verify that the files exist

That would prove that the extension ran.

[2019-04-26 20:04] #1014 closed

[2019-04-26 20:04] #1019 closed

[2019-04-26 20:04] #1020 closed

[2019-04-28 12:32] #534 closed

[2019-04-28 22:19] #294 closed

[2019-04-29 02:07] satishsudhini opened #1168 "Getting "Could not find member 'Sensitivity' on object of type 'TemplateResource' " Error message with all aks binary v0.32.0 to v0.34.3"
New aks engine version after v0.32.0 cluster installation failing with the below error message

Azure Error: InvalidRequestContent
Message: The request content was invalid and could not be deserialized: 'Could not find member 'Sensitivity' on object of type 'TemplateResource'. Path 'properties.template.resources[12].Sensitivity', line 1, position 11293

[2019-04-29 08:35] sylr commented on #1100
Yeah so you were right, it was a configuration mistake on my part, this value should really be the VNET cidr.

[2019-04-29 08:35] #1100 closed

[2019-04-29 16:13] mboersma commented on #1168
@satishsudhini could you attach the apimodel.json (removing your subscription ID and other sensitive info) and the commands you used to deploy?

[2019-04-29 16:31] bzuelke commented on #1058
@CecileRobertMichon Awesome. I'm assuming this is not in the recent v0.34.3 release right?

[2019-04-29 16:54] JonathanAwerty commented on #1139
I deallocated all the machines and then started the master alone. I tried to do the commands without agents and i get the same message "connection refused". I started the two agents but the problem still happening.

[2019-04-29 17:04] bzuelke commented on #866
In the testing I've been doing lately I needed to edit a config on the master and was able to reboot it and it came back ok. As long as you're not terminating the instance there shouldn't be an issue with it.

[2019-04-29 18:22] mboersma opened #1172 "Upgrade metrics-server to v0.3.x"
The new version of [metrics-server](https://github.com/kubernetes-incubator/metrics-server/releases) is supported on Kubernetes 1.8.x+ but has significant changes compared to the previous minor release.

See #1109.

[2019-04-29 18:48] satishsudhini commented on #1168
{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorRelease": "1.11",
      "orchestratorVersion": "1.11.8",
      "kubernetesConfig": {
        "enableRbac": true,
        "enableSecureKubelet": true,
        "enableAggregatedAPIs": true,
        "networkPolicy": "calico",
        "networkPlugin": "kubenet",

[2019-04-29 22:45] CecileRobertMichon commented on #1058
@bzuelke it is actually (it's in [https://github.com/Azure/aks-engine/releases/tag/v0.34.2](v0.34.2) in fact).

[2019-04-30 03:26] jackfrancis commented on #1139
If we're talking about a cluster that we're attempting to recover by deleting all active workloads, reboot all nodes, in order to apply changes to the service principal... why not create a new cluster? As there are many possible entropy vectors in a cluster that is at least one year old, and we're already in a non-operational state, a new cluster would be recommended going forward.

[2019-04-30 05:11] #926 closed

[2019-04-30 16:35] posix4e opened #1177 "Documentation improvement for machine learning on k8s"
**Is this a request for help?**: Not really
**Is this an ISSUE or FEATURE REQUEST?** Documentation/Feature
**What version of aks-engine?**:
Any

I think we should provide a more useful example for people using kubernetes for machine learning. We use a cluster with two node pools, both auto-scaling , both low priority, one full of cpu nodes one full of gpu nodes

**Kubernetes version**:
Any

**What

[2019-04-30 17:06] lumi017 opened #1179 "Hitting rate limit for "NicGet""
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of aks-engine?**:
N/A
---

**Kubernetes version**: 1.13.5

**What happened**:
We have ~150 node cluster running Kubernetes (the hard way). We are using Azure LB managed by Kubernetes controller manager. It works fine when we are only leveraging the public IP LB, but once we create a private IP LB Kubernetes service it

[2019-04-30 17:36] shreyshah-msft opened #1181 "Issue with master VMSS and cosmosEtcd"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of aks-engine?**:
v0.34.2
---

**Kubernetes version**:
1.10.13

**What happened**:
kubectl get nodes returns no masters and no workloads are running.

**What you expected to happen**:
kubectl get nodes should return masters and the workload should run.

**How to reproduce it** (a

[2019-04-30 22:56] #1181 closed

[2019-05-01 12:34] itaysk commented on #401
@jackfrancis you wrote that the node were actually upgraded but the log you attached showed the process aborted before it got to upgrade the added nodes. can you please clarify?

As a workaround, perhaps it's possible to initially create the cluster with some larger number of nodes, then allowing the autoscaler to scale in, which is supposedly safe according to what you wrote in #400 : "Scenario 2

[2019-05-01 16:37] jackfrancis commented on #401
Hi @itaysk,

A prototype changeset that is meant to address VMSS-specific scenarios is in #881. We'll try to prioritize addressing this scenario.

Perhaps my language above is misleading, it's been a while since I repro'd this. The bottom line is that we don't recommend using the current `aks-engine upgrade` in cluster configuration scenarios that take advantage of `cluster-autoscaler`. This is a

[2019-05-01 17:50] PatrickLang opened #1189 "Proposal: support service principal secret rolling"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Feature Request
---

**What version of aks-engine?**:
all
---

Creating and updating an Azure service principal or the service principal secret used by a cluster is a difficult task today. In fact, it's not even fully documented (see: docs: how to change Service Principal credentials? #724). Can this be automated as a new feature for `aks-eng

[2019-05-01 18:21] CecileRobertMichon commented on #1168
@satishsudhini where is the `prepare_vm_disks` extension template coming from?

[2019-05-01 18:58] jackfrancis opened #1190 "Standard LB-enabled cluster fails to scale out"
Seeing failures like this testing Standard LB-enabled cluster during scale out:

[code]

[2019-05-01 19:29] jackfrancis commented on #1054
I was unable to repro this on v0.35.0, so this looks to have been fixed.

[2019-05-01 19:29] #1054 closed

[2019-05-01 23:43] #1034 closed

[2019-05-02 12:47] nicjac opened #1203 "Add `Standard_NC6_Promo` to list of GPU virtual machines"
**Is this a request for help?**:

No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue
---

**What version of aks-engine?**:
v0.35.0
---

**Kubernetes version**:
1.14.1

**What happened**:
When deploying a cluster with a node pool of size `Standard_NC6_Promo`, the Nvidia driver is not installed, and thus the GPU is not exposed as an available resource.

**What you expected to hap

[2019-05-02 15:26] mo-saeed opened #1204 "Add custom tags to the cluster vm's"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): FEATURE REQUEST

---

**What version of aks-engine?**:
aks-engine 0.35.0
---

**Kubernetes version**:
1.13.5

**What happened**:
No option to add custom tags to azure VM's while creating the cluster

**What you expected to happen**:
Add custom VM tags during the cluster installation, in the cluster de

[2019-05-02 15:57] mo-saeed commented on #1190
https://github.com/Azure/acs-engine/issues/4328#event-2208016351

[2019-05-02 16:32] jackfrancis opened #1206 "In VHD 2019.04.30 /var/log has incorrect permissions"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

---

**What version of aks-engine?**:

@master

---

**Kubernetes version**:

all

**What happened**:

/var/log files and directories don't have the correct permissions:

[code]

**What you expected to happen**:

no files/directories in /var/log with "everyone" read permissions

[2019-05-02 17:01] CecileRobertMichon commented on #1203
Done in https://github.com/Azure/aks-engine/pull/1101

[2019-05-02 17:19] mboersma opened #1207 "Document how to use a debugger with aks-engine"
Using VS Code to debug `aks-engine` interactively is a bit tricky to set up but works great. Let's document it.

[2019-05-02 17:27] ohthehugemanatee commented on #1203
Seems like the issue is actually that `_Promo` suffix should be ignored in `IsNvidiaEnabledSKU` regardless of what SKU it appears on, since it can appear on any SKU.

Submitted a PR that ignores it and tests the ignore.

[2019-05-02 17:31] ohthehugemanatee commented on #1203
... and someone else PR'ed it before I did. :|

Still, the merged PR adds `_Promo` types statically. I think my approach is better... @mboersma what do you think? Happy to make another PR for the minor change...

[2019-05-02 17:57] ohthehugemanatee opened #1209 "Support _Promo SKU suffix on all SKUs"
**Is this a request for help?**:
---
Nope

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
Issue

**What version of aks-engine?**:
---
v0.35.0

**Kubernetes version**:
n/a

**What happened**:
Azure put a VM size on promotion, which added a `_Promo` suffix to the SKU. Now aks-engine doesn't like my SKUs or doesn't detect their capabilities (eg GPU).

**What you expected to happen**:
The

[2019-05-02 17:58] ohthehugemanatee commented on #1209
/assign @ohthehugemanatee

[2019-05-02 17:58] CecileRobertMichon commented on #1203
#1101 added those VM the list but didn't actually fix this issue. I think you're PR is still relevant @ohthehugemanatee.

[2019-05-02 18:01] CecileRobertMichon commented on #1203
closing in favor of #1209

[2019-05-02 18:01] #1203 closed

[2019-05-02 18:41] mathieu-benoit opened #1210 "Windows Nodes not properly provisioned (VMSS)"
**Is this a request for help?**: Confirming and Raising an issue

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of aks-engine?**: v.0.35.1

---

**Kubernetes version**:

1.14.1

**What happened**:

When creating an AKS-E cluster with Windows Nodes in VMSS, the Windows Agent nodes are not properly provisioned:

- no displayed when running `kubectl get nodes`

[2019-05-02 22:17] andremakram opened #1212 "VMExtensionProvisioningError error cse-master exit code 15 - ERR_ETCD_CONFIG_FAIL"
**Is this a request for help?**:

YES
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE
---

**What version of aks-engine?**:
Version: v0.34.3
GitCommit: 3fbbf8225
GitTreeState: clean

---
**Kubernetes version**:
1.14.1

**What happened**:
Deployment on the master linux boxes fails with cse-master-0 error status 15.

Error: https://github.com/Azure/aks-engine/blob/fa9c6607811b7393

[2019-05-02 22:29] CecileRobertMichon commented on #1212
@andremakram when was this approximately? There's an ongoing outage (see https://azure.microsoft.com/en-us/status/).

[2019-05-02 22:32] andremakram commented on #1212
@CecileRobertMichon, it's been 2-3 days. So this happened yesterday as well.

[2019-05-02 22:55] #424 closed

[2019-05-03 01:34] Guilhermeslucas commented on #1025
This looks like a nice issue! I want to give it a try during next week :)

[2019-05-03 02:01] CecileRobertMichon commented on #1025
@Guilhermeslucas this is already in progress but we're waiting on the Azure CNI team for a new release to unblock us. I recommend you look at issues with the `good first issue` label if you're looking for good issues to tackle.

[2019-05-03 02:08] Guilhermeslucas commented on #1025
Thanks for answering, Cecile :)

[2019-05-03 02:11] Guilhermeslucas commented on #1204
anyone working with this? I can try! :)

[2019-05-03 07:01] palmerabollo opened #1215 "runtime error disabling heapster addon"
**Is this a request for help?**:

Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

---

**What version of aks-engine?**:

v0.32.3

---

**Kubernetes version**:

v0.11.8

**What happened**:

`aks-engine deploy` fails trying to generate the template with "heapster" addon disabled

I've disabled the following addons:

[code]

The addon names are taken from https://github.com/A

[2019-05-03 14:20] Vitorspk opened #1217 "Error trying to create cluster deployment with AKS"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
issue
---

**What version of aks-engine?**:
aks-engine-v0.34.2-linux-amd64
---

**Kubernetes version**:
1.13.5

**What happened**:
Try to deploy new cluster with AKS engine and error when creating more than one master

**What you expected to happen**:
Create cluster on azure with 3 master and 3 nodes.

[2019-05-03 14:45] JonathanAwerty commented on #1139
Good afternoon,

We decided to delete de ACS environment and create a new one with AKS wich is working without issues.

Thanks to everybody for the support.

[2019-05-03 16:28] CecileRobertMichon commented on #1217
Hi @Vitorspk, can you please share your apimodel file (make sure to remove any secrets) `app-example.poc.json`? What is the error you are getting?

[2019-05-03 16:37] CecileRobertMichon commented on #1210
@craiglpeters

[2019-05-03 16:51] CecileRobertMichon commented on #1212
@andremakram I will try to repro this with your apimodel. We haven't seen this error in any of our CI recently so it might be due to a specific cluster configuration. In the meantime, could you please fetch logs from your master-0 VM: `sudo journalctl -u etcd`, `systemctl status etcd`. Also, try to `systemctl start etcd` and see if that succeeds.

[2019-05-03 16:59] jackfrancis commented on #1139
Thank you for checking back @JonathanAwerty!

[2019-05-03 16:59] #1139 closed

[2019-05-03 17:25] jchauncey opened #1218 "Moving images from gcr/dockerhub/quay"
This is the catch all issue for moving the images used in a provisioned kubernetes cluster from depending on outside services like gcr/quay/dockerhub to one owned an maintained by the upstream containers team.

The following list are images that represent those that will need to be changed:

[code]
There may be others so when this work is done we need to check to make sure we are not missing any.

[2019-05-03 17:27] jchauncey commented on #1218
Question is whether this is the only place I need to update:

https://github.com/Azure/aks-engine/blob/master/pkg/api/k8s_versions.go

[2019-05-03 17:27] Vitorspk commented on #1217
`{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "kubernetesConfig": {
        "addons": [
            {
              "name": "keyvault-flexvolume",
              "enabled" : false
            }
        ],
        "networkPolicy": "calico",
        "cloudProviderRateLimit": false,
        "kubeletConfig": {
          "--kube-

[2019-05-03 17:28] Vitorspk commented on #1217
{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "kubernetesConfig": {
        "addons": [
            {
              "name": "keyvault-flexvolume",
              "enabled" : false
            }
        ],
        "networkPolicy": "calico",
        "cloudProviderRateLimit": false,
        "kubeletConfig": {
          "--kube-r

[2019-05-03 17:29] Vitorspk commented on #1217
[code]

[2019-05-03 17:29] mboersma opened #1219 "Remove Kubernetes 1.11.8 when AzureStack is ready"
This is a reminder to revisit the decision in #1193 once a hyperkube 1.11.10-azs is published.

[2019-05-03 18:18] mboersma commented on #1218
See also @cpuguy83's work in #797.

[2019-05-03 20:02] jadarsie opened #1220 "Remove azurefile storage class when deploying to Azure Stack"
**Is this a request for help?**:
No

**Is this an ISSUE or FEATURE REQUEST?**:
A little bit of both

**What version of aks-engine?**:
All

**Kubernetes version**:
All

**What happened**:
Storage class `azurefile` is not supported on Azure Stack.
Azure Stack users expect this to work as the API returns `azurefile` as a valid option.

**Anything else we need to know**:
Planning to approach this issu

[2019-05-03 20:09] CecileRobertMichon commented on #1212
I couldn't repro this with the apimodel you provided with aks-engine version 0.34.3. Did you retry multiple times? It's possible that this was a flake if it only happened once. If not, it might be an issue with your vnet since that's the only only thing that differs between my deployment and yours.

[2019-05-03 20:34] andremakram commented on #1212
@CecileRobertMichon, thanks for looking. The output of the commands is below.

It seems that etcd is actually installed properly but something else is wrong. Do you have any suggestion what I might try to figure out what could be going wrong with the VNet? The Vnet was setup a while back and we've been using it successfully for other Azure services.

I tried this multiple times and it still failed

[2019-05-03 20:44] CecileRobertMichon commented on #1212
hmm so it looks like etcd is actually running fine. Can you try `sudo etcdctl cluster-health`?

[2019-05-03 20:50] andremakram commented on #1212
@CecileRobertMichon

**sudo etcdctl cluster-health**

sudo: unable to resolve host k8s-master-32040618-0: Connection timed out
member d96b0e72c7a83586 is healthy: got healthy result from https://10.151.23.122:2379
cluster is healthy

[2019-05-03 21:12] CecileRobertMichon commented on #875
fixed by #1192

[2019-05-03 21:12] #875 closed

[2019-05-03 21:13] CecileRobertMichon commented on #761
Reopening as this still applies for the ubuntu-18.04 (not aks-18.04) distro.

[2019-05-03 22:37] jadarsie opened #1224 "Disable addons not supported on Azure Stack"
**Is this a request for help?**:
No

**Is this an ISSUE or FEATURE REQUEST?**:
Feature

**What version of aks-engine?**:
Latest

**What happened**:
Azure Stack does not support all the addons that AKSe deploys by default.
Some of the optional addons are not supported either or were not yet validated.

**What you expected to happen**:
AKSe to ignore the input json and not deploy those addons

List

[2019-05-03 23:33] jadarsie commented on #1224
@mboersma I am considering creating a new page to explain what addons people should expect to work on Azure Stack. Would you rather add that info to an existing page? which one?

[2019-05-03 23:53] jsturtevant opened #1225 "Document how to configure gMSA with windows containers"
**Is this a request for help?**: no

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): feature request (documentation)

---

**What version of aks-engine?**: all

---

**Kubernetes version**:
all

**What happened**:
There is no documentation on how to set up gmsa.

**What you expected to happen**:
Sample and documentation for this common use case.

**How to reproduce it** (as minimally a

[2019-05-04 18:35] #1207 closed

[2019-05-04 22:50] #1008 closed

[2019-05-05 15:45] allantargino commented on #633
I am investigating this behavior, thanks.

[2019-05-05 16:16] #594 closed

[2019-05-06 03:57] joshuataylor commented on #805
It's only fixed after running the above command though.

[2019-05-06 08:33] munishm commented on #1215
assign @munishm

[2019-05-06 08:37] ams0 commented on #1177
I'd like to work on this issue as part of our CSE bug bash week. I'll report progress here

[2019-05-06 08:38] ams0 commented on #1177
/assign @ams0

[2019-05-06 08:39] ams0 commented on #720
I would like to work on this one to learn more about the inner workings of aks-engine and as part of our CSE bug bash.

[2019-05-06 08:39] ams0 commented on #720
/assign @ams0

[2019-05-06 08:40] ohthehugemanatee commented on #689
/assign @ohthehugemanatee

[2019-05-06 08:40] munishm commented on #1215
/assign @munishm

[2019-05-06 08:42] juergenpf commented on #1049
/assign @juergenpf

[2019-05-06 09:08] munishm commented on #1215
/assign @munishm

[2019-05-06 09:47] ams0 commented on #746
There's an extra comma on the line:

[code]

[2019-05-06 09:48] ams0 commented on #746
/close

[2019-05-06 09:48] #746 closed

[2019-05-06 12:28] DonMartin76 opened #1229 "Expired SP Password - Cluster not working at all anymore"
**Is this a request for help?**: Yes-ish

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of aks-engine?**: 0.33.4

---

**Kubernetes version**: 1.13.5

**What happened**: The password/client secret for the service principal we used to create the cluster expired, which entrailed a couple of unwanted effects. At least we *think* that this was the cause of the

[2019-05-06 13:16] Guilhermeslucas commented on #1204
I am investigating this issue! I'm just wondering which is the desired behavior in this issue.
It would be adding just like this [link](https://github.com/Azure/azure-quickstart-templates/blob/master/101-vm-tags/azuredeploy.json#L174-L178)? Besides, it would be just one tag for every resource that is created for the cluster? Thanks a lot!

[2019-05-06 17:03] jackfrancis opened #1231 "Enable runtime class for per-workload container runtime configuration"
See https://kubernetes.io/docs/concepts/containers/runtime-class/

[2019-05-06 17:08] Guilhermeslucas commented on #1204
/assign guilhermeslucas

[2019-05-06 17:11] allantargino commented on #633
/assign allantargino

[2019-05-06 17:14] carlsoncoder opened #1232 "Issues with defaults for windowsProfile in cluster definition"
**Is this a request for help?**:

No, I have a workaround. It's a question on how something should work in the aks-engine code.
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue

---

**What version of aks-engine?**:
0.35.1
---

**Kubernetes version**:
N/A

**What happened**:
As recently as last week, I was able to deploy a cluster with these parameters in my cluster definition JSO

[2019-05-06 17:15] allantargino commented on #1204
/assign guilhermeslucas

[2019-05-06 17:16] CecileRobertMichon commented on #645
keep open

[2019-05-06 17:59] helayoty commented on #1204
/assign @helayoty

[2019-05-06 18:02] helayoty commented on #1070
/assign @helayoty

[2019-05-06 18:16] helayoty commented on #1070
/assign @helayoty

[2019-05-06 19:53] Guilhermeslucas commented on #1204
/assign guilhermeslucas

[2019-05-06 20:10] CecileRobertMichon commented on #1229
related to https://github.com/Azure/aks-engine/issues/724 and #1189

[2019-05-06 20:11] CecileRobertMichon commented on #1189
related to https://github.com/Azure/aks-engine/issues/724 and #1229

[2019-05-06 20:13] Guilhermeslucas commented on #1204
Just a quick question, isn't [this](https://github.com/Azure/aks-engine/tree/master/examples/kubernetes-labels) the behavior we want to get?

[2019-05-06 20:22] mo-saeed commented on #1204
@Guilhermeslucas No this is kubernetes node labels https://kubernetes.io/docs/tasks/configure-pod-container/assign-pods-nodes/#add-a-label-to-a-nodeels

[2019-05-06 20:24] mo-saeed commented on #1204
Sorry closed by mistake !

[2019-05-06 20:41] Guilhermeslucas commented on #1204
No problem! @mo-saeed Since you are here, let me ask you something. The intention here is to make a only one tag that will be added to all of the machines (master and agents) or be able to add a separated tag for both master and agent? Thanks!

[2019-05-06 20:49] mo-saeed commented on #1204
@Guilhermeslucas no need for separated tags, same tags for all cloud resources, VM's (master and agents) and not sure also if possible to all other resources like vnet and etcd disks, nw security groups, etc....
but ofc for now the most important is to have custom tags for master and agent **VM's**.

[2019-05-06 21:07] PatrickLang opened #1235 "Nodes have an overly broad 10.0.0.0/8 NAT exception"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of aks-engine?**:

Version: canary
GitCommit: 9bbf434
GitTreeState: clean

---

**Kubernetes version**: v1.14.1

**What happened**:

Per @daschott, windows nodes are deployed with an overly broad NAT exception of `10.0.0.0/8`. That overlaps with the actual CIDRs that should b

[2019-05-06 21:18] PatrickLang commented on #1235
https://github.com/Azure/aks-engine/blob/master/docs/topics/features.md#L129  - this says 10.0.0.0/8 is the default exclusion.

It's defined here https://github.com/Azure/aks-engine/blob/master/pkg/engine/const.go#L21

[2019-05-06 21:23] PatrickLang commented on #1235
As far as I can tell, this is intentional. If it's wrong, can you explain more @daschott? Otherwise I think we'll close this out.

[2019-05-06 22:18] #609 closed

[2019-05-06 22:47] PatrickLang commented on #1232
so are you proposing moving to 2019 (LTSC) by default instead of 1809 (SAC), or doing more up-front parameter validation?

If parameter validation I think this would be something we could warn on, but not necessarily block. We're planning to make AKS-tuned Windows images soon and don't want to block those.

[2019-05-06 22:54] CecileRobertMichon commented on #1217
what error are you getting?

[2019-05-06 22:56] CecileRobertMichon commented on #1212
it looks like a DNS issue... Are you doing anything special with your VNET? Any firewall or blocked outbound traffic? Are you using Azure DNS?

[2019-05-07 02:31] juergenpf commented on #725
/assign @juergenpf

[2019-05-07 11:03] munishm commented on #1215
Able to create the cluster using aks-engine version 0.32.3 for Kubernetes version 1.11.8 with these 2 addons disabled.

Tried with a simple cluster definition file. File attached.
[kubernetes-simple.txt](https://github.com/Azure/aks-engine/files/3152232/kubernetes-simple.txt)

[2019-05-07 11:24] palmerabollo commented on #1190
I'm also facing this issue with aks-engine 0.32.x and kubernetes 1.11.8. Cluster autoscaler v1.3.9
Also using "loadBalancerSku": "standard" and "singlePlacementGroup": false

I've added a comment to the issue in acs-engine, but I'm posting it here as well since I think the other repo is deprecated. This is the event I see in a kubernetes service that expects a load balancer to be created:

Any kno

[2019-05-07 11:38] itaysk commented on #773
getting this on wsl ubuntu as well

[2019-05-07 13:36] palmerabollo commented on #1215
Thanks @munishm, let me compare your cluster definition with mine. I'll post the differences I find as soon as possible.

[2019-05-07 13:48] ams0 commented on #633
I dug a bit a found out that that directory (`/etc/kubernetes/manifests`) is only [for static pod definitions](https://kubernetes.io/docs/tasks/administer-cluster/static-pod/) and nothing else. The file `pod-security-policy.yaml` contains PodSecurityPolicy, ClusterRoles and ClusterRoleBindings objects thus invalid.

[2019-05-07 13:48] munishm commented on #773
INFO[0000] new api model file has been generated during merge: /tmp/mergedApiModel144878442
DEBU[0000] Resolving tenantID for subscriptionID: 10587334-7ba8-4367-84de-099426c363d4
Error: loading API model: failed to get client: Invoking Azure CLI failed with the following error:

No error is displayed. This should be investigated.

[2019-05-07 13:49] munishm commented on #773
INFO[0000] new api model file has been generated during merge: /tmp/mergedApiModel144878442
DEBU[0000] Resolving tenantID for subscriptionID: ***
Error: loading API model: failed to get client: Invoking Azure CLI failed with the following error:

**No error is displayed. This should be investigated.**

[2019-05-07 14:21] munishm commented on #737
I have few questions related to it:

1.   Is it not a sound practice to have a contributor role SP?
2.  We don't need this enhancement if SP has contributor role, Will there be any  case where one doesn't have permission to create this kind of role? 

[2019-05-07 16:43] CecileRobertMichon commented on #1224
@jadarsie I'll let you close this if it's fixed.

[2019-05-07 16:51] #1224 closed

[2019-05-07 16:52] #1220 closed

[2019-05-07 17:28] jackfrancis commented on #1009
We had to revert this change as it was breaking VHD CI reconciliation

[2019-05-07 17:31] #1049 closed

[2019-05-07 17:44] #1219 closed

[2019-05-07 17:55] palmerabollo commented on #1215
The issue might be caused because we compile and run aks-engine in a container. You can use the following Dockerfile to reproduce it:

[code]

Then build and run it:

[code]

And use `aks-engine deploy`:

[code]

It fails with the same error every time.

[2019-05-07 19:01] palmerabollo commented on #1215
Just in case it is useful, it works if you build it with `golang:1.12.4-alpine3.9` instead of `golang:1.11.5-alpine3.9`. It solves the issue for me.

[2019-05-07 20:12] #444 closed

[2019-05-07 20:42] jackfrancis opened #1246 "rename "aks-16.04" and "aks-18.04" distros to "aks-ubuntu-<LTS>""
To anticipate future non-ubuntu distro, let's rename our sort of shorthand "aks-<lts>" distro values to more explicitly express that they are ubuntu.

[2019-05-07 22:07] juergenpf commented on #725
/Close

[2019-05-07 22:07] #725 closed

[2019-05-07 22:20] jadarsie opened #1249 "Remove outbound connectivity validation on disconnected Azure Stack stamps"
**Is this a request for help?**:
No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue

**What version of aks-engine?**:
Latest

**What happened**:
Deploying to a disconnected Azure Stack instance fails with ERR_OUTBOUND_CONN_FAIL.
This is caused by the nodes' CSE trying to test outbound connectivity.

**What you expected to happen**:
If I deploy to a disconnected Azure Stack instance,

[2019-05-07 23:00] techbunny commented on #1232
As the expected behavior of leaving out the image version (as per the documentation) is to provide an available/appropriate version of either LTSC or SAC depending on your offer and sku settings, fix options could be:

1: Change the code to provide the logic necessary to provide an appropriate default version for both LTSC or SAC based on the provided offer parameter.
2:  Change the documentation

[2019-05-07 23:37] juergenpf commented on #867
/assign @juergenpf

[2019-05-08 00:05] #1249 closed

[2019-05-08 00:17] juergenpf commented on #725
/Close

[2019-05-08 01:12] #617 closed

[2019-05-08 03:54] allantargino commented on #633
Detailed reproduce steps:
1. Create a cluster with both RBAC and PodSecurityPolicy enabled, with the following definition:
[code]
2. SSH into the master node
3. Use the following to get the logs:
[code]

[2019-05-08 04:00] allantargino commented on #633
Reason: @ams0 spot on.
From https://github.com/Azure/acs-engine/pull/2048 we are creating the PSP definition inside `/etc/kubernetes/manifests/`.
This is the exactly path configured for static pod files using the kubelet flag `--pod-manifest-path`.
Also, this is logged every 20s due to the kubelet flag `--file-check-frequency` (by default its value is `20s`)

Even with the kubelet not creating the

[2019-05-08 04:54] srudin opened #1258 "Walkthrough not up to date, doesn't work"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of aks-engine?**: Latest

---

**Kubernetes version**: 1.14

**What happened**: There is a recent blog post saying that Kubernetes now supports Windows containers: https://cloudblogs.microsoft.com/opensource/2019/03/25/windows-server-containers-now-supported-kubernetes/
Inde

[2019-05-08 05:29] vishnukraj1111 commented on #1068
Does enabling this change requires us to restart the docker daemon in the node to take this in effect?

[2019-05-08 07:32] palmerabollo commented on #803
Just in case it helps, I've seen this error in a traefik service with aks-engine 0.32.3:

  Normal   EnsuringLoadBalancer        13m (x85 over 8h)        service-controller  Ensuring load balancer

[2019-05-08 10:12] #1215 closed

[2019-05-08 10:18] munishm commented on #773
In case you are running it inside the linux container and it errors out at Invoking CLI, the solution is to change the authentication method to client_secret rather than CLI

**--auth-method client_secret**

[2019-05-08 10:21] munishm commented on #1108
@superyyrrzz - the solution is to use the authentication method to client secret.

Please refer:  **https://github.com/Azure/aks-engine/issues/773**

[2019-05-08 16:49] bclau opened #1260 "Cannot deploy Kubernetes cluster (Custom data in OSProfile exceeds 87380 characters)"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of aks-engine?**:v0.35.1, v0.35.0

---

**Kubernetes version**: v1.14.1

**What happened**:

Tried to deploy a Kubernetes cluster using the following ``kubernetes.json`` file: [1] (some fields have been redacted: keys, passwords, etc.)

[1] https://paste.ubuntu.com/p/8c9dFbnK

[2019-05-08 16:56] CecileRobertMichon commented on #1260
Hi @bclau, you are running into custom data limits. #1251 should help free up some space. In the meantime, is there any reason you are using the `ubuntu` distro or are you able to deploy with `aks` which is a custom AKS image based on ubuntu-16.04 (same image as `ubuntu`) with some pre-installed components.

[2019-05-08 17:05] bclau commented on #1260
Hello. I haven't tried the ``aks`` engine. But it's good to know that this issue is getting fixed.

[2019-05-08 17:10] CecileRobertMichon commented on #1260
I highly recommend that you give `"distro": "aks"` a try... It's the default value for aks-engine deployments. It allows faster and more reliable deployments.

[2019-05-08 17:33] munishm commented on #1258
/assign @munishm

[2019-05-08 21:22] CecileRobertMichon commented on #718
related to #717

[2019-05-08 21:35] mboersma opened #1267 "Example apimodel still refers to Swarm orchestrator"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

---

**What version of aks-engine?**:

master

---

The doc at https://github.com/Azure/aks-engine/blob/master/docs/tutorials/custom-vnet.md#create-the-template-for-aks-engine uses a template that has `"orchestratorType": "Swarm"`. 🤦‍♂  We should update this with a Kubernetes cluster definition.

[2019-05-08 23:08] andremakram commented on #1212
So the issue seemed to be that the linux box didn't have the Vm name in the hosts file. But now I'm stuck because if i delete my deployment and re-run it, I see the same problem. If I fix the linux box, I cannot continue the deployment because the error is persisted somewhere.

Any idea how to add code so that I can add the linux box to the hosts file?

[2019-05-08 23:50] #1260 closed

[2019-05-09 07:20] juergenpf commented on #729
/Assign @juergenpf

[2019-05-09 07:20] adelina-t commented on #1260
@CecileRobertMichon  We are using distro: ubuntu because in e2e testing we need to use a custom hyperkube. See https://github.com/Azure/aks-engine/issues/342 for reference.

[2019-05-09 07:22] juergenpf commented on #867
/Unassign @juergenpf

[2019-05-09 09:33] AlexBevan commented on #542
Just here to add a +1 one this!

[2019-05-09 12:38] andyzhangx commented on #1229
I think you could renew the original password, that's the easiest way to make it work. you could follow this: https://github.com/andyzhangx/demo/blob/master/issues/sp-issues.md#option1-extend-the-original-sp-password-for-one-more-year

[2019-05-09 13:10] sylus opened #1269 "Kubernetes LB doesn't respect externalTrafficPolicy: Local"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of aks-engine?**: v0.31.1

---

**Kubernetes version**: v1.12.5

**What happened**:

Kubernetes LB doesn't respect externalTrafficPolicy: Local

[code]

We did notice that the node gets the right IP but the pod itself gets the IP of the node.

We also tried using Traefik and

[2019-05-09 13:43] DonMartin76 commented on #1229
@andyzhangx I followed exactly those instructions, but I still couldn't make the cluster work again. It seemed to be "dead"; no matter which actions I did, restarting the containers directly on the master etc., I couldn't make it work again. Eventually I gave up and recreated the entire thing instead.

Now, it's not 100% sure that the SP was the reason for this, but the indications are pretty stro

[2019-05-09 13:45] Vitorspk commented on #1217
ipconfig1 is using the private IP address 10.140.30.21 which is already allocated to resource

idk why return me this error if i already create subnet and nobody allocated this.

[2019-05-09 14:09] andyzhangx commented on #1229
@DonMartin76 then I think you should get kubelet log first to check what happend: `sudo journalctl -u kubelet -l > kubelet.log`, it should tell you what happened.

[2019-05-09 14:31] adinunzio84 commented on #665
Also looking for ephemeral drive support (related: https://github.com/Azure/AKS/issues/105), but we're using AKS, not AKS-engine. I assume the feature would be added somewhere in AKS-engine though

[2019-05-09 14:45] bclau commented on #1260
@CecileRobertMichon It seems that there is an error when trying to deploy a cluster with the ``aks`` distro: [1]

    Deployment failed. Correlation ID: b2ad14d7-741d-4fe3-a422-040a6a57bb9c. {
      "error": {
        "code": "PropertyChangeNotAllowed",
        "message": "Changing property 'customData' is not allowed.",
        "target": "customData"
      }
    }

[1] https://paste.ubuntu.com/p/

[2019-05-09 15:09] chreichert opened #1270 "Pods crash with: pthread_create() failed (11: Resource temporarily unavailable) after cluster upgrade"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of aks-engine?**: 0.35.1

---

**Kubernetes version**: 1.14.1

**What happened**:
After upgrading our QA cluster using AKS-Engine 0.35.1 from K8s 1.11.6 via 1.12.8, 1.13.5 to 1.14.1 workload pods do not start anymore or crash after a while showing the error "pthread_create()

[2019-05-09 15:16] mboersma commented on #695
@jackfrancis is there anything left to do here, or can we close this?

[2019-05-09 16:42] CecileRobertMichon commented on #1260
@bclau that error indicates that ARM is trying to modify an existing VM. You might have been reusing the same dnsPrefix or redeployed before the resource group had finished deleting. Can you try again with a different dnsPrefix/resource group?

[2019-05-09 18:06] #633 closed

[2019-05-09 18:06] jackfrancis commented on #695
Thanks for tracking!

[2019-05-09 18:06] #695 closed

[2019-05-09 20:03] #1070 closed

[2019-05-10 00:04] CecileRobertMichon commented on #950
/assign aramase

[2019-05-10 08:25] mzack18081985 opened #1278 "AKS-Engine upgrade failed ARM template"
**Is this a request for help?**:

yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
issue

**What version of aks-engine?**:

v0.35.1

If this is a ISSUE, please:
Upgrade from 1.11.5 to 1.12.8 failed with ARM Template error.

**Kubernetes version**:
1.11.5

**What happened**:
Error: upgrading cluster: resources.DeploymentsClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- O

[2019-05-10 10:31] munishm commented on #1258
The beta in example is not outdated, it is yet to graduate. Please check this-
https://github.com/kubernetes/enhancements/blob/master/keps/sig-windows/20190103-windows-node-support.md

[2019-05-10 10:37] munishm commented on #1258
@srudin - Can you please let us know what did not work in the example?

[2019-05-10 11:22] ohthehugemanatee opened #1281 "Refactor: unify generate and deploy commands"
**Is this a request for help?**:
---
No.

**Proposal**
---
Deploy and Generate commands do a lot of the same things, and end up duplicating a lot of each others code. It's more reliable and maintainable to unify these code paths.

Ideally `deploy` should be `generate` plus one or two extra functions.

Proposed flow:

* FilterInput: Runs any changes to the user input. eg normalizing location names.

[2019-05-10 11:22] ohthehugemanatee commented on #1281
@craiglpeters  @CecileRobertMichon @jackfrancis  request for comment before I start hacking on this. :)

[2019-05-10 13:39] ams0 commented on #561
I looked into this as efforts to reduce the number of bugs. What I found:

- for Azure CNI, `--cluster-cidr` is ignored and pods get IP's from the agent subnet; they are able to talk to the outside word, be reachable *from* the service Loadbalancer IPs and access ClusterIP's Service IPs.

- for Kubenet,  `--cluster-cidr` is respected and pods get IP's from that range. I think this can be closed, a

[2019-05-10 13:39] #561 closed

[2019-05-10 14:50] norshtein opened #1284 "Support using existing user assigned identity to create a cluster"
**Is this a request for help?**: yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): feature request

Can we support using existing user assigned identity to create a cluster? I'm glad to implement this if you agree to support this feature 😄 .

[2019-05-10 16:42] jackfrancis commented on #1281
Thanks for scaffolding this out! Usually we do data model validation after what you've called the `LoadAPIModel` step, and before default property assignment/expansion. Basically, by the time we send an opinionated, but incomplete, input data representation through the defaults flow, we want to ensure that the configuration combinatorics are sane and mutually functional.

[2019-05-10 17:33] davidmatson commented on #245
/lifecycle remove-stale
/lifecycle frozen

[2019-05-10 17:33] davidmatson commented on #242
/lifecycle remove-stale
/lifecycle frozen

[2019-05-10 18:06] CecileRobertMichon commented on #1281
Sounds great. Thanks for taking the initiative here.

+1 on what Jack said above, I think we want to 1) auto-generate missing values that are unique per cluster (like SSH keys and DNS prefix) 2) Validate 3) Fill out default properties (ie. Network plugin, enabled addons, etc.).

[2019-05-10 18:23] techbunny commented on #1225
Are you looking for end-to-end documentation for this or just the AKS-Engine specifics?  Creating GMSAs in AD is documented here (https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/manage-serviceaccounts) and the kubernetes specific details are in the link you provided.  So the AKS-Engine specific part would be how to domain-join the nodes to access the AD for the

[2019-05-10 20:24] jsturtevant commented on #1225
I was thinking a [tutorial](https://github.com/Azure/aks-engine/tree/master/docs/tutorials) or [how-to](https://github.com/Azure/aks-engine/tree/master/docs/howto) that would show how to deploy into custom vnet, set the appropriate flags in aks-engine via model and setting up the domain-join.  Since this is a popular ask wanted to make sure it was easy to figure out instead of in several different

[2019-05-10 20:59] #950 closed

[2019-05-10 21:10] DonMartin76 commented on #1229
@andyzhangx Unfortunately, I have deleted the cluster. I could have thought of this. But I didn't.

[2019-05-10 21:59] #608 closed

[2019-05-10 23:08] ohthehugemanatee commented on #1281
that makes sense, and it's probably more readable. BUT you do miss out on the completeness of your validation...

Anyway I won't argue about the precise steps - you know this tool far better than me! The important part (to me) is unifying the code path. :)

One other question: are there any differences in how `deploy` generates its ARMs, compared to `generate`? Or is the deploy command really as s

[2019-05-10 23:42] PatrickLang opened #1287 "Support ephemeral disks for agent nodes"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): Feature request

---

**What version of aks-engine?**: (all)

---

**Kubernetes version**: N/A

**What happened**:

Azure now offers [ephemeral OS disks](https://azure.microsoft.com/en-us/updates/announcing-ephemeral-os-disk-in-public-preview/) in public preview. These deploy and run faster because the IO remains local to the compute node. If

[2019-05-11 06:07] przemolb commented on #956
I am also interested in this topic - does anybody know if VMSS is "compatbile" with kured (or vice versa) ?

[2019-05-11 07:55] atul-ram opened #1288 "unable to resetServicePrincipalProfile on -ResourceType 'Microsoft.ContainerService/managedClusters'` using Invoke-AzResourceAction"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of aks-engine?**: 13.5

---

**Kubernetes version**: 13.5

**What happened**:
I am using a powershell script to reset service principal credential on a managed cluster .

**What you expected to happen**:
reset service principal credential on managed cluster

**How to reproduc

[2019-05-11 08:58] zhiweiv opened #1289 "Question: AKS Windows supports custom vnet, AKS-E doesn't"
I joined the AKS Windows private preview today, I found it supports custom vnet for hybrid Linux and Windows cluster. As far as I know AKS-E deploy and scale doesn't work with custom vnet  yet, see #210 #431.

From my understanding AKS is based on AKS-E, one of tags in my created AKS Windows pool is `aksEngineVersion : v0.33.4-aks`. I am wondering how this happend, does the AKS team fixed this iss

[2019-05-11 11:59] #376 closed

[2019-05-11 18:59] #307 closed

[2019-05-11 18:59] #651 closed

[2019-05-12 01:21] #532 closed

[2019-05-12 15:36] oronboni opened #1291 "Cluster creation in US DoD Central"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of aks-engine?**:

0.35.1

{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorVersion": "1.12.8",
      "kubernetesConfig": {
        "apiServerConfig": {
           "--enable-admission-plugins": "Name

[2019-05-12 20:21] #618 closed

[2019-05-13 06:05] andyzhangx opened #1292 "[CIS] kubelet server certificate has only one year validity"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of aks-engine?**:
all
---

**Kubernetes version**:
all

**What happened**:
Current kubelet server certificates are generated by kubelet itself, and it has only one year validity:
https://github.com/kubernetes/kubernetes/blob/f5a1ceb1fcb3572d37865da8257f66659f8004a9/cmd/kubelet

[2019-05-13 06:11] andyzhangx commented on #461
update:
There are 2 failures left now:
 -  disable read-only-port(10255) :  will only fix in k8s v1.15.x, waiting for 1.15.0, and in the meantime figure out how to upgrade metrics server to v0.3.0: https://github.com/Azure/aks-engine/pull/1109
 -  tls-cert-file, tls-private-key-file: currently certificate and key are self-signed by kubelet, neet to switch to generate cert & key by ca, and then spe

[2019-05-13 09:49] munishm commented on #867
/assign @munishm

[2019-05-13 11:07] #632 closed

[2019-05-13 17:18] CecileRobertMichon commented on #1278
@mzack18081985 what aks-engine version and apimodel (cluster config) was the cluster originally created with?

[2019-05-13 19:07] #674 closed

[2019-05-13 19:07] #673 closed

[2019-05-13 22:07] #676 closed

[2019-05-13 22:51] jackfrancis commented on #1289
Confirmed. (root cause unknown)

[2019-05-14 00:18] #683 closed

[2019-05-14 05:32] zhiweiv commented on #1289
So will we make some changes to align AKS-E with AKS for custom vnet support?

[2019-05-14 06:53] srudin commented on #1258
@munishm Thanks for the response. I got stuck after generating the template, when trying to deploy it (Deploy the cluster). I don't recall the error and I didn't investigate too much because I was confused that the samples were several months old and I assumed that they are outdated.

Meanwhile I could basically get it to run using another tutorial. Still there is one thing I don't understand: Kub

[2019-05-14 07:42] mzack18081985 commented on #1278
Hi, i think i found the problem. We had in the cluster config a jumpstation and it looks like that the generated arm template with jumpstation are not working anymore. After i deleted the jumpstation from the template the deployment worked.

[2019-05-14 10:41] AtebMT commented on #637
Did you confirm this as a certificate issue? I'm having the same problem.

[2019-05-14 11:16] andyzhangx commented on #1284
I think it already supports user assigned identity, I have tried below config before:
[code]

[2019-05-14 11:19] andyzhangx commented on #1218
be careful about this bug: [image pull error from ACR anonymous repository](https://github.com/andyzhangx/demo/blob/master/issues/acr-issues.md#2-image-pull-error-from-acr-anonymous-repository), it's only fixed in some higher k8s versions

[2019-05-14 15:00] jchauncey commented on #1218
sounds good

[2019-05-14 20:29] CecileRobertMichon commented on #1291
@oronboni can you please share the content  of `/var/log/azure/cluster-provision.log` on an agent node ?

See https://github.com/Azure/aks-engine/blob/master/docs/howto/troubleshooting.md#vmextensionprovisioningerror-or-vmextensionprovisioningtimeout for troubleshooting info on VM extensions.

[2019-05-14 20:42] CecileRobertMichon opened #1296 "CoreOS failing E2E"
[code]

Repro apimodel:
[code]

[2019-05-15 00:44] #704 closed

[2019-05-15 01:26] norshtein commented on #1284
Hi @andyzhangx The example you mentioned is used for creating a new user assigned identity with name `USER-ASSIGNED-ID`, it does not support using existing user assigned identity.

[2019-05-15 01:36] andyzhangx commented on #1284
@norshtein if using existing user assigned identity, aks-engine will report error while it still work. I think you could fix the error report msg at least.

[2019-05-15 01:54] norshtein commented on #1284
What's the error message and how to reproduce the error? As far as I know, creating two user assigned identities having the same name in different resource group is allowed. And AKS-Engine creates resources in a new resource group, so set `userAssignedID` to existing identity's name is valid.

[2019-05-15 01:58] andyzhangx commented on #1284
the error message is like `RoleAssignment` failed since I already assigned current resource group as `Contributor` role. Here are my steps:
 - create a new resource group and a new managed identity in that resource group
 - assign the new managed identity current resource group as `Contributor` role
 - create k8s cluster by assign by specifying the existing managed identity

[2019-05-15 03:26] norshtein commented on #1284
@andyzhangx Got your point. This should be expected behavior. In my opinion, to support using existing user assigned identity, instead of reusing `orchestratorProfile.kubernetesConfig.userAssignedID`, we may want to introduce a new property. This saves us from ambiguousness and complex logic.

[2019-05-15 12:44] munishm commented on #1258
@srudin - Thank you for your reply. There might be an error in case dns-prefix is same as used by someone else. This is a global resource and might run into allocating the IP to dns. You can try again with a different dns-prefix and see if there is any issue.

K8s 1.14 has production level windows support now, graduate from beta to stable as stated in the link above.

cc @craiglpeters @PatrickLang

[2019-05-15 14:24] mo-saeed opened #1301 "Include k8s 1.13.6 version as it includes important fixes"
**Is this a request for help?**: YES
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):FEATURE REQUEST

---

**What version of aks-engine?**: latest

---

Please include latest versions of k8s (1.13.6) as it has important fixes for azure LB API and new Azure SDK
https://github.com/kubernetes/kubernetes/pull/76993

---
**Kubernetes version**:
1.13.6

[2019-05-15 16:02] mboersma commented on #1301
#1262 merged a week ago and it will appear in the next AKS Engine release (minor or patch). For now, you can build `aks-engine` from source to get Kubernetes v1.13.6 support.

[2019-05-15 16:10] mboersma opened #1302 "unit tests should be quieter"
**Is this a request for help?**:

No.

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

FEATURE REQUEST.

---

**What version of aks-engine?**:

master

---

**How to reproduce it** (as minimally and precisely as possible):

Run `make test` and then wade through the command output, desperately trying to locate the test case that made the suite FAIL.

Ideally the tests should only print

[2019-05-15 16:46] gowthamboddapati opened #1303 "Coredns restarts a lot in k8s because of OOM kill"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of aks-engine?**:
aks-engine v0.34.3

---

**Kubernetes version**:
K8s version: 1.14.1

**What happened**:
coredns on master node restarts a lot. The exit reason is OOM killed. I have increased the k8s coredns resource limit from 170mi to 512Mi still I see coredns restarts bec

[2019-05-15 18:54] PatrickLang commented on #1287
I started to code this up when I was bored on a plane: https://github.com/PatrickLang/aks-engine/tree/ephemeral

It's not tested, and may not compile. I'm leaving it here if someone else wants to pick it up. I'm overbooked until mid-June and can't finish it.

[2019-05-15 20:14] CecileRobertMichon opened #1306 "Ubuntu 18.04: Timesync stays Idle for a while after boot"
Our E2E tests revealed that timesync isn't always Synchronized on all VMs when the cluster initially comes up on Ubuntu 18.04 cluster. The same test passes 100% of the time with Ubuntu 16.04.

Soak tests show that eventually all the VMs have Synchronized `systemd-timesyncd` and that once Synchronized it stays Synchronized without any unreliability.

[code]

E2E output showing failure:
[code]

How

[2019-05-15 20:15] CecileRobertMichon commented on #1025
new blocker: https://github.com/Azure/aks-engine/issues/1306

[2019-05-15 20:46] CecileRobertMichon commented on #1288
Hi @atul-ram, this seems like an issue for https://github.com/Azure/AKS/issues.

[2019-05-15 20:46] #1288 closed

[2019-05-15 23:43] jackfrancis opened #1311 "etcd data disk present on cosmos etcd scenario"
Cosmos etcd scenario does not use local etcd, and so master vms should not have an etcd-specific data disk attached to the vm.

[2019-05-16 00:07] jackfrancis commented on #1289
Yes, I've labeled this as a bug.

[2019-05-16 01:30] #712 closed

[2019-05-16 02:40] #1311 closed

[2019-05-16 08:51] norshtein commented on #1284
Hi @CecileRobertMichon  @jackfrancis @mboersma , any thought on this topic?

[2019-05-16 09:00] chreichert commented on #1270
Comments / Ideas anybody?
Issue prevents us from upgrading our PROD environment at the moment.
Help is very much appreciated.

[2019-05-16 10:43] mo-saeed commented on #1301
@mboersma Thank you, any estimation when will be the next release of aks-engine ?

[2019-05-16 12:03] yarinm opened #1313 "Unable to create multiple master nodes with custom VNet installed"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of aks-engine?**:
 v0.35.1
also happened with
v0.32.3
---

**Kubernetes version**:

1.12.7
**What happened**:
I've created the following custom vnet:
`{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0

[2019-05-16 12:27] yarinm commented on #1313
Note: I've tried to add the "vnetCidr" field but I kept getting the same error during deployment.

[2019-05-16 15:30] jackfrancis commented on #1284
Hmm, there is no "create if not exist"-equivalent declarative spec we can specify in ARM template?

[2019-05-16 16:42] srudin commented on #1258
The problem was that I added --no-ssh-keys to the az create command. I figured I wouldn't need to connect to the master and so I could spare generating the keys. Turns out that the whole cluster installation basically works - BUT enabling the virtual-node addon then has no ssh key in the linux profile value and cannot delegate access to that node. Not that I fully understand it but as a matter of

[2019-05-16 16:42] #1258 closed

[2019-05-16 16:55] #904 closed

[2019-05-16 17:19] #1204 closed

[2019-05-16 19:30] #716 closed

[2019-05-16 20:54] #1289 closed

[2019-05-16 20:54] #210 closed

[2019-05-16 20:54] #341 closed

[2019-05-16 21:26] mboersma commented on #1301
We want to include 1.14.2 support as well, so that requires a new VHD build which is already in progress. Then we'll do a release, so probably tomorrow (Friday).

[2019-05-16 22:03] mboersma opened #1318 "generated code files are falling out of sync"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

---

**What version of aks-engine?**:

master

---

**Kubernetes version**:

n/a

**What happened**:

PRs that changed files involved in code generation still pass the `make ensure-generated` task in Azure DevOps CI, and therefore `templates_generated.go` falls out of sync with the sources used to generate it.

See #1088, #1295, #1317

[2019-05-16 22:33] fsigalov opened #1320 "Pod networking issues"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of aks-engine?**:
I'm not sure. I don't see a tag on the vm.
---

**Kubernetes version**:
1.8.7

**What happened**:
Most pods are failing to start. We suspect connectivity issues. The cluster was healthy and happy, and all the pods broke around the same time. kube-dns can't st

[2019-05-17 06:00] norshtein commented on #1284
For some resources, ARM does an incremental deployment. So for @andyzhangx 's example, the error message is not `IdentityAlreadyExist` but is `RoleAssignmentAlreadyAssigned`, which indicates the ARM does an incremental deployment for the user assigned identity, otherwise it will report an error complaining the identity already exists.

But incremental deployment is not the key problem. To use exis

[2019-05-17 16:21] CecileRobertMichon commented on #1320
Hi @fsigalov, what aks-engine (or acs-engine) version was used to deploy the cluster? https://github.com/Azure/aks-engine/blob/master/docs/tutorials/deploy.md#L147

Also, could you please share the kube-dns logs with us? Any chance your Service Principal expired?

Also, any reason the cluster is on 1.8.7? 1.8 is deprecated in aks-engine so I would recommend upgrading to a newer k8s version so we c

[2019-05-17 17:15] #723 closed

[2019-05-17 17:15] #724 closed

[2019-05-17 18:15] #730 closed

[2019-05-17 18:15] #731 closed

[2019-05-17 18:49] alexeldeib commented on #213
@raesene Would you agree that `insecure-port = 0, anonymous-auth = true, authorization-mode = Node,RBAC` is a reasonable alternative (anonymouth-auth = true to enable LB healthchecks on api-server, per https://github.com/kubernetes/kubernetes/issues/51076#issuecomment-412846482)?

[2019-05-17 19:59] fampton opened #1325 "Coredns deployment tolerates all NoSchedule taints."
https://github.com/Azure/aks-engine/blob/279a235d211a671facfa6f24218f7e848a5d939a/parts/k8s/addons/coredns.yaml#L134

For unique hardware we will typically apply a noschedule taint to avoid unnecessary pods getting scheduled onto them. The coredns pod seems to have tolerations for any noschedule taint, which prevents the node from being scaled down by the cluster autoscaler if coredns is scheduled

[2019-05-17 20:51] CecileRobertMichon commented on #1313
@yarinm see https://github.com/Azure/aks-engine/blob/master/examples/e2e-tests/kubernetes/release/default/definition.json for a working example of using custom vnet with multiple masters. I think you're missing the clusterSubnet field.

[2019-05-17 21:44] fsigalov commented on #1320
We had a pipeline create the cluster, and I don't see a reference to what version was used. Any way to find out from inside the cluster?
kube-dns is failing to start and so I can't see any logs. But I can ssh to the node, if you want any log from there?
We've verified from a node that the SP stored on the cluster is correct. ssh from master to node uses the same SP to talk to Azure. But from insid

[2019-05-17 21:50] CecileRobertMichon commented on #1320
You should still be able to see an error message about why the pod is failing to start. For example:
[code]

You can use VM tags to determine the aks-engine version. See the [link](https://github.com/Azure/aks-engine/blob/master/docs/tutorials/deploy.md#L147) I sent above on checking those.

[2019-05-17 21:56] fsigalov commented on #1320
Error from server (BadRequest): container "kubedns" in pod "kube-dns-v20-5d9fdc7448-6x7ml" is waiting to start: ContainerCreating

  Type     Reason      Age                   From                                Message
  ----     ------      ----                  ----                                -------
  Warning  FailedSync  26s (x51042 over 8d)  kubelet, k8s-agentpool1-26329242-8  Error sync

[2019-05-17 22:06] CecileRobertMichon commented on #1320
If you don't have an acs-engine tags it means the cluster is on a version older than [0.17.0](https://github.com/Azure/acs-engine/releases/tag/v0.17.0) since that's when the version tag was added (or that you or someone from your team deleted those tags explicitly, which is less likely). I highly recommend upgrading to get a fresher version of aks-engine (or creating a new cluster and migrating wo

[2019-05-17 22:08] CecileRobertMichon commented on #1320
Could you SSH on k8s-agentpool1-26329242-8 and get the kubelet logs? `sudo journalctl -u kubelet`

[2019-05-17 23:32] fsigalov commented on #1320
I’ve shared the file at \\fsigalov3\public2\kubelet<file://fsigalov3/public2/kubelet> on corpnet

From: Cecile Robert-Michon <notifications@github.com>
Sent: Friday, May 17, 2019 15:08
To: Azure/aks-engine <aks-engine@noreply.github.com>
Cc: Fai Sigalov <fsigalov@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/aks-engine] Pod networking issues (#1320)

Could you SSH on k8s

[2019-05-18 00:31] CecileRobertMichon commented on #1320
have you tried restarting kubelet? `sudo systemctl restart kubelet`

Earlier you said "But from inside the pod, it's failing to log in to azure." what makes you say that?

[2019-05-19 05:56] oronboni commented on #1291
The logs:
++ date
++ hostname
+ echo Sun May 19 05:09:05 UTC 2019,k8s-wdatpagents-28298697-vmss000003, startcustomscript
+ AZURE_STACK_ENV=azurestackcloud
+ script_lib=/opt/azure/containers/provision_source.sh
++ seq 1 3600
+ for i in '$(seq 1 3600)'
+ '[' -f /opt/azure/containers/provision_source.sh ']'
+ break
+ source /opt/azure/containers/provision_source.sh
++ ERR_SYSTEMCTL_START_FAIL=4
++ ER

[2019-05-19 16:42] #398 closed

[2019-05-19 21:42] #760 closed

[2019-05-20 04:11] #764 closed

[2019-05-20 08:33] victornoel opened #1328 "Add metrics supported by kube-state-metrics to AKS"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): FEATURE REQUEST

---

**What version of aks-engine?**: 0.33.4

---

AKS supports metrics from metrics-server (or is it heapster, it's not clear) to be collected via log analytics.
It would be relevant to also have kube-state-metrics (see [this](https://github.com/kubernetes/kube-state-metrics#kube-stat

[2019-05-20 16:33] CecileRobertMichon commented on #1291
@oronboni this error should go away in the next release (ETA today). In the meantime, adding `"distro": "ubuntu"` to you master and agent profiles should fix it.

[2019-05-20 16:35] CecileRobertMichon commented on #1328
Hello, this looks like an issue for AKS (not the open source project AKS Engine). It should be filed at https://github.com/Azure/AKS/issues. Thanks!

[2019-05-20 16:35] #1328 closed

[2019-05-20 17:42] davidmatson commented on #320
/lifecyle remove-stale

[2019-05-20 18:14] jadarsie opened #1330 "Decrease default MTU for Azure Stack deployments"
**Is this a request for help?**:
No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue

**What version of aks-engine?**:
Latest

**What happened**:
In the past, @honcao pushed a few PRs to alter how the master's ILB was advertised (ex: #1132, #1053 and probably a few more). These changes fixed some of the ILB problems and they were meant to be a temporary fix until AzS NRP comes up with

[2019-05-20 19:11] #711 closed

[2019-05-20 19:48] #1246 closed

[2019-05-20 20:12] mathieu-benoit commented on #1210
FYI, just re-tested with the new AKS-Engine version v0.36.0, and I don't have anymore that issue. Closing it.
I now see the Windows agent nodes.

[2019-05-20 20:12] #1210 closed

[2019-05-20 20:24] mboersma commented on #1301
@mo-saeed [AKS Engine v0.36.0](https://github.com/Azure/aks-engine/releases/tag/v0.36.0) is out, with support for Kubernetes v1.13.6 and v1.14.2.

[2019-05-20 20:24] #1301 closed

[2019-05-20 22:28] jackfrancis commented on #1303
Hi @gowthamboddapati, is this a hybrid cluster, i.e., is there a linux node pool to schedule additional coredns replicas onto? Is it possible the single master is the only schedulable node for coredns and it's being overloaded?

[2019-05-20 22:29] jackfrancis commented on #1278
Please re-open if there's anything in AKS Engine's template generation implementation could be improved to remove this edge case, thanks!

[2019-05-20 22:29] #1278 closed

[2019-05-20 22:31] jackfrancis commented on #1270
Hi @chreichert, could you paste the following output from your cluster?

- `kubectl get nodes -o wide`
- `kubectl get pods --all-namespaces`

Thanks!

[2019-05-20 22:34] jackfrancis commented on #1269
@slack does this ring a bell?

[2019-05-21 00:37] adamlundrigan commented on #1270
We had an AKS cluster running k8s 1.13.5, built using Terraform, which we just upgraded to 1.14.0 over the weekend and now the MongoDB replica set ([chart](https://github.com/helm/charts/tree/master/stable/mongodb-replicaset)) which ran fine on 1.13.5 explodes under the tiniest load with this same error.

<details>
<summary>Some logs showing the failure</summary>

[code]

</details>

<details>
<su

[2019-05-21 05:48] yarinm commented on #1313
@CecileRobertMichon Even when using clusterSubnet field I get the same problem. Clearly there's some sort of bug in the ARM template that is generating.

[2019-05-21 06:07] norshtein commented on #1284
Friendly ping @jackfrancis

[2019-05-21 07:59] oronboni commented on #1291
I tried V0.36.0 and seems an old issue returned:
![image](https://user-images.githubusercontent.com/18048655/58078415-5f52bc00-7bb7-11e9-85c1-11a4bf9a0f8a.png)

![image](https://user-images.githubusercontent.com/18048655/58078426-64177000-7bb7-11e9-8b88-1d6cd847d89e.png)

![image](https://user-images.githubusercontent.com/18048655/58078435-68438d80-7bb7-11e9-86c9-5f5603181621.png)

I opened issue

[2019-05-21 09:34] chreichert commented on #1270
Unfortunately I killed my cluster trying to downgrade.
I will try to revive the cluster with an upgrade using 0.36.0 in the next few days.
I will report the results here then.

The following was found in my shell history, unfortunately no "nodes -o wide":

<details><summary>kubectl get nodes</summary>
<p>

[code]
</p>
</details>

<details><summary>kubectl get pods --all-namespaces</summary>
<p>

[

[2019-05-21 14:04] yarinm commented on #1313
Okay so the bug here is that the first NIC that is setup defines one "static" IP and 31 dynamic ones. since my subnet has only 64 addresses it causes the conflict. Why do we need 31 dynamic addresses?

[2019-05-21 14:58] #1209 closed

[2019-05-21 15:04] gowthamboddapati commented on #1303
@Jack Francis<mailto:Jack.Francis@microsoft.com> The cluster has single linux master node. I am not sure about master node not having resources. Since when I modify the coredns.yaml file to set replicas to 3 it does bring up 3 replicas.

I see that coredns is being overloaded. But I don’t see coredns is scaling. I see that coredns autoscaler is not on by default.  Is there a way during installatio

[2019-05-21 15:32] cpunella commented on #773
Hi there... I had the same issue... resolved run the command with "sudo" ;)

[2019-05-21 16:03] mboersma commented on #1325
This was added in #555. The idea was to ensure core system components could always be scheduled.

@jackfrancis could we revisit the `NoSchedule` taint toleration?

[2019-05-21 16:16] CecileRobertMichon commented on #1291
Any relevant kubelet logs? This is most likely caused by a different issue than last time since you're using a valid k8s version.

[2019-05-21 16:20] CecileRobertMichon commented on #1313
Ah yes, you're subnet needs to be big enough. See https://github.com/Azure/aks-engine/blob/master/docs/topics/features.md#custom-vnet for recommendations and explanation of the 31 addresses.

[2019-05-21 17:13] palmerabollo commented on #495
not stale

[2019-05-21 17:15] #1267 closed

[2019-05-21 19:00] #738 closed

[2019-05-21 19:28] jackfrancis commented on #1270
@chreichert yes, thank you, it would make more sense that these failures were reproducible on new clusters as well, and not isolated to clusters having traversed the upgrade flow.

(Though that's arguably a worse error, it's at least easier to reason/isolate as being something in 1.14)

[2019-05-21 19:32] jackfrancis commented on #1303
dns-horizontal-autoscaler is not currently deployed automatically with clusters, so you'd have to add that functionality yourself

However, I think the operational scenario you require isn't going to work with a single master vm. I'd recommend at least 3 masters (AKS Engine allows clusters with 1, 3, or 5 master vms at present).

[2019-05-21 19:35] jackfrancis commented on #1325
I think we want to enable this as an option. @palma21 drove this effort in response to user feedback that folks wanted this prioritized scheduling toleration for coredns and other system components,

[2019-05-21 19:45] jackfrancis commented on #1284
We would definitely accept this feature :)

[2019-05-21 19:55] palma21 commented on #1325
That sounds like incorrect behavior from the scaling side. Do you have some kind of pod disruption budget? The node should be able to scale down if k8s sees that it can schedule it somewhere else and resources are underutilized.

That said, if you don't want the coredns pods on your specific hardware machines, do remove the toleration on your deployment. We have a number of use cases that will bre

[2019-05-21 22:45] #741 closed

[2019-05-22 06:08] norshtein commented on #1284
Cool. I have drafted a PR to implement this feature:https://github.com/norshtein/aks-engine/pull/1
 I added a struct `ExistingUserAssignedIdentityProfile` in `orchrstratorProfile.KubernetesConfig` to accept existing user assigned identity information. We may want to discuss the struct name and where should we add it.

[2019-05-22 06:37] victornoel commented on #1328
@CecileRobertMichon sure, here it is: Azure/AKS#990, sorry for the confusion :)

[2019-05-22 08:54] oronboni commented on #1291
From cluster-provision.log (please update if assist to understand the issue):
+ for i in '$(seq 1 $retries)'
+ timeout 25 curl --cacert /etc/kubernetes/certs/ca.crt --cert /etc/kubernetes/certs/etcdclient.crt --key /etc/kubernetes/certs/etcdclient.key https://10.10.0.230:2379/v2/machines
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current

[2019-05-22 09:38] fengxsong opened #1349 "pod cannot connect to apiserver with clusterIP when kube proxy mode is ipvs"
**Is this a request for help?**:

yes
---

**Is this an ISSUE or FEATURE REQUEST?**:

ISSUE
---

**What version of aks-engine?**:

[code]
---

I had created a new cluster with the following configuration

[code]

with the following steps

[code]

**What happened**:

most pods(with option **hostNetwork: false**) fail to start due to errors during startup, error logs like "dial tcp 10.0.0.1:443: i/o

[2019-05-22 10:31] unniksk opened #1350 "Skydns: failure to forward request read udp i/o timeout"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

**Kubernetes version**:
1.10.12

Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.12", GitCommit:"c757b93cf034d49af3a3b8ecee3b9639a7a11df7", GitTreeState:"clean", BuildDate:"2018-12-19T11:04:29Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}

**What happened*

[2019-05-22 16:32] CecileRobertMichon commented on #1291
@oronboni I don't think you posted the full kubelet logs, can you please show me the output of `sudo journalctl -u kubelet | tail`. I don't see any errors in the kubelet log you pasted.

[2019-05-22 18:05] chreichert commented on #1270
@jackfrancis I was able to recover my QA cluster by force downgrading it to 1.13.5 with aks-engine 0.34.3. and a little help of directly deploying manually patched templates with az group deployments.

(Problem was that aks-engine upgrade fails after every master deployment in our Azure AD enabled cluster, which does not go well with --force. In a multi master setup this only downgrades the first

[2019-05-22 18:25] oronboni commented on #1291
@CecileRobertMichon
attach the logs:
May 21 09:53:11 k8s-master-28298697-0 kubelet[26868]: F0521 09:53:11.043698   26868 kubelet.go:1359] Failed to start ContainerManager [Invalid kernel flag: vm/overcommit_memory, expected value: 1, actual value: 0, Invalid kernel flag: kernel/panic, expected value: 10, actual value: 0, Invalid kernel flag: kernel/panic_on_oops, expected value: 1, actual value: 0

[2019-05-22 19:07] wesleyae commented on #856
Still having this issue with v1.0.18 of the azure-vnet-cni plugin with Windows Server 2019. Has there been any movement on this?

[2019-05-22 19:36] jackfrancis opened #1353 "simplify default scale CLI output"
Currenly `aks-engine scale` outputs (arguably) a lot of debug-level data. Let's output only the interesting stuff for most users during common scale operations.

[2019-05-22 19:38] jackfrancis commented on #1353
#1345 is in-progress. As of now here's a scale in from 5 to 1:

[code]

I still feel like it's a lot to take in. What could we eliminate? @CecileRobertMichon @mboersma

[2019-05-23 07:57] #781 closed

[2019-05-23 08:36] andyzhangx commented on #1349
with `ipvs` mode, could the master & agent node start up? check by `kubectl get no -o wide`, and what does `most pods(with option hostNetwork: false) fail to start` mean? what's the pod? api-server, kube-controller-manager or customer pod?

[2019-05-23 08:57] #593 closed

[2019-05-23 09:05] fengxsong commented on #1349
all masters and agentpools are "Ready", also... the apiserver, controller-manager, ccm, scheduler, those pods are working fine.

pods those ran without host network could not communicate with apiserver, such as coredns, metrics-server, tiller...

I had ran a [container](https://github.com/nicolaka/netshoot) for debugging with the following scripts

[code]

[2019-05-23 10:54] mo-saeed opened #1355 "[bug] scale and upgrade the cluster fails due to moby installation failure"
**Is this a request for help?**: YES

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of aks-engine?**: 0.36.0

---

**Kubernetes version**: 1.13.5

**What happened**:
cluster was installed by aks-engine (0.33.2) and trying to scale one new node with aks-engine (0.36.0) but failed with this error:

[code]
status=27: ERR_MOBY_INSTALL_TIMEOUT=27 # Timeout waiti

[2019-05-23 13:27] adelina-t commented on #377
In the meantime, --allow-privileged has been completely removed is latest versions of master and 1.15 in: https://github.com/kubernetes/kubernetes/commit/4f33b5f42146400c9aa0a1f0f5ad79607ec06f6d

[2019-05-23 14:06] Flask opened #1356 "[bug] linux-image-4.15.0-1045-azure with grub"
**Is this a request for help?**: YES

---

**Is this an ISSUE or FEATURE REQUEST?**  ISSUE

---

**What version of aks-engine?**: v0.35.1-aks

---

**Kubernetes version**: Tried with 1.13.5 and 1.12.8

**What happened**:
On any newly created cluster there seems a problem with the package `linux-image-4.15.0-1045-azure` it seems that the grub config is invalid.

`/var/log/unattended-upgrades/unatte

[2019-05-23 15:45] CecileRobertMichon commented on #1356
Hi there, we are aware of this issue and are working on a fix for AKS. If you are deploying using aks-engine, this is fixed in v0.36.0.

Manual workaround:

The grub issue is preventing kernel, grub, initramfs, and similar boot chain updates from succeeding. You can bypass it on a specific VM by installing the the “dos2unix” package and then
$ sudo dos2unix /etc/default/grub
$ sudo apt-get upgrade

[2019-05-23 16:14] #853 closed

[2019-05-23 16:15] brobichaud commented on #853
I've not seen this issue in quite a while. Later builds of ASK-Engine seem to have fixed it.

[2019-05-23 18:39] CecileRobertMichon commented on #1355
@mo-saeed I was able to repro, thank you for reporting this. I'm working on finding root cause + fix.

[2019-05-23 19:41] mboersma opened #1358 "Back-compatbility tests are broken"
There is a `git` merge error in the current set of Jenkins back-compat tests that is masking some errors.

[2019-05-23 19:42] mboersma commented on #1358
Maybe use branches instead of tags as a workaround? cc: @CecileRobertMichon

[2019-05-23 22:23] palmerabollo opened #1361 "DifferentSkuLoadBalancersAndPublicIPAddressNotAllowed using loadBalancerSku: standard"
**Is this a request for help?**:
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

**What version of aks-engine?**:
0.35.1

**Kubernetes version**:
At least 1.11.8 and 1.11.9

**What happened**:

We occasionally get an error with code "DifferentSkuLoadBalancersAndPublicIPAddressNotAllowed" when deploying a Kubernetes pod + service (type: LoadBalancer) in a cluster that uses the cl

[2019-05-23 22:43] CecileRobertMichon commented on #1358
confirmed that branches work. I created a new job to test back compat continuously.

[2019-05-23 22:43] #1358 closed

[2019-05-24 00:38] andyzhangx commented on #1349
@fengxsong you are right, ipvs feature does not work well on global azure too. Here are the metrics server logs, it could not talk to api-server. if we add `hostNetwork: true` in the config, it would work.

cc @jackfrancis

[code]

[2019-05-24 02:18] andyzhangx commented on #1349
btw, pls remove `"useCloudControllerManager": true,` config, currently CloudControllerManager is only in alpha, and it does not have disk controller which means you could not create disk pvc by k8s.

[2019-05-24 06:22] sanderaernouts commented on #351
We have been running into this issue for the past few days now. At some seemingly random point in time our windows node disconnects from the cluster. When I inspect the node via Remote Desktop I see the docker service is not running and that `nssm` keeps trying to run `kubeletstart.ps1` causing the node to be around 100% CPU.

We deployed this cluster using:
- aksengine 0.35.1
- kubernetes 1.14.1

[2019-05-24 15:57] jackfrancis commented on #1349
@fengxsong did you validate that adding the `hostNetwork: true` configuration to the pod spec worked w/ `ipvs` kube-proxy mode? If so, we should update our docs to reflect that requirement.

[2019-05-24 16:49] jackfrancis commented on #1355
Fixed in #1359

[2019-05-24 16:49] #1355 closed

[2019-05-24 16:50] CecileRobertMichon commented on #1356
The fix is now rolled out to AKS. The latest AKS Engine release (v0.36.1) does not have this issue.

[2019-05-24 16:50] #1356 closed

[2019-05-24 17:09] rocketraman commented on #176
Not stale, just ignored :-(

[2019-05-25 03:27] #774 closed

[2019-05-26 02:37] fengxsong commented on #1349
@jackfrancis it works, but I don't think pods should share host network namespace in most cases...

[2019-05-26 16:42] rocketraman commented on #172
/reopen

[2019-05-27 04:09] sujyot commented on #805
Fantastic. It worked for me too... Thanks :)

[2019-05-27 08:30] mo-saeed opened #1365 "Add note in documentation for aks-engine version update"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): FEATURE REQUEST

---

**What version of aks-engine?**: All

---

**Kubernetes version**:
All

**What happened**:
No documentation for aks-engine upgrade

**What you expected to happen**:
Just adding this note in the documentation (not sure where exactly)
[code]

**How to reproduce it** (as minimally a

[2019-05-27 13:59] allantargino commented on #530
I guess this is already fixed: https://github.com/Azure/aks-engine/search?q=MinAgentCount&unscoped_q=MinAgentCount
At least in every ocurrence in every api version this seems to be equals 1 (instead of 0)

[2019-05-27 15:11] allantargino opened #1366 "External Custom YAML manifests are not being created at expected path"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of aks-engine?**: master

---

**Kubernetes version**: n/a

**What happened**:

When using [external custom YAML manifests](https://github.com/Azure/aks-engine/blob/master/docs/topics/clusterdefinitions.md#external-custom-yaml-scripts), like:
[code]
or from an addon:
[code]
T

[2019-05-27 15:11] allantargino commented on #1366
/assign allantargino

[2019-05-27 15:15] allantargino commented on #1366
Found it:
The `getAddonString` func signature is:
[code]
While the caller is using it as:
[code]

[2019-05-27 16:29] feiskyer opened #1368 "Kubelet failed to start: unknown flag --allow-privileged"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of aks-engine?**: v0.36.1

---

**Kubernetes version**: v1.15

**What happened**:

Kubelet failed to start:

[code]

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to know**:

Refer https://github.com/

[2019-05-27 16:33] #819 closed

[2019-05-27 17:10] allantargino commented on #635
Hi @sylr, just a comment about the fix https://github.com/sylr/aks-engine/commit/81af99ad47a04fcf4e1ae705f97b722b8479d299: we shouldn't use the `/etc/kubernetes/manifests/` folder for this.
Since we are using a kubelet to run master components (inside `/etc/kubernetes/manifests/` ), it would generate a side effect as described in https://github.com/Azure/aks-engine/issues/633#issuecomment-49008718

[2019-05-27 18:45] palmerabollo commented on #530
Hi @allantargino. I think that's the issue. `MinAgentCount` should be allowed to be zero.

[2019-05-27 20:33] #804 closed

[2019-05-27 20:33] #537 closed

[2019-05-27 20:33] #776 closed

[2019-05-28 15:54] #1366 closed

[2019-05-28 15:57] mboersma opened #1370 "Add unit test to catch file/path inversion regression"
See #1367 and #1366. AKS Engine should have a unit test to catch the file/path inversion bug for a custom yaml manifest, in case somehow it regresses.

[2019-05-28 16:43] #835 closed

[2019-05-28 16:52] CecileRobertMichon commented on #1365
https://github.com/Azure/aks-engine/blob/master/docs/topics/upgrade.md

[2019-05-28 16:53] jackfrancis commented on #1365
Hi @mo-saeed, what exactly is missing from the documentation? I assume this is not what you're looking for? https://github.com/Azure/aks-engine/blob/master/docs/topics/upgrade.md

[2019-05-28 16:55] jackfrancis commented on #805
@joshuataylor thank you for adding that important bit of information :) so that folks coming to this thread from older clusters have a clear path

[2019-05-28 17:42] mo-saeed commented on #1365
Hi @jackfrancis, For me it's just need to be very clear that running `aks-engine upgrade` is necessary for aks-engine version upgrade.
I had a cluster with old aks-engine version and when i tried to scale one node with newer aks-engine then the new node had different moby versions than other nodes.
It's just for people who are new to the tool to be aware of this fact, for example i assumed scale c

[2019-05-28 17:43] #836 closed

[2019-05-28 17:43] #838 closed

[2019-05-28 17:43] #837 closed

[2019-05-28 17:43] #839 closed

[2019-05-28 17:43] #840 closed

[2019-05-28 17:43] #841 closed

[2019-05-28 17:43] #842 closed

[2019-05-28 17:43] #843 closed

[2019-05-28 17:43] #844 closed

[2019-05-28 17:43] #845 closed

[2019-05-28 17:43] #846 closed

[2019-05-28 17:43] #849 closed

[2019-05-28 17:43] #850 closed

[2019-05-28 17:43] #851 closed

[2019-05-28 17:49] jackfrancis commented on #1365
That's all fair, let's leave this ticket open as a forcing function for us to produce improved documentation around scale and upgrade.

Speaking to your last point, I believe we have recently improved our enforcement of automatically moving component versions forward with scale and upgrade. @CecileRobertMichon to confirm?

[2019-05-28 17:51] CecileRobertMichon commented on #1365
Yes that's correct. Those PRs and this issue were a result of a conversation @mo-saeed and I had on the sig-azure slack.

[2019-05-28 17:55] jackfrancis commented on #1365
I think you bring up an interesting feature idea @mo-saeed:

- when scaling up, always ensure that all nodes in a node pool have the same implementation (k8s component versions, moby version, etc)

The above is not currently supported, but we could add it as an option

- `aks-engine scale --all-nodes`

Or something like that. Basically:

- add _n_ new nodes
- go back 1 at time through the existing

[2019-05-28 17:56] mo-saeed opened #1372 "upgrade command doesn't update addon images"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of aks-engine?**: 0.33.2

---

**Kubernetes version**: 1.13.5

**What happened**:
- existing cluster with aks-engine 0.33.2
- upgrading cluster with aks-engine 0.36.1
- addons section in api-model.json wasn't updated with the new version of the addons images included in 0.36

[2019-05-28 17:59] jadarsie opened #1373 "feat: build and pre-pull Azure Stack's custom hyperkube v1.14.3 and v1.13.7"

[2019-05-28 18:00] jadarsie opened #1374 "feat: pre-pull Azure Stack's custom hyperkube v1.12.8"

[2019-05-28 18:00] jadarsie opened #1375 "feat: pre-pull Azure Stack's custom hyperkube v1.13.x"

[2019-05-28 18:00] jadarsie opened #1376 "feat: pre-pull Azure Stack's custom hyperkube v1.14.2 and v1.13.6"

[2019-05-28 18:00] jadarsie commented on #1373
/label azurestack

[2019-05-28 18:04] jadarsie opened #1377 "feat: default kubernetesImageBase to Azure Stack Hyperkube MCR location if target platform is Azure Stack"

[2019-05-28 18:05] jadarsie opened #1378 "feat: default useInstanceMetadata to false if target platform is Azure Stack"

[2019-05-28 18:05] jadarsie opened #1379 "feat: default environment name to AzureStackCloud if target platform is Azure Stack"

[2019-05-28 18:05] jadarsie opened #1380 "feat: default acceleratedNetworkingEnabled to false if target platform is Azure Stack"

[2019-05-28 18:40] mboersma opened #1381 "Refresh issue creation template"
The community checklist at https://github.com/Azure/aks-engine/community thinks the project needs issue templates, so let's add one for features and one for bug reports.

[2019-05-28 18:42] #455 closed

[2019-05-28 19:12] mboersma commented on #717
@yarinm this was finally fixed by PR #1273. If you try AKS Engine v0.36.x or later, you shouldn't see this issue any longer.

[2019-05-28 19:12] #717 closed

[2019-05-28 19:13] mboersma commented on #718
This was finally fixed by PR #1273. If you try AKS Engine v0.36.x or later, you shouldn't see this issue any longer.

[2019-05-28 19:13] #718 closed

[2019-05-28 20:25] craiglpeters commented on #478
From @palma21

[2019-05-28 20:39] fsigalov commented on #1320
I've made a new cluster using k8s 1.12, so I'm going to stop debugging this old cluster and delete it. Thanks for your help!

[2019-05-28 20:49] #1320 closed

[2019-05-28 21:10] mboersma commented on #501
Support for `Standard_DS11-1_v2` was added in Azure/acs-engine#2901. See https://github.com/Azure/aks-engine/blob/master/pkg/helpers/azureconst.go#L664

[2019-05-28 21:10] #501 closed

[2019-05-28 22:57] CecileRobertMichon commented on #1372
@mo-saeed I couldn't repro this behavior. Here's what I get:

- Created a 1.11.9 cluster with aks-engine v0.33.2
- Apimodel has `"image": "k8s.gcr.io/cluster-autoscaler:v1.3.7",`
- Upgrade to 1.11.10 with aks-engine 0.36.2 (should not be different from 0.36.1)
- Apimodel now has `"image": "k8s.gcr.io/cluster-autoscaler:v1.3.8",`

However, jumping on the cluster, I do see that the cluster-autoscale

[2019-05-28 23:12] sidray7965 opened #1387 "Kata URL has changed and needs to be updated in the code"
**Is this a request for help?**:

Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of aks-engine?**:
0.34.3
---

**Kubernetes version**:
1.14

**What happened**:
Not able to use kata-container runtime using aks-engine.

**What you expected to happen**:
kata-container runtime should have been provisioned.

**How to reproduce it** (as minimally and precisely

[2019-05-28 23:14] sidray7965 commented on #1387
@CecileRobertMichon: Can you please take a look at this.

[2019-05-28 23:21] #694 closed

[2019-05-28 23:23] CecileRobertMichon commented on #1387
Thanks for reporting @sidray7965. It looks like the URL in https://github.com/Azure/aks-engine/blob/master/parts/k8s/cloud-init/artifacts/cse_install.sh#L133 needs to be modified slightly to match https://github.com/kata-containers/documentation/blob/master/install/ubuntu-installation-guide.md.

I'm going to go ahead and label this good-first-issue since this should be an easy one to fix. Feel fre

[2019-05-28 23:25] sidray7965 commented on #1387
Thanks @CecileRobertMichon

cc: @nikitozz

[2019-05-28 23:42] CecileRobertMichon commented on #1372
Update: the cluster-autoscaler deployment `addonmanager.kubernetes.io/mode` was `EnsureExists`. That's why cluster-autoscaler didn't get the latest `/etc/kubernetes/addons` yaml after the upgrade. I changed it to `Reconcile` in #1385  and will audit the code for other addons using `EnsureExists`.

[2019-05-28 23:48] mo-saeed commented on #1372
@CecileRobertMichon
1- Apimodel change
yes you are right, I think i know now why it wasn't updated on my case. the cluster autoscaler in my existing cluster was disabled `"enabled": false`, I did a test and modified it manually to true then did the upgrade then the apimodel got the correct autoscaler image version.
I am not sure if this should be the behaviour anyway, for me i would say the image

[2019-05-29 00:09] CecileRobertMichon commented on #1372
Updated other addons that had either Deployments or DaemonSets set to `EnsureExists` in the same PR, including networkmonitor.

[2019-05-29 00:10] CecileRobertMichon commented on #1372
I agree, although it doesn't have any functional impact it's counter-intuitive. My guess is that there's an `if enabled` somewhere that we can remove.

[2019-05-29 06:08] yarinm commented on #717
Thanks @mboersma . Do you know you still have the limitation for fetching only 30 groups for AAD users?

[2019-05-29 10:57] itaysk opened #1392 "Document moby container runtime versions"
**Is this a request for help?**: yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): issue - documentation request

---

**What version of aks-engine?**: not applicable

---

Since Microsoft stopped shipping Docker and now builds their own moby, it's hard to understand which version is being used in my clusters. 3.0.4 does mean much to me other than it's after 3.0.3.
We'd like more vi

[2019-05-29 15:03] UnwashedMeme opened #1393 "Cilium BPFFS mount unit file is incorrectly gzipped"
https://github.com/Azure/aks-engine/pull/508 introduced, via node custom data, the systemd unit `/etc/systemd/system/sys-fs-bpf.mount`. This works on the master nodes but on a agent/worker node:

(the following on a cluster built with v0.35.1)
[code]

It looks like when some refactoring/reorganizing got done in https://github.com/Azure/aks-engine/commit/206328a0270c91b8b3dfa6d859eeff56b2f9c51c a s

[2019-05-29 15:03] UnwashedMeme commented on #1393
@jackfrancis  any chance you can add the missing `encoding: gzip` line?

[2019-05-29 17:29] CecileRobertMichon commented on #1393
@UnwashedMeme it looks like you have a good understanding of the issue, would you like to open a PR to fix it? AKS Engine is open source and we welcome contributions.

[2019-05-29 18:02] sidray7965 commented on #1387
Thank you everyone!

[2019-05-29 18:03] sidray7965 commented on #1387
@CecileRobertMichon When can we get another release.

[2019-05-29 19:57] #1368 closed

[2019-05-29 19:58] #1387 closed

[2019-05-29 20:01] UnwashedMeme commented on #1393
I would love to, but CLA issues + my poor build environment means I probably won't get there for a day or two and was just hoping this could get done quickly. :-)

[2019-05-29 20:05] jackfrancis opened #1398 "Re-enable VMSS overprovisioning"
With the refactor of the template generation implementation using Azure resource data objects, we lost our VMSS + OverProvisioning + Do Not Run Extensions on Overprovisioned VMSS instances feature, as that feature was only recently implemented in an Azure SDK version.

Firstly, we need to update our azure-sdk-for-go version, and then use the `2019-03-01` compute API version, which enables this fea

[2019-05-29 20:15] shreyshah-msft opened #1400 "Kubernetes cluster creation fails with CosmosEtcd"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of aks-engine?**:
v0.34.2-windows-amd64
---

**Kubernetes version**:
1.10

**What happened**:
Creating Kubernetes cluster with Cosmos Etcd API(cosmosEtcd=true) is failing.

**What you expected to happen**:
The Kubernetes cluster should be created and functioning.

**How to reprod

[2019-05-29 21:24] jackfrancis commented on #172
@rocketraman does the current aks-engine implementation of Standard LB-enabled cluster have gaps? Or is the ask to move Standard LB to default?

[2019-05-29 22:23] CecileRobertMichon commented on #1387
We will release a patch as soon as https://github.com/Azure/aks-engine/pull/1403 is merged, I'll make sure to include the Kata fix as well. ETA is end of day (PST).

[2019-05-29 22:29] sidray7965 commented on #1387
Thanks for the update Cecile. I will look forward to the release.

[2019-05-29 22:38] mo-saeed opened #1404 "[Feature Request] new aks-engine update and apply commands"
**Is this a request for help?**: YES

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): FEATURE REQUEST

---

**What version of aks-engine?**: ALL

---

**Kubernetes version**: ALL

**What happened**:
new aks-engine commands `aks-engine update`:
- Open apimodel.json in edit mode (would be nice if apimodel.json can be saved as cluster state file in azure storage bucket/account)
- Change t

[2019-05-29 22:47] rocketraman commented on #172
Honestly, I don't know, I haven't tested this in a while. It appears to have gaps for upgrades based on this earlier comment, though perhaps this information is out of date:

https://github.com/Azure/aks-engine/issues/172#issuecomment-448705308

If that issue is resolved, I'm fine with closing this (ideally with note in the documentation that if multiple agent pools are configured, a standard LB i

[2019-05-29 22:56] #1381 closed

[2019-05-29 22:59] jackfrancis commented on #172
Let's assume this is not fixed as a forcing function for us to repro. What's the repro?

1) Build a cluster with > 1 VMSS agent pools
2) Use Standard LB
3) nginx + svc + ingress
4) send traffic to nginx endpoint

Is that it?

[2019-05-29 23:20] #1372 closed

[2019-05-29 23:53] #1400 closed

[2019-05-30 00:11] cpuguy83 commented on #1392
There is not currently a strong correlation.
MS Moby 3.0.5 is pretty close to Docker 19.03.

We actually wanted to include the sha in the version but kubelet does not like this at all.

You can get the commit from the engine itself, however in some cases the commit may not line up with an upstream (moby) commit (due to CVE patches).

I am working upstream to have a more formal release process of t

[2019-05-30 00:34] CecileRobertMichon commented on #1387
Done: https://github.com/Azure/aks-engine/releases/tag/v0.36.3

[2019-05-30 03:56] rocketraman commented on #172
- Validate nginx ingress works regardless of which VMSS agent pool it is scheduled in
- Validate upgrades work (I don't know anything about issues with standard LB and upgrades, but clearly there have been issues with this in the past)

[2019-05-30 14:11] UnwashedMeme commented on #1393
The CLA has been submitted to legal, so maybe one day I'll be allowed to copy those 14 characters from one place in the file to another.

[2019-05-30 19:15] #270 closed

[2019-05-31 00:04] CecileRobertMichon opened #1414 "Add a 'security' commit title prefix"
Add a category for security/CVE related changes so they stand out in the changelog.

[2019-05-31 00:34] #1414 closed

[2019-05-31 12:38] itaysk commented on #1392
My specific concern was to identify 3.0.4, but that trigger another question in our org about how do we even know what's our production is running. For now we're fine with the info we gathered so I don't have further questions, but IMO it's better to keep this issue opened until this is properly documented.

[2019-05-31 13:01] #791 closed

[2019-05-31 19:01] #855 closed

[2019-05-31 23:28] CecileRobertMichon opened #1421 "Upgrade from 1.12.9 is broken"
Repro:

{   "apiVersion": "vlabs",   "properties": {     "orchestratorProfile": {       "orchestratorType": "Kubernetes"     },     "masterProfile": {       "count": 1,       "dnsPrefix": "",       "vmSize": "Standard_D2_v2"     },     "agentPoolProfiles": [       {         "name": "agentpool1",         "count": 3,         "vmSize": "Standard_D2_v2",         "osType": "Linux"       }     ],     "l

[2019-05-31 23:42] mo-saeed commented on #1421
@CecileRobertMichon Just FYI i got this error sometimes when i was trying to create cluster with version 1.13.6, it happened one or two time then it worked ! I thought it's sth related network maintenance in azure but i am not sure as i didn't investigate.

[2019-06-01 00:13] CecileRobertMichon commented on #1421
@mo-saeed that was my first intuition too but it's reproing consistently in our tests and doesn't repro with 1.12.8

[2019-06-01 00:34] CecileRobertMichon commented on #883
@shaikatz apologies it took me so long to get back to you, this fell off my radar... In case you still haven't solved this (and for anyone else who comes across this issue in the future), the issue is that you need to replace all the `/n` with a line return in the cert and key string. The json value is a single line the uses `/n` to mark line returns. Your actual cert or key should be multiple lin

[2019-06-01 00:34] #883 closed

[2019-06-01 03:40] #879 closed

[2019-06-01 17:40] #834 closed

[2019-06-02 01:36] posix4e opened #1422 "ephemeral hostmounts"
**Describe the request**
Often times with daemonsets, local replication is a great fast low cost model. Especially with machine learning datasets!
**Explain why AKS Engine needs it**
We uses aks for machine learning and we wanna be able to pre locate the dataset on each local drive before beginning training. Our nodes already have plenty of instance storage
**Describe the solution you'd like**
I'd

[2019-06-02 17:00] duggaraju opened #1423 "Unable to use Windows Server 2019 release for Windows"
Using

      "windowsProfile": {
        "adminUsername": "azureuser",
        "adminPassword": "replacepassword1234$",
        "sshEnabled": true,
        "windowsOffer": "WindowsServer",
        "windowsSku": "2019-Datacenter-Core-with-Containers",
      },

The deployment fails with

Deployment failed. Correlation ID: 71273473-be0e-438b-96e7-555f72489284. {
  "error": {
    "code": "PlatformIma

[2019-06-02 18:30] posix4e commented on #1
Can we close this?

[2019-06-02 18:31] posix4e commented on #940
That pull request is closed, are we good to close this?

[2019-06-03 11:26] LiquoriChris opened #1425 "RHEL support"
Hello,

Is RHEL a supported OS for aks-engine? I have tried creating a custom image in Azure and using the custom-image.json file in the example, but the ARM deployment failed.

Is aks-engine only supported on Windows, Ubuntu, and Core OS?

Thank you for your help.

Chris

[2019-06-03 12:56] mo-saeed commented on #1372
@CecileRobertMichon is there any updates regarding the addons upgrade issue ? this one  https://github.com/Azure/aks-engine/pull/1401 should fix it ?

If possible, I have also a question regarding the addons: is `azure-ip-masq-agent` necessary to be installed in case of using azure-cni network plugin (not kubenet) ? as per my understand it can be only necessary incase of any plugin using basic net

[2019-06-03 17:24] CecileRobertMichon commented on #940
@posix4e this issue is still relevant, the PR I linked to was only for context of when this was introduced, it didn't fix the issue.

[2019-06-03 17:34] CecileRobertMichon commented on #1372
#1385 addressed cluster-autoscaler only. #1401 is to audit all the addon specs and set reconcile where appropriate. After discussion, we realized that it didn't make sense to have reconcile set for only part of the spec (eg. the deployment resource) since aks-engine new versions might contain updates to the rest of the spec that go hand in hand with the new image.

`azure-ip-masq-agent` is current

[2019-06-03 19:26] CecileRobertMichon commented on #1425
@pwshliquori there is an existing RHEL implementation in aks-engine but it was only implemented for legacy Swarm clusters.

We would welcome a PR to add RHEL support for Kubernetes if someone wants to pick this up.

[2019-06-03 20:03] CecileRobertMichon commented on #1421
@andyzhangx any ideas?

[2019-06-03 20:35] duggaraju commented on #1029
To add to this.. you need to add annotations to the POD spec to be able to run with hyper-v isolation.
[code]
But even after adding that running hyper-v containers fails:
[code]

Does the underlying OS has Hyper-V feature enabled by default? Or is that something we need to manually enable?

[2019-06-03 21:08] #1374 closed

[2019-06-03 21:08] #1375 closed

[2019-06-03 22:59] #1206 closed

[2019-06-04 00:53] johneng89 opened #1431 "Error: validating API model after populating values: OrchestratorProfile.KubernetesConfig.ClusterSubnet '***/24' must reserve at least 9 bits for nodes"
**Describe the bug**
While trying to deploy a k8's cluster in /24 subnet of Azure, I got the following error:
Error: validating API model after populating values: OrchestratorProfile.KubernetesConfig.ClusterSubnet '****/24' must reserve at least 9 bits for nodes
**Steps To Reproduce**
Deploy a K8's cluster into /24 subnet
**Expected behavior**
Its supposed to get deployed
**AKS Engine version**
v0

[2019-06-04 03:22] #896 closed

[2019-06-04 04:39] posix4e opened #1432 "Max Pods Documentation"
**Describe the request**
Where do we tell people how many pods to run per node. Also why is the default 30?
**Explain why AKS Engine needs it**
kubeflow and aks-engine alone are more than 30

[2019-06-04 12:38] pwshliquori commented on #1425
Thank you. Appreciate the feedback.

[2019-06-04 13:06] sylr commented on #1190
My aks-engine made cluster deployed with version 1.13.5 was working fine:

- Multiple Zones
- Multiple VMSS across zones
- Standard load balancers
- Scale up/down OK

Then I tried the process upgrade to upgrade it in v1.13.6 and since new instances of VMSS do not have internet access and therefore can't execute the CSE.

I've tried deleting all VMSS and recreating them. The instances created along

[2019-06-04 16:11] CecileRobertMichon commented on #1432
30 is the default with Azure CNI (default `--network-plugin`) but there is work in progress to make that 110: https://github.com/Azure/aks-engine/pull/861. With `--network-plugin` kubenet, the default is already 110. This value is configurable via the `kubeletConfig` property. See https://github.com/Azure/aks-engine/blob/master/docs/topics/clusterdefinitions.md#L259 and https://github.com/Azure/ak

[2019-06-04 16:14] CecileRobertMichon commented on #1431
Hi @johneng89, are you deploying with a pre-existing vnet? See https://github.com/Azure/aks-engine/blob/master/docs/topics/features.md#L231 about IP collision.

[2019-06-04 19:00] jackfrancis opened #1433 "Disable weak cipher suites for kubelet"
**Describe the request**

For Kubernetes 1.10 and above, add the following kubelet config to disable weak cipher suites:

--tls-cipher-suites=TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_256_GCM_S

[2019-06-04 19:27] #889 closed

[2019-06-04 21:41] PatrickLang commented on #1029
@duggaraju - what VM size were you using? Some don't support Hyper-V.

@digeler 's scenario won't work as we can't run Windows Server 2016 or 1709 containers with Hyper-V isolation and Kubernetes.

[2019-06-04 22:03] jackfrancis commented on #1
@posix4e I think enough time has expired that suggests `deploy` is in fact the preferred verb, so I'll close it.

[2019-06-04 22:03] #1 closed

[2019-06-05 00:32] duggaraju commented on #1232
Why not use the "latest" as image Version to pick the latest version of the image. I thought it is supported by Azure.

[2019-06-05 08:40] sylr opened #1437 "kuberneteselbsvcname randomness"
**Describe the bug**

kuberneteselbsvcname  is changed everytime using the generated command.

**Steps To Reproduce**

`aks-engine generate cluster.json`

**Expected behavior**

I don't know what's the purpose of this value but the fact that it can not be fixed troubles me. Often I end up regenerating and reapplying the _output to change things on VMSS or to upgrade masters and I don't know what c

[2019-06-05 09:37] sylr commented on #1361
I have the same problem with the current setup:

- 3 Availability Zones in EUW
- 1 or 2 VMSS per Availability Zones
- Accelerated Networking enabled
- Using both Standard Load Balancer & Internal Standard Load Balancer

[code]

[2019-06-05 10:08] palmerabollo commented on #1361
Thanks @sylr. If you find a workaround or come across a way to make it work, please share.

[2019-06-05 16:41] jackfrancis commented on #1437
Yeah, this is sloppy. I've confirmed this does not seem to be doing anything bad in practice. Our Standard LB test runs an upgrade, and it doesn't seem to be changing the value of the app name (which is what this random var is for). See cluster create:

[code]

and after upgrade:

[code]

Note the `app=` values for the elb services are identical before/after.

Looking more into the implementation.

[2019-06-05 16:59] jackfrancis commented on #680
Let's use the kube-bench-recommended values instead:

`--tls-cipher- suites=TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_128_GCM _SHA256,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_RSA_WITH_AES_256_GCM _SHA384,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_ECDSA_WITH_AES_256_GCM _SHA384,TLS_RSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_128_GCM_SHA256`

Ref: https://github.com

[2019-06-05 17:16] jackfrancis commented on #1437
O.K., confirmed that each template generation flow (which includes an `aks-engine upgrade`) changes the value of this param, and its effects, as you point out @sylr. The reason this does not have any practical effect in most scenarios is because the addon is configured to `EnsureExists`. See:

https://github.com/Azure/aks-engine/blob/master/parts/k8s/addons/kubernetesmasteraddons-elb-svc.yaml#L7
h

[2019-06-05 17:16] jackfrancis commented on #1437
@CecileRobertMichon @mboersma FYI

[2019-06-05 21:24] #953 closed

[2019-06-05 23:38] duggaraju commented on #1029
I was using DS4-v3 as recommended byhttps://azure.microsoft.com/en-us/blog/nested-virtualization-in-azure/.  The weird thing I discovered is that Host Compute service (vmcompute.exe) on the node is crashing when trying to start a hyper-v container.  However if I create a standalone Azure VM and run there hyper-v containers succeeds. For some reason the VMs with k8s bits installed can't run hyper-v

[2019-06-05 23:40] #671 closed

[2019-06-06 00:35] #1365 closed

[2019-06-06 02:10] jackfrancis commented on #443
ditto

[2019-06-06 16:35] mboersma commented on #717
@yarinm I wasn't aware of that limitation—is that an azure-sdk-for-go problem? Could you open a new issue against v0.36.4 or later to help us reproduce it?

[2019-06-06 17:07] CecileRobertMichon opened #1440 "Disable ip-masq-agent addon with Azure CNI"
Proposal: azure-ip-masq-agent is currently installed if k.NetworkPlugin != NetworkPluginCilium. It should only be necessary with any plugin using basic networking (e.g. kubenet) as NAT is needed. Can we disable it for Azure CNI by default?

cc: @khenidak @mo-saeed

[2019-06-06 17:10] CecileRobertMichon commented on #1440
@sharmasushant thoughts?

[2019-06-06 19:39] #647 closed

[2019-06-07 12:04] tsc-nemeses opened #1444 "DNS not working in West-Europe when using AKS >= 0.35.1"
**Describe the bug**
After upgrading to AKS-Engine 0.35.1, the DNS lookup in pods is broken in the Kubernetes cluster (the cluster runs in West-Europe DC).

**Steps To Reproduce**
Deploy the attached ARM templates:

Generated with AKS-engine 0.31.1 and deployed in WestEurope (used K8s-version is 1.13.3):
[ExportedTemplate-k8s-aks0311weu-20190607114252-9700.zip](https://github.com/Azure/aks-engine/

[2019-06-07 12:06] tsc-nemeses commented on #1444
JFYI: we repeated the test today using AKS-engine 0.36.4. But DNS issue still exists in West-Europe DC.

[2019-06-07 12:32] tsc-nemeses commented on #1444
I trigger another test a few minutes ago and created one more Kubernetes cluster in the South-Brazil DC using AKS-engine 0.35.1. This time the DNS setup of the cluster works!! These ARM files were used:

[ExportedTemplate-k8s-aks0351sbr-20190607121739-407.zip](https://github.com/Azure/aks-engine/files/3265847/ExportedTemplate-k8s-aks0351sbr-20190607121739-407.zip)

I applied the same steps to veri

[2019-06-07 15:29] joetechbob opened #1445 "Bring your own IP support"
**Describe the request**
Add a property to kubernetes.json that allows one to use an existing static IP. E.g., a static IP from an IP prefix block: https://docs.microsoft.com/en-us/azure/virtual-network/public-ip-address-prefix

**Explain why AKS Engine needs it**
I’m using AKS-Engine generate to stand up a cluster, and would like to use an existing static IP.

**Describe the solution you'd like**

[2019-06-07 16:03] #353 closed

[2019-06-07 17:48] jackfrancis commented on #1444
@tsc-nemeses Can you provide the api model JSON that (don't include private credentials) you're using to build these clusters?

[2019-06-07 17:51] CecileRobertMichon commented on #1421
This is reproducible only if a scale happened prior to the upgrade.

[2019-06-07 19:13] khenidak commented on #1361
@palmerabollo @sylr
Can you please confirm that
1- you have no tooling that overrides the sku value in `azure.json` (controller manager)?
2- the LB sku didn't change after the cluster was created?

[2019-06-07 21:32] palmerabollo commented on #1361
@khenidak Thanks for your help. Confirmed.

[2019-06-08 08:48] sylr commented on #1361
I confirmed that I'm only using Standard SKU for both Load Balancers and IP Public addresses.

[2019-06-09 22:52] #944 closed

[2019-06-10 00:52] #612 closed

[2019-06-10 08:45] tomgallard commented on #1270
Just a note that we are seeing exactly this issue occur on our AKS QA cluster after upgrade to 1.14.0 . Affecting Nginx Ingress pods only as far as I can see.

Have raised a support ticket as well.

[2019-06-10 12:19] #978 closed

[2019-06-10 14:07] sachsachdeva commented on #461
I ran the kube-bench on AKS and see 13 Failures

[34m[INFO] [0m2 Worker Node Security Configuration
[34m[INFO] [0m2.1 Kubelet
[31m[FAIL] [0m2.1.1 Ensure that the --allow-privileged argument is set to false (Scored)
[32m[PASS] [0m2.1.2 Ensure that the --anonymous-auth argument is set to false (Scored)
[32m[PASS] [0m2.1.3 Ensure that the --authorization-mode argument is not set to AlwaysAll

[2019-06-10 15:56] palma21 commented on #461
This item is for AKS-Engine not AKS. Have you tested running this on the latest AKS-Engine with k8s 1.14?

For AKS information please navigate to or open a ticket on the AKS GH https://github.com/Azure/AKS

[2019-06-10 18:36] PatrickLang commented on #1423
/kind feature

Windows Server 1903 will need a number of updates including the pause image and test images. Marking this as a feature.

[2019-06-10 18:57] #696 closed

[2019-06-10 19:04] PatrickLang commented on #1422
How would you want to manage it? Do you need to keep it past the pod lifetime?

It seems like this could work https://kubernetes.io/blog/2019/04/04/kubernetes-1.14-local-persistent-volumes-ga/  using the temp disk if you want to persist data past pod lifetime, but are ok losing it if you deprovision the node.

[2019-06-10 19:22] aramase opened #1453 "Pod security policy should be enabled by default for > 1.15.0-beta.1"
**Describe the request**
Enable pod security policy by default for cluster versions > `1.15.0-beta.1`

**Explain why AKS Engine needs it**
`--allow-privileged` flag is no longer supported in kubelet with `1.15.0-beta.1`. The changes to remove that usage is already merged - https://github.com/Azure/aks-engine/pull/1369. This means none of the container addons  (kube-proxy, ip-masq-agent) get create

[2019-06-10 20:01] #1433 closed

[2019-06-10 21:28] posix4e commented on #1422
That's exactly what i want

[2019-06-11 03:04] andyzhangx commented on #1421
what's the detailed error of this issue? e.g. node not ready or sth else?

[2019-06-11 05:37] CecileRobertMichon commented on #1421
it's the error I pasted in the description, ie. `Error: upgrading cluster: Code="NetworkingInternalOperationError" Message="Unknown network allocation error."`

[2019-06-11 06:00] andyzhangx commented on #1421
I could not repro by following these steps:
1. set up a 1.12.9 cluster with 3 vmss instances
2. scale down to 1 vmss instance
3. upgrade to 1.13.5

I used aks-engine version `678e02a52178d2b02702bf4372e7e66761572dca` on master branch, the upgrade operation completed successfully:
[code]

@CecileRobertMichon is the error message from aks-engine? you may check the detailed error info from azure acti

[2019-06-11 06:33] andyzhangx commented on #461
update:
There are 2 failures on aks-engine node left now:
 - disable read-only-port(10255) : working PR: https://github.com/Azure/aks-engine/pull/1109, while there is a blocking issue, metrics-server v0.3.x does not work on windows node: https://github.com/kubernetes/kubernetes/issues/75934
 - tls-cert-file, tls-private-key-file: working PR: https://github.com/Azure/aks-engine/pull/1416 in Review

[2019-06-11 09:27] tsc-nemeses commented on #1444
Hi @jackfrancis, thanks for your support!

Here the API model files. Please don't be surprised that the cluster-name in these files is a bit different to the names used in the attached "ExportedTemplate-..." files. But this is the only difference - the remaining content is exactly the same as used for above attached ARM files.

[apimodels-aks0311weu_and_aks0351weu.zip](https://github.com/Azure/aks

[2019-06-11 16:45] CecileRobertMichon commented on #1421
@andyzhangx here is the repro (it fails 100% of the time for me, region doesn't matter):

With apimodel:
[code]

[code]

[code]

[code]

[code]

[2019-06-11 16:52] davidmatson commented on #422
/lifecycle remove-stale

[2019-06-11 19:08] t-chappl opened #1458 "feat: support deployment of windows nodes on Azure Stack"
**Describe the request**
Currently deployment of windows nodes on Azure Stack fails. The kubelet tries to connect to azure but fails since it is being provisioned on azure stack. AKS Engine needs to configure the kubelet to connect to azure stack instead.

**Explain why AKS Engine needs it**
In order for customers to use kubernetes on windows on azure stack this change needs to be made.

**Describ

[2019-06-11 20:30] #598 closed

[2019-06-11 21:10] jackfrancis commented on #1444
Hi @tsc-nemeses, I've spent time today trying to repro, and haven been unable to do so thus far. I'm using this api model, which should be close enough to yours to engage the same cluster configuration implementations:

[code]

I'll test in westeurope, though these cluster configs should be re-usable across all regions.

I did notice a couple undesirable symptoms from this config:

[code]

Not to

[2019-06-11 22:21] PatrickLang opened #1461 "Fix `kubectl port-forward` for Windows on K8s 1.15"
**Describe the bug**
The pause image deployed by AKS-Engin on Windows nodes should include `wincat`. This is needed for `kubectl port-forward` to work on Kubernetes 1.15+

**AKS Engine version**
all

**Kubernetes version**
1.15+

**Additional context**

Reference:  https://github.com/kubernetes/kubernetes/pull/75479

[2019-06-11 22:47] PatrickLang commented on #1423
Actually, the title is a bit wrong. Both releases you referenced are for 1809/2019 which use the same versioning scheme. I'm updating the title and opening a separate issue to track 1903

[2019-06-11 22:48] PatrickLang opened #1462 "Add latest Windows Server SAC (1903) support"
**Describe the request**
Windows Server version 1903 is now released and supported, and Windows Server version 1709 support was dropped. Update AKS-Engine to match

https://docs.microsoft.com/en-us/windows-server/get-started/windows-server-release-info

**Explain why AKS Engine needs it**

People want to try Windows Server version 1903

[2019-06-11 22:53] jackfrancis commented on #1444
I'm able to repro failing container DNS in westeurope. I can repro in both v0.31.1 and v0.35.1 versions of AKS Engine :(

So this is (probably) not an issue with the ARM deployment definition changing for the worse.

[2019-06-11 22:55] PatrickLang commented on #1423
Can you try one of these sets of parameters? I don't think that's a valid SKU. Here's some recent ones:

[code]

[2019-06-11 23:02] jackfrancis commented on #1444
Confirmed that removing calico from the cluster configuration restores container DNS. Again: only repro'd in westeurope so far (that is odd, looking further into that).

[2019-06-11 23:42] jackfrancis commented on #1444
Confirmed that calico + Azure CNI does not exhibit these symptoms in westeurope, so the calico + kubenet scenario is the symptomatic one.

[2019-06-11 23:57] jackfrancis commented on #1444
@song-jiang Is there anything obvious we would investigate to root cause calico + kubenet cluster configurations breaking container DNS?

Superficially all the calico componentry looks fine on my repro cluster:

[code]

Our DNS validation E2E is telling us that container resolution is broken:

[code]

@feiskyer Have you ever observed this scenario?

[2019-06-11 23:59] posix4e commented on #1422
This looks great I'll give it a try

[2019-06-12 00:00] #1453 closed

[2019-06-12 00:36] jackfrancis commented on #1444
@tsc-nemeses Also worth checking, did you manually add a route table attachment to your custom VNET after creating the cluster as described here?

https://github.com/Azure/aks-engine/blob/master/docs/tutorials/custom-vnet.md#post-deployment-attach-cluster-route-table-to-vnet

The above step is required for kubenet.

[2019-06-12 01:34] PatrickLang opened #1465 "Add option to disable hyperthreading"
**Describe the request**
"Customers running untrusted code on a hyper-threaded VM will need to disable hyper-threading or move to a non-hyper-threaded VM size." according to https://docs.microsoft.com/en-us/azure/virtual-machines/windows/mitigate-se#enabling-additional-security

We should add an option to do that in AKS-Engine so that setting can be applied as clusters are scaled up or upgraded.

[2019-06-12 03:46] satishsudini opened #1466 "CustomScriptExtension error while creating k8 cluster"
Bug
VM has reported a failure when processing extension 'cse-master-2'. Error message: \"Enable failed: failed to execute command: command terminated with exit status=30\n[stdout]\n\n[stderr]\nConnection to k8s.gcr.io 443 port [tcp/https] succeeded!\nConnection to gcr.io 443 port [tcp/https] succeeded!\nConnection to docker.io 443 port [tcp/https] succeeded!\n

Steps To Reproduce
Create a service

[2019-06-12 07:11] feiskyer commented on #1444
Not yet. Are there any errors in DNS pod?

[2019-06-12 07:15] mo-saeed opened #1467 "Pod security policy for 1.15 concern"
**Describe the bug**
This is regarding this https://github.com/Azure/aks-engine/blob/master/parts/k8s/addons/1.15/kubernetesmasteraddons-pod-security-policy.yaml

I am not sure why group "system:authenticated" is on both cluster-role-binding "psp:restricted" and "psp:privileged", any reason for that ?

[2019-06-12 08:09] Morishiri opened #1468 "All parameters of customSearchDomain has to be provided to be visible in the template"
**Describe the bug**
In the docs: https://github.com/Azure/aks-engine/blob/master/docs/topics/clusterdefinitions.md#linuxprofile
there is information about `customSearchDomain` inner keys, where each is described as not required. When providing only `customSearchDomain.name` the generated parameters file contains this section, but template file doesn't - deployment fails. When all 3 are provided

[2019-06-12 08:50] tsc-nemeses commented on #1444
Hi @jackfrancis, yes we attach the subnet to the routetable always (happens as part of our provisionig logic). Below a screenshot of one of the route tables after the provisioning if completed:

![routetable_vnet](https://user-images.githubusercontent.com/1721004/59336471-ed294f00-8cfe-11e9-973c-4c9bc051d4bb.png)

I also verified that the VMs have no DNS resolution issues.

[2019-06-12 09:12] tsc-nemeses commented on #1444
Hi @jackfrancis, I created today two new K8s clusters in West-Europe and DNS was working on both... wtf!?! Seems the issue disapeard magically over night. Can you please confirm that DNS now also works for you with calico + kubenet? Thanks a lot.

[2019-06-12 10:06] song-jiang commented on #1444
@jackfrancis @tsc-nemeses In your repro cluster, could you verify if DNS traffic between `busybox` pod and `coreDNS` is healthy by `nslookup kubernetes.default.svc.cluster.local`? This helps us to isolate the problem.

[2019-06-12 11:41] tsc-nemeses commented on #1444
Hi @song-jiang , I created now one more K8s cluster in West-Europe and this time the DNS is failing again (see my previous post, the clusters I created this morning didn't have DNS issues... now the problem is back :( ).

Anyway, I deployed a busybox pod in the cluster and got this result:

[code]

[2019-06-12 13:00] song-jiang commented on #1444
@tsc-nemeses Thanks for the details. Just to confirm are you running a cluster with one agent node and all pods include `busybox` and `coreDNS` are scheduled on the same agent node?

[2019-06-12 14:56] tsc-nemeses commented on #1444
Hi @song-jiang, thanks a lot for your hlep! Yes, I can confirm that we run 1 master node and 1 agent node (for our developer setup at least).
[code]

Here the tests with NGINX:
[code]

[2019-06-12 15:17] tomgallard commented on #1270
Worth noting for anyone else experiencing this issue that we resolved it for now by adding explicit cpu and memory limits to the nginx-ingress deployment. Not sure why this fixed things but it did.

[2019-06-12 15:45] song-jiang commented on #1444
@tsc-nemeses No problem. From your log, I can see `coreDNS` is located on mater node while `nginx` and `metric-server` is located on the same node as `busybox`. That suggest connection issues from agent to master.

[2019-06-12 15:54] jackfrancis commented on #1444
That would also explain the randomness of the errors, as when you get a coreos scheduled to the node you don't have to leave the VM to get to the resolver.

[2019-06-12 16:00] chreichert commented on #1270
Unfortunately it does not help in our case. We already had cpu and memory limits defined and rabbitmq pods are crashing, after 1.14.1 upgrade.

[2019-06-12 16:01] jackfrancis commented on #1270
@chreichert to confirm: have we repro'd this on a newly built 1.14.n cluster as well?

[2019-06-12 16:20] chreichert commented on #1270
@jackfrancis I will try to repro this with our apimodel with a newly built 1.14.1 tomorrow. I will get back after doing this.

I could reproduce the issue, setting up a new cluster and upgrading it through the instances to 1.14.1 (following our initial path for our production environment):

My steps to reproduce:
1. Setup a fresh 1.10.7 cluster using ACS-Engine 0.21.1
    <details><summary>api-mod

[2019-06-12 18:25] mo-saeed commented on #1440
@CecileRobertMichon I think it's necessary, I tried to deploy cluster with ip-masq-agent disabled and it failed with this error ```VM has reported a failure when processing extension 'vmssCSE'. Error message: \"Enable failed: failed to execute command: command terminated with exit status=34\n[stdout]\n\n[stderr]\nConnection to k8s.gcr.io 443 port [tcp/https] succeeded!\nConnection to gcr.io 443 po

[2019-06-12 18:42] jackfrancis commented on #1444
Unable to repro this morning, I manually deleted the coredns pod until it was rescheduled onto the master:

[code]

Container DNS is working fine.

[2019-06-12 19:14] jackfrancis opened #1472 "ACR Hyperkube image transition"
**Describe the request**

@jchauncey will provide details on available hyperkube images hosted by ACR

**Explain why AKS Engine needs it**

Produce clusters backed by Azure-stamped k8s

[2019-06-12 19:14] jackfrancis commented on #122
See https://github.com/Azure/aks-engine/issues/1472

[2019-06-12 19:14] #122 closed

[2019-06-12 19:19] jchauncey commented on #1472
Image Path: `upstream.azurecr.io/k8s/core/hyperkube-amd64`

Published Tags:
[code]

[2019-06-12 20:17] duggaraju commented on #1423
Weird that 2019.0.20190521 image which existed before is removed now.  Like i mentioned above, if  the "imageVersion" is explicitly set then I can create the cluster.  If it is not set then the hard coded default image version only works with 1809 (Not 1903).  Would be nice if the default was something like "latest" similar to what azure supports and picks the latest images for the given SKU

[2019-06-12 23:19] akshaysngupta commented on #1404
+1 would be nice to have.

[2019-06-13 09:14] tsc-nemeses commented on #1444
Hi guys, thanks for deeper investigation. I can confirm that the issue seems to be caused that the coreDNS-pod is not reachable when running on a different VM (if it is running on a master node the busybox cannot reach the coreDNS pod, when it is running on the same node it works).

This issue is obviously DC specific and occurs in West-Europe DC, but cannot be reproduce in SouthBrazil DC (just as

[2019-06-13 12:08] harshaperera532 opened #1475 "Windows container networking/dns fails on pod redeploy/upgrade"
**Describe the bug**
I've deployed a hybrid cluster. I am deploying nano server and server core pods (ASP.Net Core) on the Windows nodes. These connect to Azure Key Vault at startup. On fresh Windows nodes this works ok and the software starts up. However, on redeploying/upgrading some or all of the pods on the Windows nodes fail to start as they are not able to connect to Vault (Host is unknown e

[2019-06-13 14:33] wesleyae commented on #856
Actually, I think this is the real issue: https://github.com/Azure/azure-container-networking/issues/339

[2019-06-13 14:34] tsc-nemeses commented on #1444
So, I think this needs to be handed back to the Azure support for further investigation. Thanks all for your help!

[2019-06-13 16:12] chreichert commented on #1270
@jackfrancis Today I did a direct setup of a fresh 1.14.1 cluster using AKS-Engine 0.36.4 and our apimodel as posted above. I deployed our application components. Everything is running fine so far.
So I would pin down the issue to be something in the upgrade to 1.14.n!

[2019-06-13 17:05] CecileRobertMichon commented on #1291
fixed in https://github.com/Azure/aks-engine/releases/tag/v0.36.5

[2019-06-13 17:05] #1291 closed

[2019-06-13 20:45] ritazh opened #1477 "Add an e2e test that uses pod identity via keyvault flexvol"
**Describe the request**

**Explain why AKS Engine needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-06-13 20:48] CecileRobertMichon commented on #1472
related to https://github.com/Azure/aks-engine/issues/1123

[2019-06-13 21:02] CecileRobertMichon commented on #1475
@harshaperera532 could you please share the exact apimodel (minus secrets) that you used to deploy the cluster?

[2019-06-13 21:03] CecileRobertMichon commented on #1467
@jackfrancis who added this in https://github.com/Azure/aks-engine/pull/1454

[2019-06-13 21:04] CecileRobertMichon commented on #1440
Thanks for the info @mo-saeed, I'll close this issue in that case.

[2019-06-13 21:04] #1440 closed

[2019-06-13 21:07] #351 closed

[2019-06-14 01:16] fampton commented on #1325
Thanks for confirming this is expected. Modifying the CoreDNS deployment will work.

[2019-06-14 01:16] #1325 closed

[2019-06-14 04:22] zhiweiv commented on #1475
You can see if these 2 issues help,
https://github.com/Azure/AKS/issues/1029
https://github.com/Azure/azure-container-networking/issues/341

[2019-06-14 09:20] mo-saeed commented on #1467
also based on this https://kubernetes.io/docs/reference/access-authn-authz/rbac/#core-component-roles
is it system:node or system:nodes ?

[2019-06-14 14:08] harshaperera532 commented on #1475
@CecileRobertMichon I've attached the apimodel used to create the cluster
[sanitised_apimodel.json.txt](https://github.com/Azure/aks-engine/files/3290929/sanitised_apimodel.json.txt)

[2019-06-14 14:19] harshaperera532 commented on #1475
@zhiweiv [https://github.com/Azure/AKS/issues/1029](url) does seem to be very similar to what I am seeing. I have previously used the workaround of setting the Google DNS as kube-dns didn't work in Windows containers till recently. However, I need resolution to internal services now.

[2019-06-14 17:22] #907 closed

[2019-06-14 17:22] #887 closed

[2019-06-14 17:58] jadarsie commented on #1376
These releases introduced a vulnerability, closing

[2019-06-14 17:58] #1376 closed

[2019-06-14 18:43] CecileRobertMichon commented on #1361
@sylr do you also have cluster-autoscaler enabled?

[2019-06-14 19:14] aramase commented on #1467
@mo-saeed This is one of the reasons I found in the aks doc for using `system: authenticated` in both privileged and restricted -

[code]

The policies are evaluated in alphabetical order. So the user can add their custom policies to take preference over the ones we define. For `privileged` cluster role binding, it's `system:nodes`. I did test this and the addon pods don't show up in `kube-system`

[2019-06-14 20:10] sylr commented on #1361
Yes.

[2019-06-15 22:42] #994 closed

[2019-06-16 14:04] #1004 closed

[2019-06-17 09:19] omerlh commented on #637
Any update about this issue? I was able to collect only etcd metrics that are exposed via the API server

[2019-06-17 21:04] jackfrancis commented on #1472
@jchauncey Why isn't 1.14.3 published in the ACR repo above?

[2019-06-17 23:40] jchauncey commented on #1472
building it now

[2019-06-18 08:49] narayana98765 opened #1490 "Error from server (ServiceUnavailable): the server is currently unable to handle the request (get services http:heapster"
hi Team,

These machines are ACS Kubernetes master servers deployed using ACS-Engine.

Kubernetes Version: 1.10.2
Setup: 1 Master 3 Nodes
Docker Version: 1.13.1

Right now the machines are up and running however kubernetes api server is not responding which resulted in cluster level issues. All pods in the kube-system are up and running, however we are not getting response from backend.

Kube-Dns

[2019-06-18 17:21] PatrickLang commented on #1423
Yeah, I agree that we should default to latest, as long as we can guarantee it isn't broken. Right now there isn't enough testing on those images before they're published so we want to pre-test them in the aks-engine repo before accepting them. #1489 is an example where I'm making sure the June patches are ok to roll out. Getting images tested through aks-engine before they're publicly available i

[2019-06-18 19:00] skinny opened #1492 "Kubernetes upgrade from pre-0.37.0 cluster fails when calico is used"
When a cluster created with an earlier version of aks-engine and using the `networkPolicy: calico` is upgraded using the latest (v0.37.0 and later) version of aks-engine the newly provisioned masters (with new version) won't come up because `kubelet` fails to start because of a missing `calico-daemonset.yaml`

Due to this change : https://github.com/Azure/aks-engine/commit/2318d1a55730f5a9adfb7e54

[2019-06-18 20:07] CecileRobertMichon commented on #1492
@skinny thanks for reporting, we will investigate. As a workaround in the meantime, could try changing the `isEnabled` value of calico in your apimodel to `true` before running the upgrade?

[2019-06-18 20:09] skinny commented on #1492
Yes I forgot to mention that. Changing the enabled flag in the apimodel before running the upgrade works fine

[2019-06-18 20:10] CecileRobertMichon commented on #1492
Thanks for confirming. That PR actually fixed a bug because we were previously ignoring the value of "isEnabled" for Calico.

[2019-06-18 20:17] CecileRobertMichon commented on #1490
Is this a new cluster or a pre-existing cluster that suddenly stopped working? If it was working before, did you change anything or run any operations (upgrade, scale) before it stopped working?

Are kubelet logs showing anything interesting? `journalctl -u kubelet`

Also please verify that your Service Principal secret is not expired.

what configuration is the cluster using? please share your ap

[2019-06-19 02:07] narayana98765 commented on #1490
Hi Cecile Robert,

Thanks for the update , we have resolved the issue , its ACS cluster , and its resolved by rebooting the nodes and master as kube-system api-server and heapster not able to commutate with nodes , thanks for your support , if we have any issues further update you the same.

Regards,
Narayana

From: Cecile Robert-Michon <notifications@github.com>
Sent: Wednesday, June 19, 2019 1:4

[2019-06-19 07:23] gazataeon opened #1494 "Linux directory permissions can not be changed on azurefile mount"
Unable to `chmod` or `chown` any directory/file on an azurefiles persistent volume from within a container.

**Steps To Reproduce**
`kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: azurefile
provisioner: kubernetes.io/azure-file
mountOptions:
  - dir_mode=0777
  - file_mode=0777
  - uid=0
  - gid=0
parameters:
  skuName: Standard_LRS
allowVolumeExpansion: true`

Using the above

[2019-06-19 10:12] chreichert commented on #1270
@jackfrancis Today I found the cause of the issue: I compared the generated apimodel.json from the newly setup (working) 1.14.1 cluster to the one of the updated (not working) cluster: One of the differences was the parameters "--pod-max-pids" in kubeletConfig of kubernetesConfig, masterProfile and all the agentPoolProfiles. In the newly setup cluster the parameters were set to "-1", while in the

[2019-06-19 14:22] LiquoriChris opened #1495 "Support for private IP Address on Azure Load Balancer"
Ability to add an private IP address property when deploying to an Azure Load Balancer.

Deploying a k8s cluster inside of a vNet assigns a private IP address. The IP address that was selected that was outside of the range of the subnet. It is possible to create a property to provide a private IP Address for the load balancer? Or a property to set the master lb offset to a different number than th

[2019-06-19 14:43] #16 closed

[2019-06-19 14:43] #728 closed

[2019-06-19 17:23] Banani-Rath opened #1496 "Print hostname in VMSS CSE command"
We are using vmss extension for provisioning vm with aks-engine!

At present we come across a scenario where provisioning failed with following error:

We have created a log analytics work space to track all logs but when I queried with following I couldn’t found more information.

I just see one output couldn’t get more information.

My question is :

Is there  a way to get more information or lo

[2019-06-19 23:34] CecileRobertMichon commented on #1496
https://github.com/Azure/aks-engine/blob/master/docs/howto/troubleshooting.md#vmextensionprovisioningerror-or-vmextensionprovisioningtimeout should help

[2019-06-20 01:26] fenxu commented on #1496
Is there a way that we could find more information about which instance is failed?
Now the information shows on portal is failed but without any specific instance number. That makes the trouble shooting hard.
It means once some instances failed, we even don't know which one that is and even can't manually fix/kill that.

[2019-06-20 01:59] #1462 closed

[2019-06-20 02:03] #1318 closed

[2019-06-20 07:06] marc-mueller commented on #542
Just here to add a +1, too!

[2019-06-20 14:04] sei-jmattson opened #1503 "Upgrade with vmss agent nodes doesn't remove old nodes."
**Describe the bug**
Upgrade with vmss agent nodes succeeds, but doesn't remove old nodes.
A fresh deploy yielded a 1.12.8 cluster with 2 agent nodes. After upgrade to 1.13.7, kubectl shows 4 agent nodes (2 original plus 2 updated).  The original vm's are deleted, but not removed from k8s.  Upgraded again to 1.14.3 and left with 6 agent nodes.

**Steps To Reproduce**
* Deploy [container-monitoring

[2019-06-20 14:34] LiquoriChris opened #1504 "Set custom host names in the api-model"
**Describe the request**: Ability to enter custom host names for the master and agent nodes.

**Explain why AKS Engine needs it**: Necessary for specific naming conventions within the organization. To follow policies and procedures.

**Describe the solution you'd like**: The ability to set custom host names in the master and agent profile properties of the api-model json file.

[2019-06-20 16:32] CecileRobertMichon commented on #1496
For scale sets, the extension is associated to the scale set itself and not to each individual instance which makes it tricky to know which instance failed unfortunately. For availability sets, one extension is deployed per VM and we name them accordingly so it's easier to know which extension failed.

I think one thing we could do is print a log line as part of the error message with the hostname

[2019-06-20 16:35] CecileRobertMichon commented on #1503
Hey @sei-jmattson, thanks for reporting - definitely sounds like a bug. Are you able to repro the same thing with previous versions of aks-engine or is this specific to 0.37.0?

[2019-06-20 17:54] CecileRobertMichon commented on #1503
hmm so I can't repro this:

1. Deployed a cluster with apimodel: `{   "apiVersion": "vlabs",   "properties": {     "orchestratorProfile": {       "orchestratorType": "Kubernetes"     },     "masterProfile": {       "count": 1,       "dnsPrefix": "",       "vmSize": "Standard_D2_v3"     },     "agentPoolProfiles": [       {         "name": "agentpool1",         "count": 3,         "vmSize": "Standa

[2019-06-20 20:14] jackfrancis commented on #1270
@chreichert Thanks for the update! I think what's actually happening is this:

- prior versions of AKS Engine were (in practice, incorrectly) setting `--pod-max-pids` to "100"; in practice, unless the user explicitly defined a kubelet feature gate `SupportPodPidsLimit=true`
- w/ 1.14, kubernetes sets `SupportPodPidsLimit` to true by default, which in practice meant that clusters are now default-en

[2019-06-20 20:43] mo-saeed commented on #1404
https://github.com/Azure/aks-engine/issues/542

[2019-06-20 21:19] jackfrancis commented on #1492
@skinny what did the calico-daemonset addons item look like in the apimodel before the change?

[2019-06-20 21:25] skinny commented on #1492
Unfortunately I don't have the "old" apimodel.json anymore. They only thing I changed in there was `enabled:false` to `enabled:true` before running the upgrade.

The earlier version of aks-engine actually deployed the deamonset based on the `networkPolicy` settings but didnt save it as  'enabled' in the apimodel.json file

[2019-06-20 21:35] jackfrancis commented on #1492
Yes, the interesting thing is that prior to the change described in this issue the "calico-daemonset" addon didn't actually exist. The k8s addons interface was used under the hood to deliver the calico yaml spec. As such the current implementation should be backwards-compatible with older clusters:

https://github.com/Azure/aks-engine/blob/master/pkg/api/addons.go#L280

[2019-06-20 21:36] skinny commented on #1492
@jackfrancis please see my revised comment

[2019-06-20 21:48] skinny commented on #1492
Ok, I retraced my steps and came up with this this :

@deploy time :

[code]

[2019-06-20 22:13] jackfrancis commented on #1492
I think I've got root cause:

This PR introduced w/ v0.36.0 added the calico api model addon w/ enabled set to default:

https://github.com/Azure/aks-engine/pull/1089

I'll add a back-compat fix to statically change that to true in upgrade scenarios if networkPolicy == calico

Thanks again for reporting @skinny! (and for your endurance here :|)

[2019-06-20 22:17] skinny commented on #1492
Happy to help!

[2019-06-21 02:12] sei-jmattson commented on #1503
Okay, thanks.  I appreciate the time spent.

I haven't tried earlier versions recently, but I don't think this happened when I last upgraded in March sometime. I noticed you changed the [relevant code](https://github.com/Azure/aks-engine/blob/7618f4f24b5b5b9caaa6708964790e5dd69e5052/pkg/operations/kubernetesupgrade/upgradeagentnode.go#L84) in April, though I'd still expect the StatusError to be co

[2019-06-21 02:15] #1492 closed

[2019-06-21 16:41] mboersma commented on #1490
I'm glad you found a workaround. If you run into this again and can reproduce it with `aks-engine`, please reopen this issue or create a new one.

[2019-06-21 16:41] #1490 closed

[2019-06-21 19:05] #1047 closed

[2019-06-21 20:40] UnwashedMeme commented on #1393
Would you like a PR targetting any of the bugfix branches? This patch can be cherry-picked across branches pretty easily.

[2019-06-21 21:41] UnwashedMeme opened #1515 "etcd.service can start and fail before /var/lib/etcddisk is mounted"
**Describe the bug**

There is currently no ordering specified to etcd that forces the disk to be present before starting etcd. By and large this works correctly but when an Azure hypervisor crashes and the machine is redeployed and the disk needs to be fscked...

[code]
(the last line is me logging in hours later going "wtf")

I think this is related to https://github.com/Azure/acs-engine/issues/

[2019-06-21 22:19] #1393 closed

[2019-06-21 23:05] #987 closed

[2019-06-22 15:28] #991 closed

[2019-06-22 20:52] ricadelic commented on #805
This is documented in https://github.com/kubernetes/dashboard/wiki/Access-control#admin-privileges

[2019-06-22 23:28] #1074 closed

[2019-06-23 20:01] #1466 closed

[2019-06-23 20:08] satishsudini opened #1517 "Cluster Deployment failing with Error Could not find member 'Sensitivity' on object of type 'TemplateResource'. Path 'properties.template.resources[12].Sensitivity"
**Describe the bug**

**Steps To Reproduce**
{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorRelease": "1.15",
      "orchestratorVersion": "1.15.0",
      "kubernetesConfig": {
        "enableRbac": true,
        "enableSecureKubelet": true,
        "enableAggregatedAPIs": true,
        "networkPolicy": "calico",

[2019-06-24 00:26] sai-li commented on #542
Just here to add a +1.

[2019-06-24 07:29] craiglpeters opened #1518 "get-akse.sh doesn't work on Azure Cloud Shell without sudo"
**Describe the bug**
Basic use of aks-engine as documented https://github.com/craiglpeters/aks-engine/blob/master/docs/tutorials/quickstart.md#install-aks-engine doesn't work in Azure Cloud Shell
**Steps To Reproduce**
Follow the shell script instructions in the link above.
Output is
[code]

[2019-06-24 10:18] rameshthangaraj opened #1519 "Private cluster with Standard LB for both Master and Agents is failed"
I am trying to create a private cluster with Standard LB for both Master and Agents  and the private network is unreachable to fetch the packages to install during the custom script extension and the deployment is getting failed. I am able to create a private cluster using Basic LB for master and agents . But for better scalability and throughput we go for Standard LB but the backend pool machines

[2019-06-24 11:38] #1495 closed

[2019-06-24 12:20] javierprovecho opened #1520 "Expose calico metrics"
**Describe the request**

Expose calico metrics so they can be scraped by Prometheus.

**Explain why AKS Engine needs it**

Allowing metrics from some components like network (calico) or storage (etcd, see #637) to be scraped by  Prometheus would benefit observability.

**Describe the solution you'd like**

Add a new property under `kubernetesConfig` called `networkPolicyConfig` which follows `map

[2019-06-24 14:24] LiquoriChris opened #1521 "Certificate profile does not except certificate private key"
**Describe the bug**

caPrivateKey does not accept private key via key vault or string value.

aks-engine generate returns the following error on the caPrivateKey:

```Error: in SetPropertiesDefaults template ./ApiModel.json: The raw pem is not a valid PEM formatted block```

This error does not show up if I remove the caPrivateKey from the certificateProfile block.

**Steps To Reproduce**

1. Add

[2019-06-24 15:29] adelina-t opened #1522 "Addons are not started for K8s > 1.16-alpha.0."
K8s 1.16 is deprecating some beta workload APIs [1] , thus all common resources like DaemonSets, Deployments, ReplicaSets will be moved from `extensions/v1beta1` to `apps/v1` by default and the `extensions/v1beta1 `endpoints will not be enabled by default anymore ( See linked PR for all resources changed ).

Since most of the manifests for the addons used by aks-engine use v1beta1 api version ( ex

[2019-06-24 15:30] adelina-t commented on #1522
@CecileRobertMichon @jackfrancis Keep this in mind for when you plan to start supporting alpha versions of 1.16 :)

[2019-06-24 15:31] adelina-t commented on #1522
cc @PatrickLang

[2019-06-24 16:00] CecileRobertMichon commented on #1517
@satishsudini I believe this is a duplicate of https://github.com/Azure/aks-engine/issues/1168.

The word "sensitivity" does not appear anywhere in the repo, as I pointed out in the previous issue I believe it's coming from the "prepare_vm_disks" extension. Where do you get that extension from?

[2019-06-24 16:04] CecileRobertMichon commented on #1521
@LiquoriChris this is most likely due to the secret `kubernetes-dev-key` or `kubernetes-dev-crt` not being formatted properly. Did you follow https://github.com/Azure/aks-engine/blob/master/examples/keyvault-params/README.md ? Make sure you are base64 encoding the secrets as explained in the doc.

[2019-06-24 16:08] CecileRobertMichon commented on #1522
Thanks @adelina-t

also @mboersma FYI

[2019-06-24 16:24] satishsudini commented on #1517
We are using this extension for prepare vm . This is taken from below https://raw.githubusercontent.com/Azure-Samples/compute-automation-configurations/master/prepare_vm_disks.sh

[2019-06-24 16:28] satishsudini commented on #1168
We are using this extension for prepare vm . This is taken from below https://raw.githubusercontent.com/Azure-Samples/compute-automation-configurations/master/prepare_vm_disks.sh .

This same script we are using with v31.3 which is working fine

[2019-06-24 16:31] CecileRobertMichon commented on #1517
what about the "bootstrap" extension? I don't see an extensionProfile for it in your apimodel, where is the template coming from?

not seeing `Sensitivity` in any aks-engine template generation paths so trying to understand where it's coming from... Where is the template downloaded from?

[2019-06-24 16:43] mboersma commented on #1518
Cloud Shell is a restricted environment where `sudo` won't be available. Maybe the script can detect that it's running in Cloud Shell and download the binary to `/usr/local/bundle/bin` instead, since that does appear to be a user-writable directory in the $PATH. I'll give that a try.

[2019-06-24 17:02] mboersma commented on #1518
@craiglpeters [this script](https://raw.githubusercontent.com/Azure/aks-engine/2d638d7e9d1f4551f9ec8b6dcab910f7c721f1cf/scripts/get-akse.sh) seems to work ok on Azure Cloud Shell and locally. Let me know if you get a chance to test it.

[2019-06-24 17:07] jackfrancis commented on #1522
We'll change the `v1beta1` to `apps/v1` pro-actively, if that evolution works with < 1.16 versions then we can do this pretty quickly.

[2019-06-24 17:11] LiquoriChris commented on #1521
@CecileRobertMichon yes. I have tried setting the secret using the az commands listed in the readme. If I remove the caCertificate and caPrivate key (example below), the ARM template is generated.

[code]

[2019-06-24 17:23] adelina-t commented on #1522
I think apps/v1 works down to k8s 1.14

Sent from my iPhone

On 24 Jun 2019, at 20:07, Jack Francis <notifications@github.com<mailto:notifications@github.com>> wrote:

We'll change the v1beta1 to apps/v1 pro-actively, if that evolution works with < 1.16 versions then we can do this pretty quickly.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub

[2019-06-24 18:05] palmerabollo commented on #1520
Perhaps the [`FELIX_PROMETHEUSMETRICSENABLED` var](https://docs.projectcalico.org/v3.7/reference/felix/configuration) could be set to "true" at https://github.com/Azure/aks-engine/blob/master/parts/k8s/containeraddons/kubernetesmasteraddons-calico-daemonset.yaml#L553 by default to enable the metrics in the short term.

[2019-06-24 19:06] satishsudini commented on #1517
It will be there right below extension . This is bootstrap script which runs

      {
          "name": "bootstrap",
          "version": "v3",
          "extensionParameters": " * * * * ”,
          "rootURL": " chef url“,
          "script": "bootstrap.sh",
          "urlQuery": " token”
      }

[2019-06-24 20:11] CecileRobertMichon commented on #1517
what is the resulting ARM template extension resource in azuredeploy.json? Basically, check in your _output/ directory and search the cluster's azuredeploy.json file for `Sensitivity`.  Please send me the entire resource json of the resource that property is in (resource[12] according to the error message). I suspect it is coming from your extension since it's not part of aks engine code.

[2019-06-24 20:19] #1518 closed

[2019-06-24 21:48] #1458 closed

[2019-06-24 23:03] satishsudini commented on #1517
Thanks @CecileRobertMichon  . This is caused by the VM tags which we are using i removed that cluster installation went through .

[2019-06-24 23:03] #1517 closed

[2019-06-24 23:04] #1168 closed

[2019-06-24 23:53] LiquoriChris commented on #1521
I've noticed that adding the certificate profile does not modify the certificates in the apimodel.json file after generation. The certificates do not get replaced with the secrets from key vault. I tried entering the cert (in base64) statically and had the same result.

[2019-06-25 00:00] CecileRobertMichon commented on #1521
See https://github.com/Azure/aks-engine/issues/883#issuecomment-497897229

I can't repro, I believe the error is what it actually says `The raw pem is not a valid PEM formatted block` --> the certificates stored in your keyvault aren't formatted properly.

if no CA cert/key pair is passed in, aks-engine ignores the passed in certificate profiles and generates new certs by design. That's why you're

[2019-06-25 00:07] LiquoriChris commented on #1521
Thank you for the clarifications. I appreciate your help,

[2019-06-25 00:07] #1521 closed

[2019-06-25 05:15] rocketraman commented on #1152
Not stale

[2019-06-25 19:00] #1373 closed

[2019-06-25 20:43] CecileRobertMichon commented on #1477
https://github.com/Azure/aks-engine/blob/master/examples/addons/aad-pod-identity/README.md

[2019-06-25 22:17] jackfrancis commented on #1515
@UnwashedMeme Are we expecting that by moving the mount logic to cloud-init that such a reboot-after-hypervisor-failure scenario would improve? Here's when this was originally moved into CustomScriptExtension:

https://github.com/Azure/acs-engine/pull/661/files

The inverse of that is something like what it would be in cloud-init.

I'm not convinced that moving the mount statement to cloud-init wo

[2019-06-25 22:20] jackfrancis commented on #1494
@lachie83 @ritazh @khenidak is the above the expected behavior of the `kind: StorageClass` Azure cloudprovider implementation? If so, would that implementation ever change to match the managed disk mount implementation?

[2019-06-25 22:45] Sewci0 commented on #455
I am experiencing the same problem, it happens consistently while creating a cluster with multiple node pools. All 9 of my NC6 VMs end up in a failed state.

[2019-06-25 22:47] jackfrancis commented on #455
@Sewci0 What version of aks-engine? Could you paste the api model JSON you use as input to aks-engine, with private creds removed?

[2019-06-25 23:04] #980 closed

[2019-06-25 23:33] rjaini opened #1528 "feat: Set PlatformFaultDomainCount as 3 for Azure Stack case"
Currently PlatformFaultDomainCount variable is not set causing default value as 2 but it should be 3

[2019-06-26 08:13] chreichert opened #1530 "Scale command terminates with error: Changing property 'platformFaultDomainCount' is not allowed"
**Describe the bug**
Scaling up or down VMSS Agentpools terminates with the following error:

The scaling itself is working, nodes are added or deleted, but the apimodel is not updated to reflect updated cluster state after scaling.

**Steps To Reproduce**

- Set up Cluster with attached apimodel
- Upgrade to 1.14.3
- Scale agentpool with command:

<details><summary>api-model</summary>
 <p>

[code

[2019-06-26 08:39] chreichert commented on #1270
/reopen

@jackfrancis Sorry, but the issue is still occuring after upgrade from 1.13.7 to 1.14.3 with AKS-Engine 0.37.3

The PR only fixes one occurrence of "--pod-max-pids": properties.orchestratorProfile.kubernetesConfig.kubelet.config.

The other occurences in properties.masterProfile.kubernetesConfig.kubeletConfig and properties.agentPoolProfiles[*].kubernetesConfig still read "--pod-max-pids=

[2019-06-26 14:31] idanlevin opened #1531 "Standard_D2_v3 does not support AgentPoolProfile.acceleratedNetworking"
**Describe the bug**
I tried to create a new cluster with accelerated networking enabled and got the error:
`Standard_D2_v3 does not support AgentPoolProfile.acceleratedNetworking`

**Steps To Reproduce**
[code]
**Expected behavior**
The cluster should have been created

**AKS Engine version**
0.37.3
**Kubernetes version**
1.15
**Additional context**
Based on the example here: https://github.com/A

[2019-06-26 14:49] andyzhangx commented on #1494
@jackfrancis SMB mount options(including dir permission) could not be changed, it's by SMB proto design, while for disk(ext4, xfs) dir permission could be changed after mount
close this issue, let me know if you have any question.

[2019-06-26 14:49] #1494 closed

[2019-06-26 15:17] gkranga opened #1532 "aks-engine deploy error for for service principal with contributor permission"
acs-engine based kubernetes deployment as per the steps in the document ---> https://github.com/Azure/aks-engine/blob/master/docs/tutorials/deploy.md But I get the error as below.

I can resolve this problem by creating a service principal with Owner level access rather than the contributor but this is not the best security practice.

aks-engine deploy --subscription-id xxxxxxxxxx     --dns-prefix

[2019-06-26 17:03] oronboni opened #1534 "Load balancer creation in US DoD"
**Describe the bug**
The loadbalancer in Ingress (Nginx) deployment failed in the creation process.

EnsureHostInPool(ingress/nginx-ingress): backendPoolID(/subscriptions//resourceGroups//providers/Microsoft.Network/
loadBalancers//backendAddressPools/) - failed to ensure host in pool: "azure - cloud provider rate limited(read) for operation:VMSSGetInstanceView"]

**Steps To Reproduce**
Create clu

[2019-06-26 17:21] UnwashedMeme commented on #1515
@jackfrancis When I started digging on this I found https://github.com/Azure/aks-engine/blob/master/parts/k8s/cloud-init/artifacts/mountetcd.sh#L2  The issues I linked above I think were an attempt to undo this and provide some means to enforce ordering but I didn't dig very deeply.

My proposal is as you say, use systemd to handle this: add `RequiresMountsFor=/var/lib/etcddisk` to the `etcd.servi

[2019-06-26 20:42] mboersma commented on #1534
@oroboni the rate-limiting error doesn't sound likely to be specific to a DoD location—if you try a similar cluster in the production cloud, I wonder if we would see the same problem. I'm trying to reproduce this, but no luck so far.

[2019-06-26 20:59] t-chappl opened #1536 "Generate network configuration file for Azure CNI on Azure Stack"
**Describe the request**
Azure CNI does not currently work on Azure Stack. The CNI queries wireserver for the network interface configuration which includes a list of available secondary IP addresses, and then assigns IP addresses to new pods based off that list. Wireserver is not available on Azure Stack at this point in time. In the meantime the Azure CNI will read the network configuration from

[2019-06-26 21:19] t-chappl commented on #1536
Also, here is an example of the json file that Azure CNI needs:
[code]
The response from the rest endpoint has all the required information except for the subnet prefix which will be supplied by AKS Engine.

This is the structure of the ARM rest endpoint that will be used:
[code]

[2019-06-26 22:56] mboersma commented on #1530
@chreichert I'm trying to reproduce this but haven't seen it yet. The `platformFaultDomain` count property only exists for a VM Availability Set, not a VM Scale Set. So presumably the error originates with the 3 masters which are in a VMAS.

Did you create the cluster with `aks-engine` v0.37.3 or an earlier version?

Did you upgrade one minor release at a time, or straight from 1.10.13 to 1.14.3?

[2019-06-26 23:04] t-chappl opened #1539 "feat: set ipam environment to mas in Azure CNI config on Azure Stack"
**Describe the request**
Azure CNI operates differently on Azure and Azure stack, so the ipam environment needs to be set to mas when deploying to Azure stack.

The config file comes zipped up with the cni binaries and looks like this:
[code]
We need it to look like this:
<pre>
{
   "cniVersion":"0.3.0",
   "name":"azure",
   "plugins":[
      {
         "type":"azure-vnet",
         "mode":"bridg

[2019-06-27 00:10] #1515 closed

[2019-06-27 05:50] oronboni commented on #1534
@mboersma there is no problem in the public cloud.
before the ticket created cluster created with the same aks-engine version and the same K8S version in the public cloud and there was no issue with the load balancer (therefore I assume its relate to US DoD).

@mboersma can you please try to check it in US DoD (@CecileRobertMichon can you assist ?)

[2019-06-27 07:39] chreichert commented on #1530
@mboersma The cluster was initially built a while ago with ACS-Engine 0.21.2.
Upgrade path was:
- Upgrade to 1.11.5 with ACS-Engine 0.26.2
- Upgrade to 1.11.6 with AKS-Engine 0.29.1
- Upgrade to 1.12.8 with AKS-Engine 0.37.3
- Upgrade to 1.13.7 with AKS-Engine 0.37.3
- Upgrade to 1.14.3 with AKS-Engine 0.37.2

[2019-06-27 10:03] fazdamoa opened #1541 "Changing to reconcile mode for addons doesn't allow upgrade of tiller or customize coredns"
**Describe the bug**
Upgrading tiller version now reverts to 2.11.0 after 60 seconds due to reconcile mode
Annoying for us as we have to downgrade helm version on all workstations and jenkins slaves to get helm working again (we use 2.13.0) - or reinstall tiller each upgrade?

Coredns configmap customization also doesn't work due to this. coredns-custom configmap doesn't work for us (does it work

[2019-06-27 11:48] chreichert commented on #1530
I could also reproduce the issue by setting up a brand new cluster as described above.
It was not necessary to execute all upgrades up to 1.14.3. After upgrading to k8s 1.12.8 with AKS-Engine 0.37.3, scaling any agentpool with AKS-Engine 0.37.3 fails as described above.

[2019-06-27 15:57] mboersma commented on #1541
@fazdamoa in AKS Engine v0.37.3, the CoreDNS change was reverted, so you should be able to customize the ConfigMap again. For `helm init --upgrade` to stick, currently you'd have to edit the tiller deployment manifest to replace `Reconcile` with `EnsureExists`.

Without `Reconcile`, addons weren't being upgraded during `aks-engine upgrade`. You can read the discussion about the tradeoffs [here](ht

[2019-06-27 16:04] fazdamoa commented on #1541
The CoreDNS change was reverted (to EnsureExists) in 0.37.2 - but was put back to reconcile in 0.37.3?
See commit
https://github.com/Azure/aks-engine/commit/5d48814d6995e50373c50fed6d4aad07fdef4271

Currently it is being wiped every 60 seconds when customized (on 0.37.3)

I can see the tradeoffs and fully understand :) as long as I can customize CoreDNS somehow...
Apologies for poor formatting/if

[2019-06-27 16:57] mo-saeed commented on #1541
@fazdamoa You can always change the config in the addons folder on any of the master machines (/etc/kubernetes/addons), from Reconcile to EnsureExists as @mboersma mentioned. then run helm upgrade

[2019-06-27 17:22] CecileRobertMichon commented on #1534
Did you try https://github.com/Azure/aks-engine/issues/420#issuecomment-459928040 ?

[2019-06-27 17:48] jackfrancis commented on #1536
From a high level this sgtm, thanks for spec'ing this out in the open for public commentary!

[2019-06-27 17:49] CecileRobertMichon commented on #1531
Good catch @idanlevin. `Standard_D2_v3` in fact does _not_ support acdelerated networking, as per https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli#supported-vm-instances, as it only has 2 vCPUs: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/sizes-general#dv3-series-1

https://github.com/Azure/aks-engine/commit/813c78e87552bf3984515f361a129

[2019-06-27 17:54] #494 closed

[2019-06-28 01:05] CecileRobertMichon commented on #1046
keep open

[2019-06-28 11:26] fazdamoa commented on #1541
Thanks, updating the addons files fixed the issues. Although after the upgrade both our production cluster and dev cluster CoreDNS pods were failing the readiness probe.

Adjusting timeoutSeconds to 5 on the CoreDNS deployment has fixed the issue

[2019-06-28 11:42] adelina-t opened #1546 "kubernetes.io labels set via --node-label are unsupported for 1.16"
Kubernetes upstream PR: https://github.com/kubernetes/kubernetes/pull/79305  restricted the  labels that can be applied on the node via the kubelet --node-label flag.

It basically errors out if the user tries to set labels that contain the "'kubernetes.io" namespace and are not part of the allowed set [1] or contain the allowed prefix [2][3].

In aks-engine, --node-flags set here [4] are not vali

[2019-06-28 11:43] adelina-t commented on #1546
/cc @jackfrancis  @CecileRobertMichon  FIY as a known problem for 1.16 support when it is planned.

/cc @PatrickLang

[2019-06-28 16:20] CecileRobertMichon commented on #1546
/cc @mboersma

[2019-06-28 16:23] mboersma commented on #1546
Thanks for the heads up @adelina-t.

[2019-06-28 18:00] #1528 closed

[2019-06-28 20:04] #1115 closed

[2019-06-29 15:32] #807 closed

[2019-06-29 16:32] #1023 closed

[2019-06-29 20:32] #750 closed

[2019-06-30 04:52] oronboni commented on #1534
Are you sure that in this case this solution is the correct ? (The teams not using the cluster yet and the traffic is low)

[2019-06-30 13:20] #616 closed

[2019-06-30 16:23] oronboni commented on #1534
The cluster is operational.
The problem is with system identity (cannot allocate public IP from different resource group)

[2019-06-30 16:23] #1534 closed

[2019-06-30 17:54] msbecker opened #1550 "Windows nodes don't join cluster if using custom net"
**Describe the bug**
I am creating a custom vnet and two subnets for an AKS mixed-node cluster, with one subnet for the master and another for the workers. When I run "kubectl get nodes", it returns the Linux worker nodes, but not the Windows worker nodes.
I am able to ping the Linux worker node IP addresses from the master node, but not the Windows worker node IP addresses, even though all worker

[2019-07-01 09:32] fazdamoa commented on #1541
Actually, adjusting timeoutSeconds only has worked on one of our clusters.
Our 'prod' cluster (not actually very prod yet) CoreDNS won't start at all due to readiness probe:

`kubectl logs -n kube-system coredns-5fbbc9f6b4-jrsf7
.:53
2019-07-01T09:00:05.873Z [INFO] plugin/reload: Running configuration MD5 = 9973ba6ef6abfdd262e55113ee44f8bc
2019-07-01T09:00:05.873Z [INFO] CoreDNS-1.5.0
2019-07-01T0

[2019-07-01 12:23] ahoereth commented on #773
Running into the same problem here on latest aks-engine and azure cli -- using `sudo aks-engine ...` works, but is no permanent solution.

[2019-07-01 13:04] invidian opened #1551 "docker-monitor and kubelet-monitor units are failing on CoreOS"
**Describe the bug**
Because of wrong path to `health-monitor.sh` script, both `docker-monitor.sh` and `kubelet-monitor.sh` systemd units are currently failing. You can find following messages in journal:
[code]

This is caused because on CoreOS, the script is placed in `/opt/bin`, rather than `/usr/local/bin`: https://github.com/Azure/aks-engine/blob/master/parts/k8s/cloud-init/masternodecustomda

[2019-07-01 13:09] mfabiani-av opened #1552 "kubeconfig file on jumpbox is broken"
**Describe the bug**
The kubeconfig on the jumpbox is broken: it contains "\n" wherever there should be a new line, and all the ' " ' characters are escaped:

```{\n        \"apiVersion\": \"v1\",\n        \"clusters\": [\n            {\n                \"cluster\": {\n                    \"certificate-authority-data\": ...```

**Steps To Reproduce**
Create a cluster with this configuration:
[code

[2019-07-01 13:20] hkamel opened #1553 "UAE North and UAE Central regions are missing from certificate host names"
**Describe the bug**
When trying to provision a new cluster on UAE regions, I'm getting an invalid certificate as uaenorth and uaecentral regions DNS prefix are not added to the certificate allowed hosts
**Steps To Reproduce**
Provision a cluster in UAE North and try to check cluster info using kubectl cluster-info

You will get an error

**Expected behavior**
UAE regions (uaenorth and uaecentral)

[2019-07-01 16:30] CecileRobertMichon commented on #1534
Glad to hear that. Let us know if you run into more issues.

[2019-07-01 16:43] CecileRobertMichon commented on #773
@ahoereth are you using `--auth-method client_secret` as [Munish pointed out](https://github.com/Azure/aks-engine/issues/773#issuecomment-490431778)?

[2019-07-01 16:46] CecileRobertMichon commented on #1552
@mfabiani-av thanks for reporting, sounds like a recent regression. I've labeled this as good first issue since it should be an easy one to repro + fix. If anyone wants to pick this up and needs guidance feel free to @ me in a comment.

[2019-07-01 16:47] ahoereth commented on #773
No, but I am also running locally on macos, not inside a docker container. The goal is to use cli as auth method and it worked previously.

[2019-07-01 16:50] CecileRobertMichon commented on #773
In that case you should use `--auth-method cli`. The `device` auth-method which was previously default was deprecated a while ago and replaced by client-secret as default.

We still need to investigate why no error is returned before getting to this step if the auth doesn't work.

[2019-07-01 16:53] ahoereth commented on #773
I am using `--auth-method cli` -- same problem.

[code]

[2019-07-01 16:55] CecileRobertMichon commented on #773
And you are logged into az cli? I assume you ran `az login` before running `aks-engine deploy`?

[2019-07-01 16:56] ahoereth commented on #773
Jup, ran `az login` fine before running `aks-engine deploy`. If I use `sudo aks-engine deploy` instead it works. If I do not use `sudo` I get the error stated above: `" failed to load apimodel: failed to get client: Invoking Azure CLI failed with the following error: /bin/zsh: can't open input file: az"`

[2019-07-01 17:33] LiquoriChris opened #1556 "etcd failing to start when using wildcard certificate"
# Is this a request for help?

Yes

# Is this an issue or feature request?

Issue

# What version of aks-engine?

0.37.4

## Kubernetes Version

1.13.5

## What Happened?

etcd.service is failing to start when using a wildcard certificate passed as arguments in aks-engine generate commnd. e.g. aks-engine generate -m apimodel.json -ca-certificate-path ca.pem --ca-private-key-path ca-key.pem

[code]

[2019-07-01 17:45] #1522 closed

[2019-07-01 17:54] jackfrancis commented on #1398
Here is the reference implementation before we cutover to golang object-based ARM template construction.

[2019-07-01 21:00] #1553 closed

[2019-07-01 21:09] #1378 closed

[2019-07-01 22:33] LiquoriChris commented on #1556
Here is my apimodel json file:
[code]

[2019-07-01 23:02] rjaini opened #1557 "feat: Set EtcdDiskSizeGB max default size to 1023 if target platform is Azure Stack"
Set EtcdDiskSizeGB max default size to 1023 if target platform is Azure Stack as the max managed disk size supported on Azs is 1023GB.

[2019-07-01 23:12] #1551 closed

[2019-07-02 07:08] georgewen commented on #1225
has anyone figured out how to domain join a windows node within aks? I am trying to do the same but can't find any documenatation on it.

[2019-07-02 08:49] invidian opened #1559 "Support CoreOS-like Linux distributions"
**Describe the request**

I would like AKS Engine to support Linux distros, which are similar to CoreOS (which set `ID_LIKE=coreos` in `/etc/os-release`).

Flatcar Linux is compatible with CoreOS, so CoreOS provisioning method works just fine on it.

**Explain why AKS Engine needs it**

As what will happen with CoreOS by the end of the year is uncertain, it would be great to keep it's support in A

[2019-07-02 09:34] chauhanprateek89 commented on #542
Here to add +1 to this

[2019-07-02 13:35] invidian commented on #866
I also experience issues with rebooting master node. Currently on CoreOS, kubelet does not bring up pods after a reboot. When you restart `kubelet` after booting, pods are showing up, but kube-apiserver fails to start, complaining that `/etc/kubernetes/certs/proxy-ca.crt` file is empty.

[2019-07-02 16:11] Alwandy commented on #1550
Experiencing the same issue, when using custom vnet with azure CNI the windows nodes won't join the cluster.
This is quite urgent as I am working on creating a windows cluster to merge our on-prem stuff to cloud...

Is there any workaround?? I also noticed no logs and when I ran kubelet.exe I got
``C:\k>kubelet.exe
F0702 16:11:03.124205    3824 server.go:215] [invalid configuration: CgroupsPerQOS

[2019-07-02 18:26] #1158 closed

[2019-07-02 18:35] Alwandy commented on #1550
Seems to be related to https://github.com/Azure/aks-engine/issues/371

[2019-07-02 19:26] #1164 closed

[2019-07-02 19:52] rjaini opened #1563 "feat: Add checks for Metadata, AcceleratedNetworking and etcdDiskSizeGB which are not supported on Azure Stack to fail fast."
feat: Add checks for Metadata, AcceleratedNetworking and etcdDiskSizeGB which are not supported on Azure Stack to fail fast.

[2019-07-02 20:27] CecileRobertMichon commented on #1550
This scenario seemed to be working when https://github.com/Azure/aks-engine/pull/1314#issuecomment-493212424 merged, which means this is likely a regression. Part of this work should be to enable a regular windows + custom vnet test to ensure that this doesn't regress again. /cc @PatrickLang

[2019-07-02 20:52] PatrickLang commented on #1550
@alwandy - were there errors in c:\azuredata\customdata.log?

[2019-07-02 21:09] Alwandy commented on #1550
@PatrickLang
I just RDP into the VM and ran kubelete.exe

[2019-07-02 21:27] CecileRobertMichon commented on #761
/keep open

[2019-07-02 21:30] CecileRobertMichon commented on #1550
Has anyone been able to do this with previous versions of AKS Engine? @Alwandy did you try the same deployment with AKS Engine v0.36?

[2019-07-02 21:54] Alwandy commented on #1550
Doing it now, will update you

[2019-07-02 22:05] PatrickLang commented on #1550
Looking at C:\AzureData\CustomDataSetupScript.log

it ends with this error

[code]

[2019-07-02 22:08] CecileRobertMichon commented on #1550
Definitely seems related to https://github.com/Azure/aks-engine/pull/1314/files

[2019-07-02 22:14] PatrickLang commented on #1550
both `MasterSubnet` and `VNetCIDR` are empty in `c:\azuredata\CustomDataSetupScript.ps1`. That's a problem

[code]

[2019-07-02 22:21] PatrickLang commented on #1550
And that's because `azuredeploy.parameters.json` has:

[code]

[2019-07-02 22:23] CecileRobertMichon commented on #1550
https://github.com/Azure/aks-engine/blob/master/pkg/engine/params.go#L69

[2019-07-02 22:24] Alwandy commented on #1550
Just wanted to add in, I tried 0.36 same issue.
@PatrickLang I'll try redeploy again but this time with vnetcidr set to the subnet range.

[2019-07-02 22:27] CecileRobertMichon commented on #1550
vnetCidr should have a default value... https://github.com/Azure/aks-engine/blob/master/pkg/engine/templates_generated.go#L21493

[2019-07-02 22:40] CecileRobertMichon opened #1566 "OMS agent E2E tests are failing consistently"
How to repro:

With apimodel:
[code]

Run `make test-kubernetes` with GINKGO_FOCUS="should have the expected omsagent cluster footprint"

Fails with:

[code]

[2019-07-02 22:41] CecileRobertMichon commented on #1566
/cc @rashmichandrashekar

[2019-07-02 22:44] Alwandy commented on #1550
@CecileRobertMichon @PatrickLang

Setting the vnetCIDR resolved it.
![image](https://user-images.githubusercontent.com/5923107/60551486-52cb9280-9d23-11e9-8bcd-62ae48100687.png)
Using 0.36 and k8s 1.14.1, will do 0.37.5 and 1.15.0 now.

[2019-07-02 22:53] CecileRobertMichon commented on #1550
Great.

IMO we should leave this issue open to address:

1) Lack of E2E signal for Windows + custom vnet
2) Investigate why the default VnetCidr param value isn't applied
3) Add custom vnet doc specific to Windows

[2019-07-02 22:54] Alwandy commented on #1550
Also VNET CIDR do get a default value, it's the parameter who sets it to NIL.

[code]

[code]

[2019-07-02 22:55] PatrickLang commented on #1550
@CecileRobertMichon

#1 - agree, let's add a test

Agreed on #2 -
`azuredeploy.json`

[code]

azuredeploy.parameters.json overrides this with the empty string. need to root cause that

for the 3rd point - I don't think we need a new doc. there's nothing different once #2 is fixed

[2019-07-02 22:58] #1559 closed

[2019-07-03 00:32] rjaini opened #1567 "feat: default AcceleratedNetworkingEnabledWindows to false if target platform is Azure Stack"
feat: default AcceleratedNetworkingEnabledWindows to false if target platform is Azure Stack

[2019-07-03 13:13] msbecker commented on #1550
I can confirm both the bug and the fix. Using aks-engine v0.37.4, k8s v1.14.3
aks-engine creates a default value for vnetCidr in azuredeploy.json, but the value is left blank in the parameters file. So the default value gets overwritten and set to null. Windows worker nodes fail to join the cluster; the linux nodes do join.
If I manually add my vnet CIDR value to the parameters file and deploy, th

[2019-07-03 14:13] Alwandy commented on #1552
@CecileRobertMichon I'll pick it up since I need to use jump box myself too.. I'll fork and work my way through or any tips?

[2019-07-03 16:10] CecileRobertMichon commented on #1552
@Alwandy thanks! I would start by trying to repro to confirm the bug. Then, you will probably want to start by looking at https://github.com/Azure/aks-engine/blob/master/parts/k8s/kubeconfig.json and https://github.com/Azure/aks-engine/blob/master/parts/k8s/cloud-init/jumpboxcustomdata.yml#L16.

[2019-07-03 16:14] #1531 closed

[2019-07-03 17:08] #1563 closed

[2019-07-03 17:27] #1557 closed

[2019-07-03 18:05] #1567 closed

[2019-07-03 22:29] aramase opened #1573 "apps/v1 api for 1.16 require spec.Selector defined"
**Describe the bug**
1.16 manifests have been updated to use apps/v1 instead of extensions/v1beta1. apps/v1 api version requires a selector to be provided in spec. Otherwise the deployment/daemonset will fail.

[code]

**Steps To Reproduce**

**Expected behavior**

**AKS Engine version**

**Kubernetes version**

**Additional context**
Info in the docs here - https://kubernetes.io/docs/concepts/wor

[2019-07-04 01:33] rashmichandrashekar commented on #1566
Should be fixed now. The workspace that was used for this test was accidentally deleted as a part of a cleanup.

[2019-07-04 13:12] Alwandy commented on #1552
@mfabiani-av
I ran the latest version of AKS with private cluster and could successfully create my private jumpbox and connect to it.

![image](https://user-images.githubusercontent.com/5923107/60669247-c07fd780-9e65-11e9-8e42-a111b1cb72f0.png)

@CecileRobertMichon Seems to be no problem as it creates the jump box fine and configures it fine.

[2019-07-04 13:14] Alwandy commented on #1552
I successfully reproduced the issue.

Will investigate on a fix now.

[2019-07-04 13:36] Alwandy commented on #1552
Looks to be related to `masterVars["kubeconfig"] = escapeSingleLine(kubeConfig)` since it's already being escaped during generating, there's no need to escape it again.

Replacing with `masterVars["kubeconfig"] = kubeConfig` and trying again to see if it resolves the issue.

[2019-07-05 07:21] invidian opened #1576 "Controlplane on rebooted master node running Coreos does not recover"
**Describe the bug**
Currently, when master node runs CoreOS and it's rebooted, either manually by user or by `update_engine`, the controlplane is not coming back.

I tracked it down and it seems to be related to 2 etcd systemd units. On initial provisioning `etcd` unit is running and it handles HTTPS on port 2379, since it reads the configuration from `/etc/default/etcd`. However, after a reboot

[2019-07-05 10:45] mohatb opened #1577 "deployment fail when specifying customSearchDomain"
***Describe the bug***

When using customSearchDomain the deployment fails with the below error:
[code]
looking at code 80 and I see it related to setup setup-custom-search-domains.sh  https://github.com/Azure/acs-engine/blob/master/parts/k8s/setup-custom-search-domains.sh

++ when ssh to the master node and looking at cluster-provision.log we see the below error at the end of the file.

sudo: una

[2019-07-05 17:33] CecileRobertMichon commented on #645
kee open

[2019-07-05 19:31] #1172 closed

[2019-07-06 18:19] #1179 closed

[2019-07-07 10:13] piotrgwiazda commented on #1444
Hi. What was the outcome? Having the same issue in UK South. Tried Kubernetes 1.12.8 and 1.13.5 with kubenet. Works fine for a day or two and then dns lookups become slower until they timeout.

[2019-07-07 15:58] mo-saeed opened #1580 "[BUG-0.37.4] Installing Cluster fails with exist code 99"
**Describe the bug**
Installation of kubernetes 1.13.6 with aks-engine 0.37.4 fails with the following error:
[code]
`ERR_APT_UPDATE_TIMEOUT=99 # Timeout waiting for apt-get update to complete`

It seems that it's related to this change https://github.com/Azure/aks-engine/pull/1538

**Steps To Reproduce**
Install a new k8s cluster (1.13.6) with aks-engine 0.37.4

**Expected behavior**
To be able t

[2019-07-07 16:05] mo-saeed opened #1581 "[BUG-0.37.4] Scaling up/down fails with Changing property 'platformFaultDomainCount' is not allowed"
**Describe the bug**
- Install kubernetes cluster 1.13.5 with version 0.33.2
- Upgrade to 1.14.3 with version 0.37.4
- Scale up one node
Got this error:
```{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"Conflict","message":"{\r\n \"err

[2019-07-08 09:19] mtgerb opened #1583 "tiller container image not updated to version specified in apimodel.json upon cluster upgrade"
**Describe the bug**

The tiller deployment is not updated to the container image specified in the apimodel.json when upgrading the cluster

**Steps To Reproduce**

1. Create a cluster with kubernetes version 1.14.3
2. Change the container image of the tiller addon in the created apimodel.json to gcr.io/kubernetes-helm/tiller:v2.12.3
3. Run a cluster upgrade with -f

**Expected behavior**

The con

[2019-07-08 15:12] tumluliu commented on #1580
Have met the same issue with aks-engine *0.37.4* and k8s *1.15.0*

[2019-07-08 16:30] CecileRobertMichon commented on #1581
related to #1530

[2019-07-08 16:30] CecileRobertMichon commented on #1580
Looking

[2019-07-08 16:37] CecileRobertMichon commented on #1580
This is due to the clear-containers key expiring:

[code]

[2019-07-08 16:51] CecileRobertMichon commented on #1580
Kata / clear containers regenerated the keys so this issue should be fixed now, @mo-saeed @tumluliu can you please confirm?

[2019-07-08 16:56] mo-saeed commented on #1580
@CecileRobertMichon I never used kata/clear containers, but anyway i will try to deploy the cluster and will update you

[2019-07-08 16:58] CecileRobertMichon commented on #1580
@mo-saeed the clear containers apt source is pre-baked in the base Ubuntu image the VMs are built with, that's why you would see this error even without specifying clear containers.

[2019-07-08 17:14] TongChen15 opened #1585 "Introducing B12, B16 & B20 - new larger B-series VM sizes with flexible CPU usage"
**Describe the request**
We have heard our customers asking for larger B-series VM sizes, and CRP has released three new B-series sizes: B12ms, B16ms and B20ms. These are lower cost VMs with flexible CPU usage. The following link explains more details about this request.
https://azure.microsoft.com/en-us/updates/larger-b-series-vm-sizes-now-available/

**Explain why AKS Engine needs it**
AKS needs

[2019-07-08 17:22] mo-saeed commented on #1580
@CecileRobertMichon  I still have the same issue ```}
Deployment failed. Correlation ID: 7c9d0dc0-5138-4bad-ae61-5791caec4908. {
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisioning state 'Failed'.",
    "details": [
      {
        "code": "VMExtensionProvisioningError",
        "message": "VM has r

[2019-07-08 17:26] dave-schmitz opened #1586 "AKS Engine generate defaults same Windows version regardless of Offer"
**Describe the bug** - When trying to create cluster with "WindowsServerSemiAnnual" offer and no version specified, aks-engine adds version "17763.557.20190604" in in the azuredeploy.parameters.json and results in "PlatformImageNotFound" error when trying to deploy to Azure.

**Steps To Reproduce**
I used the following kubernetes.json template and then run
- `.\aks-engine.exe generate .\kubernetes

[2019-07-08 17:28] CecileRobertMichon commented on #1580
@mo-saeed could you please ssh into the master VM and send me the output of `tail /var/log/azure/cluster-provision.log`?

Also what apimodel are you using and what region? I'll try to repro as well.

I'm also working on [v0.38.0](https://github.com/Azure/aks-engine/releases/tag/v0.38.0) right now so I'd be interested in knowing if it repros there if you're able to build from source. If not, I'll u

[2019-07-08 17:30] davidmatson commented on #737
/lifecycle remove-stale
/lifecycle frozen

[2019-07-08 17:31] mo-saeed commented on #1580
Here's the log :

[code]

[2019-07-08 17:45] CecileRobertMichon commented on #1583
Hi @mtgerb, this is by design.

Addon images get set to the default for that component during upgrades to ensure that they are known working with that k8s version.

See https://github.com/Azure/aks-engine/blob/aadf3445f73abe2b9b6669da581b140360df03f7/docs/topics/clusterdefinitions.md#addons for more details.

[2019-07-08 17:45] #1583 closed

[2019-07-08 18:34] t-chappl opened #1588 "test: remove dependency on httpmock for Azure Stack unit tests"
**Describe the request**
Several Azure Stack unit tests have a dependency on `gopkg.in/jarcoal/httpmock.v1` for mocking http requests. With the new version of Azure SDK for Go this mocking library no longer works, making these unit tests fail. We need to rewrite the tests to spin up an actual server that can return mock responses.

**Explain why AKS Engine needs it**
This unblocks https://github.c

[2019-07-08 20:00] t-chappl opened #1590 "feat: change windows profile defaults for Azure Stack"
**Describe the request**
Currently AKS Engine defaults to the following windows image:
[code]
This image is not available on Azure Stack. Users have to change the image in the cluster configuration every time they use AKS Engine. We want to change AKS Engine to use different defaults on Azure Stack so that users can deploy without having to change the cluster definition.

**Explain why AKS Engine

[2019-07-08 20:23] CecileRobertMichon commented on #1580
@mo-saeed can please you share your apimodel? I still can't repro...

[2019-07-08 20:30] mo-saeed commented on #1580
@CecileRobertMichon
[code]

[2019-07-08 20:41] CecileRobertMichon commented on #1580
Thanks. Ive time, can you please give https://github.com/Azure/aks-engine/releases/tag/v0.38.0 a try?

[2019-07-08 20:45] mo-saeed commented on #1580
Sure, let me try.

[2019-07-08 20:57] mo-saeed commented on #1580
@CecileRobertMichon Now it works 👍 What was the change ?

[2019-07-08 21:21] PatrickLang commented on #1550
@msbecker can you give 0.38.0 a try? it has this fix https://github.com/Azure/aks-engine/releases/tag/v0.38.0

[2019-07-08 21:45] CecileRobertMichon commented on #1580
@mo-saeed I'm not sure I still haven't been able to repro. I might just be that the expired key was regenerated by the Kata folks since you last tried. Or it could be that the base image used by v0.37.4 has the expired key but not the one used by v0.38.0. I still need to get to the bottom of this.

[2019-07-08 23:19] #1590 closed

[2019-07-08 23:19] #1588 closed

[2019-07-09 00:03] #1552 closed

[2019-07-09 00:23] CecileRobertMichon commented on #720
keep open

[2019-07-09 00:27] CecileRobertMichon commented on #1580
I still couldn't repro with 0.37.4 using the same apimodel. I'm going to assume this was fixed by the regenerated key.

opened #1587 as a secondary fix.