[2020-01-22 22:57] jackfrancis opened #2618 "kata-containers broken for Ubuntu 16.04-LTS"
The download URL we depend upon for Ubuntu 16.04-LTS + kata-containers no longer exists. See:

http://download.opensuse.org/repositories/home:/katacontainers:/releases:/x86_64:/stable-1.7/

(Note the lack of a `xUbuntu_18.04/` subdir)

[2020-01-22 22:58] CecileRobertMichon commented on #2618
https://github.com/kata-containers/documentation/tree/master/install#supported-distributions

[2020-01-22 23:05] jackfrancis commented on #2618
Filed https://github.com/kata-containers/kata-containers/issues/128

[2020-01-23 19:33] jadarsie opened #2621 "Automate subnet configuration for the kubenet + BYO-VNET use case"
**Describe the request**
It would be more convenient for users if we could simplify kubenet+BYO-VNET deployments.

Right now, it is required to [manually set the subnet's route table](https://github.com/Azure/aks-engine/blob/master/docs/topics/features.md#kubenet-networking-custom-vnet) once the deployment completes.

[2020-01-23 23:04] sozercan commented on #2551
@jaer-tsun what did you mean by `resolved via scanner changes`?

[2020-01-24 02:44] #1152 closed

[2020-01-24 16:51] devigned commented on #2294
/backlog

[2020-01-24 16:54] eox-dev opened #2622 "az aks browse now results in ERR_CERT_INVALID on 1.17 cluster"
[code]
This was working on a 1.14 I had. Made a 1.17 and now this doesn't seem to work. Just get this error:

![image](https://user-images.githubusercontent.com/59094233/73087092-cb906880-3e86-11ea-903f-e4067011a1a3.png)

Tried incognito, clear browse cache, [reseting the credentials](https://docs.microsoft.com/en-us/azure/aks/update-credentials), and also made sure to [ClusterRoleBinding](https:/

[2020-01-24 17:46] jackfrancis commented on #2622
Hi @eox-dev, this issue queue is for `aks-engine` specifically, which doesn't speak to the issue you're having w/ `az aks` (an AKS cluster).

There is an AKS issue queue:

https://github.com/Azure/AKS/issues

Additionally, AKS is a managed service, meaning that you may open up an Azure support issue via the standard channels, and your request will be routed back to an AKS engineer.

[2020-01-24 17:49] mboersma commented on #2215
I provisioned two clusters using current AKS Engine, one with `Standard_D4s_v3` and one with `Standard_D32s_v3` for the agent pool. Both of them show "Premium SSD" in the OS Disk section:
![Untitled](https://user-images.githubusercontent.com/73019/73091064-dc48da80-3e96-11ea-88f3-033a7e6f3613.png)

Is this still an issue for you with AKS Engine v0.46.0? Any other ideas about how to reproduce it?

[2020-01-24 17:51] #2622 closed

[2020-01-24 17:51] jackfrancis commented on #2616
Hi @sd2303, what you can do is fork Azure/aks-engine into your personal github account, create a branch, manually change the yaml file in `extensions/prometheus-grafana-k8s/v1/prometheus_values.yaml` on your fork+branch, and then change the `rootURL` to point to your fork + branch:

"rootURL": "https://raw.githubusercontent.com/sd2303/aks-engine/<branch>/"

The aks-engine template generator will t

[2020-01-24 17:52] jackfrancis commented on #2616
See https://github.com/Azure/aks-engine/blob/master/docs/topics/extensions.md for more info, and let us know if the docs need any TLC (feel free to submit a PR w/ changes as well if you struggle through this based on the docs not being 100% clear/accurate!)

[2020-01-24 19:07] juan-lee commented on #1306
@CecileRobertMichon did we ever try setting `NTP=ntp.ubuntu.com` in /etc/systemd/timesyncd.conf?

[2020-01-24 19:13] jackfrancis commented on #1306
@mkozioro we did look into chrony, see my comment here:

https://github.com/Azure/aks-engine/issues/984#issuecomment-484253109

@juan-lee we *do* use `ntp.ubuntu.com`, although it appears that in practice we use this by default, not explicitly:

[code]

[2020-01-24 19:43] #2367 closed

[2020-01-24 19:43] #2373 closed

[2020-01-24 22:34] goatmale commented on #2215
@mboersma we are going to try this weekend and follow up.
Thanks!

[2020-01-27 03:55] popsikle commented on #2621
Its not hard to do in a bash script (yes, it should be part of aks-engine imho) but we just drop this into our bootstrap script that kicks off a cluster.  We use terraform for RG+VNET+SN creation, so we can dont need to look up vnets or anything but you could do it with like jq or something.

[code]

[2020-01-27 10:58] gionapaolini opened #2630 "Create cluster with specific k8s version?"
Hi,

I saw that I can get the available versions with the command

`aks-engine get-versions`

but how do I actually choose it at cluster creation? I didn't find anything so far in the docs.

[2020-01-27 12:04] gionapaolini commented on #2630
Solved, I just needed to add a line on the kubernetes.json

[code]

[2020-01-27 12:04] #2630 closed

[2020-01-27 18:56] palma21 commented on #2609
Also CC @MikkelHegn

[2020-01-27 22:32] sd2302 commented on #2616
Thanks @ jackfrancis

I will give this a shot.

[2020-01-28 01:45] jackfrancis opened #2637 "scale operations on linux node pools throw superfluous error"
Scale operations throws a superfluous error message:

`ERRO[0005] resource name was missing from identifier`

This doesn't (seemingly) affect the actual scale operation, but it is unsettling.

[2020-01-28 10:43] #2280 closed

[2020-01-28 18:13] PacoGuy commented on #2215
Hi @mboersma, when you did that test did you use a custom image?
We are still seeing "Standard HDD" when we use the following:
`    "agentPoolProfiles": [
      {
        "name": "services",
        "count": 1,
        "ipAddressCount": 34,
        "imageReference": {
          "name": "dev0.46.0NodeImagerelease-1.3.55",
          "resourceGroup": "Buy.NBAS.DSS.DEV.Compute"
        },
        "vmS

[2020-01-28 18:17] PacoGuy commented on #2215
Oh, and that was with aks-engine version v0.46.0 and a new image built using the same.
From Packer creating the image:
`    "os_type": "Linux",
    "os_disk_size_gb": "150",
    "image_publisher": "microsoft-aks",
    "image_offer": "aks",
    "image_sku": "aks-ubuntu-1604-202001",
    "image_version": "2020.01.15",

    "azure_tags": {
        "dept": "Intelligence Studio",
        "task": "aks n

[2020-01-28 19:21] marosset opened #2641 "Billing extension for Windows has linux in arm resrouce name"
**Describe the bug**
The arm fragment for an aks-engine windows billing extension looks like

[code]

Which can be confusing because the name has linux in it.

**Steps To Reproduce**

- Create an api model with a windows node
- Use `aks-engine generate` to generate arm resources
- Inspect arm resources

**Expected behavior**
Windows resources should not have linux in the name

**AKS Engine version

[2020-01-28 19:45] jackfrancis opened #2642 "scaling a Windows VMSS node pool creates a new VMSS"
Create a new cluster with a Windows pool named "poolwin". You'll get a VMSS node pool like this:

[code]

(The `4128k8s03000000` and `4128k8s03000001` nodes above are part of a VMSS named `4128k8s03`)

When you use `aks-engine scale` and pass in the `--node-pool poolwin` arg, instead of scaling the above `4128k8s03` VMSS, it creates a new node pool backed by a VMSS named `4128k8s00`.

Ostensibly t

[2020-01-28 19:55] mboersma commented on #2215
I did not. That's probably the difference–let me do more testing.

[2020-01-28 21:35] PacoGuy opened #2645 "Master Node ILB not registering backend pool"
**Describe the bug**
When deploying a new cluster with aks-engine v0.46.0 with 3 masters the master-internal-lb is not automatically registering any of the masters with the backend pool.

**Steps To Reproduce**
Provision using the following apimodel, attempt to run 'kubectl get nodes' from the master or locally after copying the config:
[code]
The master nodes are accessible and ready, we can ssh

[2020-01-28 21:36] PacoGuy commented on #2645
Oh, and this same version of aks-engine used to launch a single master cluster works as expected.

[2020-01-28 23:43] jackfrancis commented on #2645
Hi @PacoGuy, repro'd :(

Almost certainly a regression from this:

https://github.com/Azure/aks-engine/pull/2572

(There's even a check-box that confirmed the existing Basic LB + 3 master scenario 🤦‍♂ )

We'll fix this and cut a patch release. Also, you might consider changing to Standard LB, which by itself isn't very interesting (who wants to choose a Load Balancer SKU???), but which is required

[2020-01-29 01:28] jackfrancis commented on #2645
@PacoGuy I'm hopeful the fix is as easy as this:

https://github.com/Azure/aks-engine/pull/2646

I'll poke the team tomorrow to do a review, and I'll cut a patch release after it merges to master.

[2020-01-29 13:14] iMacX commented on #542
+1

[2020-01-29 15:30] PacoGuy commented on #2645
Thank you @jackfrancis. Looks like we will stick to 0.45.0 for this release of our code but will validate this aks-engine patch release asap for our next deployment window.

[2020-01-29 17:35] #2645 closed

[2020-01-29 19:18] mboersma commented on #2215
Is it possible Packer is defaulting to `Standard_LRS` in the [`managed_image_storage_account_type`](https://packer.io/docs/builders/azure-arm.html#managed_image_storage_account_type)?

[2020-01-29 19:41] marosset commented on #2215
If the images are created with package can you check the 'Account type' of the images?
In the azure portal you can see that in the overview page of the image.

That value is set when the image is created and I believe is inherited when VMs are created from the image.

[2020-01-29 19:55] PacoGuy commented on #2215
Hmm you both might be on to something with that @marosset @mboersma

I'm looking into testing with that param defined and the latest version of Packer, but I did find this bug referring to a possible problem with the Azure api for the creation of these disks: https://github.com/hashicorp/packer/issues/7304

[2020-01-29 22:15] #2247 closed

[2020-01-29 22:16] jackfrancis commented on #2511
Fixed in #2572

[2020-01-29 22:16] #2511 closed

[2020-01-29 22:18] jackfrancis opened #2648 "Epic: Metrics for AKS Engine"
* Users should be able to easily see their consumption of aks-engine capabilities
* Users should be able to share those metrics with the aks-engine community
* aks-engine community should be able to view aggregate non-identifiable data

Some questions the data should help to answer:
* What versions are running?
* What features are being used?
* What VHDs are being used?

[2020-01-29 22:40] jackfrancis commented on #1519
This should be addressed by https://github.com/Azure/aks-engine/pull/2572

[2020-01-29 22:40] #2 closed

[2020-01-30 00:28] #2605 closed

[2020-01-30 17:28] #2558 closed

[2020-01-30 17:54] #2580 closed

[2020-01-30 20:36] sd2302 opened #2652 "kube-proxy config configmap missing - where is it ? needed for Prometheus operator"
**Describe the bug**

Per https://github.com/helm/charts/tree/master/stable/prometheus-operator

for Prometheus to scrape kubelet, we need to change kublet config as below

kubectl -n kube-system edit cm kube-proxy

But in aks-engine this cm for kube-proxy is missing

So where is the config for kubelet ?

we need change the following metricsBindAddress for prometheus to work correctly

apiVersion:

[2020-01-30 22:40] jackfrancis commented on #542
Thanks, everyone on this thread for your patience.

In fact updating `--max-pods` is possible by using `aks-engine upgrade` or `aks-engine scale` (the latter only works against node pool vms, but this particular configuration change is usually desired on schedulable nodes, not control plane nodes) with a modified api model JSON input to the `upgrade` or `scale` command. I'll demonstrate an example

[2020-01-30 22:44] #2637 closed

[2020-01-30 22:44] #2642 closed

[2020-01-30 22:59] jackfrancis commented on #2652
Hi @sd2302, the `kube-proxy` spec we deliver is defined here:

- https://github.com/Azure/aks-engine/blob/master/parts/k8s/addons/kubernetesmasteraddons-kube-proxy-daemonset.yaml

(for k8s < 1.16)

1.16-1.18 have version-specific specs:

- https://github.com/Azure/aks-engine/blob/master/parts/k8s/addons/1.16/kubernetesmasteraddons-kube-proxy-daemonset.yaml
- https://github.com/Azure/aks-engine/blo

[2020-01-30 23:17] jackfrancis commented on #2652
Actually the >= 1.16 kube-proxy specs have a `kube-proxy-config` ConfigMap defined.

On a 1.16 cluster I just built w/ aks-engine:

[code]

[code]

Note that ConfigMap is named `kube-proxy-config`. The prometheus docs suggest that's normal.

Ref:

https://github.com/helm/charts/tree/master/stable/prometheus-operator#kubeproxy

[2020-01-31 00:27] sd2302 commented on #2652
@jackfrancis
Thanks.

I am on 1.15.4

Where would I put the metricsBindAddress: 0.0.0.0:10249 in the daemonset.apps/kube-proxy ?

[2020-01-31 00:29] jackfrancis commented on #2652
You'll have to add the configmap yourself on 1.15.4, as aks-engine didn't create one on cluster creation.

[2020-01-31 00:39] sd2302 commented on #2652
Thanks, even in 1.16, where exactly would i put the metricsBindAddress: 0.0.0.0:1024 ?

I dont see kind: KubeProxyConfiguration in the 1.16 configmaps

[2020-01-31 00:50] jackfrancis commented on #2652
Looks like it wants it in the `config.conf` data key. There isn't one in the aks-engine-provided ConfigMap in >= 1.16, so you'll have to add it (probably via `vi`) when you do `kubectl -n kube-system edit cm kube-proxy-config`.

[2020-01-31 01:00] sd2302 commented on #2652
Thanks.

In 1.15.4, i tried to add --metrics-bind-address=0.0.0.0:10249 in the kube-proxy spec as below but the deamonset is not taking it

   spec:
      containers:
      - command:
        - /hyperkube
        - kube-proxy
        - --kubeconfig=/var/lib/kubelet/kubeconfig
        - --cluster-cidr=10.240.0.0/12
        - --feature-gates=ExperimentalCriticalPodAnnotation=true
        - --proxy-m

[2020-01-31 01:04] jackfrancis commented on #2652
Right, the above is adding an additional arg `--metrics-bind-address` to the `kube-proxy` runtime; I assume that the `kube-proxy` runtime doesn't expect that argument.

[2020-01-31 01:08] sd2302 commented on #2652
Per this https://kubernetes.io/docs/reference/command-line-tools-reference/kube-proxy/

it support it but unsure why the aks-engine deamon-set not taking it ?

--metrics-bind-address 0.0.0.0     Default: 127.0.0.1:10249
--
  | The IP address for the metrics server to serve on (set to 0.0.0.0 for all IPv4 interfaces and `::` for all IPv6 interfaces)

[2020-01-31 01:10] jackfrancis commented on #2652
Those are the 1.17 docs, perhaps it was introduced after 1.15?

FWIW, there's nothing special about the `kube-proxy` that aks-engine delivers, it's the vanilla, upstream package.

[2020-01-31 01:13] sd2302 commented on #2652
i am going to deploy aks 1.17 tomorrow and test this out. i really need to deploy prometheus-operator helm chart and prometheus is not discovering the targets b/c of the --metrics-bind-address issue

[2020-01-31 01:17] jackfrancis commented on #2652
Thanks for sticking it out, let us know how that goes!

[2020-01-31 09:14] sukhong commented on #2377
We were testing with high number of agent nodes today (75 agent nodes), and we were randomly getting this error when I deploy the ARM template to create a cluster (VMSS was failing to be provisioned).

[2020-02-01 00:20] #2277 closed

[2020-02-01 06:46] #2363 closed

[2020-02-01 17:46] #1425 closed

[2020-02-02 03:23] AbelHu opened #2666 "setWindowsProfileDefaults always fills WindowsSku to AKSWindowsServer2019OSImageConfig.ImageSku when they are empty even if WindowsPublisher is not AKSWindowsServer2019OSImageConfig.ImagePublisher"
**Describe the bug**
https://github.com/Azure/aks-engine/blob/master/pkg/api/defaults.go#L704-L725

setWindowsProfileDefaults always fills WindowsSku to AKSWindowsServer2019OSImageConfig.ImageSku when they are empty even if WindowsPublisher is not AKSWindowsServer2019OSImageConfig.ImagePublisher

**Steps To Reproduce**

1. Create a k8s cluster
1. Add a Windows Pool with WindowsServer2019OSImageCon

[2020-02-02 14:32] yc-zc opened #2667 "no kind "Deployment" is registered for version "apps/v1beta2""
**Describe the bug**
no kind "Deployment" is registered for version "apps/v1beta2"

**Steps To Reproduce**

run make prow at https://github.com/Azure/aks-engine/tree/master/.prowci

**Expected behavior**

**AKS Engine version**

**Kubernetes version**
kubernetes 1.17.0

**Additional context**
https://kubernetes.io/blog/2019/09/18/kubernetes-1-16-release-announcement/

[2020-02-03 16:07] #2667 closed

[2020-02-03 20:16] sd2302 commented on #2652
I re-deployed using 16.4 and tried to update the kube-proxy-config configmap and it immediately removes it

Is that a aks-engine issue ?

i really need to have kube-proxy-config persist the value of metricsBindAddress: 0.0.0.0:10249

sysdev@imabvlsys-496:~/aks-engine/aksengine-testbluev2/_output/tdcmastertestbluev2-5e38750b$ kubectl describe cm/kube-proxy-config -n kube-system
Name:         kube-p

[2020-02-03 20:32] jackfrancis opened #2672 "Enable "mode" configuration for all addons"
Like the `cluster-autoscaler` addon, we should allow user-configurable `Reconcile` or `EnsureExists`.

[2020-02-03 20:32] jackfrancis commented on #2652
Ah, yes. That's because:

`addonmanager.kubernetes.io/mode: Reconcile`

in the ConfigMap spec.

in the kube-proxy spec. You could do this right now. On each master vm:

`$ sudo vi /etc/kubernetes/addons/kube-proxy-daemonset.yaml`

Change the above to this in the ConfigMap spec:

`addonmanager.kubernetes.io/mode: EnsureExists`

Then, kick the `kube-addon-manager` pod to pick up the new settings:

`

[2020-02-03 21:02] devigned opened #2673 "Add data collection notice to readme"
Collecting telemetry requires a notice to the community in the readme of the repo.

[2020-02-03 21:11] mboersma opened #2675 "Fetch kube binaries from Azure builds"
**Describe the request**
AKS Engine references dl.k8s.io for the kubernetes-node-linux-amd64.tar.gz archive, from which we get the `kubelet` and `kubectl` binaries. Now that Azure Pipelines are producing these same archives, let's use those.

Refs #2545

**Explain why AKS Engine needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-02-04 00:02] jackfrancis opened #2677 "containerd + Azure CNI has no DNS resolution"
Our E2E tests are failing thusly:

[code]

[2020-02-04 01:13] karataliu commented on #2582
Reverted:
https://github.com/kubernetes/kubernetes/pull/87507

[2020-02-04 01:13] #2582 closed

[2020-02-04 18:29] sd2302 commented on #2652
@jackfrancis

Thanks. that worked.

With 16.4 K8 version, we are getting the metrics from Prom/Grafana helm operators and stack but yet the kubelet shows down in Prom configs. I need to open a bug with the Prom operator team. and i will update here how that goes. Right now even after  setting  metricsBindAddress: 0.0.0.0:10249, it is prom is scraping to internal-node-ip:10249

[2020-02-04 18:35] sd2302 opened #2679 "External Elasticsearch addon ?"
**Describe the request**

How can we forward the pods and kube-system logs to external ELK stack ?

Official documentation sayings this but where do we set this in aks-engine ?

https://kubernetes.io/docs/tasks/debug-application-cluster/logging-elasticsearch-kibana/

To use Elasticsearch and Kibana for cluster logging, you should set the following environment variable as shown below when creating

[2020-02-05 01:25] PatrickLang opened #2684 "Add dynamicportrange configuration for Windows nodes"
**Describe the request**

Windows currently has an issue where you can't run > 260 services on a single cluster or things break.

https://docs.microsoft.com/en-us/virtualization/windowscontainers/kubernetes/common-problems#load-balancers-are-plumbed-inconsistently-across-the-cluster-nodes

**Describe the solution you'd like**

That guide has a workaround to allow Kubernetes to use more ports. This

[2020-02-05 16:26] mboersma opened #2685 "Need to move to cni-plugins v0.8.5"
**Describe the request**

**Explain why AKS Engine needs it**
Kubernetes 1.18.0-alpha.3 has made the switch.

See #2682

[2020-02-05 17:27] #2575 closed

[2020-02-05 17:53] Timost opened #2686 "Can't create LowPriority Pool anymore"
**Describe the bug**
Since 2020/02/04 I have been unable to create a cluster with a low priority node pool using aks-engine. This was still working on 2020/01/30.

I'm not sure the issue is with aks-engine, so sorry in advance if it's not.
**Steps To Reproduce**
[code]
I'm creating the cluster using:
[code]

And I get the following error:
[code]
I tried many combination of zones / VM sku without s

[2020-02-05 18:40] CecileRobertMichon commented on #2686
@Timost low priority VMs are deprecated and replaced by Spot VMs. See  https://github.com/Azure/aks-engine/blob/master/docs/topics/clusterdefinitions.md#agentpoolprofiles for more details.

[2020-02-05 18:57] Timost commented on #2686
@CecileRobertMichon yes indeed. I've been getting the same error with a Spot based agent pool profile though:
[code]

[2020-02-05 19:05] CecileRobertMichon commented on #2686
@Timost we run a lot of our tests using Spot VMs and haven't seen any failures in the last few hours, is it possible that you don't have quota for that VM size in that region?

[2020-02-05 19:54] Timost commented on #2686
As far as I can tell, our quotas are good.
One thing that may be the source of the problem is that I'm using a sponsorship subscription for which it would seem that Spot instances are not available but I could use Low priority Vms just fine until 3 days ago, so I'm kind of at a loss.

 It feels like this restriction has been transfered to Low priority VMs as well, but I'm not sure if this is even

[2020-02-05 20:05] CecileRobertMichon commented on #2686
Have you tried deploying a simple Spot VM in that subscription of that same size without using aks-engine?

[2020-02-05 20:10] Timost commented on #2686
Yes I get the same unhelpful error... So this is probably not an issue with aks-engine. I contacted micosroft support but they haven't been able to help me resolve that. Thank you for taking the time to help me !

[2020-02-06 12:14] tdelfairere opened #2691 "NSG Service tag for AKS"
According to https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic, AKS requires some specific flow in order to work properly.

Those flow filtering are based on TCP/UDP ports and FQDN  based destination.

Nevertheless, Network Security Group does not support FQDN. So it implies to allow full internet flows.

Could you implement a specific service tag in the NSG which could be used in th

[2020-02-06 16:06] MikkelHegn commented on #2609
Briefly looking at the deployment, the Custom Script Extension which installs K8 on the Windows nodes failed, but I don't have more data than that. To get the data we need you to set up a supprot case.

Thanks.

[2020-02-06 19:12] alexeldeib commented on #1025
doesn't seem like azure has 20.04 available yet? I did an `az vm image list --all --publisher Canonical` and found 12.04 up to 19.10.

[2020-02-06 19:43] matthiaswenz commented on #1025
@alexeldeib  I suspect switching to 20.04 would be looking forward unless we're considering pre-release software. Ubuntu 20.04 LTS is currently planned to be released 04/23/2020.

[2020-02-06 19:49] alexeldeib commented on #1025
Not by default, of course :) azure publishes lots of different builds, I was curious if maybe there was a nightly build of 20.04 (the official docker releases already have focal for example).

[2020-02-06 21:04] Timost commented on #2686
Just got the confirmation from azure support that the Low Priority cores have been discontinued on February 3rd, 2020 and replaced with SPOT cores which are not available for the sponsorship subscription I'm using.

The issue was not comming from aks-engine so sorry for opening this issue in the wrong place and thank you again for your help ! I'm closing this.

[2020-02-06 21:04] #2686 closed

[2020-02-06 22:58] jackfrancis commented on #2652
Thanks for keeping us up-to-date. Bon courage

[2020-02-07 00:08] #2684 closed

[2020-02-07 18:26] ritazh opened #2695 "Deprecate keyvault flexvol and switch to csi driver"
**Describe the request**

**Explain why AKS Engine needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-02-07 18:27] #2366 closed

[2020-02-07 18:30] ritazh commented on #2695
Pending csi driver repo move to kubernetes-sigs

[2020-02-07 20:10] #2666 closed

[2020-02-08 02:36] #2385 closed

[2020-02-08 10:12] AkihiroSuda commented on #2422
no stale

[2020-02-08 20:11] #2283 closed

[2020-02-08 21:11] #2389 closed

[2020-02-09 07:51] #2202 closed

[2020-02-09 23:51] devigned commented on #2208
/backlog

[2020-02-09 23:55] devigned commented on #2208
/label backlog

[2020-02-10 15:31] kwaazaar commented on #1706
Hi, running into this issue again. AKS running Kubernetes 1.14.8. Shouldn't this have been resolved?

I try to find the AKS-engine version used by AKS. I used this statement: az vm show -n aks-agentpool-24722116-2 -g MC_aks-acc-rg_aahnl-kubernetes-acc_westeurope --query tags
This is the output:
[code]

[2020-02-10 19:29] nithinkumarsirigir opened #2698 "SMTP configurations in kubernetes cluster"
**Describe the issue**
cluster configured in my Azure Subscription and we had configured grafana

we are traying to do mail configuration error messages saying that

error messages : SMTP configuration error

[2020-02-10 19:44] devigned commented on #2698
Can you provide more information that this? Perhaps, add some steps to reproduce.

The error message is extremely vague, and It's not clear to me where you are encountering the message. I'm afraid that in this state, this issue will have difficulty being resolved.

[2020-02-10 20:01] palmerabollo commented on #1851
Just in case it's useful, we have seen it a couple of times in the last few weeks with aks-engine 0.45.0.

[2020-02-10 20:02] jackfrancis commented on #1851
@palmerabollo Thanks for sharing. We still occasionally observe this in E2E tests as well. Does manually deleting the pods that fail to start fix things for you?

[2020-02-10 20:45] nithinkumarsirigir commented on #2698
![image](https://user-images.githubusercontent.com/33519642/74188410-5b4e5900-4c74-11ea-963d-019ca3ec3c14.png)

[2020-02-10 21:06] devigned commented on #2698
How did you build the cluster? How did you setup the cluster? How did you setup Grafana?

Please reply with steps to reproduce this issue.

[2020-02-10 21:10] nithinkumarsirigir commented on #2698
@sharan.vantipalli@gmail.com can you please elaborate devid's questions

[2020-02-10 21:12] nithinkumarsirigir commented on #2698
By az cli we have build cluster with nodes of 2 and for that monitoring we have configured Helm services with grafana during that time notify alerts we have configuring SMTP services with help of yaml file

[2020-02-10 21:20] devigned commented on #2698
I believe your Grafana deployment has not been configured with SMTP details. I think those are probably specified in your helm chart configuration: https://github.com/helm/charts/tree/master/stable/grafana#configuration.

I did a quick search engine query and came up with this document: https://community.grafana.com/t/smtp-not-configured-check-your-grafana-ini-config-files-smtp-section/1113. It lo

[2020-02-10 21:20] #2698 closed

[2020-02-11 17:04] marosset opened #2704 "Windows CSE should add retry when downloading files"
We are seeing occasional failures in sig-windows test passes when trying to download windows binaries. These binaries are generated on during the test pass and cannot be cached in the VHDs.

We should add a simple retry here to reduce flakes in the sig-windows test passes.

[2020-02-11 17:06] marosset commented on #2704
/cc @adelina-t  FYI

[2020-02-11 20:54] mboersma opened #2708 "Update artifact URLs for Azure China cloud"
**Describe the bug**
In implementing #2545 we ignored several changes that may impact Mooncake. Now we have included publishing artifacts to Mooncake-accessible storage and backfilled them. Example URL:
https://kubernetesartifacts.blob.core.chinacloudapi.cn/img/<img-tarball>

We should audit the code, update azure.cn URLs and test things.

[2020-02-11 23:08] #2410 closed

[2020-02-12 00:07] #2673 closed

[2020-02-12 14:54] AbelHu opened #2712 "aks-engine does not set correct vnetCidr for agent pools"
**Describe the bug**
Current aks-engine always sets vnetCidr for all agent pools to `10.0.0.0/8`.  From the code in https://github.com/Azure/aks-engine/blob/master/parts/k8s/kuberneteswindowssetup.ps1#L92, caller should set "vnetCidr" to the address space of the vnet used by cluser.

But vnetCidr is only set in https://github.com/Azure/aks-engine/blob/master/pkg/engine/params.go#L64 to the value o

[2020-02-12 19:07] shgoldbe commented on #2285
I'm also facing this issue

[2020-02-13 10:13] Nilubkal opened #2720 "Use non-experimental version of encryption provider config flag in 1.13+"
**Describe the request**
Following the kube-apiserver references: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/ seems that the flag  `--experimental-encryption-provider-config ` has been changed since `v1.13+` to `--encryption-provider-config`
**Explain why AKS Engine needs it**
Keep the flags in-sync with the official documentation
**Describe the solution you'd

[2020-02-14 10:23] AbelHu commented on #2712
I tested with setting `MasterProfile.VnetCidr` and hit below error. It seems like that we should not use MasterProfile for hosted master.
[code]

[2020-02-14 15:18] baboune opened #2726 "Support for VM ScaleSet automatic upgrade at AKS creation/update"
**Describe the request**
We are looking for solutions for keep linux nodes in the VMSS up to date with security patches.

**Explain why AKS Engine needs it**
Security.

**Describe the solution you'd like**
An additional flag at AKS provisioning time that would allow to enable this feature.

`allowVMScaleSetAutoUpgrade: true
`

Maybe in the LinuxProfile section?

https://github.com/Azure/aks-engine

[2020-02-14 15:32] kwaazaar commented on #1706
I'm seeing these errors again:
Events:
  Type     Reason                  Age                      From                               Message
  ----     ------                  ----                     ----                               -------
  Normal   SandboxChanged          24m (x353 over 7h3m)     kubelet, aks-agentpool-24722116-7  Pod sandbox changed, it will be killed and re-created.
  War

[2020-02-14 22:37] gynet commented on #805
If this is an issue closed with some fix, why this doc does not tell the customers about it and let it happen again and again?  https://docs.microsoft.com/en-us/dotnet/architecture/containerized-lifecycle/design-develop-containerized-apps/build-aspnet-core-applications-linux-containers-aks-kubernetes

[2020-02-14 23:13] #2720 closed

[2020-02-15 01:04] #2101 closed

[2020-02-15 01:04] #1046 closed

[2020-02-15 01:04] #2419 closed

[2020-02-15 17:05] #2106 closed

[2020-02-17 06:29] nilo19 opened #2733 "Some config of kube-controller-manager doesn't work."
**Describe the bug**

I set

[code]
But the `"--configure-cloud-routes"` remains true after the cluster has been built.

**Steps To Reproduce**

**Expected behavior**

`--configure-cloud-routes=false`

**AKS Engine version**
v0.46.3

**Kubernetes version**
1.17

**Additional context**
/kind bug

[2020-02-17 07:35] palmerabollo commented on #1742
I think this might be related https://github.com/Azure/aks-engine/issues/1851

[2020-02-17 09:24] nilo19 opened #2734 "Cannot enable custom extension on master."
**Describe the bug**

I want to enable an extension on master but the deployment failed.

Here's the aks-engine config file

[code]

Here's the log during `az group deployment create -g "" --template-file "" --parameters ""`

[code]

BTW, if I enable flag `singleOrAll` in master profiles, the `aks-engine generate` would fail.

[code]

[code]

**Steps To Reproduce**

Create a cluster with a custom

[2020-02-17 16:04] devigned commented on #2734
@nilo19, the stack trace you are seeing from Azure CLI is probably caused by a bug in the CLI as evidenced by the following:
[code]

With that said, the deployment is causing an error, which is probably an issue in aks-engine. Since Azure CLI is blowing up before we can see the underlying error, we need to see what is happening at the HTTP level. To get this information, run `az group deployment c

[2020-02-17 16:50] iqsarv opened #2735 "Unable to mount persistent volume in sgx-backed aks(on Standard_DC4s/DC2s instances)"
**Describe the bug**
Getting the following error when using PVC in a pod

[code]

Node shows 0 attachable-volumes-azure-disk
[code]

**Steps To Reproduce**
Use PVC with sgx-backed AKS resource created using aks-engine

**Expected behavior**

PVC should be mounted

[2020-02-18 01:50] nilo19 commented on #2734
This is HTTP logs after enabling `--debug` and `--verbose`

[code]

It seems that the azure-cli issue isn't the root cause and it complains that my template is invalid.

[2020-02-18 02:26] devigned commented on #2734
If you examine the error message, you will find the error is caused by your subscription being over quota. Perhaps, resolving that problem will enable you to deploy the template.

[2020-02-18 02:28] nilo19 commented on #2734
yeah, found that too. I am doing the validation. thanks.

[2020-02-18 03:21] wumingcp opened #2736 "Is the new Windows OS version 10.0.17763.1039 compatible with AKS Engine/Kubernetes?"
**Describe the request**

Is the new Windows OS version 10.0.17763.1039 compatible with AKS Engine/Kubernetes

**Explain why AKS Engine needs it**

As the new Windows OS version 10.0.17763.1039 has been released, and it fixes some sucurity issues. **To meet security requirements**, we need to upgrade Windows nodes on k8s cluster to that version, and the k8s cluster is deployed to Azure by AKS Engi

[2020-02-18 05:32] nilo19 commented on #2734
/close

[2020-02-18 05:32] #2734 closed

[2020-02-18 05:32] nilo19 commented on #2733
/close

[2020-02-18 05:32] #2733 closed

[2020-02-18 09:24] PascalVA opened #2737 "Kubelet server should not use a self signed certificate"
**Describe the bug**
By default, when deploying a new cluster, the kubelet on each node generates a self-signed certificate and uses it for the kubelet server. The kubelet certificates should be generated from the CA that issues the kube-apiserver certificates (or another CA if preferred). The  **--kubelet-certificate-authority** flag should then be set on the apiserver flag to make sure connectio

[2020-02-18 15:37] andyzhangx commented on #2735
@iqsarv what's your k8s version? is it recovered now?

[2020-02-18 22:58] #2448 closed

[2020-02-18 22:58] #2117 closed

[2020-02-19 08:45] DreamRivulet commented on #2736
There's a known issue this update: https://support.microsoft.com/en-sg/help/4542617/you-may-encounter-issues-when-using-windows-server-docker-container-im
If this update is installed on windows container, then the container will become unresponsive...
One suggested mitigation way is :
"We strongly recommend to update the container host to the February 11, 2020 security update for Windows (note: bo

[2020-02-19 09:22] PascalVA opened #2740 "Packer user not fully cleaned up after cluster deploy (cloud init?)"
**Describe the bug**
When deploying a new cluster, the packer user and its home directory are cleaned up. However, the packer user remains in the sudoers with NOPASSWD even though the user does not exist.
[code]

**Steps To Reproduce**
Deploy a kubernetes cluster, log in to a node and run:
[code]

**Expected behavior**
packer should not be in **/etc/sudoers.d/90-cloud-init-users** even if the user

[2020-02-19 15:04] vasily-codefresh opened #2741 "aks-engine does not expose cluster-autoscaler-status"
**Describe the bug**

**Steps To Reproduce**

* create a cluster on Azure via aks-engine, enable autoscaling
* `kubectl -n kube-system get cm cluster-autoscaler-status`
* `=> Error from server (NotFound): configmaps "cluster-autoscaler-status" not found`

**Expected behavior**

there should be a `cluster-autoscaler-status` map that has the cluster-autoscaler status.

**AKS Engine version**
0.46.3

[2020-02-19 15:49] vasily-codefresh commented on #2741
oops, the map is there

[2020-02-19 15:49] #2741 closed

[2020-02-19 16:32] #2712 closed

[2020-02-19 17:16] jackfrancis commented on #2740
@CecileRobertMichon, is this a gap we can address, or is there something about the packer + VHD process that makes this especially difficult/tricky?

[2020-02-19 17:16] jackfrancis commented on #2736
@marosset are you able to answer these questions?

[2020-02-19 17:23] CecileRobertMichon commented on #2740
It shouldn't be, and I'm surprised this is the case it should be taken care of in the deprovision step, https://github.com/Azure/aks-engine/blob/master/vhd/packer/vhd-image-builder.json#L216 not sure why it isn't.

[2020-02-19 17:28] jackfrancis opened #2743 "SGX driver installation fails"
It appears that recent updates to Ubuntu 18.04-LTS have broken the current SGX driver installation:

[code]

[2020-02-19 17:29] marosset commented on #2736
The problems listed in the support article above are less related to aks-engine/kubernetes and more related to starting containers on Windows in general.

If your container images are able to start/run on hosts running 10.0.17763.1039 (Feb 2020 patches) then your container images should run fine in kubernetes clusters with hosts also running 10.0.17763.1039.

On Feb 18th new nanoserver and serverc

[2020-02-19 17:30] marosset commented on #2736
We plan on making 10.0.17763.1039 the default in aks-engine sometime this week.
As always you can specify the exact image version used in the clusterdefinition / apimodel file.
https://github.com/Azure/aks-engine/blob/master/docs/topics/clusterdefinitions.md#marketplace-images

[2020-02-19 22:49] shliderm opened #2747 "Support a configuration that does not add service principal to worker nodes"
**Describe the request**
The current behavior of AKS-engine is to push service principal credentials to all nodes in the cluster.
In a multi tenant scenario, it is desirable to disallow azure credentials from the nodes.
One such scenario is a case where some nodes in the cluster expose external-facing API endpoints, and thus can be more easily compromised. Once compromised, it's better that the at

[2020-02-19 23:00] devigned commented on #2747
Should we require the flag to opt out or opt into having identities on all of the nodes. Upon first thought, it seems like we should default to only having credentials or managed identities on the master nodes.

Anyone have any opinions on this?

[2020-02-19 23:44] jackfrancis commented on #2747
@devigned without thinking deeply about this, I agree that my bias is to assume the current way we do things (paving creds onto worker nodes) as "wrong", and we should fix that.

[2020-02-20 01:45] wumingcp commented on #2736
Is that recommanded both container image and host upgrade to 10.0.17763.1039 if we want to run some 32-bit container apps?

[2020-02-20 05:00] marosset commented on #2736
I haven't tested 32-bit container apps with 10.0.17763.1039 and our guidance is always to test things in your environment.

I do however see the following wording in https://support.microsoft.com/en-sg/help/4542617/you-might-encounter-issues-when-using-windows-server-containers-with-t under the **Mitigation for 32-bit applications silently failing...**

So it may be a requirement to match containe

[2020-02-20 06:34] wumingcp commented on #2736
Thanks very much, it's very helpful for us, and we will use 10.0.17763.1039 for container image and host to fix the issue about 32-bit app silently failing and to meet security requirement

[2020-02-20 06:34] #2736 closed

[2020-02-20 15:02] PascalVA commented on #2737
When this is fixed, `--kubelet-insecure-tls` can also be removed from the config of metrics-server

[2020-02-20 20:02] #2370 closed

[2020-02-20 22:05] vinaycs0035 opened #2758 "Issue while deploying AKS-engine using latest binary version."
Not able to create AKS-ENGINE with latest version.Below is the error i am facing.

**cli.azure.cli.core.util : Deployment failed.. {
  "error": {
    "code": "InvalidParameter",
    "message": "The value of parameter publisher is invalid.",
    "target": "publisher"
  }
}**

And i assume that error refers to the Publisher Parameter related to **extensions** config of ARM template.

Below is config

[2020-02-21 17:20] jackfrancis opened #2762 "intermittent container networking errors when backed by containerd"
E2E tests regularly run this basic container networking DNS test after building a cluster:

[code]

We are getting intermittent failures to receive a terminal zero exit code state of the above on clusters running w/ Azure-built containerd:

[code]

The errors:

[code]

We wait up to 2 minutes before throwing an error in E2E.

[2020-02-21 17:20] jackfrancis commented on #2762
These errors are observed across Kubernetes versions, not restricted to v1.18.0

[2020-02-21 17:21] jackfrancis commented on #2762
@cpuguy83 @ritazh FYI

[2020-02-21 18:16] jackfrancis commented on #2758
Hi @vinaycs0035, it doesn't look like these URLs are valid, which should be according to your spec:

- https://test01.blob.core.windows.net/extensions/test1/v1/test1.sh
- https://test2.blob.core.windows.net/extensions/test2/v5/test2.sh

[2020-02-21 19:40] jackfrancis opened #2764 "container-monitoring addon doesn't work w/ containerd"
This is probably known, but documenting here as a PSA.

Specifically:

[code]

[2020-02-21 19:40] jackfrancis commented on #2764
@cpuguy83 @ritazh @ganga1980 FYI

[2020-02-21 19:48] jackfrancis commented on #2762
Confirmed that increasing the timeout to 20m does not remove the flakes. Next step: soak tests.

[2020-02-21 19:49] ganga1980 commented on #2764
@jackfrancis,  container log format got changed in containerd  and also there is no docker.sock.  I am actively working on adding the support for containerD or any other CRI compatiable runtime. I am targeting to add this support by end of this month. If any of the AKS-engine customer blocked on this, please ask them to reach out me so that I can share the private bits to try out.

[2020-02-21 19:56] jackfrancis commented on #2764
Thanks @ganga1980! I'm unaware if anyone is trying (and failing) to use this combination currently. In our investigation of the viability of using containerd as the default CRI for AKS Engine clusters, we want to call out any gaps compared to moby/docker.

Definitely let us know if you need help testing your efforts to make omsagent containerd-compatible!

[2020-02-21 20:02] richardg1 opened #2765 "aks-engine upgrade fails with "Error creating upgraded master VM: k8s-master-32409061-0""
**Describe the bug**

Upgrading an existing 1.15.7 cluster to 1.16.1 using aks-engine upgrade fails with the error :

    INFO[0355] Starting ARM Deployment master-20-02-21T18.55.20-225466320 in resource group sym-rgdev-01. This will take some time...
    time="2020-02-21T18:55:20Z" level=info msg="Error creating upgraded master VM: k8s-master-32409061-0"   Error: upgrading cluster: resources.Depl

[2020-02-21 22:15] jackfrancis commented on #2765
Hi @richardg1, which version of `aks-engine` did you build the 1.15.7 from?

[2020-02-23 06:29] #2476 closed

[2020-02-23 12:29] #2477 closed

[2020-02-23 15:23] richardg1 commented on #2765
Hi @jackfrancis, I also used 0.45.0 to build the cluster a few hours before attempting the upgrade. I had used the aks-engine scale command to successfully add a node to the client pool before attempting the upgrade to 1.61

Just about to try creating them upgrading a new cluster with 0.47

[2020-02-23 16:03] richardg1 commented on #2765
Just attempted the same test using 0.47.0 and got the same error. This time upgrading from Kubernetes 1.15.10 to 1.16.6

[code]

[2020-02-23 20:29] #2344 closed

[2020-02-23 23:29] #2324 closed

[2020-02-23 23:29] #2343 closed

[2020-02-24 13:42] jprecuch opened #2770 "aks-engine upgrade exited with "Errors occurred while preparing VM disks" and left master unusable"
**Describe the bug**
We were trying to upgrade our aks-engine cluster from 1.12.8 to 1.13.11 today but we ended with error and couldn't upgrade it.

**Steps To Reproduce**
1. We checked cluster is healthy and is on 1.12.8.
2. We upgraded aks-engine to version v0.43.2
3. We run the upgrade command
`aks-engine upgrade \
--subscription-id xxx-xxx-xxx-xxx \
--api-model /root/_output/k8seastus2euapdc/a

[2020-02-24 17:55] jackfrancis commented on #2770
@jprecuch could you re-try `aks-engine upgrade` using v0.47.0 of aks-engine and report back?

[2020-02-24 18:57] jackfrancis opened #2773 "docker-monitor doesn't start"
This is troubleshooting a containerd-backed node/vm, so perhaps this needs to be repro'd on a moby-backed node/vm, but it appears that the `docker-monitor` systemd service timer isn't doing anything:

[code]

[2020-02-24 21:01] ritazh opened #2777 "Update to EncryptionConfiguration"
**Describe the bug**

**Steps To Reproduce**

**Expected behavior**

**AKS Engine version**

**Kubernetes version**

**Additional context**
https://kubernetes.io/docs/tasks/administer-cluster/kms-provider/#encrypting-your-data-with-the-kms-provider

[2020-02-24 22:46] jackfrancis commented on #2765
I'm attempting to reproduce, stand by.

[2020-02-24 22:55] jackfrancis commented on #2765
@marosset in case you've already confirmed in the past that extensionProfiles functionality definitely means your cluster isn't upgradeable (that's what I suspect is going on here, attempting to repro).

[2020-02-24 23:05] marosset commented on #2765
@jackfrancis Yes, if you use if you use the extensionProfiles you can no longer perform upgrades

[2020-02-24 23:47] jackfrancis commented on #2762
From containerd logs on a vm that is running a pod/container exhibiting this symptom:

[code]

[2020-02-24 23:56] jackfrancis commented on #2762
Can confirm that all pods/containers running on the affected vm has a common symptom of no networking.

[2020-02-24 23:57] jackfrancis commented on #2762
Also can confirm that the vm itself doesn't appear to have any networking issues.

[2020-02-25 00:16] #2489 closed

[2020-02-25 01:33] jackfrancis commented on #2762
Ugh, this appears to be as simple as the coredns pod getting into a hung state.

[code]

[2020-02-25 01:36] jackfrancis opened #2779 "Update coredns to 1.6.7"
See:

https://github.com/coredns/coredns/releases/tag/v1.6.7

[2020-02-25 01:37] jackfrancis commented on #2779
@jchauncey @sozercan to confirm that MCR automatically scoops in new coredns releases

[2020-02-25 04:29] sozercan commented on #2779
yep, available at `mcr.microsoft.com/oss/kubernetes/coredns:1.6.7`

[2020-02-25 13:22] jprecuch commented on #2770
It seems issue is on Azure side where they were forcing encryption of volumes.

[2020-02-25 13:22] #2770 closed

[2020-02-25 13:41] jprecuch opened #2782 "aks-engine upgrade is stuck on node upgrade with invalid configuration: 'commandToExecute' is not specified""
**Describe the bug**
We tried to upgrade with aks-engine from 1.12.8 to 1.13.11 today. It worked fine for master nodes, however when it continued further to nodes it got stuck on first one. It updated vmss and started first new node. However the node never goes fully to Running state. It's stuck in "Creating (Running)" state forever.
When I checked all the logs on new node aks-engine started all I

[2020-02-25 14:59] jchauncey commented on #2779
We need a good way for you to know if we have published an image already.

[2020-02-25 16:48] jackfrancis commented on #2779
If the build pipeline could automatically create an issue like this one that would be 💯

[2020-02-25 17:00] jchauncey commented on #2779
opening a single issue per image update might be a bit spammy. What if we just opened a single issue with the images that we are building for a given trigger run?

[2020-02-25 17:30] jackfrancis commented on #2779
I actually disagree, I would love an issue per component image!

[2020-02-25 20:46] #2779 closed

[2020-02-25 20:52] jackfrancis commented on #2782
@jprecuch What is the VMSS status after the failed upgrade (by looking either in the portal or CLI).

Another option because your control plane (master nodes) are already @ 1.13 is to use `aks-engine addpool` to add a new nodepool. You could add a pool w/ a count of 1 to see if it works, then (according to quota and how you want to do the migration) cordon/drain the existing nodes and observe the

[2020-02-26 01:13] RickyRajinder opened #2788 "Example Template Deployment is not valid according to the validation procedure"
**Describe the bug**
When trying to deploy a cluster in `westus` using https://github.com/Azure/aks-engine/blob/master/examples/windows/kubernetes-hybrid.json, I get a validation error and the cause is unclear.

**Steps To Reproduce**

apimodel:
[code]
**Expected behavior**
Cluster successfully deployed

**AKS Engine version**
v0.47.0

**Additional context**
The output of
[code]
is:
[code]
The out

[2020-02-26 08:51] jprecuch commented on #2782
@jackfrancis This already happened on two of our clusters in two different regions. Exactly same scenario. The VMSS status is left to be "Updating" and first instance is in "Creating (Running)" state as I didn't specify any timeout for VM upgrades.

There is no documentation about aks-engine addpool. It asks me for --node-pool option but I don't have any nodepool.json file.
Would be better to figu

[2020-02-26 14:29] iqsarv commented on #2735
@andyzhangx apologies for late reply

it has not recovered.
Below is the version
[code]

[2020-02-26 15:42] andyzhangx commented on #2735
what's your vm size? could you ssh to the node and provide "/dev/disk/azure/" struct?
it could be similar to this issue: https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/212

[2020-02-26 15:53] iqsarv commented on #2735
I am using DC2s

[code]

Taking a look at the issue you attached

[2020-02-26 16:11] andyzhangx commented on #2735
this fix(https://github.com/kubernetes/kubernetes/pull/86612) is only in v1.18 or on latest csi driver, do you want to cherry-pick to old version?

[2020-02-26 16:36] iqsarv commented on #2735
sure, I will upgrade to this version and recheck

[2020-02-26 17:49] jackfrancis commented on #2782
@jprecuch Understood, that all makes sense. The extension that is timing out is the CustomScriptExtension attached to the VM (or VMSS instance in this case), which is the vector we use to execute bootstrap scripts on the node. It's the `/opt/azure/containers/provision.sh` script in your output pasted above.

What does `/var/log/azure/cluster-provision.log` report on the VMSS instance that was unab

[2020-02-26 19:19] jackfrancis commented on #2782
O.K., my repro cluster (built w/ aks-engine v0.41.0) looks like this:

[code]

Will attempt upgrade to 1.13.11 using aks-engine v0.47.0 now...

[2020-02-26 19:32] jackfrancis commented on #2762
One bit of data: I am unable to reproduce this on a cluster w/ a node-scheduled coredns (i.e., not scheduled onto a master vm). If I manually edit the coredns deployment to add a `kubernetes.io/role: master` nodeSelector, I can reproduce very easily, it's roughly 50/50 it seems.

Something about containerd-backed containers running on master nodes yields a container w/ a non-working network stack.

[2020-02-26 19:35] jprecuch commented on #2782
@jackfrancis /var/log/azure/cluster-provision.log is not even created. I hope you will be able to reproduce. I've tried to use same aks-engine version cluster was deployed with but it was same issue we hit.

[2020-02-26 19:53] jackfrancis commented on #2782
So I did get an annoying error on my first upgrade attempt ☹️ :

[code]

But then I re-ran upgrade and it picked up where it left off:

[code]

The first failure is definitely a bug somewhere. I'll try again.

This is the input api model I'm using w/ aks-engine v0.41.0 (if you know exactly which version of aks-engine you used to create the cluster that would help) btw:

[code]

[2020-02-26 20:05] jprecuch commented on #2782
@jackfrancis this cluster was created with aks-engine version 0.41.2
Here are some additional outputs (not sure if it will help somehow)
[code]
[code]
[code]
[code]

[2020-02-26 20:09] jackfrancis commented on #2782
What does `/var/log/azure/custom-script/handler.log` say?

[2020-02-26 20:12] jprecuch commented on #2782
See below. The same commandToExecute error
[code]

[2020-02-26 20:19] azharudheen1990 opened #2792 "Kubernetes node going to unknown state"
Nodes in Kubernetes cluster are going to Unknown state often and requires redeploy and reboot of nodes to bring it back online.

Details of Cluster :
Region: North Central
Subscription: Sensitive Prod, Resource Group: loyalty-prod-sen-acs02
Latest Occurrences:
1. Node k8s-master-21337720-1 -  02/26 11 AM CT - till now
2. Nodes : k8s-ltyprod2n012-21337720-0, k8s-ltyprod2n012-21337720-1, k8s-ltyprod

[2020-02-26 20:24] vinaycs0035 commented on #2758
@jackfrancis  I have only modified the blob and script names, instead of giving the details the ones(what i use). But Can you let me know whats the issue with the URL or the info ??

[2020-02-26 20:54] jackfrancis commented on #2782
Do you have any additional tooling that is running Extensions against the VMs after aks-engine creates the cluster? @marosset does this look like the same symptom we've seen when using `extensionProfiles` in cluster config? (This cluster doesn't look to be using that, but for some reason `aks-engine upgrade` is producing templates with no `commandToExecute`.

[2020-02-26 20:55] jackfrancis commented on #2758
Those URLs are responding w/ 404.

[2020-02-26 20:59] jackfrancis commented on #2762
I've pretty confidently triaged the failure vector to whether or not a container (in this instance coredns is the container that's triggering E2E failures) is scheduled to a master node (w/ hostNetwork: false).

Azure CNI, kubenet, are not suspected.

[2020-02-26 21:05] jackfrancis commented on #2792
Can you `kubectl describe <nodename>` a node when it's in this state?

[2020-02-26 21:09] jprecuch commented on #2782
@jackfrancis I will need to check it out with people responsible for deploying our clusters. Will update once I have that information.
In meantime is there any "workaround" how to fix this template to contain all needful stuff and let aks-engine upgrade to succeed? Thanks

[2020-02-26 21:12] azharudheen1990 commented on #2792
Here is the output:

Name:               k8s-master-21337720-1

Roles:              master

Labels:             beta.kubernetes.io/arch=amd64

                    beta.kubernetes.io/instance-type=Standard_D4s_v3

                    beta.kubernetes.io/os=linux

                    failure-domain.beta.kubernetes.io/region=northcentralus

                    failure-domain.beta.kubernetes.io/zone=0

[2020-02-26 21:14] jackfrancis commented on #2792
Is the kubelet running on that node? Anything interesting in `sudo journalctl -u kubelet`?

[2020-02-26 21:15] azharudheen1990 commented on #2792
I am unable to ssh into the node currently.

Thanks,
Azhar

From: Jack Francis <notifications@github.com>
Reply-To: Azure/aks-engine <reply@reply.github.com>
Date: Wednesday, February 26, 2020 at 3:14 PM
To: Azure/aks-engine <aks-engine@noreply.github.com>
Cc: "Azharudheen R, Mohamed" <mohamed.azharudheenr@walgreens.com>, Author <author@noreply.github.com>
Subject: Re: [Azure/aks-engine] Kubernete

[2020-02-26 21:18] mboersma commented on #2792
If the inability to ssh to the node coincides with the node going into `Unknown` state, that might suggest network connectivity problems.

[2020-02-26 21:18] jprecuch commented on #2782
@jackfrancis It seems we were using custom script extensions after cluster was deployed to install additional software on our VMs.

[2020-02-26 21:28] jackfrancis commented on #2782
O.K., now we're getting somewhere! (Aren't where we wanna be, which is an operational cluster, but we'll get there...)

Let's try `aks-engine addpool`.

1) update the canonical apimodel.json to use the desired `orchestratorRelease` and `orchestratorVersion` values (make sure they aren't 1.12 before running `aks-engine addpool`.
2) Copy the agentPoolProfile object at name "node" into a new JSON fil

[2020-02-26 21:32] jprecuch commented on #2782
Thanks @jackfrancis I will test this out tomorrow with new pool and let you know the output(s). Question for clusters which we still plan to upgrade. Are there any steps we can take before aks-engine upgrade is run to prevent them ending in same state this one did?

[2020-02-26 21:37] jackfrancis commented on #2782
@jprecuch This doc aims to describe how you can incorporate `aks-engine upgrade` successfully into your workflow:

https://github.com/Azure/aks-engine/blob/master/docs/topics/upgrade.md

I've created PR #2795 w/ some additions about CSE dangers. Please feel free to criticize that doc, and/or open up a PR w/ any suggestive changes.

Also just any input on how to effectively FYI folks on "read this

[2020-02-26 21:38] azharudheen1990 commented on #2792
Could you please guide us here on next steps since this started happening all of a sudden.

From: Matt Boersma <notifications@github.com>
Reply-To: Azure/aks-engine <reply@reply.github.com>
Date: Wednesday, February 26, 2020 at 3:18 PM
To: Azure/aks-engine <aks-engine@noreply.github.com>
Cc: "Azharudheen R, Mohamed" <mohamed.azharudheenr@walgreens.com>, Author <author@noreply.github.com>
Subject:

[2020-02-26 21:39] vinaycs0035 commented on #2758
Yeah!! Accessing those URL's doesn't work, because i didnot want to give Valid URL's.
 But i still feel, AKSengine binary is creating the ARM template in wrong way.(especially the **extensionsprofiles** block that we give in the input JSON).

For one the extensionsProfles, this is block generated in the ARM template (using latest binary).

    **{
      "apiVersion": "[variables('apiVersionCompute

[2020-02-26 21:55] mboersma commented on #2792
`Unknown` node status means the controller hasn't heard from the node for 40 seconds or more. That could be because the `kubelet` process on the node was unresponsive or died, or because network traffic failed during that time.

So we should try to determine what happened on the node during the event. The kubelet log on the node may show us something. The kernel logs on the node could also be info

[2020-02-26 22:00] mboersma commented on #2792
It's also possible that enabling the [`node-problem-detector`](https://github.com/Azure/aks-engine/blob/master/examples/addons/node-problem-detector/README.md) addon on this cluster could surface some underlying problems and expose them in the kube-apiserver logs.

[2020-02-26 22:01] jackfrancis commented on #2758
This is the code flow where the master extension is compose for extensionProfiles:

 https://github.com/Azure/aks-engine/blob/master/pkg/engine/engine.go#L1036

It's a bit dusty here, as this is not actively maintained due to its not working w/ `aks-engine upgrade`, if you see something that looks wrong there or has regressed, let us know!

[2020-02-26 22:04] paulomarquesc commented on #2782
Hi @jackfrancis, do we have any issues with Azure Key Vault VM Extension being deployed on VMSS after the fact as well? I ask this because this component is a major component that allows our services to rely on Key Vault for certificate rotation. Please let us know if that is the case as well.

[2020-02-26 23:04] jackfrancis commented on #2782
@paulomarquesc Unknown, I would recommend building a test cluster, execute your key vault extension foo, and then try an upgrade. Would love to hear your report back.

[2020-02-27 02:39] paulomarquesc commented on #2782
Thanks @jackfrancis. I'll test it and let you and @jprecuch know about this one.

[2020-02-27 02:47] andyzhangx commented on #2735
the latest `1.18.0-beta.1` on aks-engine should have the fix:
https://github.com/Azure/aks-engine/blob/904ef95a173b82f0c834f232ad973f4786776ed4/pkg/api/common/versions.go#L182

[2020-02-27 02:48] andyzhangx commented on #2735
/assign

[2020-02-27 03:03] andyzhangx commented on #2735
I was wrong, this issue is already fixed in 1.15.8, 1.16.5, 1.17.1, 1.18.0, let me know if you have any questions.

[2020-02-27 03:03] #2735 closed

[2020-02-27 05:28] #176 closed

[2020-02-27 05:28] #528 closed

[2020-02-27 05:28] #1902 closed

[2020-02-27 05:28] #1978 closed

[2020-02-27 05:28] #2492 closed

[2020-02-27 14:02] pjgerardo opened #2798 "Upgrade cluster from 1.10.x to 1.16.1"
**Describe the bug**
Error when trying to upgrade cluster from 1.10.x to 1.16.1

**Steps To Reproduce**

Kubelet log
​============================
Feb 27 12:57:17 xxx-master-11111111-1 kubelet[1876]: E0227 12:57:17.373065    1876 kubelet_node_status.go:157] Previously node "xxx-master-11111111-1" had externalID "/subscriptions/xxxxxx-xxxxxx-xxxx-xxxxxx/resourceGroups/xxxxx-xxxxxx-xx/providers/Micr

[2020-02-27 17:44] jackfrancis commented on #2798
What was the version of aks-engine (or acs-engine) used to build the original 1.10 cluster? With that information, and the original api model used to create the cluster, we could try to reproduce the failure.

[2020-02-27 18:04] DavidParks8 commented on #2171
@jackfrancis it looks like this was closed by automation. Can you please keep it open until it is implemented?

[2020-02-27 18:50] paulomarquesc commented on #2782
@jackfrancis and @jprecuch, I just tested in my testing cluster where I have KeyVaultForLinux extension installed, the result is that the extension got removed from VMSS but the deployment didn't get stuck and in this case we just re-deploy the extension after the update without any issues, of course this might not be the case for CSE. I had some warnings though, and I think it was because of the

[2020-02-27 20:53] jackfrancis commented on #2782
Thanks for sharing @paulomarquesc. That makes sense. I think for a lot of users the removal of the additive extension could be sanely interpreted as "upgrade broke my cluster". Sounds like you're on top of that, and well-reapply the extensions after upgrade.

Anything else look funny on the cluster post-upgrade? I suspect things should be fine.

Curious: does VMSS scale operations (either using VM

[2020-02-27 21:44] KevinFanton commented on #2798
We are checking on that item and will get back to you soon. Thanks

[2020-02-28 02:10] AbelHu opened #2803 "Add `IsCredentialAutoGenerated *bool` for WindowsProfile"
**Describe the request**
Add `IsCredentialAutoGenerated *bool               `json:"isCredentialAutoGenerated,omitempty"`` for WindowsProfile

**Explain why AKS Engine needs it**
AKS plans to auto generate Windows username and password if Windows agent pools can be added to this cluster later. We need to distinguish that the Windows credential is set by users from that the Windows credential is aut

[2020-02-28 11:50] pjgerardo commented on #2798
Customer does use the upgrade functionality in aks-engine.
Instead they have their own automation tool which follows an intricate process to upgrade a cluster.
Or more precisely create a second cluster, move over some Azure resources (e.g. IP, disks, etc.) and
then remove the old cluster.

Customer is not sure but they believe the original cluster was provisioned by acs-engine v0.18.8

[2020-02-28 11:56] dennis-benzinger-hybris commented on #2798
I think there's a "not" missing ;-).

[2020-02-28 12:05] pjgerardo commented on #2798
Fixed. Thanks

[2020-02-28 15:14] philipp1992 opened #2805 "VirtualMachineStorageOffline when requesting a pvc via azure-disk storageclass"
**Describe the bug**

We are using openshift 3.11 with kubernetes 1.11 and azure cloud-provider configuration to create PVC via the azure-disk storageclass.

Sometimes when we request new PVCs, it can happen, that the corresponding kubernetes-worker node will be unresponsive and changes the status to "notReady".

When we check the resource-health in azure for that machine we can see the reason why

[2020-02-28 17:04] paulomarquesc commented on #2782
One interesting and good news is that the Managed Identity I had setup for VMSS before the upgrade was kept.

I'll test the `aks-engine scale` later.

[2020-02-28 19:02] jackfrancis commented on #2798
O.K., thanks for the updates. It sounds like there's no aks-engine bug here?

[2020-02-28 19:09] jackfrancis commented on #2782
@jprecuch another thing you could try (it's hacky but it might work) if your teams would like to keep leveraging CustomScriptExtensions on the vms post-aks-engine cluster creation, is to do a "no op" CustomScriptExtension after all of your post-provision foo has executed, with a CSE spec that conforms to the aks-engine-delivered CustomScriptExtension. The way that CustomScriptExtensions work re-ap

[2020-02-28 23:55] paulomarquesc commented on #2782
hi @jackfrancis, I did the `aks-engine scale` test, it also removed the AKV VM Extension, but now leaving the pre-existing nodes not in-sync with latest model, and the new nodes without the extension since it removed from VMSS. This is not an issue since our process will from time to time add this extension back through our Ev2 release process at least twice a month and always immediately right af

[2020-02-29 02:29] sozercan opened #2811 "aks-engine removes singlePlacementGroup property on scale"
**Describe the bug**

- Deploy cluster with `singlePlacementGroup` property set to `false` (which enables VMSS > 100)
- When scaling up for the first time, aks-engine removes `singlePlacementGroup` then further scale fails because agent pool count is above what's supported when singlePlacementGroup is false.

[code]

**Steps To Reproduce**

- Deploy a cluster with `singlePlacementGroup` set to fal

[2020-02-29 03:53] sozercan opened #2812 "make build is broken with go 1.14"
**Describe the bug**
make build seems to be broken with go 1.14. reverting to go 1.13.8 works fine.

[code]

**Steps To Reproduce**
`make build` with go 1.14

**Expected behavior**
builds binary

**AKS Engine version**
0.47.0

[2020-02-29 19:27] paulomarquesc commented on #2782
@jackfrancis and @jprecuch, updates on this after more testing was done. After the above scale process was executed, everything appeared to be fine, but when I executed our pipeline to re-redeploy the AKV VM Extension I've got the following breaking error:

[code]

This led to our pipeline be broken, so this issue cannot be left behind, on our side I implemented some error checks/retries because i

[2020-03-01 14:14] nilo19 opened #2813 "Support custom ssh port."
**Describe the request**

In the current version, ssh port is default to 22. However, in our case the port 22 is banned by some network policies and ssh connection to master cannot be established.

**Explain why AKS Engine needs it**

**Describe the solution you'd like**

Add support for custom ssh default port.

**Describe alternatives you've considered**

Just simply configure something like `/e

[2020-03-02 10:27] pjgerardo commented on #2798
Correct. Thank you for the help

[2020-03-02 10:27] #2798 closed

[2020-03-02 13:03] jomeier commented on #2805
Same here.

[2020-03-02 19:56] CecileRobertMichon commented on #1306
We should try disabling systemd-timesyncd and enabling ntp as a workaround, similar to:

[code]

[2020-03-02 21:04] jackfrancis opened #2816 "intermittent etcd/certs error in 18.04"
While testing something else, I ran into these errors in CSE during aggregated api certs generation:

[code]

...which resulted in this terminal error:

[code]

[2020-03-02 21:40] sukhong commented on #2202
Has the root cause been found for this issue? We want to re-enable this feature.

[2020-03-02 21:42] sukhong commented on #2202
Can we re-open this issue?

[2020-03-03 00:33] AbelHu commented on #2803
It is resolved in PR https://github.com/Azure/aks-engine/pull/2804

[2020-03-03 00:33] #2803 closed

[2020-03-03 02:36] #2491 closed

[2020-03-03 02:36] #2441 closed

[2020-03-03 02:36] #2486 closed

[2020-03-03 12:36] philipp1992 commented on #2805
happened again today on a different worker

At Monday, March 2, 2020, 5:45:31 PM GMT+1, the Azure monitoring system received the following information regarding your Virtual machine:
We're sorry, your virtual machine is unavailable because of connectivity loss to the remote disk. We're working to reestablish disk connectivity. No additional action is required from you at this time.

Problem could

[2020-03-03 14:11] hepower opened #2822 "The kubernetes dashboard can not accessed."
**Describe the bug**

After I deployed a Kubernetes cluster via  https://github.com/Azure/aks-engine/blob/master/docs/tutorials/quickstart.md

I can not open the Kubernetes website https://qingh-aks-engine.westeurope.cloudapp.azure.com/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy

The error message showed in Chrome:

Your connection is not private

Attackers might be tr

[2020-03-03 15:19] jprecuch commented on #2782
@jackfrancis Thanks. I've tested to re-patch the template of our vmss and set again tag to k8s version 1.12.8. It was same vmss where aks-engine was stuck.
[code]
Afterwards I've run aks-engine upgrade again and it was able to proceed with upgrade without issues again. Seems it is "nice" workaround for us but would require further testing.

[2020-03-03 20:37] davidmatson commented on #737
/lifecycle remove-stale

[2020-03-03 21:26] chewong commented on #2792
@azharudheen1990 Are you still experiencing the same issue?

[2020-03-03 22:12] azharudheen1990 commented on #2792
Hi, We have not experienced this issue after that occurrence - we didn't do any changes at our end. BUt we do not know the root cause yet.

[2020-03-03 22:24] PatrickLang opened #2827 "Move Windows nodes to public ContainerD builds"
The experimental support for ContainerD in AKS-Engine #1322  depends on a custom, adhoc built ZIP file with ContainerD, and SDNBridge built from sources. That won't work for production, so we need to move to a proper release once its available.

This is the code we need a release for: https://github.com/containerd/containerd

This PR may have fixed the builds, but the containerd doc is still missi

[2020-03-03 22:27] PatrickLang opened #2828 "Move Windows ContainerD CNI plugin to public builds"
The experimental support for ContainerD #1322  in AKS-Engine depends on a custom, adhoc built ZIP file with ContainerD, and SDNBridge built from sources. That won't work for production, so we need to move to a proper release once its available.

Here's the code that's built manually today but needs a proper release: https://github.com/microsoft/windows-container-networking/releases

Areas needing

[2020-03-03 22:32] PatrickLang opened #2829 "Add multi-OS ContainerD test pass for AKS-Engine"
The containerd support from PR #1322 needs to be added to the Azure Devops pipeline.

[2020-03-03 22:38] PatrickLang opened #2830 "Add AKS-Engine-Windows-ContainerD test pass to testgrid"
Once #1322 is merged and #2829 is done, it's time to add a test pass for the master branch of Kubernetes.

Steps required:

- [ ] Release a version of AKS-Engine with #1322 included
- [ ] Check in new AKS-Engine config at https://github.com/kubernetes-sigs/windows-testing/tree/master/job-templates
- [ ] Add prow config for Windows + ContainerD with AKS-Engine at https://github.com/kubernetes/test-

[2020-03-03 23:38] yashs-dev opened #2831 "Fix cipher-suite order to comply with perfect forward secrecy."
The current aks-engine images cipher suite order includes ECDHE-RSA-AES128-SHA and ECDHE-RSA-AES256-SHA. But these use SHA-1 which lack perfect forward secrecy.

Pease fix the cipher suite order in the images to comply with perfect forward secrecy.

[2020-03-04 01:21] lynshi opened #2833 "CSE error: exit code 91 when deploying SGX-enabled cluster"
**Describe the bug**
When deploying a cluster containing an agentpool with vmSize Standard_DC2, the deployment fails with the following error (code 91):
[code]

**Steps To Reproduce**
After creating a service principal as in the quickstart, I ran
[code]

Below is my `kubernetes.json`, which is lifted from [sgx.json](https://github.com/Azure/aks-engine/blob/0f99cf20fc1e985b3b8c43c084aa077e5bd55e03/

[2020-03-04 09:57] PascalVA opened #2836 "calico-typha-horizontal-autoscaler needs runAsUser"
**Describe the bug**
When deploying kubernetes 1.17.3, the calico-typha-horizontal-autoscaler adheres to the restrictive policy, however, the deployment does not have runAsUser specified in the security context. This causes the pod to fail to start.

**Steps To Reproduce**
Deploy kubernetes 1.17.3 with aks-engine 0.47.0

**Expected behavior**
The pod should run as a non-root user

**AKS Engine ver

[2020-03-04 12:05] delulu opened #2837 "Install nvidia-smi on N-Series node to export gpu metrics"
**Describe the request**

Install nvidia-smi on N-Series node automatically in aks cluster initialization.

**Explain why AKS Engine needs it**

NVIDIA provides a tool to export GPU metrics into Prometheus, this tool is leveraging driver utility (nvidia-smi) to get gpu metrics and it's a prerequisite that this utility is installed on gpu node.

Also this driver utility seems the only way to get gp

[2020-03-04 17:02] #2812 closed

[2020-03-04 17:25] #2743 closed

[2020-03-04 18:10] SachinBadoni-Hexagon opened #2840 "Need info regarding aks-engine upgrade"
We need to upgrade our existing aks-engine kubernetes version from 1.15.3 to latest
We have deployed the aks-engine using aks-engine deploy command using Azure Devops tasks

As per documentation --> You will need access to the apimodel.json that was generated by aks-engine deploy or aks-engine generate (by default this file is placed into a relative directory that looks like _output/<clustername>/

[2020-03-04 19:59] marosset opened #2842 "Support running pre/post provisioning scripts in CSE during node creation"
**Describe the request**
Add the ability to take arbitrary script/code and inject it into the CSEs created during aks-engine generation.
Initially we should support the following plug in points
- Run script code before bootstrapping the cluster
- Run script code after bootstrapping the cluster

**Explain why AKS Engine needs it**
Currently AKS engine has some support for running extra VM extension

[2020-03-04 21:23] mboersma commented on #2822
The Kubernetes dashboard is not intended to be accessed directly via the cluster's URL. Instead, you have to [configure a token](https://github.com/kubernetes/dashboard/blob/master/docs/user/access-control/creating-sample-user.md), run [`kubectl proxy`](https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/#accessing-the-dashboard-ui) locally, and then access the dashboard v

[2020-03-04 22:26] #2251 closed

[2020-03-04 22:27] craiglpeters commented on #2263
@jackfrancis  Is this still pending?

[2020-03-04 22:29] #2545 closed

[2020-03-04 22:31] craiglpeters commented on #2215
@goatmale @brettplarson can this be closed now?

[2020-03-04 22:45] craiglpeters commented on #2695
@aramase the move has happened :)

[2020-03-04 22:47] craiglpeters commented on #2249
Is this really a priority?

[2020-03-04 22:55] craiglpeters commented on #2777
@ritazh can you please expand on the work that needs to be done? Seems like a high priority, but ??

[2020-03-04 23:12] PacoGuy commented on #2249
From my standpoint it is a priority considering we have to modify the apimodel to accomplish this right now.

I'd like to avoid a hack like that if at all possible and our workload requires this change to the disk caching.

[2020-03-04 23:16] PacoGuy commented on #2215
Yeah, this one seems to no longer be an issue for us after we added the following to our packer definition: `    "managed_image_storage_account_type": "Premium_LRS",`

[2020-03-04 23:17] #2215 closed

[2020-03-05 01:07] jackfrancis commented on #2263
done!

[2020-03-05 01:07] #2263 closed

[2020-03-05 15:41] oronboni opened #2844 "Autoscaler configuration issue(nodes minimum maximum) in AKS-ENGINE 0.47"
**Describe the bug**
AKS-ENGINE 0.47

Template:
{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorVersion": "@__orchestratorVersion__@",
      "kubernetesConfig": {
        "apiServerConfig": {
           "--enable-admission-plugins": "NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,DefaultTolerati

[2020-03-05 15:47] adelina-t opened #2845 "CSE master script failing with K8s Master: exit status 30"
**Describe the bug**

Using K8s built from master, cse-master fails with exit status 30.

ensureK8sControlPlane seems be retrying for the full 120 times, here:

https://github.com/Azure/aks-engine/blob/79ab03f62f628d80d300b5dee26c2e976bdf9266/parts/k8s/cloud-init/artifacts/cse_config.sh#L362

The odd thing is that kubectl cluster-info works just fine if called manually while cluster is starting.

[2020-03-05 16:06] adelina-t commented on #2845
@marosset
@chewong

[2020-03-05 17:20] PacoGuy commented on #2215
Thanks All!

[2020-03-05 18:25] chewong commented on #2845
I ssh into the master vm and saw the same error. But when I tried to run the same command manually, it returned the expected result:
[code]

[2020-03-05 18:28] adelina-t commented on #2845
It's odd that this is not happening on 1.17 or lower, so it's most probably k8s related, but for the I can't seem to crack it.

[2020-03-05 18:33] chewong commented on #2845
That's because the PR hasn't been cherry-picked to older releases. It will start affecting 1.17 jobs if it is backported to older releases.

[2020-03-05 19:58] craiglpeters opened #2846 "Test Gen2 Ubuntu 18.04 and Windows base images"
**Describe the request**
Users need the capabilities of the [DC2 series](https://docs.microsoft.com/en-us/azure/virtual-machines/dcv2-series) VMs which are very large and support confidential compute and AI workloads. The DC2 series only works with  [Gen2 VM images](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/generation-2)

**Explain why AKS Engine needs it**
Some users need to

[2020-03-05 20:08] marosset commented on #2846
For linux we can test with
Publisher: Canonical
Offer: UbuntuServer
Sku: 16.04-LTS-gen2
Version: latest

For Windows we can test with
Publisher: MicrosoftWindowsServer
Offer: WindowsServer
Sku:  2019-datacenter-core-with-containers-smalldisk-g2
Version: latest

[2020-03-05 23:56] PatrickLang opened #2848 "chore: Windows ContainerD - don't use ctr.exe to pull images"
**Describe the bug**

The current containerd setup scripts (see #1322) use ctr.exe to pull images. This app is "unstable" per https://github.com/containerd/containerd/blob/da2890a90826458c0573cdbc4e3e3768d69197b8/cmd/ctr/app/main.go#L61

It needs to be replaced with either direct API calls, or possibly crictl.exe if that's stable.

[2020-03-06 02:35] delulu commented on #2837
@CecileRobertMichon, could you take a look? or let me know if you need any more information.

[2020-03-06 02:43] CecileRobertMichon commented on #2837
@delulu added to backlog for triage by the team
/cc @delulu

[2020-03-06 07:49] bottkars opened #2852 "AKS Engine v0.43.1 failes to delete Loadbalancer on AzureStackHub"
**Describe the bug**
I am running istio ingress gateway on and AKS-Engine Deployed K8S Cluster.
Upon deletion of the Istio-Ingressgateway service ( service type LB ) , the loadbalancer on AzureSTackHub fails to be deleted ( istio igressgateway is the last backendpool /Public Service on that LB )

**Steps To Reproduce**
[apimodel.txt](https://github.com/Azure/aks-engine/files/4297119/apimodel.txt)

[2020-03-06 18:45] jackfrancis opened #2853 "use systemd instead of kubectl to validate kubelet health during CSE"
Rather than `kubectl cluster-info` let's leverage systemd service status of kubelet to validate node health.

[2020-03-06 21:26] #2845 closed

[2020-03-06 22:26] rjaini opened #2855 "default master.availabilityProfile to 'AvailabilitySet' and make it optional on Azure Stack."
Make availabilityProfile  optional field and assign value as 'AvailabilitySet'  for Azure Stack.

[2020-03-06 22:28] aramase opened #2857 "Graduate feature flags to stable features"
**Describe the request**
Currently `EnableIPv6DualStack` and `EnableIPv6Only` are supported as feature flags. Once these 2 features are officially GA in upstream
- Need to graduate these 2 feature flags as stable feature in aks-engine.
- Make config flags as first class property in kubernetes config.

**Explain why AKS Engine needs it**

**Describe the solution you'd like**

**Describe alternative

[2020-03-06 22:28] aramase commented on #2857
cc @jackfrancis

[2020-03-07 17:27] #2495 closed

[2020-03-07 18:27] #2507 closed

[2020-03-08 04:46] rjaini opened #2860 "Update example file to use recommended values on Azure Stack Hub."
Update example file to use recommended values on Azure Stack Hub.

[2020-03-09 09:08] #2844 closed

[2020-03-09 14:22] #2510 closed

[2020-03-09 14:59] pierluigilenoci commented on #2243
@mboersma could you please brief me give a short feedback?

[2020-03-09 15:47] #2777 closed

[2020-03-09 16:40] #2860 closed

[2020-03-09 22:18] craiglpeters commented on #2846
@marosset we should target Ubuntu 18.04 as this is what users are asking for. 16.04 should be a lower priority

[2020-03-10 02:23] tamilmani1989 opened #2868 "kube-system pods are not running in AKS-Engine Dual Stack with kubenet"
**Describe the bug**

**Steps To Reproduce**

Used kubernetes cluster config from https://raw.githubusercontent.com/Azure/aks-engine/master/examples/dualstack/kubernetes.json and created a dual stack cluster.

**kubectl get pods -n kube-system
No resources found in kube-system namespace.**

**Expected behavior**
kubectl get pods -n kube-system should show some kubernetes service pods in running st

[2020-03-10 02:24] tamilmani1989 commented on #2868
/assign @aramase

[2020-03-10 02:24] tamilmani1989 commented on #2868
/assign @jackfrancis, @mboersma

[2020-03-10 02:58] aramase commented on #2868
Tried to repro using the master branch, but unable to repro it on a new cluster using master branch. Will try and take a look at existing cluster to see what the issue is.

[2020-03-10 05:10] tamilmani1989 commented on #2868
Debugged offline with anish. this issue was due to recent change in default mask size of ipv6. In k8 1.16, /48 is not supported. Anish will make a change so that defining mask size based on k8 version

[2020-03-10 18:24] jackfrancis commented on #2837
The driver installation you want is probably best delivered as a daemonset. If you can provide a working daemonset spec we can help w/ integration into the existing nvidia addon that is installed in a GPU-enabled VM SKU-backed node.

[2020-03-10 19:04] iharrington commented on #1025
Any Update on this? It seems both issues noted by @CecileRobertMichon as blockers have been resolved > https://github.com/Azure/aks-engine/pull/1192 & https://github.com/Azure/aks-engine/pull/884 I tried to review roadmap and can't seem to locate any additional info or a date when this will be available, thanks in advance!

[2020-03-10 19:05] CecileRobertMichon commented on #1025
@iharrington the current blocker is https://github.com/Azure/aks-engine/issues/1306 (see my comment above)

[2020-03-10 21:48] ksubrmnn opened #2874 "Documentation for make dev is incomplete"
Currently, the [documentation](https://github.com/Azure/aks-engine/blob/master/docs/community/developer-guide.md#docker-development-environment) does not specify that $GOPATH should be set prior to `make dev`

[2020-03-10 21:49] ksubrmnn commented on #2874
/assign @ksubrmnn

[2020-03-10 22:57] jackfrancis commented on #2855
Fixed w/ #2866

[2020-03-10 22:57] #2855 closed

[2020-03-11 03:55] jackfrancis commented on #2561
This has been done

[2020-03-11 03:55] #2561 closed

[2020-03-11 04:26] waynenus opened #2877 "VMExtensionProvisioningError VM has reported a failure when processing extension 'cse-agent-0'. Error message: \"Enable failed: failed to execute command: command terminated with exit status=35"
**Describe the bug**
Deploy kubernetes cluster failed with custom image which was generalized & captured from Azure kubernetes service version 1.13.12 in Azure China:

Deployment failed. Correlation ID: a0715957-cb16-4b9b-b1de-c407f5af000e. {
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisioning state

[2020-03-11 04:28] waynenus commented on #2877
Extension error screenshot:
![image](https://user-images.githubusercontent.com/35486805/76382462-cda97a80-6393-11ea-92f1-32ab6cf7827b.png)

[2020-03-11 12:19] delulu commented on #2837
@jackfrancis thanks for your advice. but if it's deployed as a daemonset, this driver utility (CLI utility) will be provided in one serving container hosted on gpu node, and there's no direct access from other pods running on the same node.

also usually the driver utility is installed along with driver, there should be a way to get metrics of gpu device on gpu node directly.

[2020-03-11 22:23] jackfrancis commented on #2762
Fixed in #2865

[2020-03-11 22:23] #2762 closed

[2020-03-12 01:15] #2868 closed

[2020-03-12 01:15] #2272 closed

[2020-03-12 12:20] jsafrane opened #2888 "Slow disk attach / detach in Kubernetes on Azure"
**Describe the bug**
I'm running OpenShift CI on Azure. When it comes to storage, OpenShift = vanilla Kubernetes, there is no code change.

On Azure, we noticed that Azure performance degrades gradually with number of tests we run parallel and the tests start to time out due to slow attach / detach. It is not uncommon for volume attach / detach operation to take more than 3 minutes!

Stats taken b

[2020-03-12 19:35] #2134 closed

[2020-03-12 21:22] jackfrancis commented on #2846
@marosset is the existent custom image interface foo in aks-engine enough to allow folks to build clusters w/ arbitary image offers like the above? (assuming it's ubuntu-ish and will play well w/ CSE)

[2020-03-12 21:27] marosset commented on #2846
@jackfrancis  For Windows you can specify the publisher/offer/sku/version - for Linux I was going to introduce a new 'Distro' to use the Canonical 18.04 latest image

[2020-03-12 21:28] jackfrancis commented on #2846
Fair enough. While you're doing so could you validate that for sure this is functionality that is WindowsProfile-only? (if so we should call that a gap and address it at some point)

[2020-03-12 21:35] marosset commented on #2846
This is a confirmed gap

[2020-03-13 09:06] cdelacruzpinto commented on #2221
2020 and hitting the same issue here, so please don't mark it as stale :-)

[2020-03-13 09:19] andyzhangx commented on #2221
@cdelacruzpinto pls provide detailed error message, k8s version, vm type,
We have already fixed an issue [azure disk could not mounted on Standard_DC4s/DC2s instances](https://github.com/kubernetes/kubernetes/pull/86612)

[2020-03-13 09:36] cdelacruzpinto commented on #2221
Now that is what I call first class support ;) We are using Standard_DS2_v2 instances. K8s version: 1.14.8

`
  Warning  FailedScheduling        4m8s (x4 over 4m21s)  default-scheduler                           pod has unbound immediate PersistentVolumeClaims (repeated 2 times)
  Normal   Scheduled               3m59s                 default-scheduler                           Successfully assigne

[2020-03-13 11:26] andyzhangx commented on #2221
sometimes disk detection inside vm is slow, so sometimes you may hit such issue, to mitigate this issue, we already have some wait loop in the new fix: https://github.com/kubernetes/kubernetes/pull/88158
1.15.9,1.16.8,1.17.4 would have this fix.

[2020-03-13 11:27] andyzhangx commented on #2221
so even you get `Cannot find Lun` error, after some retry by k8s, it would work, right?

[2020-03-13 11:32] cdelacruzpinto commented on #2221
...after one hour in this case, yes.

`Events:
  Type     Reason       Age                From                                        Message
  ----     ------       ----               ----                                        -------
  Warning  FailedMount  59m (x5 over 68m)  kubelet, aks-nodepool1-42586154-vmss000001  Unable to mount volumes for pod "rdb-5986884645-c2qhl_blah(6b272611-6514-11e

[2020-03-13 11:41] andyzhangx commented on #2221
o, this is an issue in 1.14.x, fixed in 1.15.x

[2020-03-13 11:44] andyzhangx commented on #2221
same as this issue: https://github.com/andyzhangx/demo/blob/master/issues/azuredisk-issues.md#24-attach-disk-costs-10min

[2020-03-13 11:44] #2221 closed

[2020-03-13 12:17] cdelacruzpinto commented on #2221
Thank you very much for your help @andyzhangx . Will update the cluster to the recommended version.

[2020-03-13 12:18] andyzhangx commented on #2888
hello @jsafrane this is a known issue for azure managed disk, Azure team are working on improving the disk attach/detach perf, timeline is in the middle of this year, which could make disk attach/detach costs < 20s

[2020-03-13 12:20] andyzhangx commented on #2805
It's more like a VM level issue

[2020-03-14 17:08] #2522 closed

[2020-03-16 19:07] joekottke commented on #2229
Hey there, sorry for being asleep at the wheel on this one.  The drivers we are installing are the EPID version of the driver, not the DCAP version.  Current version we are installing is now located here: https://download.01.org/intel-sgx/sgx-linux/2.9/distro/ubuntu18.04-server/

[2020-03-16 19:36] chzbrgr71 opened #2909 "Error with cluster-autoscaler "Failed to get current size for vmss""
I've deployed the cluster successfully, however when the autoscaler attempts to scan the agentpool and potentially scale, it errors and CrashLoopBackoff. My Service Principal is an Owner at the subscription level.

The relevant errors in the logs are:

E0316 18:57:29.925863       1 azure_scale_set.go:569] Failed to get current size for vmss "k8s-agentpool1-19133377-vmss": azure.BearerAuthorizer#Wi

[2020-03-16 22:10] jadarsie opened #2913 "Improve large clusters upgrade experience"
**Describe the request**
Add features and document guidelines on how to upgrade a large cluster in a more controlled/granular way.

This is the list of items we need to complete:
- Allow control plane only upgrades (#2635)
- Allow single node pools upgrades (#2900)
- Allow adding extra VMAS node pools (#2907)
- Improve e2e
- Document single pool large cluster upgrade
- Document multi pool large cl

[2020-03-16 23:20] CecileRobertMichon commented on #2877
@waynenus CSE exit 35 is ERR_CONTAINER_IMG_PULL_TIMEOUT(see https://github.com/Azure/aks-engine/blob/master/docs/howto/troubleshooting.md#vmextensionprovisioningerror-or-vmextensionprovisioningtimeout for more info). It means that the image was missing from the custom image you used and that CSE tried to pull it from source and failed. In AKS Engine, k8s 1.13.12 is disabled because of https://gith

[2020-03-16 23:25] jackfrancis commented on #2877
We haven't made that switch yet. Default kubernetesimageBaseType is still gcr

[2020-03-17 01:46] waynenus commented on #2877
Hi @CecileRobertMichon thanks for your detailed input! As you said the default version is 1.13.11 in **apimodel.json**
{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorRelease": "1.13",
      "orchestratorVersion": "1.13.11",
      "kubernetesConfig": {
        "kubernetesImageBase": "k8s.gcr.io/",
        "mcrKube

[2020-03-17 09:57] #2499 closed

[2020-03-17 12:07] jsafrane commented on #2888
@andyzhangx, thanks for your response. It there an issue / ticket that I could track?

[2020-03-17 12:13] andyzhangx commented on #2888
this is internal, we have not announced that since the work is in-progress.
We have another project to fix this issue: using [unmanaged vhd disk on azure file](https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/deploy/example/disk)

[2020-03-17 16:09] CecileRobertMichon commented on #2877
Interesting, since you are deploying in Azure China (correct me if you aren't), the image should be `gcr.azk8s.cn/google_containers/hyperkube-amd64:v1.13.11`...

@jackfrancis any chance this is related to the recent custom image base refactor?

[2020-03-17 21:09] jackfrancis opened #2916 "docker-engine breaks aks-engine clusters prior to v0.34.0"
AKS Engine deprecated the open source docker-engine project (it was required for GPU drivers) with the v0.34.0 release:

https://github.com/Azure/aks-engine/releases/tag/v0.34.0

Relevant change:

https://github.com/Azure/aks-engine/pull/897

Recently, Docker has deprecated the public apt repository hosting those packages, which is explained on the landing page that replaces the old apt repository

[2020-03-17 22:04] #2846 closed

[2020-03-18 03:42] #2543 closed

[2020-03-18 03:42] #2560 closed

[2020-03-18 07:31] waynenus commented on #2877
Yes, this is in Azure China.

[2020-03-18 17:11] jackfrancis commented on #2877
I don't see any evidence that things have changed in the code. @andyzhangx @feiskyer in order to build china cloud aks-engine clusters, do you have manually specifiy a `"location"` top-level property in the api model?

@waynenus these are the possible "location:" values that will give you the correct .cn URLs:

- "location": "chinaeast"
- "location": "chinanorth"
- "location": "chinaeast2"
- "loca

[2020-03-18 18:56] Michael-Sinz commented on #1706
We just had this happen again on some v1.15 kubernetes clusters.

Is this supposed to be fixed?  If so, which versions have the fix?

[2020-03-18 19:39] jackfrancis commented on #1706
@tamilmani1989 can you remind us how to find the Azure CNI version on a host?

[2020-03-19 00:38] sozercan opened #2927 "policy addon: follow up for cert creation and rotation"
**Describe the request**
related https://github.com/Azure/aks-engine/pull/2903#discussion_r392511936
have aks-engine create and rotate certs so we can reconcile vwh

[2020-03-19 02:23] andyzhangx commented on #2877
Correct, here is the guide for set up aks-engine in Azure China:
https://github.com/Azure/container-service-for-azure-china/tree/master/aks-engine#5-clone--edit-kubernetes-cluster-definition-file-examplekubernetesjson

* add **location** definition `"location": "chinaeast2",` behind `apiVersion: "vlabs"`
  * specify `location` as (`chinaeast`, `chinanorth`, `chinaeast2`, `chinanorth2`) in cluster

[2020-03-19 10:37] delulu commented on #2837
@jackfrancis with a further check, I found you already install this nvidia-smi in in aks cluster initialization.
https://github.com/Azure/aks-engine/blob/3e6b593c7d5e2878be2e536b62a596ad7e530ed7/parts/k8s/cloud-init/artifacts/cse_config.sh#L477

I can also found it from my aks agent, but it seems it's not added into system path and I met exceptions below when running it:
[code]

[2020-03-19 11:51] delulu commented on #2837
from strace log, I found the above exception is due to permission error as shown below:
[code]
so I manually mount /usr/local/nvidia into a running container and finally run it successfully:

[code]

[2020-03-19 11:57] delulu commented on #2837
Also it's said that "if you have driver installed on the host machine where the **runtime** will take care of injecting the right libs inside the container" in https://github.com/NVIDIA/gpu-monitoring-tools/issues/27

It seems that **nvidia-container-runtime** will take care of it and we don't have to mount the libs manually.

do you have any idea about it?

[2020-03-19 13:31] popsikle commented on #2587
Given CoreOS is dead, not sure this matters anymore.

[2020-03-19 18:52] jackfrancis opened #2933 "Audit WindowsProfile type definition for properties that should be omitempty in JSON"
I'm seeing some extraneous zero value properties rendered in JSON, e.g.:

[code]

[2020-03-19 19:11] #1306 closed

[2020-03-19 22:51] DanRigby commented on #1025
With #1306 being fixed by @jackfrancis, are there any remaining blockers for switching to Ubuntu 18.04-LTS?

[2020-03-19 23:06] jackfrancis commented on #1025
Hi @DanRigby That was the only blocker. Now to just get some mileage on it. Practically speaking setting it to default only means we'll test it more broadly, more common, but it doesn't prevent someone like yourself from building clusters with it right now. :) All our data suggest a running 18.04-LTS-backed cluster is production ready.

[2020-03-19 23:09] jackfrancis commented on #761
Fixed in #2908

[2020-03-19 23:09] #761 closed

[2020-03-19 23:34] jackfrancis commented on #2837
Thanks for all the data @delulu

What is different from your manual mount step and this?

https://github.com/Azure/aks-engine/blob/master/parts/k8s/cloud-init/artifacts/cse_config.sh#L475

In the above `${GPU_DEST}` is `/usr/local/nvidia` btw.

Also, are these symptoms 100% consistent?

[2020-03-20 08:36] #2563 closed

[2020-03-20 09:01] palmerabollo commented on #2311
not stale

[2020-03-20 12:28] mariojacobo commented on #2227
ran into the same issue and after 10-15 min it finally went through. @jackfrancis did you every find a solution to this issue ? in my case, this seems to happen only when the Ingress IP is precreated and part of another resource group. if I deploy and let AKS create the IP it runs just fine.

[2020-03-20 13:24] delulu commented on #2837
The mount I mean is nvidia-container-runtime will help mount gpu driver capabilities into your containers before running it.

According to [nvidia-container-runtime readme](https://github.com/NVIDIA/nvidia-container-runtime/blob/2c07b861b81afd4af683a0c1e71a250f1e2e3344/README.md#nvidia_driver_capabilities) there's a env variable NVIDIA_DRIVER_CAPABILITIES to "controls which driver libraries/binari

[2020-03-20 17:16] satishsudini opened #2940 "Issue with DNS resolution"
**Describe the bug**
DNS resolution is not working with k8 1.17.2

**Steps To Reproduce**

{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorRelease": "1.17",
      "orchestratorVersion": "1.17.2",
      "kubernetesConfig": {
        "enableRbac": true,
        "enableSecureKubelet": true,
        "enableAggregatedA

[2020-03-20 22:59] jackfrancis opened #2943 "Audit known addons for basic E2E coverage"
Let's make sure all addons are represented in E2E tests for checking Running pods, the basic tests.

[2020-03-20 23:14] jackfrancis commented on #2940
Hi @satishsudini, why the `"--non-masquerade-cidr": ""` kubelet configuration? If ip-masq-agent is disabled, you want that to be set to the same value as your clusterSubnet (perhaps you are doing that manually and you have redacted that value?)

[2020-03-20 23:16] jackfrancis commented on #2940
It is possible there's a regression in the extensions interface, that is not always well tested.

Also, you could try the same configuration in v0.48.0 (just released) to get v1.17.4, which has Azure cloudprovider improvements to manage HTTP 429 throttling.

[2020-03-20 23:23] jackfrancis commented on #2909
This could be a transient error, assuming you delivered cluster-autoscaler via aks-engine as an addon, they would share the same sp (and thus, said sp would be proven as functional, as they were used to create the IaaS running the cluster). Are these errors persistent in the logs? What happens if you delete the pod and let the deployment recreate a new one?

[2020-03-23 08:57] AbelHu opened #2946 "Get-ComputerInfo in New-InfraContainer spends ~44s to get WindowsVersion"
**Describe the bug**
Get-ComputerInfo in New-InfraContainer spends ~44s to get WindowsVersion
https://github.com/Azure/aks-engine/blob/13e72f24a00cade87c0e9773afd0404edf3c6b61/parts/k8s/windowskubeletfunc.ps1#L195-L204

**Steps To Reproduce**

**Expected behavior**
It should take less than 1 second to get WindowsVersion.

**AKS Engine version**
0.47.0
**Kubernetes version**

**Additional context**

[2020-03-23 16:15] dmeytin opened #2947 "Wrong configuration of azure-ip-masq-agent"
**Describe the bug**
After the k8s cluster deployment with aks-engine v0.48, azure-ip-masq-agent pods are failing with exception
**Steps To Reproduce**

apimodel should contain
{ "addons": [
{
           "name": "ip-masq-agent",
           "enabled": true,
           "containers": [
           {
           "name": "ip-masq-agent",
           "image": "k8s.gcr.io/ip-masq-agent-amd64:v2.4.1",

[2020-03-23 16:21] jackfrancis commented on #2947
@dmeytin What is the input api model used to create the cluster?

[2020-03-23 16:22] marosset commented on #2946
Nice find @AbelHu

[2020-03-23 16:28] dmeytin opened #2948 "Azure internal master load balancer doesn't respond to requests originated from within masters' nodes"
**Describe the bug**
Some workloads are executed from within the master nodes (e.g. kured).
When the workload needs to interact with apiserver using internal master lb 10.10.0.240, some  requests will fail since lb can't respond to the request originated from within the master
**Steps To Reproduce**
From within the master node use curl to interact with the apiserver:
curl 10.10.0.240/api/v2
**Expe

[2020-03-23 16:37] dmeytin opened #2949 "Enable IPVS instead of Iptables"
**Describe the request**
When working with large clusters and significant amount of k8s services, iptables flows will affect the network latency. To improve latency, iptables could be replaced with ipvs module.
**Explain why AKS Engine needs it**
Support large k8s clusters.
**Describe the solution you'd like**
The solution is:
1) Install ipvs kernel module on all nodes - masters and agents: sudo a

[2020-03-23 16:47] dmeytin opened #2950 "Audit addon is enabled by default, but apiserver is not configured to support audit policies"
**Describe the bug**
When deploying a new kubernetes cluster there are errors in the apiserver log: error: unable to recognize "/etc/kubernetes/addons/audit-policy.yaml": no matches for kind "Policy" in version "audit.k8s.io/v1"
**Steps To Reproduce**
This addon is enabled by default.
**Expected behavior**
apiserver should be configured with --audit-dynamic-configuration=true
**AKS Engine version*

[2020-03-23 16:48] jackfrancis commented on #2947
@aramase Any idea why the ip-masq-agent pod would be complaining about the `--enable-ipv6` flag? We're not seeing this anywhere in our E2E test data.

[2020-03-23 16:50] jackfrancis commented on #2950
There are two different things being mentioned here.

1) the audit-policy error is spurious, we have a bug for that here: #1749
2) What is the relationship of #1 to the `--audit-dynamic-configuration=true` apiserver configuration?

[2020-03-23 16:54] aramase commented on #2947
`--enable-ipv6` flag is only available from ip-masq-agent `v2.5.0`.

[2020-03-23 16:59] jackfrancis commented on #2947
@dmeytin you should be able to fix this by removing the `"image": "k8s.gcr.io/ip-masq-agent-amd64:v2.4.1"` configuration from your api model input. AKS Engine will choose the version of ip-masq-agent that works with its spec automatically (in the case of v0.48.0, it will use v2.5.0).

[2020-03-23 16:59] #2947 closed

[2020-03-23 20:12] jackfrancis opened #2952 "Use Standard LB by default"
We need to first ensure that these issues are addressed:

- https://github.com/Azure/aks-engine/issues/1970
- https://github.com/Azure/aks-engine/issues/2033

And test all known-working cluster configurations against Standard to surface any cluster configurations that don't play well w/ Standard LB.

In favor of changing:

- Standard is the default in AKS
- No Azure SLA for Basic LoadBalancer

In

[2020-03-23 20:30] CecileRobertMichon commented on #2952
references:
https://docs.microsoft.com/en-us/azure/aks/load-balancer-standard
https://docs.microsoft.com/en-us/azure/load-balancer/concepts-limitations#skus
https://docs.microsoft.com/en-us/azure/load-balancer/concepts-limitations#limitations

[2020-03-23 20:52] jackfrancis commented on #2949
@aramase What's special about dualstack and IPv6 single stack scenarios that enables ipvs. Are we installing the ipvsadm foo via a daemonet to allow ipvs to work?

[2020-03-23 21:04] jackfrancis commented on #2948
@dmeytin, thank you for the workaround solution, I will try that

[2020-03-24 03:44] AbelHu opened #2955 "The Windows Analytics service is retired as of January 31, 2020."
**Describe the bug**
The Windows Analytics service is retired as of January 31, 2020. The telemetry config should not work now.
https://docs.microsoft.com/en-us/configmgr/core/clients/manage/monitor-windows-analytics
![image](https://user-images.githubusercontent.com/6416187/77385879-57aa0800-6dc4-11ea-8732-2a455ef8214f.png)

https://github.com/Azure/aks-engine/blob/b6870bb2fce22f790651cbb5e292092

[2020-03-24 09:40] gball14 opened #2956 "Public ip is pending for a long time"
**Describe the bug**

Created a new AKS cluster (windows VMs) with 20 VMs. It's been more than 15 hours and still the public IP is pending.

**Steps To Reproduce**

We deploy the cluster using SDM and SDM does JSON merge. I don't have final merged JSON. I have repro cluster.

Public IP is visible in portal.azure.com but kubectl still shows the public-ip as pending. Is this something to do with rat

[2020-03-24 18:31] gurudattest commented on #1706
Hi,
We're facing the exact same issue. Any update on this ?

[2020-03-24 19:44] #2584 closed

[2020-03-24 20:44] #2577 closed

[2020-03-24 20:44] #2528 closed

[2020-03-25 01:27] idanlevin commented on #2171
+1 we really need this one.. @jackfrancis @ritazh

[2020-03-25 01:43] ritazh commented on #2171
Thanks for opening the issue and the proposed solution! PRs are welcome!

[2020-03-25 01:51] idanlevin commented on #2171
Thanks @ritazh ! We will contribute for sure :+1:

[2020-03-25 03:00] tamilmani1989 commented on #1706
There was a fix made related to lock issue in v1.0.30. The current latest version of cni is v1.0.33

@jackfrancis Running `/opt/cni/bin/azure-vnet -v ` will show version.  It looks like @kwaazaar was using old version v.10.29 which doesn't have that fix. can you please upgrade your aks-engine cluster?

[2020-03-25 09:15] delulu commented on #2837
Opened an issue https://github.com/NVIDIA/nvidia-docker/issues/1226

and @jackfrancis, I noticed that the driver is installed with --utility-prefix="${GPU_DEST}", is it set in system path? It's possible that the utility is not discovered by nvidia-container-runtime so it's not mounted inside container.
https://github.com/Azure/aks-engine/blob/3e6b593c7d5e2878be2e536b62a596ad7e530ed7/parts/k8s/clou

[2020-03-25 12:53] zhiweiv opened #2961 "Feature Request: Cache .net/asp.net base image in Windows vhd by default"
Most workloads run in Windows containers are using .net framework. We'd like speed up the boot time of Windows pods in newly scaled Windows nodes, cache .net/asp.net base image in Windows vhd by default will help much.

[2020-03-25 16:47] paulohenriquesi commented on #805
This! Solved my problem. Thank you!

[2020-03-25 17:34] #2946 closed

[2020-03-25 19:39] CecileRobertMichon commented on #2956
this looks like a Kubernetes upstream cloud provider issue in older k8s versions (including 1.15.1) that was fixed in https://github.com/kubernetes/kubernetes/pull/88094.

Can you please try to use the latest 1.15 k8s version and let us know if that fixes it? 1.15.11 has that fix and most of the cache fixes in general are available in 1.15.8+.

[2020-03-25 20:55] mboersma opened #2968 "Handle upcoming `az group deployment` name change"
**Describe the bug**
Current versions of the `az` CLI print this:

[code]

That command is called in AKS Engine e2e tests and recommended throughout our documentation. Its replacement is `az deployment group create`, but that's not available in earlier versions of `az`.

We are agnostic right now in AKS Engine docs about which version of `az` to use, but perhaps we need to determine the actual dep

[2020-03-25 22:49] marosset commented on #2961
I don't think we will support this in aks-engine VHDs but you are more than welcome to build your own VHDs on top of the ask-engine produced VHDs.

We use package to produce images and you can find templates in /vhd/

After you produce VHDs with your container images cached you can use them with aks-engine deployments by looking at https://github.com/Azure/aks-engine/blob/master/docs/topics/cluste

[2020-03-25 23:47] jackfrancis opened #2969 "Audit all AKS Engine E2E tests"
This issue will enumerate the existing E2E tests, and define any additional tests we want to add.

[2020-03-26 00:10] jackfrancis commented on #2969
OS validations on each node:

- external DNS resolution
- `/etc/kubernetes/azure.json` cloudprovider config validation (incomplete)
- can output ubuntu version via `lsb_release -a && uname -r` and `cat /proc/version` commands
- can output docker version via `docker version` command
- validates that root user has a password
- validates custom sysctld config
- validates various network configuration

[2020-03-26 03:12] zhiweiv commented on #2961
OK, Thanks.

[2020-03-26 03:12] #2961 closed

[2020-03-26 10:37] sylr opened #2971 "Remove mlocate from nodes"
**Describe the bug**

For a while we regularly had some nodes becoming unready at the same time every day leading to a lot of pods being killed.

After some investigations we found out that it was the `/etc/cron.daily/mlocate` script executed each day at 06:25 that was CPU starving the nodes.

Removing `mlocate` from the nodes fixed the problem.

[2020-03-26 16:45] jadarsie opened #2972 "Default to Basic LB SKU on Azure Stack"
Make sure Azure Stack always uses the Basic load balancer SKU.

Related to #2952

[2020-03-26 17:38] jchauncey opened #2973 "Signed Azure CNI binaries"
You can find the artifacts here -

linux: `https://kubernetesartifacts.azureedge.net/azure-cni/<version>/binaries/azure-vnet-cni-linux-amd64-<version>-signed.tar`
windows: `https://kubernetesartifacts.azureedge.net/azure-cni/<version>/binaries/azure-vnet-cni-windows-amd64-<version>-signed.zip`

The following versions have been uploaded:
* 2020.1.31.1
* 2020.2.21.1
* 2020.2.27.1

[2020-03-27 00:11] #2972 closed

[2020-03-27 18:09] jackfrancis commented on #2971
For reference, on a 16.04-LTS VM:

[code]

[2020-03-27 18:35] jackfrancis commented on #2971
@anhvoms What are the effects of disabling the above? And, is it practical to do so, will background (e.g., walinuxagent) processes re-pave this configuration even if we manually remove it?

[2020-03-27 18:41] anhvoms commented on #2971
@jackfrancis this is part of Ubuntu that indexes files so that they can be quickly located using the "locate" command. On some systems it can be taxing on CPU and IO. I don't think walinuxagent has anything to do with it.

[2020-03-27 18:44] jackfrancis commented on #2971
@anhvoms thank you, so it's basically something that can be optionally removed

@johnsonshi as well in case you have any different conclusions

[2020-03-27 22:30] jackfrancis commented on #2952
In the above limitations, a key one is that Basic LB can only support one VMSS or AvailabilitySet in its backend pool. This means, essentially, that you can't run multiple node pool clusters w/ Load Balancers.

[2020-03-27 23:07] jackfrancis opened #2983 "Add new E2E test for Standard LB backend pool membership"
Let's add a test to validate that all nodes in the cluster, across all node pools, are part of ILB and ELB svcs when Load Balancer is of type Standard.

[code]

[2020-03-27 23:07] jackfrancis commented on #2983
@ritazh FYI

[2020-03-28 17:45] #2611 closed

[2020-03-29 19:42] #2614 closed

[2020-03-30 09:01] MikkelHegn opened #2986 "collect-windows-logs.ps1 downloads script from GitHub"
**Describe the bug**
The [collect-windows-logs.ps1](https://github.com/Azure/aks-engine/blob/master/scripts/collect-windows-logs.ps1) script is used to gather logs and debugging information off Windows nodes. Part of this script downloads another debugging script directly from GitHub, to collect networking logs [collectlogs.ps1](https://raw.githubusercontent.com/Microsoft/SDN/master/Kubernetes/win

[2020-03-30 09:03] MikkelHegn commented on #2986
@marosset @craiglpeters - FYI

[2020-03-30 09:03] MikkelHegn commented on #2986
Self-assignment was a user error :-)

[2020-03-30 09:08] MikkelHegn commented on #2045
I went over the differences between IaasDiskInspector and the current CollectLogs script:

Currently IaaSDiskInspector has an AKS manifest for copying log files: https://github.com/Azure/azure-diskinspect-service/blob/master/pyServer/manifests/windows/aks. This can be triggered from the Azure Support Center.

Aks-engine copies a script to collect log son to the VHDs: https://github.com/Azure/aks-e

[2020-03-30 09:09] MikkelHegn commented on #2045
@AbelHu @marosset - this is a good supportability issue to get addresses.

[2020-03-30 09:47] mortaelth commented on #461
1.16.7 - still two failures
[code]

[2020-03-30 14:48] andyzhangx commented on #461
AKS 1.17.0 has fixed following issue, so there are only 1 failure remaining
[code]

[2020-03-30 16:53] iharrington commented on #1025
Is there a roadmap or somewhere we can check the status of this becoming available for aks?

[2020-03-30 17:01] CecileRobertMichon commented on #1025
@iharrington you can check the AKS equivalent issue [here](https://github.com/Azure/AKS/issues/1487)

[2020-03-30 17:14] marosset commented on #2986
@MikkelHegn we currently include all of these files on the aks-windows VHDs.
Ex: https://github.com/Azure/aks-engine/blob/master/vhd/release-notes/aks-windows/2019-datacenter-core-smalldisk-17763.1098.200315.txt

There was a bug I recently fixed where files were getting moved out of the cache during deployment time instead of copied which was preventing no-egress deployments from working.
This was

[2020-03-30 17:15] marosset commented on #2045
@ksubrmnn too

[2020-03-30 17:22] MikkelHegn commented on #2986
Thanks @marosset - It still looks like the collect-logs script is downloading the Network scripts? https://github.com/Azure/aks-engine/blob/959247d3aa03ccae1f97bd0d891adff1675dba52/scripts/collect-windows-logs.ps1#L39

[2020-03-30 17:24] marosset commented on #2986
I'm not sure why it is doing that because the script should already be there.
We can update that.

[2020-03-30 17:55] #622 closed

[2020-03-30 17:55] #2948 closed

[2020-03-30 18:58] gurudattest opened #2990 "aks-engine scale operation should consider current VMSS state into consideration"
**Describe the request**
We recently had created clusters with aks-engine with VMSS as the agent pool and enabled automatic OS image upgrades. We've patched the generated template with the required changes like enabling auto os image upgrades and for that we need to setup a probe and setting the "enableautomaticupdates" to false as its a requirement.
          We wanted to manually scale up the in

[2020-03-30 23:57] #2695 closed

[2020-03-31 00:01] marosset opened #2993 "Document which cluster configs are tested/supported for users"
**Describe the request**
aks-engine should document the types of cluster configurations that get regular testing and/or are considered supported.

**Explain why AKS Engine needs it**
Aks-engine allows users to configure/create clusters with an almost limitless set of configurations.
Many of these configuration options are added as experimental and have known issues or unknown behaviors.
This is bo

[2020-03-31 10:45] aviratm opened #2994 "error with aks-engin to generate JSON file"
running command to create JSON to deploy new AKS cluster using aks-engin.exe file downloaded from github (https://github.com/Azure/aks-engine/releases/tag/v0.48.0)

getting following error:

.\aks-engine.exe : panic: runtime error: invalid memory address or nil pointer dereference
At C:\DockerSwarmMode\AKS-Engine\generate-aks-template.ps1:40 char:1
+ .\aks-engine.exe generate $AksTemplateFile
+ ~~

[2020-03-31 12:45] pierluigilenoci commented on #1970
Thank you @jackfrancis

[2020-03-31 16:15] #2171 closed

[2020-03-31 17:17] marosset opened #2995 "Add documentation for VMSS best practices"
**Describe the request**
Aks-engine should add documentation around best practices in configuring/working with VirtualMachineScaleSets

**Explain why AKS Engine needs it**
VMSS automated/rolling upgrade strategies can be dangerous for Kubernetes workloads because VMSS does not have the ability to cordon/drain pods from nodes before shutting them down.

Because of this we recommend not enabling aut

[2020-03-31 17:17] marosset commented on #2995
@craiglpeters @jackfrancis FYI

[2020-03-31 18:55] jackfrancis commented on #1970
@pierluigilenoci Are you no longer experiencing these issues w/ Standard LB?

[2020-03-31 19:56] jackfrancis commented on #2994
Hi @aviratm are you using AKS Engine to build a Docker Swarm cluster?

[2020-03-31 20:53] #2294 closed

[2020-03-31 22:12] aviratm commented on #2994
Hello Jack

That is correct. I have attached JSON file that I am using.

Basically we used this file originally to create acs cluster using
acs-engin.exe. We are in process of migration to AKS and forest step is to
generate JSON file to build AKS cluster. we are trying to build like for
like hanse trying to use same JSON file.

Avi

On Wed, 1 Apr 2020 at 06:57, Jack Francis <notifications@github.c

[2020-03-31 22:23] marosset commented on #2986
/assign

[2020-03-31 23:42] #2971 closed

[2020-04-01 08:51] pierluigilenoci commented on #1970
This issue was fixed by aks-engine v0.41.3, https://github.com/Azure/aks-engine/issues/2033, I gave you an answer there.

[2020-04-01 08:51] pierluigilenoci commented on #2033
@jackfrancis I didn't experience again this error because I also stopped to spawn a new cluster with aks-engine. I will give you an update the next time that I will do.

[2020-04-01 08:52] pierluigilenoci commented on #1970
This ticked can be considered closed and outdated, see https://github.com/Azure/aks-engine/issues/2033 for updates on this story. 😛

[2020-04-01 08:52] #1970 closed

[2020-04-01 10:09] zhiweiv opened #3004 "Managed Identity support"
AKS now supports Managed Identity(https://docs.microsoft.com/en-us/azure/aks/use-managed-identity), does AKS-Engine has equivalent feature?
I found a setting useManagedIdentity in clusterdefinitions.md, and it says it is still in alpha state.

[2020-04-01 19:00] jackfrancis commented on #2994
Thanks for sharing.

AKS Engine only supports Kubernetes. You can try an older version of acs-engine, but I can't guarantee anything:

https://github.com/Azure/acs-engine/releases

Basically, for production usage, you'll want to look elsewhere for tooling to use Docker Swarm on Azure that includes relevant security patches and other updates.

Sorry for the bad news. :(

[2020-04-01 20:54] jackfrancis commented on #2033
Thanks for the response, and please do bug us if you experience this again using >= v0.48.0 of aks-engine.

[2020-04-01 20:54] #2033 closed

[2020-04-01 22:11] #2994 closed

[2020-04-01 22:52] jackfrancis commented on #3004
Hi @zhiweiv, Managed Identity is definitely supported, sorry for the stale docs! In fact we just merged a change to enable the use of pre-existing user assigned managed identity resources, and that came with a doc update:

https://github.com/Azure/aks-engine/pull/2960/files#diff-39c0bce26100cd1dcbe3f5b2a0ad31a4R75

[2020-04-01 22:52] jackfrancis commented on #3004
Let us know if the docs are still not clear!

[2020-04-01 22:52] #3004 closed

[2020-04-01 23:05] vparames86 opened #3010 "Permission issue to create file in azure file storage from container application"
**Describe the bug**
I followed the following guide "https://docs.microsoft.com/en-us/azure/aks/azure-files-dynamic-pv" to setup persistent volume mounted on a container. I changed the mount options to match my applications uid & gid, but the application is not able to create a new file in the mounted dir. I am running a "quagga" image in the container.

**kind: StorageClass**
metadata:
  annotati

[2020-04-02 18:18] jchauncey opened #3013 "When using custom hyperkube image it is not used for kube-proxy"
I built a custom hyperkube cluster using 0.47.0 and noticed that the kube-proxy running on my master node was not using the custom hyperkube image I was testing.

[code]

The image id 1b4 is my custom image:
[code]

I expected that the hyperkube image would be used in all places but that doesnt seem to be the case.

[2020-04-02 18:46] #2952 closed

[2020-04-02 23:03] jackfrancis opened #3017 "aks-engine upgrade doesn't work on Windows VMSS node pools"
On a cluster that has a Windows + Linux nodepool, only the Linux nodes are upgraded. See:

[code]

[2020-04-02 23:03] jackfrancis commented on #3017
@jadarsie FYI, can you reproduce this on Azure Stack?

[2020-04-03 13:25] ragoragino commented on #2227
We are having exactly the same issue as described by @mariojacobo, although in our case it takes around 20-30m for services to be assigned external IP addresses (also from another resource group than AKS resources). We are getting Terraform Kubernetes service resource failures due to that. That's why we would love to hear if there is any new development regarding the issue.

[2020-04-03 13:40] zhiweiv commented on #2227
Will https://github.com/kubernetes/kubernetes/pull/88699 help?

[2020-04-03 14:51] ragoragino commented on #2227
Yes, it seems that it could be the root cause. We will be waiting for the 1.18 AKS version to become GA.

[2020-04-03 15:50] jackfrancis commented on #2227
Hi folks, the following Kubernetes versions improve on the stated symptoms in this issue:

- 1.15.11
- 1.16.8
- 1.17.4

Is anyone running those versions and having these symptoms?

As @zhiweiv and @ragoragino suggest, 1.18.0 has further improvements to LoadBalancer reconciliation, but there is a regression in 1.18.0 (orthogonally related to the issues being described in this thread) that will ship

[2020-04-03 16:30] jadarsie commented on #3017
@haofan-ms is checking

[2020-04-03 16:51] mariojacobo commented on #2227
with 1.15.10 I have seen this occurrence just once, from a total of 20+ deployments. have not tried the other ones.

[2020-04-03 17:00] #2986 closed

[2020-04-03 17:40] #2618 closed

[2020-04-03 17:52] sblinz opened #3021 "Disable dashboard addon by default"
**Describe the bug**

I cannot delete the Kubernetes dashboard deployment on a cluster deployed with aks-engine. I tried deleting all possible objects related to the kubernetes dashboard (and metrics-server) in the kube-system namespace and they are both simply re-created.

I know that you can disable the dashboard in the API model with the setting below but a) I do not want to recreate my cluster

[2020-04-03 23:07] #2616 closed

[2020-04-04 00:03] jackfrancis commented on #3021
Hi @sblinz, what you are seeing is the effects of the `kube-addon-manager` reconcile the dashboard resources when they are removed from the cluster. If you want to make this manual removal persistent, ssh into your master and remove the dashboard yaml spec from:

- `/etc/kubernetes/addons/`

Then, manually remove all of the resources.

The `kube-addon-manager` component sources from that directory

[2020-04-04 00:05] jackfrancis commented on #3021
Let's use this issue as a reminder to remove the stale dashboard addon implementation from the list of automatically enabled addons. Do you mind if I change the title of the issue?

[2020-04-04 01:27] ritazh commented on #2394
Closing as we are supporting 1.16+ only.

[2020-04-04 01:27] #2394 closed

[2020-04-04 13:04] andyzhangx commented on #3010
hi, could you try on a vm by `mount -t cifs ...` the azure file directly and then run that container `docker run -v mnt-dir:your-dir ...`, by that way, you could easily check what's wrong.
And also to narrow down the issue, is it possible to run your app as root first:
[code]

[2020-04-04 20:10] #2641 closed

[2020-04-04 22:31] sblinz commented on #3021
@jackfrancis Thanks for the reply, that makes sense. I see that in /etc/kubernetes/addons/kubernetes-dashboard-deployment.yaml the deployment metadata includes `addonmanager.kubernetes.io/mode: Reconcile`.

Yes, feel free to change the title of the issue.

[2020-04-05 23:16] #2245 closed

[2020-04-05 23:16] #2648 closed

[2020-04-05 23:16] #1711 closed

[2020-04-06 00:16] #2205 closed

[2020-04-06 06:37] haofan-ms commented on #3017
On Azure Stack side, the behavior is the same. `aks-engine upgrade` command finished successfully but the Windows node is not upgraded. Only Linux nodes are upgraded.

[2020-04-06 13:33] TheAzureGuy007 commented on #805
Assigning "cluster-admin" role is not solution for every case, especially if you are building kubernetes multitenancy model
#theazureguy007

[2020-04-06 15:52] jackfrancis commented on #3017
@haofan-ms Thank you for confirming. I will spend some time today trying to identify when this upgrade behavior regressed.

[2020-04-06 16:44] mboersma commented on #2685
Fixed in #2841.

[2020-04-06 16:44] #2685 closed

[2020-04-06 18:50] jackfrancis opened #3030 "Current nvidia drivers installation depends on an expiring gpg key"
The current nvidia drivers installation depends upon an apt gpg key that expires in 4+ months:

[code]

[2020-04-06 18:55] jackfrancis commented on #3030
Opened:

https://github.com/NVIDIA/nvidia-docker/issues/1241

[2020-04-06 22:37] edernucci commented on #1018
Hi there,

Can't see it applied to my AKS node:

[code]

Here is my ``/etc/pam.d/common-password``:

[code]

Do you have the merge ETA to AKS?

[2020-04-06 22:43] CecileRobertMichon commented on #1018
@xuto2 can you help with the above question?

[2020-04-07 15:25] jchauncey opened #3037 "New image available: mcr.microsoft.com/oss/kubernetes-csi/csi-resizer:0.5-canary"
Trigger has produced a new build for the following image:
 `mcr.microsoft.com/oss/kubernetes-csi/csi-resizer:0.5-canary`

[2020-04-07 15:25] jchauncey opened #3038 "New image available: mcr.microsoft.com/oss/kubernetes-csi/csi-resizer:0.4-canary"
Trigger has produced a new build for the following image:
 `mcr.microsoft.com/oss/kubernetes-csi/csi-resizer:0.4-canary`

[2020-04-07 15:32] jchauncey opened #3039 "New image available: mcr.microsoft.com/oss/kubernetes-csi/csi-resizer:0.5-canary"
Trigger has produced a new build for the following image:
 `mcr.microsoft.com/oss/kubernetes-csi/csi-resizer:0.5-canary`

[2020-04-07 15:32] jchauncey opened #3040 "New image available: mcr.microsoft.com/oss/kubernetes-csi/csi-resizer:0.4-canary"
Trigger has produced a new build for the following image:
 `mcr.microsoft.com/oss/kubernetes-csi/csi-resizer:0.4-canary`

[2020-04-07 15:32] #3037 closed

[2020-04-07 15:32] #3038 closed

[2020-04-07 15:32] #3039 closed

[2020-04-07 15:32] #3040 closed

[2020-04-07 20:10] gball14 commented on #2956
We moved to latest AKS engine and Kubernetes 1.15.11. The issue doesn't repro.

[2020-04-07 20:10] #2956 closed

[2020-04-08 12:38] AkihiroSuda commented on #2422
no stale

[2020-04-08 13:57] karataliu opened #3042 "aad integration does not work on 1.17"
**Describe the issue**
AAD integration: https://github.com/Azure/aks-engine/blob/master/docs/topics/aad.md

On 1.16, works well
[code]
On 1.17:
[code]

oidc could not fetch the open id configuration due to ssl validation issue.

**AKS Engine Version***

**Kubernetes Version**

**Gatekeeper Version**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down

[2020-04-08 22:15] palmerabollo commented on #2311
not stale

[2020-04-09 04:07] popsikle commented on #2377
this is still an issue.

[2020-04-09 04:14] popsikle opened #3050 "Add coreDNS autoscaling"
**Describe the request**
Autoscale the coreDNS pods for availability and scale reasons.

**Explain why AKS Engine needs it**
When the cluster size gets on the larger side (~100 nodes, 5k-6k pods) the single coreDNS pod gets CPU bound and dns requests start timing out or becoming a large source of latency.

**Describe the solution you'd like**
We fixed this by creating an autoscaling setup for the

[2020-04-09 06:36] frcai opened #3051 "Support customized daemonset created by nvidia-device-plugin addson"
**Describe the request**
We wish to add tolerations entry (e.g.  "foo") to the daemonset created by nvidia-device-plugin addson.
https://github.com/Azure/aks-engine/tree/master/examples/addons/nvidia-device-plugin

      tolerations:
      - key: CriticalAddonsOnly
        operator: Exists
      - effect: NoSchedule
        key: nvidia.com/gpu
        operator: Equal
        value: "true"
      -

[2020-04-10 05:03] sukhong opened #3055 "aks-engine always download CNI plugin v0.8.5 due to a recent file name change in the latest VHDs"
**Describe the bug**
Within VHD, CNI plugin file used to be named "cni-plugins-amd64-[version].tgz"

Seems like recent PR (https://github.com/Azure/aks-engine/pull/2841) made a change the name to be: cni-plugins-**linux**-amd64-[version].tgz instead.

aks-engine is still trying to find an pre-downloaded cni-plugin file using an old name (and fails), and this is causing it to always attempt to down

[2020-04-10 12:10] nidiculageorge opened #3057 "Azure Kubernetes VM node size change not reflecting in Azure Kubernetes Service"
Hi Team,

We had scaled down the VM size (VM SCaleset) of the Node to a Lower Standard DS2_V2 from Standard DS4_V3.The node size got reduced.

But when we check in the portal for the Kubernetes the node VM size is still showing as Standard DS4_V3

![image](https://user-images.githubusercontent.com/43850474/78989851-6af1fd00-7b52-11ea-8403-02067af18952.png)

Can someone till whether this is a bug o

[2020-04-10 20:54] sukhong commented on #3055
Seems like I was working on an older branch that cause confusion. Latest master seem to have fixed this issue.

[2020-04-10 20:54] #3055 closed

[2020-04-11 04:08] #2677 closed

[2020-04-11 20:08] #2679 closed

[2020-04-11 22:14] sukhong commented on #2552
@ritazh @jackfrancis we need this feature to be able to sync time in air-gapped clouds. Can we re-open this issue?

[2020-04-12 09:32] dmeytin commented on #2377
This is still an issue, and mostly affects deployments with more than 100 nodes.
Since there is a recommendation to use multiple node pools each with up to 100 nodes, we can add multiple outbound IPs for each VMSS using the following command:

az vmss create --resource-group "$resource_group" --name $agent_pool_name \
    --image "$image_id" \
    --admin-user "$admin_username" \
    --ssh-key-val

[2020-04-12 11:44] andyzhangx commented on #3057
change vm size of existing node pool in aks is not supported actually, that is a workaround, you may add a new node pool with new vm size and then delete original node pool

[2020-04-12 11:47] #2805 closed

[2020-04-12 13:16] nidiculageorge commented on #3057
@andyzhangx we have resized the size of the vm scale set to standard ds2ve and we didnt face any issue.What is the problem in resizing the same

[2020-04-12 13:22] nidiculageorge commented on #3057
can this issue be opened as we have to find a solution

[2020-04-12 13:33] andyzhangx commented on #3057
why not add a new node pool with new vm size?

[2020-04-12 16:22] jomeier commented on #2805
Hi,

@andyzhangx
why is that one closed? What‘s your recommendation to proceed with this problem?

Greetings,

Josef

[2020-04-12 16:45] nidiculageorge commented on #3057
cant we resize theexisting node,we have done in the existing environment will it cause any issues

[2020-04-13 01:18] andyzhangx commented on #2805
pls procceed to file support ticket if this issue happen again, thanks.

[2020-04-13 06:34] philipp1992 commented on #2805
We did open a support ticket for. They assume it's because of the higher iops during Filesystem creation,which leads to throttling and then to the errors (disk connectivity lost). I've closed the support case because it seems to be a waste of time and just a Azure problem. I've never experienced such problems with other cloud providers.

[2020-04-13 14:35] satishsudini commented on #3042
We are facing same issue with the aks-engine v47.0 and kubernetes 1.17 seeing below error (error: You must be logged in to the server (Unauthorized))

[2020-04-13 19:55] sgandewar opened #3066 "container start failed: CreateContainerConfigError: failed to prepare subPath for volumeMount"
**Describe the bug**

Intermittently pod crashing. Randomly unable to mount the configmap.

Apr 10 16:26:15 k8s-agent-24457171-9 kubelet[2092]: E0410 16:26:15.920648    2092 kuberuntime_manager.go:784] container start failed: CreateContainerConfigError: failed to prepare subPath for volumeMount 'ce-api-tempappsettings' of container '-ce-api-temp': error mounting /var/lib/kubelet/pods/fe596f4a-7b47

[2020-04-13 22:29] jackfrancis commented on #3066
From the description this is intermittent. Are there any manual remediations you're applying to restore pod scheduling?

[2020-04-13 22:30] jackfrancis commented on #3066
@cpuguy83 Does this seem like an error that would reduce in frequency between moby 3.0.7 (version running on clusters having this intermittent error) and 3.0.11?

[code]

[2020-04-13 22:31] mboersma commented on #3057
This is the AKS Engine open source project, [not the AKS](https://github.com/Azure/aks/issues) managed service. For questions about AKS, please open an issue at https://github.com/Azure/aks/issues.

[2020-04-13 22:31] #3057 closed

[2020-04-13 22:57] cpuguy83 commented on #3066
Hard to say since the errors are generated by the kubelet and not mentioning anything specific as to the failure.

[2020-04-13 23:35] jackfrancis commented on #3051
@frcai, just making sure you understand if we do this work it will be for AKS Engine-created clusters only, it won't have any affect on AKS clusters.

[2020-04-14 00:09] frcai commented on #3051
yes - we use AKS-Engine managed cluster.

[2020-04-14 05:47] #2691 closed

[2020-04-14 05:47] #2609 closed

[2020-04-14 05:47] #2652 closed

[2020-04-14 15:53] baboune commented on #2726
Any updates on above?

[2020-04-14 19:47] #2574 closed

[2020-04-14 22:38] luffykai2 opened #3071 "kube-proxy CreateContainerError on some node"
**Describe the bug**
We are running some workload, with node autoscaling.
On some of the node, the kube-proxy is having `CreateContainerError` error.

[code]

The only event:
[code]

no events for node either when describing the node.

it happens intermittently, only on some node.
[code]

**Expected behavior**
The kube-proxy pod is up

**AKS Engine version**
[code]

**Additional context**
any sugg

[2020-04-15 20:25] yashs-dev commented on #2831
We are using version 0.45.0.

[2020-04-15 20:44] jackfrancis commented on #2831
This is user-configurable for both kubelet and apiserver.

If you need to configure for kubelet, you may pass in a user-override via the `kubeletConfig` configuration object (which is a child object of `kubernetesConfig`) in your input api model to `aks-engine generate` or `aks-engine deploy`. E.g.:

[code]

And similarly for apiserver:

[code]

Note: the above values are the current aks-engine de

[2020-04-15 21:02] jackfrancis commented on #3071
Hi @luffykai2, `kubectl describe pod kube-proxy-wvx7t` (using that pod name as an exapmple) doesn't give us any more data about what failed?

Also, is this AKS or AKS Engine? I'm not sure I'm familiar with the version `v1.14.8_f0.0.4`.

[2020-04-15 21:26] luffykai2 commented on #3071
Sorry should be AKS, will file issue there.

And yes, describe pod doesn't show any data other than the normal events

[2020-04-15 21:29] #3071 closed

[2020-04-15 21:29] luffykai2 commented on #3071
https://github.com/Azure/AKS/issues/1558

[2020-04-15 23:49] tamilmani1989 opened #3074 "DualStack incorrect service state after pod deletion"
**Describe the bug**
Service IP to pod ip mapping is not getting removed from ipvs rules after corresponding pod deletion.
**Steps To Reproduce**

Create a tcp ipv6 loadbalacer service with couple of pods. Then delete pod deployment alone. List ipvs rules using "sudo ipvsadm -Ln". Even after pod deletion, service ip maps to deleted pod ipv6 ips.

**Expected behavior**

**AKS Engine version**
Lates

[2020-04-16 00:45] tamilmani1989 commented on #3074
Opened an issue in upstream kubernetes [](https://github.com/kubernetes/kubernetes/issues/90186) as per @aramase suggestion

[2020-04-16 00:45] #3074 closed

[2020-04-16 12:41] ezYakaEagle442 opened #3077 "aks-engine cluster creation fails with VM extension error"
**Describe the bug**

aks-engine cluster creation fails with VM extension error

**Steps To Reproduce**

1. 1. Trying to follow Azure Arc private preview instructions, I did follow the steps to create a cluster using AKS-Engine. Configure API Model JSON file :
{
"apiVersion": "vlabs",
"properties": {
"orchestratorProfile": {
"orchestratorType": "Kubernetes",
"orchestratorRelease": "1.16"
},
"maste

[2020-04-16 15:22] Nilubkal opened #3079 "cluster-proportional-autoscaler-amd64:1.1.2-r2 fails to pull from mcr.microsoft.com ( ImagePullBackOff )"
**Describe the bug**
calico-typha-horizontal-autoscaler deployment cannot pull the the image from:

`mcr.microsoft.com/cluster-proportional-autoscaler-amd64:1.1.2-r2`

`calico-typha-horizontal-autoscaler-5757c78465-kbpz5   0/1     ImagePullBackOff`

[code]
**Steps To Reproduce**
After creating a cluster via passing a prebuild json template ( as we were successfully doing it numerous times with pre

[2020-04-16 16:27] ericsuhong commented on #2552
I found out that disabling NTP is not enough for enabling host-only sync mode. If you disable NTP, VMs till only sync from host on when VM is paused or reboot (got a confirmation from Azure Linux team). Chrony is the only way to sync time from host using PTP source.

[2020-04-16 19:44] jackfrancis commented on #2377
@Michael-Sinz can you share with @dmeytin any gotchas w/ respect to ditching the 100 node per-VMSS limit? You are running clusters w/ many more than 100 nodes on a single VMSS, correct?

[2020-04-16 19:49] jackfrancis commented on #2377
Also @Michael-Sinz, in a general sense, have you seen the errors posted by the @palmerabollo in your large clusters?

[2020-04-16 20:15] Michael-Sinz commented on #2377
@palmerabollo The outbound ports thing depends heavily on the number of public IP addresses you have in the cluster and the amount of outbound you do.

The standard load balancer NAT/SNAT design has it allocating number of streams (and thus ports) in a "fixed" scenario per VM.  In older aks-engine, the API it was using in Azure would get a default of "0" which means dynamic but in a middle set, th

[2020-04-16 20:17] Michael-Sinz commented on #2377
PS - we run clusters that run hundreds of nodes in our speech and language AI products.  Multiple clusters per region, across multiple regions.  We scale the busy regions by hundreds of nodes every day (up and down as load goes up and down).

[2020-04-16 20:28] Michael-Sinz commented on #2377
@dmeytin - We generally run a small number of node pools due to scaling behaviors and the fact that we generally run separate pools for separate resource specific needs (GPU specific pools vs CPU-compute pools vs Memory-intensive pools)

The total number of nodes in our clusters rarely go over 600 and currently we limit VMSS scaling to 600.  These clusters are generally reliable for our use but we

[2020-04-16 20:33] Michael-Sinz commented on #2377
PS - I really like @dmeytin idea of an output IP/LB just for increasing SNAT scale but that brings up issues for us since we are now being asked to follow service-tag and bring-your-own-vnet solutions which depends on knowing the IP addresses outbound communications happen on so that would require them to be outbound within a service tag allocation.

In general, we have worked hard to not have as

[2020-04-16 20:49] Michael-Sinz commented on #2377
I just realized I did not say how big a single VMSS is - they get into the 300-600 node range in a number of clusters/regions and sometimes actually hit our 600 node limit for a single VMSS.  Not all of our many clusters have that high of a load since some regions are not that hot/busy.  As an example of that swing - I just looked at one of our US clusters and today its swing from over night low o

[2020-04-16 21:14] jackfrancis commented on #3077
Hi @ezYakaEagle442, are the VMs still around? If so, you can hop onto the master-0 VM and look at CSE (CustomScriptExtension) provisioning logs at `/var/log/azure/cluster-provision.log`, which should give more information why Kubernetes failed to launch.

[2020-04-16 21:15] jackfrancis commented on #3017
Changed the title. The correct blast radius is all Windows VMSS pools. I have a fix.

[2020-04-17 00:02] #3017 closed

[2020-04-17 01:18] #2208 closed

[2020-04-17 14:47] ezYakaEagle442 commented on #3077
the VM are still there but unfortunately it looks like I can not connect through SSH as no public keys was set in the API model (it did failed when I did copy/paste the pub key) :

      "linuxProfile": {
        "adminUsername": "azureuser",
        "ssh": {
          "publicKeys": [
            {
              **"keyData": ""**
            }
          ]
        }

[2020-04-17 15:56] devigned commented on #2587
Closing since CoreOS is no longer a thing ⚱️

[2020-04-17 15:56] #2587 closed

[2020-04-17 18:01] chewong opened #3090 "Labels of master node aren't set correctly by cloud-node-manager after upgrading"
**Describe the bug**

**Steps To Reproduce**

- Create an aks-engine cluster with `useCloudControllerManager` enabled
- Change the master's VM size in the API model and upgrade the cluster
- `beta.kubernetes.io/instance-type` and `node.kubernetes.io/instance-type` labels on the master node don't reflect the updated VM size

**Expected behavior**
`beta.kubernetes.io/instance-type` and `node.kuberne

[2020-04-17 20:03] stampeder commented on #805
Run kubectl create clusterrolebinding kubernetes-dashboard --clusterrole=cluster-admin --serviceaccount=kube-system:kubernetes-dashboard

Nope. I ran this and I still can't get the permissions of an admin no matter what. Definitely not solved.
Thanks.

[2020-04-17 22:05] chewong commented on #3090
I think the issue is that aks-engine didn't unregister the master node from the API server before deleting the VM. When the new master node comes online, kubelet is able to find a copy of the old master node and decides to [update the new node status using the old one](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_node_status.go#L114-L125).
Therefore, [`initializeNode`](

[2020-04-17 23:15] #3050 closed

[2020-04-18 03:44] #3021 closed

[2020-04-18 14:35] Incarnation-p-lee commented on #1706
@tamilmani1989
Is there any mapping between cni version and aks version, just take a look from node, aks 1.13.11 have had cni v1.0.27 which is too old.

As I understanding, this can be fixed by upgrade aks version, right ?

[2020-04-18 17:13] #2704 closed

[2020-04-18 17:59] edernucci commented on #1711
Hi people, any updates on this issue?

[2020-04-19 02:54] feiskyer commented on #3090
exactly, the node initialize is only triggered on node register phase. Master node need to unregister and register again to get these labels updated.

[2020-04-19 19:38] amodm opened #3097 "Getting 429 TooManyRequests when doing Managed disk attach operation"
**Describe the bug**
When attaching managed disks to a node, our cluster goes into a spin with lots of `429 TooManyRequests` error messages like the following

[code]

**Steps To Reproduce**
The issue isn't completely reproducible, and seems to show up in our larger clusters only unfortunately, which are our production clusters. On our production cluster, this seems to show up once every 5-7 attem

[2020-04-19 20:00] amodm commented on #3097
Apparently, the controller manager was already sending a very large number of requests: ~7000/hr, and the number of requests seems to scale linearly with number of nodes in the cluster. So it's possible that the disk operation was just the last straw. Either ways, the number of calls being made is currently not compatible with Azure VMSS rate limits at all.

[2020-04-20 09:50] aelmanaa commented on #2788
Hello @RickyRajinder  just ran into the smae issue. any workaround?

[2020-04-20 13:53] MikkelHegn commented on #2045
@suimma74 - FYI for the AKS log collection. Not sure if IaaSDiskInspector can execute script?

[2020-04-20 15:50] mboersma commented on #2836
I was unable to reproduce this with AKS Engine v0.47.0 and Kubernetes 1.17.3, using the `./examples/networkpolicy/kubernetes-calico-azure.json` cluster config / apimodel. (In my experience, `runAsRoot` startup errors are actually rare and random, which is why we still don't have a handle on #1851.)

If this is reproducible for you, please help us so we can pursue a fix!

[code]

[2020-04-20 16:02] mboersma commented on #653
I'm going to close this issue. Here is the current state of things:

- 🛠️ [Homebrew releases](https://github.com/Azure/homebrew-aks-engine) are still manual, although trivial
- ✔️[gofish releases](https://github.com/fishworks/fish-food/blob/master/Food/aks-engine.lua) are automated!
- 👎 docker releases are not planned
- ✔️ [Chocolatey releases](https://chocolatey.org/packages/aks-engine/) are auto

[2020-04-20 16:02] #653 closed

[2020-04-20 16:47] mboersma commented on #1894
Currently there isn't a `cron`-type job to run this on a schedule, but you can easily update locations and SKUs with this script:

[code]

[2020-04-20 17:56] #3079 closed

[2020-04-20 18:06] mboersma opened #3102 "Update cluster-proportional-autoscaler to newer versions"
**Describe the issue**
Calico references an old version of cluster-proportional-autoscaler. Let's sync it up with the other reference and make sure they're both on a current version.

See #3091

**AKS Engine Version***

**Kubernetes Version**

**Gatekeeper Version**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expecte

[2020-04-20 18:23] mboersma commented on #2822
As far as I can tell, this is working as designed. Please re-open this or create a new issue if there's something I missed that we can fix.

See also #3093.

[2020-04-20 18:23] #2822 closed

[2020-04-20 18:44] #2377 closed

[2020-04-20 19:00] mboersma commented on #2773
I couldn't reproduce with master and moby:

[code]

Will try containerd next.

[2020-04-20 20:40] jackfrancis opened #3105 "Reinforce dual stack and ipv6 documentation"
**Describe the request**

Let's purposefully add some more user documentation for all the ipv6 scenarios now supported by aks-engine.

**Explain why AKS Engine needs it**

ipv6 scenarios are mostly dev-focused at this point; without documentation we're discouraging users from experimenting

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-04-20 20:42] jackfrancis opened #3106 "Rationalize defaults enforcement flows for ipv6 cluster configurations"
At present, the ipv6 surface area offers a lot of configuration:

- ipv6 only
- dual stack
- + kubenet
- + Azure CNI

Let's audit the defaults enforcement to produce the simplest possible "blessed defaults", with E2E configurations to support them.

[2020-04-20 20:57] jackfrancis commented on #3097
@amodm a lot of cloudprovider optimizations have been made between 1.16.1 and the latest 1.16 (1.16.9) that should move the subscription requests downward for this cluster.

What's your current cluster maintenance workflow? How can we get you to 1.16.9 (or newer versions of 1.17/1.18)?

[2020-04-20 20:59] jackfrancis commented on #3077
If this is reproducible in your environment, build a new cluster w/ an ssh key in the api model, and then gather the provisioning logs, which should tell us if anything failed in provisioning.

Also, `sudo journalctl -u kubelet` will give you more detailed logs on why the kubelet service didn't launch reliably.

[2020-04-20 21:45] mboersma commented on #2773
Indeed it fails on a `containerd`-enabled cluster. This must be because the health-monitor.sh script expects to find either `docker` or `crictl` to check that everything is working, but the `moby-containerd` package has only `containerd` and `ctr`.

cc: @cpuguy83

[2020-04-20 21:46] jackfrancis commented on #2773
Should we just remove these systemd jobs via CSE in a containerd config context?

[2020-04-20 21:53] mboersma commented on #2773
Yeah, removing the `docker-monitor` units is an alternative, if there isn't a simple equivalent to `docker ps` using `ctr` or a supplemental package to install that provides `crictl`. I'm still poking around and I've asked cpuguy83 about that, but removing can be our fallback position.

[2020-04-20 21:57] cpuguy83 commented on #2773
There wouldn't be anything meaningful that `ctr` could do in the context of ensuring that the cri is functioning.
`crictl` would definitely be a better option in that regard.

[2020-04-20 22:01] mboersma commented on #2773
I'll see if there's anything straightforward I can do using `crictl`; otherwise I'll disable this in the `{{if not NeedsContainerd}}` case.

[2020-04-21 01:45] amodm commented on #3097
Thanks @jackfrancis. We'll attempt shifting to 1.16.9 over the next couple of days at low traffic hours, and revert with findings.

On our current running SR, I was pointed to https://github.com/kubernetes-sigs/cloud-provider-azure/issues/247 - Is this what you were referring to when you mentioned cloud provider optimisations?

[2020-04-21 10:33] sumanthbr opened #3112 "AKS Engine cluster deployment is failing with Custom Script Extension Error on Azure Stack Hub"
**Describe the bug**
AKS Engine cluster deployment is failing with Custom Script Extension Error (Error Code 30) on Azure Stack Hub using custom subnet option.
**Steps To Reproduce**
Configure the apimodel.json with all the inputs for the cluster and deploy the cluster using aks-engine.
Deployment fails while running the custom script extension task for the master nodes.
**Expected behavior**
AKS

[2020-04-21 16:35] mboersma commented on #2773
Upon closer inspection, I don't think there's actually a problem here. The `docker-monitor.service` and `docker-monitor.timer` units are present on disk (they're part of the VHD), but the `systemctlEnableAndStart docker-monitor.timer` call that actually starts the service is already inside a `{{- if IsDockerContainerRuntime}}` block. So in the case of containerd, these systemd units are disabled (

[2020-04-21 17:48] dmeytin opened #3114 "Can't upgrade cluster using aks-engine 0.49 that was created using previous aks-engine versions"
**Describe the bug**
The new release of aks-engine (0.49) includes update of azure-sdk-for-go that brought in new ARM APIs. As a result some elder api models are not working.
Example, the name of the load balancer equals to the managed identity name

Error: resources.DeploymentsClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="InvalidTemplate" Message="Deploym

[2020-04-21 20:08] jackfrancis commented on #3114
I'm able to reproduce this.

I think the near term guidance would be to *not* use the same name for your Managed Identity resource (userAssignedID) and the MasterProfile.DNSPrefix.

AKS Engine has a convention of re-using the MasterProfile.DNSPrefix value as the name of the Standard LoadBalancer resource. For now, let's keep that convention, and validate that using a discrete userAssignedID value

[2020-04-21 23:55] #3114 closed

[2020-04-22 01:58] jsco2t opened #3119 "Standard SKU Load Balancer is reporting 'null' for it's zone awareness"
**Describe the bug**
I have a cluster deployed with the following characteristics:

- Configured to have a `standard sku` loadbalancer
- Uses VMScaleSets for it's Node Pools
- The Node Pools are setup to support three availability zones
- I have 3 live nodes running (one in each availability zone).
- A `k8s` service of type `loadbalancer` exposed.

Issue: The Azure LoadBalancer being created by by

[2020-04-22 04:13] mjsabby commented on #1025
Does it make sense to move to Ubuntu 20.04 now?

[2020-04-22 15:11] mhyllander commented on #3042
I see the same with aks-engine v0.49.0 and kubernetes 1.17 and 1.18.

[2020-04-22 15:24] jsco2t commented on #3119
After re-reading the `Availability Zones` documentation for the Load Balancer - I think this bug was actually confusion on my part. IF I am understanding the documentation correctly - the IP Address for the Standard SKU Load Balancer is `zone redundant` by default. And that if the `zones` value for it had a value it would mean that the IP Address was instead tied to a particular zone (i.e. made `z

[2020-04-22 16:13] jackfrancis commented on #1025
#3070 changed the default Linux distro to 18.04-LTS

@mjsabby we wouldn't consider changing the default Ubuntu distro for quite a while. If you'd like to track the introduction of that as a configurable option, please file an issue. Thanks!

[2020-04-22 16:13] #1025 closed

[2020-04-22 21:33] jackfrancis opened #3125 "CSE 14 error on cluster deployment"
Seeing intermittent cluster deployment failures return CSE 14 errors. E.g.:

[code]

[2020-04-22 21:34] jackfrancis commented on #3125
On a repro vm exhibiting this symptom I see that systemd failed to start the etcd service:

[code]

`journalctl -xe` tells me:

[code]

[2020-04-22 21:39] jackfrancis commented on #3125
etcd volume does seem to be mounted O.K.:

[code]

[2020-04-22 21:40] jackfrancis commented on #3125
Successfully re-ran the idempotent mount etcd disk volume script:

[code]

[2020-04-22 21:45] jackfrancis commented on #3125
Solved:

[code]

I wonder if this cloud-init bug hints that mounting a volume in parallel while cloud-init runs can create pathologies.

[2020-04-22 23:36] #3125 closed

[2020-04-23 00:07] marosset opened #3128 "Add test coverage to validate Windows nodes come up correctly after reboot"
**Describe the request**
Add test coverage to validate Windows nodes come up correctly after reboot

**Explain why AKS Engine needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-04-23 22:58] jackfrancis opened #3134 "USE_DEPLOY_COMMAND option broken in E2E"
See:

[code]

[2020-04-23 23:37] aramase opened #3135 "Set iptable rules to block traffic to IMDS"
**Describe the request**
When a cluster with pod-identity addon is enabled, there could be scenarios during scaling up where the workload pods are scheduled before pod-identity NMI pods are scheduled on the node. During this period of time, request for token from workload pod will be directly sent to IMDS. This means the workload pod can request token for identity it doesn't have access to.

This

[2020-04-24 09:00] AbelHu opened #3137 "Incorrect file name in the log of windowsnodereset.ps1"
**Describe the bug**
`windowsnodecleanup.ps1` should be `windowsnodereset.ps1` in the logs

https://github.com/Azure/aks-engine/blob/5ee1274e2cf83ee3979e57890058ca5d011b153f/parts/k8s/windowsnodereset.ps1#L23

https://github.com/Azure/aks-engine/blob/5ee1274e2cf83ee3979e57890058ca5d011b153f/parts/k8s/windowsnodereset.ps1#L105

**Steps To Reproduce**

**Expected behavior**
Write-Log "Entering windo

[2020-04-24 13:03] MikkelHegn opened #3139 "Cached files on Windows vhd are being downloaded"
**Describe the bug**
The `hns.psm1` file is being used twice in the Windows provisioning script:
1. https://github.com/Azure/aks-engine/blob/5ee1274e2cf83ee3979e57890058ca5d011b153f/parts/k8s/kuberneteswindowssetup.ps1#L340
1. https://github.com/Azure/aks-engine/blob/5ee1274e2cf83ee3979e57890058ca5d011b153f/parts/k8s/kuberneteswindowssetup.ps1#L385

When running the second function, the file is no

[2020-04-24 13:05] MikkelHegn commented on #3139
@marosset / @ksubrmnn - this is impacted locked down environments and blocking node provisioning.

I suggest we also don't block node provisioning if downloading debug script fails (Get-LogCollectionScripts).

[2020-04-24 15:51] #3137 closed

[2020-04-24 16:10] marosset commented on #3139
This issue was addressed in aks-engine v0.48.0 and a jenkins job was added to validate no-outbound functionality for each aks-engine release.
Both the fix and the test updates were part of #2883

The same test job should be enabled in the branch AKS uses to vendor in aks-engine if this is a continued problem.

[2020-04-24 17:24] #2773 closed

[2020-04-25 02:35] gurudattest opened #3145 "Creating cluster in AzureUSGovernment environment with aks-engine v0.48.0 fails with CSE extension failure on master"
**Describe the bug**
When creating cluster with aks-engine v0.48.0 in the AzureUSGovernment environment, its failing at some CSE on master. The same setup works fine in the Public cloud.

Here's the error I'm getting

_{
    "status": "Failed",
    "error": {
        "code": "ResourceDeploymentFailure",
        "message": "The resource operation completed with terminal provisioning state 'Failed'.

[2020-04-25 06:00] aviratm opened #3146 ".\aks-engine.exe : Error: validating API model after populating values: AgentPoolProfile.Ports must be empty for Kubernetes"
Using aks-engine to generate templet to deploy K8s in Azure using following command

.\aks-engine.exe generate --api-model "test.json"

the issue is, I am getting error while defining  "custom" ports in JSON file.
".\aks-engine.exe : Error: validating API model after populating values: AgentPoolProfile.Ports must be empty for Kubernetes"

test.json file is as follows:
-----------------------------

[2020-04-26 08:24] andyliuliming opened #3147 "enable the "canal" in aks-engine?"
**Describe the request**
enable the flannel + calico in aks engine.

**Explain why AKS Engine needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-04-26 18:50] #2740 closed

[2020-04-27 00:50] #2747 closed

[2020-04-27 10:10] MikkelHegn commented on #3139
Thanks @marosset - can you or @AbelHu help setting up that validation?

[2020-04-27 16:55] jackfrancis commented on #3146
Hi @aviratm, correct, this is not something that AKS Engine can do (which the validation error is telling you).

The typical use-case for Kubernetes is to define various IP/port requirements using Kubernetes itself (creating resources of type `service`). The underlying Azure Load Balancer will be maintained under the hood by the cloudprovider runtime running in your Kubernetes cluster.

[2020-04-27 22:31] mboersma opened #3152 "Update references to Heapster in monitoring doc"
**Describe the bug**
As noted in [the Dashboard v2 PR](https://github.com/Azure/aks-engine/pull/3140#discussion_r416174625), there are references to Heapster in docs/topics/monitoring.md (and possibly elsewhere). Those should be cleaned up and the monitoring doc brought up to date.

**Steps To Reproduce**

**Expected behavior**

**AKS Engine version**

**Kubernetes version**

**Additional context*

[2020-04-27 23:35] bowang-666 opened #3154 "[VHD] missing pam.d/common-auth and pam.d/common-password"
**Describe the bug**
vhd/packer/packer_source.sh did not copy pam.d/common-auth and pam.d/common-password

[2020-04-28 00:46] AbelHu opened #3156 "Should expose error details in Windows CSE for better troubleshooting"
**Describe the bug**
exit 1 in Windows CSE does not help troubleshooting
https://github.com/Azure/aks-engine/blob/95b7254ec553c4397bea26cbc7dcc10fd5d1f07d/parts/k8s/kuberneteswindowssetup.ps1#L437

**Steps To Reproduce**

**Expected behavior**
We can identify the failed step via exit code in Windows CSE.

**AKS Engine version**
v0.50.0
**Kubernetes version**

**Additional context**

[2020-04-28 03:56] AbelHu commented on #3156
How do we change it from
[code]
to
[code]

[2020-04-28 04:08] aviratm commented on #3146
Hello Jack

Thanks for your respond.

i did some testing and found that it does create LB and setup an individual
frontend IP for each services compare to acs-engin where i could use single
frontend ip tpo load balance multiple services.

Avi

On Tue, 28 Apr 2020 at 02:56, Jack Francis <notifications@github.com> wrote:

[2020-04-28 07:20] #3139 closed

[2020-04-28 07:21] MikkelHegn commented on #2045
I will close this for now, as there is good guidance on how to get further info from within the node.

[2020-04-28 07:21] #2045 closed

[2020-04-28 14:00] AbelHu commented on #3156
cc @marosset

[2020-04-28 16:07] marosset commented on #3156
When I looked into this in the Fall 2019 I found that the Windows VM agent could only report  pass/fail for custom script extensions and the only way to get error details was to check the logs in c:\azuredata\
Let me try and find the docs  where i found this info.

[2020-04-28 16:44] jackfrancis commented on #3147
Hi @andyliuliming, I suspect this is possible, but no one is working on it to my knowledge.

cc @rbitia @craiglpeters

[2020-04-28 16:45] jackfrancis commented on #3154
@mboersma can we just remove the "source" statements that call in those files?

[2020-04-28 16:49] jackfrancis commented on #3156
Can we send @AbelHu a trophy for the best issue title in the queue?!

🏆

[2020-04-29 07:22] AbelHu commented on #3156
@marosset CSE still returns exit code 1 but it can expose the error output if we throw the error in the catch block.

I tested this custom script: [https://abeltestcse.blob.core.windows.net/scripts/testcse.ps1](https://abeltestcse.blob.core.windows.net/scripts/testcse.ps1) and the failed result is as below

![image](https://user-images.githubusercontent.com/6416187/80570106-ccf4a280-8a2c-11ea-8c04

[2020-04-29 19:08] #3156 closed

[2020-04-30 05:57] #2737 closed

[2020-04-30 19:27] jackfrancis opened #3170 "Add documentation and validation for "Location" field"
Let's iterate over the existing AKS Engine documentation and ensure that we have sufficient doc coverage of the fact that the api model `"location"` property is required for non-public clouds.

Also, let's add a validation stdout warning for api model generation/deployment when the `"location"` property is empty:

[2020-04-30 19:29] jackfrancis opened #3171 "Shore up Windows OS image documentation"
Let's improve our documentation explaining which Windows OS images/versions we test/validate and recommend to customers.

[2020-04-30 21:33] #2249 closed

[2020-04-30 22:14] rbitia commented on #242
@davidmatson closing for now since there's a workaround with using the container monitor add-on!

[2020-04-30 22:14] #242 closed

[2020-04-30 22:23] rbitia commented on #377
Not committing to fix this right now! Closing this issue.

[2020-04-30 22:23] #377 closed

[2020-04-30 22:26] rbitia commented on #422
This kind of feature is out of scope for AKS-Engine. Closing for now. :)

[2020-04-30 22:26] #422 closed

[2020-04-30 22:28] rbitia commented on #118
Currently supported "no outbound" configurations are documented here: test/e2e/test_cluster_configs/no_outbound.json

Therefore closing this issue in favor of #940 staying open.

[2020-04-30 22:28] #118 closed

[2020-04-30 22:35] rbitia commented on #542
@jackfrancis mentioned a manual workaround above, so closing this issue!

[2020-04-30 22:35] #542 closed

[2020-04-30 22:38] jackfrancis commented on #737
Hi @davidmatson, we don't plan to integrate automatic role assignment of sps into aks-engine.

[2020-04-30 22:38] #737 closed

[2020-04-30 22:41] rbitia commented on #2601
@marosset are there any blockers for this issue becoming a PR in the future? :D

[2020-04-30 22:49] marosset commented on #2601
Yes - Marketplace Image publishing currently only supports publishing images from classic storage accounts and Packer (which we use to build our VHDs) does not support writing Gen2 VHDs to classic storage accounts.
We either need Marketplace to support publishing from Manager Images or a SIG or Packer needs to be able to create Gen2 VHDs in classic storage accounts.

[2020-04-30 22:51] #2675 closed

[2020-05-01 09:20] dbrennand opened #3173 "Cluster pods DNS resolution failure - AKS v0.48.0 - Azure Stack Hub"
**Describe the bug**
CoreDNS 1.6.7 pod in namespace `kube-system` in a `CrashLoopBackOff` state.
CoreDNS pod log and screenshot of log:
[coredns-azsh-pod-logs.log](https://github.com/Azure/aks-engine/files/4563016/coredns-azsh-pod-logs.log)
![coredns-azsh-pod-logs](https://user-images.githubusercontent.com/52419383/80792971-aef28380-8b8d-11ea-96b3-919bf0f2ca49.png)

**Steps To Reproduce**

1. From

[2020-05-01 16:29] #3135 closed

[2020-05-01 16:45] mboersma commented on #2973
Fixed in #3075, and the publishing pipeline should be using signed binaries going forward. cc: @jchauncey

[2020-05-01 16:45] #2973 closed

[2020-05-01 16:49] mboersma commented on #2792
Since the problem has resolved and we don't have anything actionable here, I'm closing this. Please do re-open or create a new issue if this happens again.

[2020-05-01 16:49] #2792 closed

[2020-05-01 16:52] #2840 closed

[2020-05-01 20:12] jackfrancis opened #3176 "monitoring docs are stale"
The monitoring docs under `docs/topics/monitoring.md` are stale, referring to heapster, which is no longer an AKS Engine-supported component.

[2020-05-02 07:18] #2765 closed

[2020-05-03 16:23] mtgerb opened #3185 "Upgrade fails since v.0.50.0 if using availability sets"
Upgrade from 1.15.7 to version 1.16.9 fails if using availability sets since v.0.50.0

**Steps To Reproduce**

1. Create a cluster with availability sets, version 1.15.7 and aks-engine v0.48.0
2. Use the aks-engine v0.50.0 to upgrade the cluster to version 1.16.9

**Current behaviour**

Upon upgrading the new master the cse script fails with error code 13
(Hint on linux error code 13 EACCES = Perm

[2020-05-03 18:24] amodm commented on #3097
@jackfrancis upgrading resolved the issue. Thanks.

[2020-05-03 18:24] #3097 closed

[2020-05-03 23:03] #2758 closed

[2020-05-04 16:37] jackfrancis commented on #3097
@amodm Thank you for checking back w/ your findings, glad that recent releases of cloudprovider are improving your operational scenario!

cc @aramase @ritazh

[2020-05-04 17:13] jackfrancis opened #3186 "feature flag for aad-pod-identity + msi foo"
Let's add a feature flag to the aks-engine api model that enables aad-pod-identity taint removal + imdb iptables rule for folks who want to use this, but manage their own aad-pod-identity (i.e., don't use the aks-engine addon)

[2020-05-04 17:59] #3170 closed

[2020-05-04 19:37] jackfrancis opened #3188 "consolidate addons specs in single files"
Right now we maintain Kubernetes-version-specific addons specs in a discrete, per-Kubernetes-specific directory under `parts/k8s/addons/`. That organization was established prior to processing the addon specs through a go template layer.

Now that we do have access to the Kubernetes version context via go template expressions, we can apply per-version specs in a single file for each addon under `p

[2020-05-04 19:44] mboersma commented on #3188
Let's do this one addon at a time, to make reviewing easier.

[2020-05-04 19:46] mboersma commented on #3185
I tried this scenario and had a successful upgrade. Both master and nodepool were availability sets, with basic loadbalancer. Any additional context that might help to isolate or reproduce this?

[2020-05-04 19:49] jackfrancis commented on #3188
Yep, here's the first one: https://github.com/Azure/aks-engine/pull/3189

[2020-05-04 20:09] mtgerb commented on #3185
I just tried it again and this time it worked without any failures at all. As far as I can see, the failure yesterday occurred somewhere during pulling a docker image (after moby was installed). I guess it was some temporary failure of the docker registry or something like that.

[2020-05-04 20:24] mtgerb commented on #3185
But what I noticed in my second try is that the master was rebooted right away after the cse script finished. Maybe there is a race condition with the reboot?

[2020-05-04 20:30] mtgerb commented on #3185
Okay got it again on the third try:
That is the failing command:
`+ mount /var/lib/etcddisk
+ /bin/chown -R etcd:etcd /var/lib/etcddisk
/bin/chown: changing ownership of '/var/lib/etcddisk/DATALOSS_WARNING_README.txt': Operation not permitted
+ exit 13`

[2020-05-04 20:41] mboersma commented on #3185
Excellent, I think you pinpointed it. We think it may have been introduced by #3126.

[2020-05-04 21:45] #1032 closed

[2020-05-05 19:10] mboersma opened #3196 "update deprecated APIs in 1.19 manifests"
**Describe the request**
Several Kubernetes APIs were deprecated in the 1.19.0-alpha.3 release:
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.19.md#deprecation

Specifically:

| Deprecated | 1.19+ |
|---|---|
| apiextensions.k8s.io/v1beta1 | apiextensions.k8s.io/v1 |
| apiregistration.k8s.io/v1beta1 | apiregistration.k8s.io/v1 |
| authentication.k8s.io/v1beta1 | authen

[2020-05-06 05:52] #2811 closed

[2020-05-06 12:52] sdruc opened #3202 "nvidia plugin fails after node restart"
I used aks-engine to create a Kubernetes 1.15.10 cluster with a gpu capable node pool using the following model
{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorRelease": "1.15",
      "orchestratorVersion": "1.15.10",
      "kubernetesConfig": {
        "useManagedIdentity": true,
        "kubeletConfig": {"--max-

[2020-05-06 14:38] mboersma opened #3203 "Rationalize code coverage numbers"
**Describe the bug**
The coverage report that we get from codecov.io has become less useful in recent months (at least that's my impression). It always includes templates_generated.go, despite that being in its exclusion file. The coverage number wobbles all over, and when you drill down it often seems to flag code that was unrelated to the PR.

Perhaps it's mainly the inclusion of generated code

[2020-05-06 17:55] jackfrancis opened #3207 "/var/log/syslog (and other files) are not being preserved after rotation"
Before rotation:

[code]

// TODO add after rotation

[2020-05-06 20:46] jackfrancis commented on #3202
Hi @sdruc, can you explain what you mean by "deallocating and re-starting the pool"?

[2020-05-06 21:20] jackfrancis commented on #3119
Thanks for the full explanation, @jsco2t!

[2020-05-06 21:20] #3119 closed

[2020-05-06 21:22] jackfrancis commented on #3145
This is due to the requirement for including a `"location"` value in the input api model. That requirement has been documented.

[2020-05-06 21:22] #3145 closed

[2020-05-06 21:23] jackfrancis commented on #3146
Please re-open if there's something to do, thanks!

[2020-05-06 21:23] #3146 closed

[2020-05-06 21:26] jackfrancis commented on #3077
I think the fact that you ran into this error suggests a documentation gap. What can we do to shore up docs so folks building AKS Engine for the first time (you mention you're experimenting w/ Arc) don't have these issues?

[2020-05-06 21:36] jackfrancis commented on #3042
@ritazh @sozercan are we aware of this? (I'm not)

[2020-05-06 21:51] jackfrancis commented on #2990
By design, `aks-engine scale` produces a new, updated ARM template representation of the target node pool. Thus, it will always update the VMSS model.

It is out of scope for `aks-engine scale` to be a thin wrapper around the VMSS API. If you wish to simply scale out your nodes after applying changes to the VMSS model, the VMSS API (CLI, portal) are the only ways to do so.

[2020-05-06 21:51] #2990 closed

[2020-05-06 21:53] #2969 closed

[2020-05-06 21:57] jackfrancis commented on #2950
Is this still an issue?

[2020-05-06 22:00] #2916 closed

[2020-05-07 01:09] #2968 closed

[2020-05-07 03:38] sdruc commented on #3202
Hi @jackfrancis,

I mean that I use the azure cli to run the following commands

az vmss deallocate --name <vmss_name> --resource-group <cluster_resource_group>  --instance-ids "*"

then after some time I run

az vmss start --name <vmss_name> --resource-group <cluster_resource_group>  --instance-ids "*"

I don't know if it bears any relevance but my cluster is in north europe.

[2020-05-07 15:37] #2813 closed

[2020-05-07 15:42] zhiweiv opened #3217 "Unable to upgrade Windows cluster"
**Describe the bug**
aks-engine upgrade outputs following error:

I think it is caused by one change in https://github.com/Azure/aks-engine/pull/2930.
https://github.com/Azure/aks-engine/blob/master/pkg/api/vlabs/validate.go#L1176

**Steps To Reproduce**
Build cluster with Windows pool by AKS-Engine 0.45.0, k8s 1.15.7
Upgrade cluster to 1.16 by AKS-Engine 0.50.0

**AKS Engine version**
0.50.0

**K

[2020-05-08 02:02] mohamedmansour commented on #2145
@ericsuhong  @devigned  I can't seem to make this work on my end. I have a Standard_F32s_v2 which contains 256GB of temporary storage. When I created the cluster:

    az aks create -g test -n test --enable-addons monitoring --generate-ssh-keys \
       --node-vm-size  Standard_F32s_v2  --node-count 1 --attach-acr test

It only shows 100GB:

[code]
How do I update this clusters `agentPoolProfiles`

[2020-05-09 02:13] #2816 closed

[2020-05-09 06:24] GustavoAmerico commented on #542
after analyzing the output of the command .... I concluded that the maximum pod configuration for us was in the node pool. So I decided to create a pool in the existing cluster, see the steps.

workaround:
1. I created an new node pool
`az aks nodepool add --cluster-name <you aks cluster name> -g <your-aks-resource-group> --max-pods=110 --name newpool --enable-cluster-autoscaler --min-count 1 --ma

[2020-05-09 11:28] AbelHu opened #3219 "USER_ASSIGNED_IDENTITY_ID is empty in azure.json in Windows nodes"
**Describe the bug**
USER_ASSIGNED_IDENTITY_ID is empty in azure.json in Windows nodes.

**Steps To Reproduce**

{
    "cloud":"AzurePublicCloud",
    "tenantId": "<redacted>",
    "subscriptionId": "<redacted>",
    "aadClientId": "msi",
    "aadClientSecret": "msi",
    "resourceGroup": "tosiAKSEngine",
    "location": "centralus",
    "vmType": "vmss",
    "subnetName": "k8s-subnet",
    "secur

[2020-05-09 17:13] #2782 closed

[2020-05-09 18:32] PascalVA commented on #2836
In the meantime, we have switched to aks-engine 0.50, so I have not faced the problem anymore. Perhaps it was something specific to our config then, because it was happening every time. We are putting our on Pod Security Policies, but in 0.50 it is working. I will let you know if I can reproduce it when I have some more time.

[2020-05-10 01:35] #2829 closed

[2020-05-10 02:35] #2833 closed

[2020-05-10 21:35] #2842 closed

[2020-05-11 09:58] pierluigilenoci commented on #2243
@mboersma could you please brief me give a short feedback?

[2020-05-11 09:59] pierluigilenoci commented on #2243
Maybe one of you?
@brendandburns
@CecileRobertMichon
@devigned
@jackfrancis
@ksubrmnn
@marosset
@PatrickLang
@ritazh

[2020-05-11 16:03] jackfrancis commented on #2243
Hi @pierluigilenoci. The validation warning message in your step 4 is correct. You may use a VMSS-backed control plane with aks-engine, but `aks-engine upgrade` will not work against that cluster. So long as you have an alternate way of maintaining the cluster lifecycle, or plan to use these clusters as ephemeral cattle (and not pets), you should be O.K.

[2020-05-11 16:31] jackfrancis commented on #542
Thanks for sharing @GustavoAmerico! FYI this thread is about managing clusters created with AKS Engine (which is a distinct tool from the Azure AKS managed service).

[2020-05-11 17:44] jackfrancis commented on #3202
I can reproduce (thanks for the clear steps @sdruc!):

[code]

In the meantime, I recommend you use VMSS scale instead of deallocate/start, as we know that works.

[2020-05-11 18:15] jackfrancis commented on #3202
I was able to confirm that scaling a node pool down to zero using the VMSS API, and then scaling back out to > 0, works. Is that an acceptable workflow, or does that present a functional gap as compared to deallocate/start?

[2020-05-11 19:28] #3152 closed

[2020-05-11 19:28] #3176 closed

[2020-05-11 20:59] mohamedmansour opened #3227 "Temporary disk is not shown"
My pipeline is IO bound, and we are migrating our Bare VMs to Kubernetes, with the same SKUs but the temporary disk is missing.

I can't seem to make this work on my end. I have a `Standard_F32s_v2` which contains 256GB of temporary storage. I even passed --node-osdisk-size 1024 and the temporary disk is not shown.

This is how we created the Cluster:

    az aks create -g test -n test --node-vm-s

[2020-05-11 22:53] vavane-ms opened #3229 "LoadBalancer pool cleared when installing a DSC extension on Windows VMSS"
**Describe the bug**
We need to run a DSC extension on our Linux and Windows pool nodes, and that extension reboots VMs when the installation script runs. We only have LoadBalancer services deployed on Windows, so the bug report is for Windows. When the extension is run, the cluster's LoadBalancer pool is cleared by the cluster's service principal and not restored.

**Steps To Reproduce**
Install

[2020-05-11 22:55] vavane-ms commented on #3229
@feiskyer, would you be the best person to contact for this issue? I can share subscription/cluster information and any other required information with you.

[2020-05-12 01:53] feiskyer commented on #3229
@vavane-ms is it dropped by ARM template? could you make an update to the service (or recreate the service) to mitigate the issue?

[2020-05-12 03:12] #3217 closed

[2020-05-12 03:58] sdruc commented on #3202
Actually that is better presumably since the vms won't incur storage charges. Would this not break anything on the k8s side though?

[2020-05-12 09:20] pierluigilenoci commented on #2243
@jackfrancis so you confirm that it is still not possible. Is an aks-engine release for Ultra SSD disks expected in the near future? Or at least is it a planned feature? Or should I forget it?

Thanks a lot for your time and your answers.

[2020-05-12 12:18] Michael-Sinz opened #3234 "Generic cluster-init fails to make progress on yaml with namespaces"
**Describe the bug**
A simple yaml that wants to deploy a job in a namespace other than default will hang the cluster provisioning script until timeout.

**Steps To Reproduce**

This is the cluster-init yaml:

[code]

This is the value I set into the components section:
[code]

**Expected behavior**
That the cluster would be created and the yaml provided would be applied/created within the cluster

[2020-05-12 12:25] Michael-Sinz commented on #3234
@jackfrancis I would like to thank you for adding this feature - it makes the process that we had no longer need to edit the provision.sh script.  Now that I know what is going on, I can (at least temporarily) switch to using the default namespace to remove the namespace issue.  Our real yaml is a bit more complex so we will have to see what the next problem ends up being.  However, we should look

[2020-05-12 17:22] vavane-ms commented on #3229
No, simply redeploying the cluster using its ARM template doesn't affect the services. It's only if the DSC extension is run.

Yes, redeploying services fixes the issue, but given that cluster deployment and service deployment are uncoupled and that we redeploy clusters four times a day via our Azure Devops pipeline, this is not a feasible solution.

If you need me to collect information or try so

[2020-05-12 23:09] #3219 closed

[2020-05-13 03:51] #2857 closed

[2020-05-13 12:42] andyzhangx commented on #3227
usually temp disk is `/mnt` on Linux, and you could use hostPath plugin to access temp disk.

[2020-05-13 16:20] mohamedmansour commented on #3227
@andyzhangx I realized that /mnt was temp but the perf didnt act as temp.

we decided not to pursue AKS anymore, although it would have made everything cleaner and more manageable than managing a bunch of vms, right out of the box the perf of disk io was not there and the size of the temp disk was incorrect for a single node cluster.

I was expecting right after provisioning, we would get the 250G

[2020-05-13 16:20] #3227 closed

[2020-05-13 16:26] jackfrancis commented on #3202
Nodes are dynamic by design in k8s, this will work fine.

Go ahead and re-open if you struggle to implement scaling into your operational workflow!

[2020-05-13 16:26] #3202 closed

[2020-05-13 16:29] jackfrancis commented on #2243
I can confirm that we have no plans to make VMSS masters work w/ `aks-engine upgrade`.

Where does it say that ultrassd only works with VMSS? I can't find that documented anywhere.

[2020-05-13 20:06] jadarsie opened #3244 "Unparsable ARM template if windows nodes and no userAssignedIDEnabled"
**Describe the bug**

Windows nodes deployment breaks if user assigned ID is not enabled (`-UserAssignedClientID`)

[code]
Probably introduced by #3232

Breaks VMAS, probably the same problem for VMSS.

[2020-05-13 20:10] jadarsie commented on #3244
FYI @marosset

[2020-05-13 20:41] ninzavivek opened #3245 "MAS is used as a default configuration for Azure CNI - in v0.50.0 - this leads allocation failures"
**Describe the bug**

MAS is used as a default configuration for Azure CNI - in v0.50.0 - this leads allocation failures , there PODs cannot be created

**Steps To Reproduce**
Create a cluster using v0.50.0 and trying creating PODSs using Azure CNI.

**Expected behavior**
It should not be the default configuration.

**AKS Engine version**
 v0.50.0

**Kubernetes version**

**Additional context**

[2020-05-13 20:42] jackfrancis commented on #3245
Fixed in https://github.com/Azure/aks-engine/pull/3228

[2020-05-13 20:42] #3245 closed

[2020-05-13 20:44] jackfrancis commented on #3245
Will be released in v0.50.1

[2020-05-13 21:00] CecileRobertMichon opened #3246 "Do not use device name for etcd mount"
**Describe the bug**

Originally reported by @Michael-Sinz. As described in https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/troubleshoot-device-names-problems, device names might change after you restart a Linux VM or reattach the data disks.

The "temp" disk shows up as /dev/sdb1 and is mounted on /mnt
The etcd disk is /dev/sdc1 and is mounted on /var/lib/etcddisk
However,

[2020-05-13 21:04] CecileRobertMichon commented on #3246
In addition, we should really consider doing this the right way in cloud init and finally addressing this TODO comment: https://github.com/Azure/aks-engine/blob/master/parts/k8s/cloud-init/artifacts/mountetcd.sh#L3

[2020-05-13 21:33] jackfrancis commented on #2888
Closing as this is not an AKS Engine issue

[2020-05-13 21:33] #2888 closed

[2020-05-13 21:35] jackfrancis commented on #2848
@marosset @ksubrmnn is this issue still current?

[2020-05-13 21:36] jackfrancis commented on #2831
Please re-open if there is an AKS Engine story to address this, thanks!

[2020-05-13 21:36] #2831 closed

[2020-05-13 21:38] jackfrancis commented on #2726
Hi @baboune, is this a request for additional AKS functionality, or for Kubernetes clusters created by AKS Engine?

[2020-05-13 21:41] #2266 closed

[2020-05-13 21:41] #1302 closed

[2020-05-13 21:43] jackfrancis commented on #245
Is this still an issue?

[2020-05-13 21:44] jackfrancis commented on #2621
@jadarsie would you like me to keep this open? I don't think we'll prioritize this work, and I don't see anyone volunteering to do it.

[2020-05-13 21:50] davidmatson commented on #245
As of last month, yes, we heard from folks on the team that this add-on still required at least one Linux non-master node.

[2020-05-13 21:55] jackfrancis commented on #1966
I think this net new functionality is out of scope for AKS Engine. The current boundary of AKS Engine permits other additional tooling (e.g., terraform, ansible) to perform configuration options.

Building custom images is probably the best practical current solution to customizing the OS layer in particular.

[2020-05-13 21:55] #1966 closed

[2020-05-13 22:07] jackfrancis commented on #245
@ganga1980, is the requirement for at least one Linux node going to change? If not, we should probably close this issue and just document that requirement.

[2020-05-13 22:58] marosset commented on #3244
@AbelHu

[2020-05-13 22:58] haofan-ms commented on #3244
We tried to bypass this parsing issue by changing `return ""` to `return "''"`, but ran into another issue: Windows nodes are not listed in `kubectl get nodes` output, and are not accessible by `ssh \ ping`. This is happening on both Azure and AzureStack.

[2020-05-13 23:02] jackfrancis opened #3250 "Unable to deploy "everything" test config cluster"
Deploying a cluster matching this configuration:

https://github.com/Azure/aks-engine/blob/master/test/e2e/test_cluster_configs/everything.json

produces this error:

[code]

[2020-05-13 23:06] alexeldeib opened #3252 "missing validation on kubenet + pod cidr?"
**Describe the bug**
Provision a cluster with below api model, trying to run pods fails with:

[code]

And doesn't seem to recover. Currently attempting to repro

**Steps To Reproduce**

Model:
[code]

**Expected behavior**
Pod networking works with kubenet

**AKS Engine version**
b626696734280810edddc9aff7d92657f1c93d23

**Kubernetes version**
1.17

**Additional context**

[2020-05-13 23:12] jadarsie commented on #3250
Related to #3244

[2020-05-13 23:18] #3244 closed

[2020-05-13 23:18] #3250 closed

[2020-05-13 23:39] alexeldeib commented on #3252
user error 😄

[2020-05-13 23:39] #3252 closed

[2020-05-13 23:42] #3234 closed

[2020-05-14 00:27] AbelHu commented on #3244
Sorry for the regression. I will update the change and verify it when user assigned ID is not enabled

[2020-05-14 00:27] AbelHu commented on #3219
@marosset Should we reactive this or file a new bug?

[2020-05-14 00:33] marosset commented on #2848
Looks like it - @cpuguy83 can you confirm we should not be using ctr.exe to pull container images?

[2020-05-14 00:37] jackfrancis commented on #3244
No problem, let me know if you need help validating!

[2020-05-14 02:53] zhiweiv commented on #3246
One of our AKS-E clusters runied recently, we couldn't access api server, kubectl shown error **ectd server timeout**, io of eted disk kept zero, I guess it was caused by this.

Can we fix it and release a new version asap.

[2020-05-14 06:20] AbelHu opened #3253 "USER_ASSIGNED_IDENTITY_ID is empty in azure.json in Windows nodes"
**Describe the bug**
USER_ASSIGNED_IDENTITY_ID is empty in azure.json in Windows nodes.

**Steps To Reproduce**

{
    "cloud":"AzurePublicCloud",
    "tenantId": "<redacted>",
    "subscriptionId": "<redacted>",
    "aadClientId": "msi",
    "aadClientSecret": "msi",
    "resourceGroup": "tosiAKSEngine",
    "location": "centralus",
    "vmType": "vmss",
    "subnetName": "k8s-subnet",
    "secur

[2020-05-14 07:36] AbelHu commented on #3244
Thanks, @jackfrancis. Created a new one #3253 and the PR https://github.com/Azure/aks-engine/pull/3254 has been sent.

[2020-05-14 08:16] hajina opened #3255 "How to connect to master node for using deamonset"
**Describe the issue**
How to connect to master node for using deamonset?

**AKS Engine Version***
1.16.7
**Kubernetes Version**
1.16.7
**Gatekeeper Version**

**Please don't remove the text below**
Notify @az-policy-kube

[2020-05-14 08:28] pierluigilenoci commented on #2243
Here it says: "Doesn't currently support disk snapshots, VM images, availability sets, Azure Dedicated Hosts, or Azure disk encryption".
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disks-enable-ultra-ssd#ga-scope-and-limitations
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disks-enable-ultra-ssd#ga-scope-and-limitations

Here you can find also in the comment be

[2020-05-14 16:24] cpuguy83 commented on #2848
That's correct, `ctr` is not considered a stable interface.

[2020-05-14 16:26] jadarsie commented on #2621
someone should pick it up eventually, probably @deaborch

[2020-05-14 16:32] baboune commented on #2726
Hi,

It is a request for having additional control on the VM Scale Set automatically created by AKS Engine.

AKS already support VM Scale Sets.

The challenge is that there is no control from a provisioning perspective for setting how the VMs in the VM Scale Set that is automatically provisioned by AKS Engine will update themselves.

Does that make sense?

[2020-05-14 16:42] dmeytin opened #3256 "Resolve DNS on all nodes is not working"
**Describe the bug**
The file /etc/resolve.conf is configured with nameserver 127.0.0.53 instead of Azure DNS IP nameserver 168.63.129.16

**Steps To Reproduce**

using AKS 0.50 **only**
**Expected behavior**
resolve.con should include
nameserver 168.63.129.16
**AKS Engine version**
0.50
**Kubernetes version**
1.16.8
**Additional context**

[2020-05-14 16:53] nidiculageorge commented on #2212
![image](https://user-images.githubusercontent.com/43850474/81962514-73e25c80-9631-11ea-9361-e6833c7fbad8.png)
We have disabled outbound connectivity to internet in NSG for the aks agent pool. Seems this occurred because of that

[2020-05-14 16:54] dmeytin opened #3257 "Standard LB SKU configuration doesn't use explicit outbound rules"
**Describe the bug**
The LB with Standard SKU is created with flag "Create implicit outbound rules" set to true

As a result the LB doesn't use the explicit outbound rules  that are also configured but not used

It could be seen by checking outbound IPs on pods running on different nodes: some are going out using inbound IP and some using outbound IP, as opposite to rules definition

**Steps To Re

[2020-05-14 19:49] CecileRobertMichon commented on #3257
@jackfrancis FYI this needs the same fix as https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/536/files#diff-b3b16dd828cf19adbdc5be2d4e28d2d5R120

[2020-05-14 20:06] annerajb commented on #2833
Did you figure this out I am having the same issue.
I am using the cli

[2020-05-14 21:31] jackfrancis commented on #2726
@baboune it doesn't really make sense. To be clear, this is not for AKS clusters, right?

[2020-05-15 04:53] #3253 closed

[2020-05-15 06:42] baboune commented on #2726
Yes this request is for AKS as in Azure Kubernetes Engine.  Azure support asked me to open this feature request under AKS engine.

`
➜ EMB-R1DXJG5J ci-cd-helm-example (develop) ✔ az aks list
[
  {
    "aadProfile": {
      "adminGroupObjectIds": null,
      "clientAppId": "<some id>",
      "managed": null,
      "serverAppId": "<some id>",
      "serverAppSecret": null,
      "tenantId": "<some i

[2020-05-15 15:34] jackfrancis opened #3269 "Seeing nvidia installation errors in 5.3.0-1020-azure-backed GPU nodes"
Example:

[code]

[2020-05-15 16:27] jackfrancis commented on #2726
Thanks for the explanation @baboune

@jnoller @palma21 What's the right queue for this request?

[2020-05-15 16:38] jluk commented on #2726
@baboune the AKS project is where we can discuss AKS features.

For automatic pull of OS updates, we have this feature in-flight to do it manually:
https://github.com/Azure/AKS/issues/893

We have this feature to enable the automation of it.
https://github.com/Azure/AKS/issues/1486

Feel free to comment on those.

[2020-05-15 17:00] jackfrancis commented on #3257
Do we want to match the value in `kubernetesConfig.cloudProviderDisableOutboundSNAT` ?

[2020-05-15 17:09] jackfrancis commented on #3269
[code]

[2020-05-15 17:31] jackfrancis commented on #3269
Here's the full log output from the failed install:

[code]

[2020-05-15 17:33] jackfrancis commented on #3269
@yangl900 @tonyxu-io @palma21 @jluk FYI, the Azure kernel `5.3.0-1020-azure` which is delivered with the current 18.04-LTS image doesn't appear to work with our existing nvidia drivers. We should probably discourage customers from running GPU nodes on 18.04-LTS.

[2020-05-15 17:34] tonyxu-io commented on #3269
I’m not sure if you tagged the right person.

[2020-05-15 17:43] jackfrancis commented on #3269
Thanks @tonyxu-io :)

cc @xuto2

[2020-05-15 18:17] #3185 closed

[2020-05-15 18:17] #3246 closed

[2020-05-15 18:21] baboune commented on #2726
Ok both of those would be applicable.
Thanks.

[2020-05-15 18:25] jackfrancis commented on #2726
Thanks @jluk!

[2020-05-15 18:25] #2726 closed

[2020-05-15 18:32] jackfrancis commented on #3269
Confirmed that the latest 16.04-LTS kernel (`4.15.0-1082-azure`) accommodates nvidia drivers.

[2020-05-15 18:49] jackfrancis opened #3274 "Enable nvidia for 18.04-LTS"
This solution has been prototyped as working for 18.04-LTS running on capz created cluster-api clusters:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/426#issuecomment-626966868

[2020-05-15 18:49] jackfrancis commented on #3274
cc @sozercan

[2020-05-16 00:26] gtxistxgao opened #3278 "Should not return "Connection to mcr.microsoft.com 443 port [tcp/https] succeeded!" when CSE failed to connect to API server"
**Describe the bug**

When CSE failed to connect to API server. But in the error message, we returned a **misleading message** (**Connection to mcr.microsoft.com 443 port [tcp/https] succeeded!"**). This only means we connect to mcr successfully. And it is not a stderr.

**Steps To Reproduce**

**Expected behavior**

We should return a correct error message. something like "**Failed to connect to

[2020-05-16 01:07] AbelHu opened #3279 "CNI download URL is changed for Mooncake"
**Describe the bug**
This commit changed URL for Mooncake from `mirror.azk8s.cn` to `kubernetesartifacts.blob.core.chinacloudapi.cn`

https://github.com/Azure/aks-engine/commit/e93e0f32f9596e7deec0bae608078efa68828417#diff-f41c9478d3eabb30a6e28202cbfe7e18

Old URL works for v1.0.33
https://mirror.azk8s.cn/kubernetes/azure-container-networking/azure-vnet-cni-windows-amd64-v1.0.33.zip

Old URL works

[2020-05-16 02:03] sozercan commented on #3279
@AbelHu backfilled the older versions to `kubernetesartifacts.blob.core.chinacloudapi.cn`. for releases other than 1.1.1 and 1.1.2, there is no `singletenancy` in the name.

[2020-05-16 02:32] AbelHu commented on #3279
@sozercan Do we have decided to use `kubernetesartifacts.blob.core.chinacloudapi.cn` to replace `mirror.azk8s.cn`? `mirror.azk8s.cn` is the approved egress for china.

[2020-05-16 03:55] bobsyourmom commented on #2066
Problem could be because service_control script is trying to use invoke-rc.d (which doesn't work because there are no runlevels in a docker container) before trying the service command (which will work).
So change the if conditions in the script or the lazy way is make it look for a non-existent path so it will use the service command. eg:
if [ -x /xxxusr/sbin/invoke-rc.d ]; then
/usr/sbin/invoke-

[2020-05-18 08:32] justalittlenoob opened #3282 "question about using sgx with k8s"
I am trying to deploy a sgx app with k8s. From there [https://github.com/Azure/aks-engine/blob/master/docs/topics/sgx.md#optional-using-oe-sgx-device-plugin-alpha](url), i know that the sgx driver is not installed in a container. I need to mount the driver into the container.

My question is, do I need to install the sgx sdk and psw into the image/container? Or, the sdk/psw only need to be install

[2020-05-18 14:10] mboersma commented on #3279
cc: @jchauncey

[2020-05-18 14:17] jchauncey commented on #3279
I dont know who owns the mirror.azk8s.cn cdn endpoint nor do i know what storage account its pointing to. @AbelHu  if you know who I can get in contact with to figure out how to get artifacts into that SA I'd gladly use it.

[2020-05-18 16:39] jackfrancis commented on #3282
@salsal97 @vtikoo do we think that this question should be answered in the doc linked?

[2020-05-18 18:39] jackfrancis opened #3285 "Investigate error-behavior for etcd volume mount"
From the `mkfs.ext4` page:

[code]

Let's investigate if we should explicitly use any of the above configs for the etcd volume mount.

[2020-05-18 18:40] jackfrancis opened #3286 "Investigate uuid option for etcd volume mount"
From the `mkfs.ext4` man page:

[code]

Let's investigate whether we should create the etcd device volume using the above option.

[2020-05-18 19:32] jackfrancis opened #3288 "aad-pod-identity addon scheduling mic pod to Windows pool"
[code]

We should add a Linux nodeSelector to the `mic` deployment so that it's never scheduled onto a Windows node.

[2020-05-18 21:42] vavane-ms commented on #3229
Any news?

[2020-05-18 22:28] jackfrancis commented on #2877
Please re-open if there is not a solution in this issue thread, thanks!

[2020-05-18 22:28] #2877 closed

[2020-05-18 22:29] jackfrancis opened #3290 "current cilium implementation doesn't work"
We would need to do some debugging to discover what's atrophied, or alternatively we just replace the existing implementation entirely with a more modern cilium implementation.

[2020-05-18 23:27] jackfrancis opened #3292 "Windows + kubenet node doesn't come online"
When building a Windows node in a kubenet cluster that node never reports as ready.

[2020-05-19 00:53] vtikoo commented on #3282
@justalittlenoob SGX SDK+ PSW dependencies are like any other library dependency for your app. There isn't any requirement to mount them, you can package them into your container.

@jackfrancis thats a good idea 👍

[2020-05-19 02:48] justalittlenoob commented on #3282
@vtikoo Thank your very much for your advice, i got your point. Just curious, why not install sgx sdk/psw only on the host, and mount it to the container when needed(like sgx driver)? I think it can reduce the size of the image/container. For example, a host has 10 containers, they all use the sgx sdk/psw on the host machine.

Maybe my direction is wrong, please don't hesitate to correct me.

[2020-05-19 16:23] vtikoo commented on #3282
PSW is OS specific, and there are mutliple SDKs out there. And potentially different containers could be running different OSes and using different versions of the SDK.
If you are creating your own images, you could try this. But for general aks-engine images, its hard to mandate a certain SDK + PSW setup due to issues mentioned above.

[2020-05-19 18:47] cpuguy83 commented on #2848
If we want to replace the use of ctr, it's fairly trivial to implement a pull client using the go containerd client.
It's a trade-off... `ctr` probably won't give us a problem, but could... and PR's to it are a bit more lax in my experience than the rest of the codebase.
On the otherhand we'd have to maintain our own thing just to pull images.

[2020-05-19 20:40] fsantos2019 commented on #805
Sorry for posting on closed issue, but **IMHO** you should never link a service account to a `Cluster-admin` role.
The Privilege is just way to big, it's like God on your cluster and if anyone uses it, that person can potentially destroy all ressources within your cluster.

You should use something like this instead:
[code]

This provides the service account **kubernetes-dashboard** the ability to

[2020-05-20 01:50] #3292 closed

[2020-05-20 03:53] justalittlenoob commented on #3282
@vtikoo I really appreciate your detailed answer. Thank you:)

[2020-05-20 03:53] #3282 closed

[2020-05-20 09:20] gowthamboddapati opened #3304 "vhd/packer/windows-vhd-builder.json should take image_sku as input"
**Describe the request**
Currently aks-engine for windows officially supports 2019-Datacenter-Core-smalldisk VHD images. So the windows-vhd-builder.json has hardcoded "2019-Datacenter-Core-smalldisk" as image_sku. But for other feature teams who wants to leverage the aks-engine generated VHD and its validation for some other windows versions it will good to take Windows image sku as parameter.

**